Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2019-12, with the labels that each got.

#627 Add github actions
  .github/workflows/vm-coverage.yml
  .github/workflows/vm-lint.yml
  .github/workflows/vm-test.yml
  README.md
  developer.md
  karma.conf.js
Labels: PR state: merge ready

#631 Remove CircleCI and related code
  .circleci/config.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-test.yml
  package.json
Labels: PR state: needs review, prio: P3 important, type: CI

#635 Refactor test scripts
  .github/workflows/labeler.yml
  .github/workflows/vm-coverage.yml
  .github/workflows/vm-lint.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-test.yml
  developer.md
  package.json
  tests/tester.js
Labels: PR state: needs review, type: CI, type: tests
