Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2020-10, with the labels that each got.

#880 VM: Strip zeros when putting contract storage in StateManager
  packages/vm/lib/state/stateManager.ts
  packages/vm/tests/api/state/stateManager.spec.ts
Labels: PR state: needs review, package: vm

#899 Benchmark action improvements (disables comment-always)
  .github/workflows/vm-build.yml
  .github/workflows/vm-pr.yml
  packages/vm/developer.md
Labels: PR state: merge ready, type: CI

#906 Update HF to Istanbul
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/common/src/index.ts
  packages/common/tests/chains.ts
  packages/tx/CHANGELOG.md
  packages/tx/src/types.ts
  packages/tx/test/api.ts
  packages/vm/CHANGELOG.md
  packages/vm/lib/index.ts
  packages/vm/tests/api/index.spec.ts
Labels: PR state: needs review, package: block, package: common, package: tx, package: vm

#883 Block library refactoring
  package-lock.json
  packages/account/package.json
  packages/block/package.json
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/block/src/header-from-rpc.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/difficulty.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/README.md
  packages/blockchain/package.json
  packages/blockchain/src/dbManager.ts
  packages/blockchain/src/index.ts
  packages/blockchain/test/index.ts
  packages/blockchain/test/util.ts
  packages/ethash/package.json
  packages/ethash/src/index.ts
  packages/ethash/test/block.spec.ts
  packages/ethash/test/ethash.spec.ts
  packages/tx/package.json
  packages/tx/src/transaction.ts
  packages/tx/src/types.ts
  packages/vm/README.md
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/examples/run-code-browser/index.js
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runCall.ts
  packages/vm/lib/runCode.ts
  packages/vm/lib/runTx.ts
  packages/vm/package.json
  packages/vm/scripts/benchmarks/mainnetBlocks.ts
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runBlockchain.spec.ts
  packages/vm/tests/api/utils.ts
  packages/vm/tests/config.ts
  packages/vm/tests/util.ts
Labels: PR state: merge ready, PR state: needs review, package: block, package: tx, package: vm

#911 Replace account package with ethereumjs-util Account
  .github/workflows/account-build.yml
  README.md
  package-lock.json
  package.json
  packages/account/.gitignore
  packages/account/.nycrc
  packages/account/.prettierignore
  packages/account/CHANGELOG.md
  packages/account/README.md
  packages/account/docs/README.md
  packages/account/docs/classes/_index_.account.md
  packages/account/docs/modules/_index_.md
  packages/account/package.json
  packages/account/prettier.config.js
  packages/account/src/index.ts
  packages/account/test/index.spec.ts
  packages/account/tsconfig.json
  packages/account/tsconfig.prod.json
  packages/account/tslint.json
  packages/account/typedoc.js
  packages/blockchain/src/index.ts
  packages/ethash/src/index.ts
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/examples/run-transactions-complete/index.ts
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/message.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runCall.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/cache.ts
  packages/vm/lib/state/interface.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
  packages/vm/scripts/benchmarks/mainnetBlocks.ts
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/evm/eei.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/state/cache.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
  packages/vm/tests/api/utils.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, package: account, package: vm

#908 CHANGELOG Completion for VM v5 Release
  packages/block/CHANGELOG.md
  packages/blockchain/CHANGELOG.md
  packages/common/CHANGELOG.md
  packages/ethash/CHANGELOG.md
  packages/tx/CHANGELOG.md
  packages/vm/CHANGELOG.md
Labels: PR state: needs review, package: blockchain, package: common, package: ethash, package: tx, package: vm

#917 Update ethereumjs-util to v7.0.7
  package-lock.json
  packages/block/package.json
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/blockchain/package.json
  packages/ethash/package.json
  packages/tx/package.json
  packages/tx/src/transaction.ts
  packages/tx/src/types.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
Labels: PR state: needs review, dependencies, package: block, package: tx, package: vm

#918 BlockHeader Validation Method Changes / Corresponding Block Methods
  packages/block/CHANGELOG.md
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/test/difficulty.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/test/index.ts
  packages/blockchain/test/util.ts
Labels: PR state: needs review, package: block, package: blockchain

#919 Use Address type
  package-lock.json
  packages/block/package-lock.json
  packages/blockchain/package-lock.json
  packages/common/package-lock.json
  packages/ethash/package-lock.json
  packages/tx/package-lock.json
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/message.ts
  packages/vm/lib/evm/opcodes/functions.ts
  packages/vm/lib/evm/opcodes/util.ts
  packages/vm/lib/evm/precompiles/index.ts
  packages/vm/lib/evm/stack.ts
  packages/vm/lib/evm/txContext.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runCall.ts
  packages/vm/lib/runCode.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/cache.ts
  packages/vm/lib/state/interface.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/scripts/benchmarks/mainnetBlocks.ts
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/EIPs/eip-2537-BLS.spec.ts
  packages/vm/tests/api/evm/eei.spec.ts
  packages/vm/tests/api/evm/precompiles/06-ecadd.spec.ts
  packages/vm/tests/api/evm/precompiles/07-ecmul.spec.ts
  packages/vm/tests/api/evm/precompiles/08-ecpairing.spec.ts
  packages/vm/tests/api/evm/precompiles/hardfork.spec.ts
  packages/vm/tests/api/evm/stack.spec.ts
  packages/vm/tests/api/istanbul/eip-1108.spec.ts
  packages/vm/tests/api/istanbul/eip-1884.spec.ts
  packages/vm/tests/api/istanbul/eip-2200.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runCall.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/state/cache.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
Labels: PR state: needs review, package: vm

#889 EIP-2929: Gas cost increases for state access opcodes
  packages/common/src/eips/2929.json
  packages/common/src/eips/index.ts
  packages/common/tests/eips.ts
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opcodes/EIP1283.ts
  packages/vm/lib/evm/opcodes/EIP2200.ts
  packages/vm/lib/evm/opcodes/EIP2929.ts
  packages/vm/lib/evm/opcodes/functions.ts
  packages/vm/lib/evm/opcodes/util.ts
  packages/vm/lib/index.ts
  packages/vm/tests/api/EIPs/eip-2929.spec.ts
Labels: PR state: WIP, PR state: needs review, package: common, package: vm, type: feature

#920 Re-evaluate the ignored ESLint rules
  packages/vm/.eslintrc.js
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opcodes/EIP1283.ts
  packages/vm/lib/evm/opcodes/EIP2929.ts
  packages/vm/lib/evm/opcodes/functions.ts
  packages/vm/lib/evm/opcodes/util.ts
  packages/vm/lib/evm/precompiles/08-ecpairing.ts
  packages/vm/lib/evm/precompiles/index.ts
  packages/vm/lib/evm/precompiles/util/bls12_381.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runCode.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/EIPs/eip-2537-BLS.spec.ts
  packages/vm/tests/api/EIPs/eip-2929.spec.ts
  packages/vm/tests/api/berlin/eip-2315.spec.ts
  packages/vm/tests/api/bloom.spec.ts
  packages/vm/tests/api/events.spec.ts
  packages/vm/tests/api/evm/eei.spec.ts
  packages/vm/tests/api/evm/precompiles/08-ecpairing.spec.ts
  packages/vm/tests/api/evm/precompiles/hardfork.spec.ts
  packages/vm/tests/api/evm/stack.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/istanbul/eip-1108.spec.ts
  packages/vm/tests/api/istanbul/eip-152.spec.ts
  packages/vm/tests/api/istanbul/eip-1884.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runCall.spec.ts
  packages/vm/tests/api/runCode.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
  packages/vm/tests/config.ts
  packages/vm/tests/testLoader.ts
  packages/vm/tests/tester.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, package: vm

#931 Fix Constantinople tests
  .github/workflows/vm-pr.yml
  packages/vm/lib/evm/opcodes/EIP1283.ts
  packages/vm/lib/evm/opcodes/EIP2200.ts
  packages/vm/lib/evm/opcodes/functions.ts
  packages/vm/lib/evm/opcodes/util.ts
Labels: PR state: merge ready, PR state: needs review, package: vm

#932 BlockHeader: Make BlockOptions param optional
  packages/block/CHANGELOG.md
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/vm/tests/util.ts
Labels: package: block

#926 Blockchain: Add reorg test + do not skip any reorg test in VM
  packages/blockchain/package.json
  packages/blockchain/test/reorg.ts
  packages/blockchain/test/util.ts
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/config.ts
Labels: PR state: needs review, package: blockchain, package: vm
