Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2020-11, with the labels that each got.

#936 docs: move blockchain compare link to bottom of release.
  packages/blockchain/CHANGELOG.md
Labels: PR state: merge ready

#929 Block: add methods to calculate difficulty of a consecutive header/block
  packages/block/CHANGELOG.md
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/blockchain/test/index.ts
  packages/blockchain/test/util.ts
  packages/tx/CHANGELOG.md
  packages/vm/CHANGELOG.md
Labels: PR state: needs review, package: block

#927 Blockchain: refactor: Add abstract DB operation, let DB manage the implementation of this OP + make DB handle Cache
  packages/blockchain/src/db/cache.ts
  packages/blockchain/src/db/constants.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/db/operation.ts
  packages/blockchain/src/index.ts
Labels: PR state: needs review, package: blockchain, type: refactor

#941 New freeze option to deactivate block, tx freeze / Fix block options passing
  packages/block/CHANGELOG.md
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/header.spec.ts
  packages/tx/CHANGELOG.md
  packages/tx/src/transaction.ts
  packages/tx/src/types.ts
  packages/tx/test/api.ts
Labels: PR state: needs review

#930 Blockchain concurrency and safety improvements
  packages/blockchain/CHANGELOG.md
  packages/blockchain/src/db/constants.ts
  packages/blockchain/src/db/helpers.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/index.ts
  packages/blockchain/test/index.ts
  packages/blockchain/test/reorg.ts
  packages/blockchain/test/util.ts
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/lib/index.ts
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/runBlockchain.spec.ts
  packages/vm/tests/api/utils.ts
Labels: PR state: needs review, package: blockchain, prio: P2 very important

#942 Block: make blockchain mandatory in validation methods
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/block/test/mockchain.ts
Labels: PR state: needs review, package: block, prio: +urgent, prio: P2 very important

#937 Structural Preparations for PoA Support
  packages/block/CHANGELOG.md
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/blockchain/CHANGELOG.md
  packages/blockchain/src/index.ts
  packages/blockchain/test/index.ts
  packages/blockchain/test/reorg.ts
  packages/blockchain/test/util.ts
  packages/common/CHANGELOG.md
  packages/common/src/chains/goerli.json
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/index.ts
  packages/common/tests/chains.ts
  packages/tx/src/transaction.ts
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/runBlockchain.spec.ts
  packages/vm/tests/api/utils.ts
Labels: PR state: blocked, PR state: do-not-merge, PR state: needs review, prio: +urgent, prio: P2 very important

#944 Tx Constructor Restructuring
  package-lock.json
  packages/block/.eslintrc.js
  packages/blockchain/.eslintrc.js
  packages/common/.eslintrc.js
  packages/ethash/.eslintrc.js
  packages/tx/.eslintrc.js
  packages/tx/CHANGELOG.md
  packages/tx/src/transaction.ts
  packages/vm/.eslintrc.js
  packages/vm/package-lock.json
  packages/vm/tests/api/runBlock.spec.ts
Labels: PR state: needs review, package: tx, prio: +urgent, prio: P2 very important

#948 Removes Account package from dependency chart
  README.md
Labels: PR state: merge ready, type: docs

#946 Beta.2 Releases
  README.md
  packages/block/CHANGELOG.md
  packages/block/README.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/README.md
  packages/blockchain/package.json
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/common/docs/classes/_index_.common.md
  packages/common/package.json
  packages/common/src/index.ts
  packages/ethash/README.md
  packages/ethash/package.json
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/docs/classes/_index_.transaction.md
  packages/tx/docs/classes/_transaction_.transaction.md
  packages/tx/docs/interfaces/_index_.jsontx.md
  packages/tx/docs/interfaces/_index_.txdata.md
  packages/tx/docs/interfaces/_index_.txoptions.md
  packages/tx/docs/interfaces/_types_.jsontx.md
  packages/tx/docs/interfaces/_types_.txdata.md
  packages/tx/docs/interfaces/_types_.txoptions.md
  packages/tx/package.json
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/vm/docs/classes/_index_.vm.md
  packages/vm/docs/interfaces/_evm_opcodes_functions_.asyncophandler.md
  packages/vm/docs/interfaces/_evm_opcodes_functions_.syncophandler.md
  packages/vm/docs/interfaces/_evm_opcodes_index_.asyncophandler.md
  packages/vm/docs/interfaces/_evm_opcodes_index_.syncophandler.md
  packages/vm/docs/modules/_evm_opcodes_functions_.md
  packages/vm/docs/modules/_evm_opcodes_index_.md
  packages/vm/docs/modules/_evm_opcodes_util_.md
  packages/vm/package.json
Labels: PR state: needs review, package: monorepo, type: release

#950 ci: disabling most of the hardfork-specific tests
  .github/workflows/vm-pr.yml
  package.json
Labels: PR state: merge ready, PR state: needs review, type: CI

#949 Small Release/README Fixes
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/ethash/README.md
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/vm/README.md
Labels: PR state: merge ready, PR state: needs review, package: monorepo

#939 Testing code in all relevant node versions
  .github/workflows/node-versions.yml
  package-lock.json
Labels: PR state: merge ready, PR state: needs review, type: CI

#935 Block: support uncle validation
  packages/block/CHANGELOG.md
  packages/block/src/block.ts
  packages/block/test/block.spec.ts
  packages/block/test/util.ts
Labels: PR state: needs review, package: block

#955 Audit dependencies and clean up dependency tree
  packages/tx/package.json
  packages/vm/package.json
Labels: PR state: needs review, package: monorepo, type: security

#956 Public Blockchain.getTotalDifficulty() method
  packages/blockchain/CHANGELOG.md
  packages/blockchain/docs/README.md
  packages/blockchain/docs/classes/_db_helpers_.dbop.md
  packages/blockchain/docs/classes/_db_operation_.dbop.md
  packages/blockchain/docs/classes/_index_.blockchain.md
  packages/blockchain/docs/enums/_db_operation_.dbtarget.md
  packages/blockchain/docs/interfaces/_index_.blockchaininterface.md
  packages/blockchain/docs/interfaces/_index_.blockchainoptions.md
  packages/blockchain/docs/modules/_db_cache_.md
  packages/blockchain/docs/modules/_db_constants_.md
  packages/blockchain/docs/modules/_db_helpers_.md
  packages/blockchain/docs/modules/_db_manager_.md
  packages/blockchain/docs/modules/_db_operation_.md
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/index.ts
  packages/blockchain/test/index.ts
Labels: PR state: needs review, package: blockchain, prio: +urgent, prio: P3 important, type: feature

#957 Update package references
  .github/ISSUE_TEMPLATE/package--ethereumjs-account.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-block.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-blockchain.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-common.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-tx.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-vm.md
  packages/block/package.json
  packages/blockchain/package.json
  packages/common/README.md
  packages/common/package.json
  packages/ethash/package.json
  packages/tx/package.json
  packages/vm/examples/run-solidity-contract/README.md
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
Labels: PR state: merge ready, PR state: needs review, type: docs

#958 Rc.1 Releases
  packages/block/CHANGELOG.md
  packages/block/README.md
  packages/block/docs/classes/_block_.block.md
  packages/block/docs/classes/_header_.blockheader.md
  packages/block/docs/classes/_index_.block.md
  packages/block/docs/classes/_index_.blockheader.md
  packages/block/docs/interfaces/_index_.blockchain.md
  packages/block/docs/interfaces/_index_.blockdata.md
  packages/block/docs/interfaces/_index_.blockoptions.md
  packages/block/docs/interfaces/_index_.headerdata.md
  packages/block/docs/interfaces/_index_.jsonblock.md
  packages/block/docs/interfaces/_index_.jsonheader.md
  packages/block/docs/interfaces/_types_.blockchain.md
  packages/block/docs/interfaces/_types_.blockdata.md
  packages/block/docs/interfaces/_types_.blockoptions.md
  packages/block/docs/interfaces/_types_.headerdata.md
  packages/block/docs/interfaces/_types_.jsonblock.md
  packages/block/docs/interfaces/_types_.jsonheader.md
  packages/block/docs/modules/_index_.md
  packages/block/docs/modules/_types_.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/common/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/package.json
  packages/vm/CHANGELOG.md
  packages/vm/docs/interfaces/_state_statemanager_.defaultstatemanageropts.md
  packages/vm/package.json
Labels: PR state: needs review, package: monorepo, type: release

#964 fix CI node versions tests
  .github/workflows/node-versions.yml
Labels: PR state: needs review, package: monorepo, type: tests

#962 Final releases
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, package: monorepo, type: release

#966 VM: add selectHardforkByBlockNumber option
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/utils.ts
Labels: PR state: needs review, package: vm, type: test all hardforks

#967 VM: fix selectHardforkByBlockNumber default value
  packages/vm/lib/index.ts
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/utils.ts
Labels: PR state: needs review, package: vm, type: test all hardforks
