Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2020-01, with the labels that each got.

#644 Changes EIP links to preferred citation format
  CHANGELOG.md
  README.md
  docs/classes/statemanager.md
  lib/state/stateManager.ts
Labels: PR state: needs review, prio: P4 nice-to-have

#647 Fix getOpcodesForHF for when HF > istanbul
  lib/evm/opcodes.ts
  lib/index.ts
  tests/api/index.js
  tests/api/opcodes.js
Labels: prio: P1 critical

#653 Add State Manager API tests to karma
  karma.conf.js
  package.json
  tests/api/state/stateManager.js
  tests/util.js
Labels: PR state: needs review
