Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2020-09, with the labels that each got.

#857 Ethash UNRELEASED release notes
  packages/ethash/CHANGELOG.md
Labels: PR state: needs review

#858 Blockchain UNRELEASED release notes, and two new VM changelog entries
  packages/blockchain/CHANGELOG.md
  packages/vm/CHANGELOG.md
Labels: PR state: needs review

#856 EIP support for the VM and Common
  packages/common/src/eips/EIP2537.json
  packages/common/src/eips/index.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/params.ts
  packages/vm/lib/index.ts
  packages/vm/tests/api/index.js
Labels: PR state: needs review

#859 Account UNRELEASED release notes / Some more prose on VM release notes
  packages/account/CHANGELOG.md
  packages/vm/CHANGELOG.md
Labels: PR state: needs review, package: account, package: vm

#860 Add clean script
  README.md
  package.json
Labels: package: monorepo

#864 Fixing hoisting documentation
  README.md
Labels: PR state: merge ready, PR state: needs review, type: docs

#785 VM: Implement EIP 2537 (BLS12-381 precompiles)
  .github/workflows/vm-pr.yml
  package-lock.json
  packages/vm/README.md
  packages/vm/karma.conf.js
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/precompiles/0a-bls12-g1add.ts
  packages/vm/lib/evm/precompiles/0b-bls12-g1mul.ts
  packages/vm/lib/evm/precompiles/0c-bls12-g1multiexp.ts
  packages/vm/lib/evm/precompiles/0d-bls12-g2add.ts
  packages/vm/lib/evm/precompiles/0e-bls12-g2mul.ts
  packages/vm/lib/evm/precompiles/0f-bls12-g2multiexp.ts
  packages/vm/lib/evm/precompiles/10-bls12-pairing.ts
  packages/vm/lib/evm/precompiles/11-bls12-map-fp-to-g1.ts
  packages/vm/lib/evm/precompiles/12-bls12-map-fp2-to-g2.ts
  packages/vm/lib/evm/precompiles/index.ts
  packages/vm/lib/evm/precompiles/types.ts
  packages/vm/lib/evm/precompiles/util/bls12_381.ts
  packages/vm/lib/exceptions.ts
  packages/vm/lib/index.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/GeneralStateTestsRunner.js
  packages/vm/tests/api/EIPs/EIP2537-BLS-tests.js
  packages/vm/tests/api/index.js
Labels: PR state: needs review, package: vm

#851 Compare buffers directly
  packages/account/src/index.ts
  packages/account/test/index.spec.ts
  packages/block/src/block.ts
  packages/block/test/block.spec.ts
  packages/block/test/header.spec.ts
  packages/ethash/examples/rawExample.ts
  packages/vm/README.md
  packages/vm/examples/decode-opcodes/index.js
  packages/vm/examples/run-transactions-complete/raw-tx2.js
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/evm/opcodes.ts
  packages/vm/lib/evm/precompiles/01-ecrecover.ts
  packages/vm/lib/evm/precompiles/05-modexp.ts
  packages/vm/lib/evm/precompiles/09-blake2f.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runCall.ts
  packages/vm/lib/runTx.ts
  packages/vm/tests/api/runBlock.js
  packages/vm/tests/api/state/stateManager.js
  packages/vm/tests/util.js
Labels: PR state: needs review, package: account, package: block, package: vm, type: performance

#866 Temporarily disabling FF karma testing on Block
  packages/block/karma.conf.js
Labels: PR state: merge ready, PR state: needs review, package: block, prio: P3 important

#863 Chain setup API / Centralize default HF / Common options dict / Block HFbyBlockNumber & initWithGenesisHeader options
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/block/src/header-from-rpc.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/difficulty.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/CHANGELOG.md
  packages/blockchain/src/index.ts
  packages/blockchain/test/index.ts
  packages/blockchain/test/util.ts
  packages/common/README.md
  packages/common/src/index.ts
  packages/common/tests/chains.ts
  packages/common/tests/hardforks.ts
  packages/common/tests/params.ts
  packages/ethash/test/block.spec.ts
  packages/tx/src/transaction.ts
  packages/tx/src/types.ts
  packages/tx/test/api.ts
  packages/tx/test/fake.ts
  packages/tx/test/transactionRunner.ts
  packages/vm/CHANGELOG.md
  packages/vm/lib/index.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/scripts/benchmarks/mainnetBlocks.ts
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/GeneralStateTestsRunner.js
  packages/vm/tests/api/EIPs/EIP2537-BLS-tests.js
  packages/vm/tests/api/berlin/eip-2315.js
  packages/vm/tests/api/evm/precompiles/06-ecadd.js
  packages/vm/tests/api/evm/precompiles/07-ecmul.js
  packages/vm/tests/api/evm/precompiles/08-ecpairing.js
  packages/vm/tests/api/evm/precompiles/hardfork-tests.js
  packages/vm/tests/api/index.js
  packages/vm/tests/api/istanbul/eip-1108.js
  packages/vm/tests/api/istanbul/eip-1344.js
  packages/vm/tests/api/istanbul/eip-152.js
  packages/vm/tests/api/istanbul/eip-1884.js
  packages/vm/tests/api/istanbul/eip-2200.js
  packages/vm/tests/api/istanbul/index.js
  packages/vm/tests/api/muirGlacier/index.js
  packages/vm/tests/api/opcodes.js
  packages/vm/tests/api/runBlock.js
  packages/vm/tests/api/runBlockchain.js
  packages/vm/tests/api/runCall.js
  packages/vm/tests/api/state/stateManager.js
  packages/vm/tests/api/utils.js
  packages/vm/tests/tester.js
  packages/vm/tests/util.js
Labels: PR state: needs review

#870 VM Bugfixes
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/interface.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/tests/api/runCall.js
  packages/vm/tests/api/runTx.js
Labels: PR state: needs review, package: vm

#868 Fixes Karma Firefox test inconsistency
  packages/block/karma.conf.js
Labels: PR state: merge ready, package: block

#852 Use Map for OpcodeList and opcode handlers
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/evm/opcodes.ts
  packages/vm/tests/api/opcodes.js
Labels: PR state: merge ready, PR state: needs review, package: vm, type: performance

#869 Move EIP Integration to Common
  packages/block/src/header.ts
  packages/common/src/eips/EIP2537.json
  packages/common/src/index.ts
  packages/common/tests/eips.ts
  packages/common/tests/params.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/precompiles/index.ts
  packages/vm/lib/index.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/GeneralStateTestsRunner.js
  packages/vm/tests/api/EIPs/EIP2537-BLS-tests.js
  packages/vm/tests/api/index.js
Labels: PR state: needs review, package: common, package: vm

#872 Index `eips` by `number` instead of `string`
  packages/common/src/eips/index.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/eips.ts
  packages/common/tests/params.ts
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/vm/lib/evm/precompiles/0a-bls12-g1add.ts
  packages/vm/lib/evm/precompiles/0b-bls12-g1mul.ts
  packages/vm/lib/evm/precompiles/0c-bls12-g1multiexp.ts
  packages/vm/lib/evm/precompiles/0d-bls12-g2add.ts
  packages/vm/lib/evm/precompiles/0e-bls12-g2mul.ts
  packages/vm/lib/evm/precompiles/0f-bls12-g2multiexp.ts
  packages/vm/lib/evm/precompiles/10-bls12-pairing.ts
  packages/vm/lib/evm/precompiles/11-bls12-map-fp-to-g1.ts
  packages/vm/lib/evm/precompiles/12-bls12-map-fp2-to-g2.ts
  packages/vm/lib/evm/precompiles/index.ts
  packages/vm/lib/index.ts
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/GeneralStateTestsRunner.js
  packages/vm/tests/api/EIPs/EIP2537-BLS-tests.js
  packages/vm/tests/api/index.js
Labels: PR state: needs review, package: common, package: vm

#861 Upgrade karma dependencies to latest
  package-lock.json
  packages/account/package-lock.json
  packages/block/package-lock.json
  packages/block/package.json
  packages/blockchain/package-lock.json
  packages/common/package-lock.json
  packages/ethash/package-lock.json
  packages/tx/karma.conf.js
  packages/tx/package.json
  packages/vm/package-lock.json
  packages/vm/package.json
Labels: PR state: merge ready, package: block, package: tx, package: vm, type: CI

#849 [VM] update VM test runner
  .github/workflows/vm-pr.yml
  packages/blockchain/src/index.ts
  packages/vm/lib/index.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/config.js
  packages/vm/tests/testLoader.js
  packages/vm/tests/tester.js
Labels: PR state: needs review, PR state: open discussion, package: blockchain, package: vm, type: tests

#882 Transition rest of VM tests to TypeScript, add karma-typescript
  package-lock.json
  packages/blockchain/test/index.ts
  packages/vm/examples/decode-opcodes/index.ts
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/examples/run-code-browser/index.js
  packages/vm/karma.conf.js
  packages/vm/package.json
  packages/vm/tests/api/EIPs/eip-2537-BLS.spec.ts
  packages/vm/tests/api/berlin/eip-2315.js
  packages/vm/tests/api/berlin/eip-2315.spec.ts
  packages/vm/tests/api/bloom.spec.ts
  packages/vm/tests/api/events.spec.ts
  packages/vm/tests/api/evm/eei.js
  packages/vm/tests/api/evm/eei.spec.ts
  packages/vm/tests/api/evm/memory.spec.ts
  packages/vm/tests/api/evm/precompiles/06-ecadd.js
  packages/vm/tests/api/evm/precompiles/06-ecadd.spec.ts
  packages/vm/tests/api/evm/precompiles/07-ecmul.js
  packages/vm/tests/api/evm/precompiles/07-ecmul.spec.ts
  packages/vm/tests/api/evm/precompiles/08-ecpairing.js
  packages/vm/tests/api/evm/precompiles/08-ecpairing.spec.ts
  packages/vm/tests/api/evm/precompiles/hardfork-tests.js
  packages/vm/tests/api/evm/precompiles/hardfork.spec.ts
  packages/vm/tests/api/evm/stack.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/istanbul/eip-1108.js
  packages/vm/tests/api/istanbul/eip-1108.spec.ts
  packages/vm/tests/api/istanbul/eip-1344.spec.ts
  packages/vm/tests/api/istanbul/eip-152.js
  packages/vm/tests/api/istanbul/eip-152.spec.ts
  packages/vm/tests/api/istanbul/eip-1884.spec.ts
  packages/vm/tests/api/istanbul/eip-2200.spec.ts
  packages/vm/tests/api/muirGlacier/index.js
  packages/vm/tests/api/muirGlacier/index.spec.ts
  packages/vm/tests/api/opcodes.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runBlockchain.spec.ts
  packages/vm/tests/api/runCall.js
  packages/vm/tests/api/runCall.spec.ts
  packages/vm/tests/api/runCode.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/state/cache.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
  packages/vm/tests/api/utils.js
  packages/vm/tests/api/utils.ts
  packages/vm/tsconfig.json
  packages/vm/tsconfig.prod.json
Labels: PR state: WIP, package: vm, type: refactor, type: tests

#884 ci: Updated slow test files
  .github/workflows/vm-nightly-test.yml
Labels: PR state: merge ready, package: monorepo, type: CI

#885 docs: removing standard badge
  README.md
  packages/account/README.md
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/tx/README.md
  packages/vm/README.md
Labels: PR state: merge ready, package: monorepo, type: enhancement

#812 Refactor tx lib
  packages/account/package.json
  packages/account/test/index.spec.ts
  packages/block/package.json
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/block/test/block.spec.ts
  packages/block/test/difficulty.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/package.json
  packages/blockchain/test/util.ts
  packages/common/CHANGELOG.md
  packages/ethash/package.json
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/examples/custom-chain-tx.ts
  packages/tx/examples/ropsten-tx.ts
  packages/tx/examples/transactions.ts
  packages/tx/karma.conf.js
  packages/tx/package-lock.json
  packages/tx/package.json
  packages/tx/src/fake.ts
  packages/tx/src/index.ts
  packages/tx/src/transaction.ts
  packages/tx/src/types.ts
  packages/tx/test/api.ts
  packages/tx/test/fake.ts
  packages/tx/test/index.ts
  packages/tx/test/json/ttTransactionTestEip155VitaliksTests.json
  packages/tx/test/json/txs.json
  packages/tx/test/transactionRunner.ts
  packages/tx/test/types.ts
  packages/vm/examples/decode-opcodes/index.ts
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/examples/run-transactions-complete/index.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runBlockchain.ts
  packages/vm/lib/runTx.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/events.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
  packages/vm/tests/util.ts
Labels: PR state: merge ready, package: common, package: tx, type: refactor

#876 Alternative EIP-based HF file format in Common as preparation for Yolo v2 integration
  packages/common/src/eips/2315.json
  packages/common/src/eips/2537.json
  packages/common/src/eips/index.ts
  packages/common/src/hardforks/berlin.json
  packages/common/src/hardforks/byzantium.json
  packages/common/src/hardforks/chainstart.json
  packages/common/src/hardforks/constantinople.json
  packages/common/src/hardforks/dao.json
  packages/common/src/hardforks/homestead.json
  packages/common/src/hardforks/istanbul.json
  packages/common/src/hardforks/muirGlacier.json
  packages/common/src/hardforks/petersburg.json
  packages/common/src/hardforks/spuriousDragon.json
  packages/common/src/hardforks/tangerineWhistle.json
  packages/common/src/index.ts
  packages/common/tests/params.ts
Labels: PR state: needs review, package: common

#887 Tx refactor clean-up
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/examples/custom-chain-tx.ts
  packages/tx/examples/ropsten-tx.ts
  packages/tx/examples/transactions.ts
  packages/tx/src/transaction.ts
  packages/tx/src/types.ts
  packages/tx/test/api.ts
  packages/tx/test/transactionRunner.ts
  packages/vm/lib/runBlockchain.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, package: tx, type: refactor

#894 vm tests: fix state tests count
  packages/vm/tests/config.ts
  packages/vm/tests/tester.ts
Labels: PR state: needs review, package: vm, type: tests

#896 Split opcodes logic into codes, fns, and utils files
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opcodes/codes.ts
  packages/vm/lib/evm/opcodes/functions.ts
  packages/vm/lib/evm/opcodes/index.ts
  packages/vm/lib/evm/opcodes/util.ts
Labels: PR state: needs review, package: vm, type: refactor
