Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2020-06, with the labels that each got.

#748 Update `ethereumjs-util` to v7
  packages/account/package.json
  packages/block/package.json
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/block/src/header-from-rpc.ts
  packages/block/src/header.ts
  packages/block/test/difficulty.spec.ts
  packages/block/test/header.spec.ts
  packages/block/tsconfig.json
  packages/block/tsconfig.prod.json
  packages/blockchain/package.json
  packages/common/package.json
  packages/tx/package.json
  packages/tx/src/transaction.ts
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/examples/run-transactions-complete/index.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/package.json
  packages/vm/tests/util.js
Labels: PR state: needs review

#743 Update to ethereumjs-testing v1.3.1 (pre-Berlin HF release) / Fix test runs
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/config.js
Labels: PR state: do-not-merge, package: vm, type: tests

#758 common: remove old fields `consensus` and `finality`
  packages/common/docs/README.md
  packages/common/docs/classes/_index_.common.md
  packages/common/docs/interfaces/_types_.bootstrapnode.md
  packages/common/docs/interfaces/_types_.chain.md
  packages/common/docs/interfaces/_types_.chainstype.md
  packages/common/docs/interfaces/_types_.genesisblock.md
  packages/common/docs/interfaces/_types_.genesisstatestype.md
  packages/common/docs/interfaces/_types_.hardfork.md
  packages/common/docs/modules/_genesisstates_index_.md
  packages/common/docs/modules/_index_.md
  packages/common/docs/modules/_types_.md
  packages/common/src/chains/goerli.json
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/hardforks.ts
  packages/common/tests/testnet.json
Labels: PR state: needs review, package: common, type: refactor

#762 common: remove old fields `casper` and `sharding`
  packages/common/README.md
  packages/common/docs/classes/_index_.common.md
  packages/common/src/hardforks/berlin.json
  packages/common/src/hardforks/byzantium.json
  packages/common/src/hardforks/chainstart.json
  packages/common/src/hardforks/constantinople.json
  packages/common/src/hardforks/dao.json
  packages/common/src/hardforks/homestead.json
  packages/common/src/hardforks/istanbul.json
  packages/common/src/hardforks/muirGlacier.json
  packages/common/src/hardforks/petersburg.json
  packages/common/src/hardforks/spuriousDragon.json
  packages/common/src/hardforks/tangerineWhistle.json
  packages/common/src/index.ts
Labels: PR state: needs review, package: common, type: refactor

#765 Add forkhash support to Common library
  packages/common/package.json
  packages/common/src/chains/goerli.json
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/index.ts
  packages/common/tests/hardforks.ts
Labels: PR state: needs review, package: common

#764 tooling: adding script to inspect TS interface diffs
  scripts/ts-interface-diff.sh
Labels: PR state: merge ready, PR state: needs review, package: monorepo

#788 Convert testUtil.setupPreConditions to async
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/GeneralStateTestsRunner.js
  packages/vm/tests/VMTestsRunner.js
  packages/vm/tests/api/index.js
  packages/vm/tests/api/runBlock.js
  packages/vm/tests/util.js
Labels: PR state: needs review, package: vm, type: tests

#781 Add EIP-1014 (CREATE2) address test as a first runCall.js API test
  packages/vm/tests/api/runCall.js
Labels: PR state: needs review, PR state: open discussion, package: vm

#778 Tooling optimization
  .github/workflows/account-build.yml
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/common-build.yml
  .github/workflows/ethash-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-nightly-test.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  packages/account/.gitignore
  packages/account/package-lock.json
  packages/block/.gitignore
  packages/block/.prettierignore
  packages/block/package-lock.json
  packages/block/package.json
  packages/blockchain/.gitignore
  packages/blockchain/package-lock.json
  packages/blockchain/package.json
  packages/common/.gitignore
  packages/common/package-lock.json
  packages/common/package.json
  packages/ethash/.gitignore
  packages/ethash/package-lock.json
  packages/tx/.gitignore
  packages/tx/.prettierignore
  packages/tx/package-lock.json
  packages/tx/package.json
  packages/vm/.gitignore
  packages/vm/package-lock.json
  packages/vm/package.json
Labels: PR state: needs review, package: monorepo, type: CI

#792 common: updates goerli chain id
  packages/common/src/chains/.goerli.json.swp
  packages/common/src/chains/index.ts
  packages/common/src/genesisStates/index.ts
  packages/common/tests/genesisStates.ts
Labels: PR state: merge ready, type: enhancement

#787 Update merkle-patricia-tree to v4, move account trie-related methods to StateManager
  packages/account/package-lock.json
  packages/account/package.json
  packages/account/src/index.ts
  packages/account/test/index.spec.ts
  packages/block/package-lock.json
  packages/block/package.json
  packages/block/src/block.ts
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/state/cache.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package-lock.json
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/GeneralStateTestsRunner.js
  packages/vm/tests/api/index.js
  packages/vm/tests/api/runBlock.js
  packages/vm/tests/api/state/cache.js
  packages/vm/tests/api/state/stateManager.js
  packages/vm/tests/tester.js
  packages/vm/tests/util.js
Labels: PR state: needs review, package: account, package: block, package: vm

#795 fix: remove vim swap file
  packages/common/src/chains/.goerli.json.swp
Labels: type: refactor

#798 [VM] group opcodes based upon hardfork
  packages/vm/lib/evm/opcodes.ts
  packages/vm/tests/api/runCall.js
Labels: PR state: needs review, PR state: open discussion, package: vm

#797 [VM] fix activatePrecompiles
  packages/vm/lib/index.ts
  packages/vm/tests/api/runCall.js
Labels: PR state: needs review, package: vm
