Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2020-07, with the labels that each got.

#791 SpuriousDragon HF Support
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/package.json
  packages/vm/tests/api/runBlock.js
  packages/vm/tests/config.js
  packages/vm/tests/tester.js
Labels: PR state: merge ready, PR state: needs review

#805 New utility methods for Common (loosely connected to Eth64 implementation)
  packages/common/src/index.ts
  packages/common/tests/hardforks.ts
Labels: PR state: needs review, package: common

#806 [VM/Common] move gas base fees to Common
  packages/common/src/hardforks/byzantium.json
  packages/common/src/hardforks/chainstart.json
  packages/common/src/hardforks/constantinople.json
  packages/common/src/hardforks/homestead.json
  packages/common/src/hardforks/istanbul.json
  packages/common/src/hardforks/tangerineWhistle.json
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/evm/opcodes.ts
Labels: PR state: needs review, package: common, package: vm

#810 ci: Fixes scheduled slow tests for VM
  .github/workflows/vm-nightly-test.yml
Labels: PR state: merge ready

#807 TangerineWhistle HF Support
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/cache.ts
  packages/vm/lib/state/interface.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
  packages/vm/tests/api/state/stateManager.js
  packages/vm/tests/config.js
Labels: PR state: needs review

#825 Test reliability
  .github/workflows/vm-nightly-test.yml
  packages/vm/package.json
Labels: package: vm, type: tests
