Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2020-12, with the labels that each got.

#977 Devp2p & Client monorepo integration housekeeping PR
  .github/ISSUE_TEMPLATE/package--ethereumjs-client.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-devp2p.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-ethash.md
  .github/ISSUE_TEMPLATE/package--monorepo.md
  .github/workflows/node-versions.yml
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/.github/contributing.md
  packages/client/.github/issue_template.md
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/tx/package.json
  packages/vm/package.json
Labels: PR state: needs review, package: monorepo

#1005 Update client diagram
  packages/client/diagram/client.drawio
  packages/client/diagram/client.png
  packages/client/diagram/client.svg
Labels: PR state: merge ready, package: client

#1007 Update package relationship diagram
  README.md
Labels: PR state: merge ready, package: monorepo

#1009 dedupe gitignores for client and devp2p
  .gitignore
  packages/client/.gitignore
  packages/devp2p/.gitignore
Labels: PR state: merge ready, package: client, package: devp2p, package: monorepo

#1008 client: fix path of `@polkadot/ts` type declaration files
  packages/client/browser/libp2pnode.ts
  packages/client/lib/net/peer/libp2ppeer.ts
  packages/client/lib/net/protocol/libp2psender.ts
  packages/client/tsconfig.browser.json
  packages/client/tsconfig.json
  packages/client/tsconfig.karma.json
  packages/client/tsconfig.prod.json
Labels: PR state: merge ready, package: client

#1010 client: type BoundProtocol messages
  packages/client/lib/net/peer/peer.ts
  packages/client/lib/net/protocol/boundprotocol.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/flowcontrol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/net/protocol/boundprotocol.spec.ts
  packages/client/test/sync/fullsync.spec.ts
Labels: PR state: needs review, package: client

#1011 Use vm's common when creating default blocks in `runCall` and `runCode`
  packages/vm/lib/runCall.ts
  packages/vm/lib/runCode.ts
  packages/vm/lib/runTx.ts
Labels: PR state: needs review, package: vm

#1016 trie: housekeeping tasks
  README.md
  package-lock.json
  packages/block/package.json
  packages/block/src/block.ts
  packages/client/README.md
  packages/client/lib/util/parse.ts
  packages/client/package.json
  packages/trie/.gitignore
  packages/trie/.npmignore
  packages/trie/.prettierignore
  packages/trie/CHANGELOG.md
  packages/trie/README.md
  packages/trie/docs/README.md
  packages/trie/docs/classes/_basetrie_.trie.md
  packages/trie/docs/classes/_checkpointtrie_.checkpointtrie.md
  packages/trie/docs/classes/_secure_.securetrie.md
  packages/trie/docs/classes/_util_walkcontroller_.walkcontroller.md
  packages/trie/docs/modules/_basetrie_.md
  packages/trie/docs/modules/_checkpointtrie_.md
  packages/trie/docs/modules/_secure_.md
  packages/trie/docs/modules/_util_walkcontroller_.md
  packages/trie/src/baseTrie.ts
  packages/trie/src/secure.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/state/cache.spec.ts
Labels: package: trie

#965 Blockchain client requests
  packages/blockchain/src/index.ts
  packages/blockchain/test/index.ts
  packages/vm/README.md
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runTx.ts
Labels: PR state: needs review, package: blockchain, package: client, package: vm

#1019 client: fix undefined BlockHeaders value when syncing
  package-lock.json
  packages/client/lib/net/peer/peer.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/protocol/boundprotocol.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/headerfetcher.ts
  packages/client/package.json
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/devp2p/README.md
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/examples/peer-communication.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/test/integration/rlpx-simulator.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review, package: client, package: devp2p

#1020 Integrate ETH/64 Protocol into Client
  packages/client/lib/net/peer/libp2ppeer.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/protocol/boundprotocol.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/net/protocol/protocol.ts
  packages/client/lib/net/protocol/rlpxsender.ts
  packages/client/lib/net/server/libp2pserver.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/net/peer/libp2ppeer.spec.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/net/protocol/boundprotocol.spec.ts
  packages/client/test/net/protocol/rlpxsender.spec.ts
  packages/devp2p/src/eth/index.ts
Labels: PR state: needs review, package: client, package: devp2p

#1025 Client FullSync changes
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlockchain.ts
Labels: PR state: WIP, package: client, package: vm
