Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2020-04, with the labels that each got.

#665 Add initialization method to prevent race conditions
  packages/vm/lib/index.ts
  packages/vm/tests/api/index.js
Labels: package: vm

#684 Puts package names as README titles
  packages/account/README.md
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/tx/README.md
  packages/vm/README.md
Labels: PR state: merge ready, PR state: needs review, type: docs

#717 Issue creation fitted to monorepo standards; README changes
  .github/ISSUE_TEMPLATE/general.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-account.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-block.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-blockchain.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-common.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-tx.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-vm.md
  README.md
Labels: type: docs, type: meta

#718 fix: bootnodes
  packages/common/scripts/update-bootnodes.js
  packages/common/src/chains/goerli.json
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/tests/chains.ts
Labels: PR state: blocked

#724 coverage: setting threshold to 1%
  codecov.yml
Labels: PR state: needs review

#721 Handles new Buffer() deprecation
  packages/tx/examples/custom-chain-tx.ts
  packages/tx/examples/transactions.ts
  packages/tx/src/transaction.ts
  packages/tx/test/api.ts
Labels: PR state: merge ready, PR state: needs review, package: tx

#664 Refactor opcodes
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opcodes.ts
Labels: package: vm

#719 Integrate promises into StateManager
  .github/workflows/vm-lint.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-test.yml
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/vm/docs/classes/_exceptions_.vmerror.md
  packages/vm/docs/classes/_index_.vm.md
  packages/vm/docs/classes/_state_index_.statemanager.md
  packages/vm/docs/classes/_state_statemanager_.statemanager.md
  packages/vm/docs/enums/_exceptions_.error.md
  packages/vm/docs/interfaces/_index_.vmopts.md
  packages/vm/docs/interfaces/_runtx_.runtxopts.md
  packages/vm/docs/interfaces/_runtx_.runtxresult.md
  packages/vm/docs/interfaces/_state_statemanager_.statemanageropts.md
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/examples/run-transactions-complete/index.ts
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/evm/precompiles/01-ecrecover.ts
  packages/vm/lib/evm/precompiles/02-sha256.ts
  packages/vm/lib/evm/precompiles/03-ripemd160.ts
  packages/vm/lib/evm/precompiles/04-identity.ts
  packages/vm/lib/evm/precompiles/05-modexp.ts
  packages/vm/lib/evm/precompiles/06-ecadd.ts
  packages/vm/lib/evm/precompiles/07-ecmul.ts
  packages/vm/lib/evm/precompiles/08-ecpairing.ts
  packages/vm/lib/evm/precompiles/09-blake2f.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runBlockchain.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/cache.ts
  packages/vm/lib/state/promisified.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/GeneralStateTestsRunner.js
  packages/vm/tests/api/events.js
  packages/vm/tests/api/index.js
  packages/vm/tests/api/istanbul/eip-1884.js
  packages/vm/tests/api/istanbul/eip-2200.js
  packages/vm/tests/api/runBlock.js
  packages/vm/tests/api/runBlockchain.js
  packages/vm/tests/api/runTx.js
  packages/vm/tests/api/state/cache.js
  packages/vm/tests/api/state/stateManager.js
  packages/vm/tests/util.js
  packages/vm/typedoc.js
Labels: PR state: needs review, package: vm

#728 Remove unneeded `for await`s
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/cache.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/tests/api/istanbul/eip-1884.js
  packages/vm/tests/api/istanbul/eip-2200.js
  packages/vm/tests/api/state/stateManager.js
Labels: package: vm

#734 Integrated tests with Lerna (does not include Block for now)
  .circleci/config.yml
  .github/workflows/account-lint.yml
  .github/workflows/account-test.yml
  .github/workflows/block-lint.yml
  .github/workflows/block-test.yml
  .github/workflows/blockchain-lint.yml
  .github/workflows/blockchain-test.yml
  .github/workflows/common-lint.yml
  .github/workflows/common-test.yml
  .github/workflows/tx-lint.yml
  .github/workflows/tx-test.yml
  .github/workflows/vm-lint.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-test.yml
  codecov.yml
  lerna.json
  package.json
  packages/account/.prettierignore
  packages/account/package.json
  packages/block/.prettierignore
  packages/blockchain/.prettierignore
  packages/blockchain/package.json
  packages/common/.prettierignore
  packages/common/package.json
  packages/tx/.prettierignore
  packages/tx/package.json
  packages/vm/docs/classes/_state_index_.statemanager.md
  packages/vm/docs/classes/_state_statemanager_.statemanager.md
  packages/vm/docs/interfaces/_state_statemanager_.statemanageropts.md
  packages/vm/package.json
  scripts/01-modify-require-dist-to-src.patch
  scripts/test-prepare.sh
Labels: PR state: needs review, type: CI, type: enhancement, type: tests
