Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2020-08, with the labels that each got.

#808 Integrate ethereumjs testing logic
  packages/vm/package.json
  packages/vm/tests/state-test-run-test.sh
  packages/vm/tests/testLoader.js
  packages/vm/tests/tester.js
Labels: PR state: blocked, PR state: needs review

#814 [VM] cleanup some changes made in the TangerineWhistle PR
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/state/cache.ts
  packages/vm/lib/state/interface.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/tests/api/evm/eei.js
Labels: PR state: needs review

#779 Remove async dependency
  package-lock.json
  packages/blockchain/package.json
  packages/blockchain/src/index.ts
  packages/blockchain/test/index.ts
  packages/ethash/package.json
  packages/ethash/src/index.ts
  packages/ethash/test/block.spec.ts
  packages/vm/lib/runBlockchain.ts
  packages/vm/package-lock.json
  packages/vm/tests/api/runCode.js
  packages/vm/tests/api/state/stateManager.js
  packages/vm/tests/util.js
Labels: PR state: needs review, package: blockchain, package: ethash, package: vm, type: refactor

#815 [VM] fix blockchain tests and add Homestead support
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-pr.yml
  package-lock.json
  packages/account/package.json
  packages/block/package.json
  packages/blockchain/package-lock.json
  packages/blockchain/package.json
  packages/ethash/package-lock.json
  packages/ethash/package.json
  packages/ethash/src/index.ts
  packages/tx/package.json
  packages/vm/lib/evm/memory.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/state/interface.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/api/runBlock.js
  packages/vm/tests/tester.js
Labels: PR state: needs review, PR state: open discussion, package: vm

#831 [VM] fix state test
  packages/vm/package.json
Labels: PR state: needs review, package: vm

#770 Add a script to lint dependencies
  scripts/check-dependencies.js
Labels: PR state: WIP, package: monorepo

#754 Implement EIP-2315: subroutines
  packages/common/src/hardforks/berlin.json
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/evm/opcodes.ts
  packages/vm/lib/evm/stack.ts
  packages/vm/lib/exceptions.ts
  packages/vm/lib/index.ts
  packages/vm/package.json
  packages/vm/tests/api/berlin/eip-2315.js
  packages/vm/tests/api/evm/stack.js
Labels: package: vm

#833 Promisify blockchain and ethash packages
  package-lock.json
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/blockchain/package.json
  packages/blockchain/src/callbackify.ts
  packages/blockchain/src/dbManager.ts
  packages/blockchain/src/index.ts
  packages/blockchain/src/util.ts
  packages/blockchain/test/index.ts
  packages/blockchain/test/util.ts
  packages/blockchain/typedoc.js
  packages/ethash/README.md
  packages/ethash/package-lock.json
  packages/ethash/package.json
  packages/ethash/src/index.ts
  packages/ethash/test/block.spec.ts
  packages/ethash/test/ethash_block_rlp_tests.json
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlockchain.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/GeneralStateTestsRunner.js
  packages/vm/tests/api/index.js
  packages/vm/tests/api/runBlockchain.js
  packages/vm/tests/api/utils.js
  packages/vm/tests/util.js
Labels: PR state: needs review, package: blockchain, package: ethash, type: refactor

#840 Benchmark ci fixes
  .github/workflows/vm-build.yml
  .github/workflows/vm-pr.yml
  package-lock.json
Labels: PR state: needs review, type: CI

#847 Fix storing benchmarks results
  .github/workflows/vm-build.yml
Labels: type: CI

#850 Make `memory.ts` use Buffers instead of Arrays
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/memory.ts
  packages/vm/tests/api/evm/memory.js
Labels: type: performance

#846 VM docs v5
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opFns.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
Labels: PR state: needs review, package: vm

#843 Add DAO support
  .github/workflows/vm-pr.yml
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/common/src/chains/goerli.json
  packages/common/src/chains/kovan.json
  packages/common/tests/hardforks.ts
  packages/vm/lib/config/dao_fork_accounts_config.json
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.js
  packages/vm/tests/api/runBlock.js
  packages/vm/tests/config.js
  packages/vm/tests/tester.js
  packages/vm/tests/util.js
Labels: PR state: needs review
