Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-09, with the labels that each got.

#1430 Common: Remove calaveras ephemerial testnet
  packages/client/README.md
  packages/common/README.md
  packages/common/src/chains/calaveras.json
  packages/common/src/chains/index.ts
  packages/common/src/genesisStates/calaveras.json
  packages/common/src/genesisStates/index.ts
  packages/common/src/index.ts
  packages/common/tests/chains.spec.ts
Labels: type: refactor, package: common

#1438 VM: Make CodeHashes have a DB prefix in StateManager
  packages/vm/src/state/stateManager.ts
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runBlockchain.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
  packages/vm/tests/config.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, package: vm, breaking

#1451 bug: fix comparison operator bug
  config/cli/ts-build.sh
Labels: type: bug, PR state: needs review

#1456 client: fix reqId overflow issue in ETH handler
  packages/client/lib/net/protocol/ethprotocol.ts
Labels: type: bug, PR state: needs review, package: client

#1449 Devp2p: Per-Message debugging for ETH and other protocols / Improved docs
  packages/devp2p/README.md
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/eth/index.ts
  packages/devp2p/src/les/index.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/util.ts
Labels: type: feature, package: devp2p

#1453 ci: add develop branch
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/e2e-hardhat.yml
  .github/workflows/ethash-build.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-build.yml
Labels: type: CI

#1443 client: add `NEW_BLOCK` devp2p message handler
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
Labels: PR state: needs review, package: client

#1441 Client: New Pooled Tx Hashes Service Functionality (Re-broadcasting/Tracking) for TxPool
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/txpool.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/sync/txpool.spec.ts
Labels: type: feature, PR state: needs review, package: client

#1445 Block, Tx: Caching for hash method
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/types.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/legacy.spec.ts
Labels: PR state: needs review, package: block, package: tx

#1457 client: change event params to named tuples
  packages/client/lib/types.ts
Labels: PR state: needs review, package: client

#1436 VM: Add test to ensure that IDENTITY precompile copies the memory (chain split from 2021-08)
  packages/vm/tests/api/runCall.spec.ts
Labels: PR state: needs review, type: tests, package: vm

#1465 vscode: add eslint workingDirectories config and enable format-on-save
  .vscode/settings.json
Labels: PR state: needs review, package: monorepo

#1467 ci: fix hardhat e2e
  scripts/e2e-inject-resolutions.js
Labels: PR state: needs review, type: CI

#1463 Util: More explicit EIP-1191 checksum usage discouraged note / Client: remove Rinkeby from CLI test matrix
  .github/workflows/client-build.yml
  packages/util/src/account.ts
Labels: PR state: needs review, type: docs, type: CI, package: monorepo, package: util

#1470 docs: add Windows installation note
  config/MONOREPO.md
Labels: type: docs

#1458 client -> FullSynchronizer: handle NEW_BLOCK message and rebroadcast to peers
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fullsync.spec.ts
Labels: PR state: needs review, package: client

#1479 client: Bug fix in logic for adding known blocks to peers
  packages/client/lib/sync/fullsync.ts
Labels: package: client

#1477 util: return undefined or null from toType
  config/eslint.js
  packages/client/lib/types.ts
  packages/client/test/integration/mocks/network.ts
  packages/util/src/signature.ts
  packages/util/src/types.ts
  packages/util/test/types.spec.ts
Labels: PR state: needs review, package: util

#1480 common: improve TS types for hardfork, chain and genesis parameters
  packages/block/src/block.ts
  packages/block/test/block.spec.ts
  packages/block/tsconfig.json
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/tsconfig.json
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/config.ts
  packages/client/package.json
  packages/client/test/integration/mocks/mockchain.ts
  packages/client/tsconfig.json
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/customChains.spec.ts
  packages/common/tests/hardforks.spec.ts
  packages/common/tsconfig.json
  packages/devp2p/tsconfig.json
  packages/ethash/tsconfig.json
  packages/trie/tsconfig.json
  packages/tx/tsconfig.json
  packages/util/tsconfig.json
  packages/vm/src/state/stateManager.ts
  packages/vm/tests/util.ts
  packages/vm/tsconfig.json
Labels: PR state: needs review, type: enhancement, package: common

#1444 client: add simple miner
  packages/block/tsconfig.json
  packages/blockchain/src/index.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/tsconfig.json
  packages/client/.eslintrc.js
  packages/client/bin/cli.ts
  packages/client/lib/@types/qheap/index.d.ts
  packages/client/lib/config.ts
  packages/client/lib/miner/index.ts
  packages/client/lib/miner/miner.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/txpool.ts
  packages/client/lib/types.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/sync/txpool.spec.ts
  packages/client/tsconfig.browser.json
  packages/client/tsconfig.json
  packages/client/tsconfig.karma.json
  packages/client/tsconfig.prod.json
  packages/common/tsconfig.json
  packages/devp2p/tsconfig.json
  packages/ethash/tsconfig.json
  packages/trie/tsconfig.json
  packages/tx/tsconfig.json
  packages/util/tsconfig.json
  packages/vm/src/index.ts
  packages/vm/tsconfig.json
Labels: type: feature, PR state: needs review, package: blockchain, package: vm, package: client

#1481 monorepo: dedupe prepublish script
  config/cli/prepublish.sh
  greenkeeper.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
  scripts/e2e-publish.sh
Labels: PR state: needs review, package: monorepo

#1483 client: add miner integration test
  packages/client/test/integration/client.spec.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/integration/util.ts
Labels: PR state: needs review, type: tests, package: client

#1484 devp2p: fix `RLPx` snappy uncompress issue for `DISCONNECT` msgs along handshake
  packages/devp2p/src/rlpx/peer.ts
Labels: type: bug, PR state: needs review, package: devp2p

#1487 client: Filter out forks with no block set in config
  packages/client/lib/util/parse.ts
Labels: type: bug, PR state: needs review, package: client

#1489 client: Fix gas calculations on EIP1559 forkblock in miner
  packages/client/lib/miner/miner.ts
Labels: PR state: needs review, package: client

#1488 Client: README Overhaul
  packages/client/DESIGN.md
  packages/client/EXAMPLES.md
  packages/client/README.md
  packages/client/examples/light-browser-sync.md
  packages/client/examples/local-debugging.md
  packages/client/examples/private-geth-network.md
Labels: PR state: needs review, type: docs, package: client

#1490 client: add miner london hf switch test
  packages/client/test/miner/miner.spec.ts
Labels: PR state: needs review, type: tests, package: client

#1486 VM: Fix Blake2B with messages with a length >= 5
  packages/vm/src/evm/precompiles/09-blake2f.ts
  packages/vm/tests/api/istanbul/eip-152.spec.ts
Labels: PR state: needs review, package: vm

#1475 Ethash: add CPU miner
  packages/ethash/package.json
  packages/ethash/src/index.ts
  packages/ethash/test/miner.spec.ts
Labels: type: feature, PR state: needs review, package: ethash

#1492 client: add dev param to start devnet with miner
  package-lock.json
  packages/block/src/header.ts
  packages/blockchain/src/index.ts
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/package.json
Labels: PR state: needs review, package: block, package: blockchain, package: client

#1495 Block, Blockchain: bugfix releases (client preparation) fixing London HF at block 0 or 1 handling
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/README.md
  packages/client/bin/cli.ts
  packages/client/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: client

#1499 Client: first stable release v0.1.0 🎉
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/package.json
Labels: PR state: needs review, type: release, package: client

#1500 Tx/Util: ensure only integers are allowed as input
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/util/src/@types/ethjs-util/index.ts
  packages/util/src/bytes.ts
  packages/util/src/index.ts
  packages/util/test/bytes.spec.ts
Labels: PR state: needs review, prio: +urgent, package: tx, package: util

#1501 Util v7.1.2 and Tx v3.3.2 Releases
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/README.md
  packages/util/docs/README.md
  packages/util/package.json
  packages/util/typedoc.js
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: tx, package: util
