Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-12, with the labels that each got.

#1588 client: fix libp2p sync and browser example
  README.md
  packages/client/bin/cli.ts
  packages/client/browser/index.ts
  packages/client/browser/libp2pnode.ts
  packages/client/browser_sync.png
  packages/client/examples/browser_sync.png
  packages/client/examples/light-browser-sync.md
  packages/client/lib/client.ts
  packages/client/lib/index_old.ts
  packages/client/lib/net/peer/libp2pnode.ts
  packages/client/lib/net/server/libp2pserver.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fetcher/headerfetcher.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/package.json
  packages/client/test/net/server/libp2pserver.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/webpack.config.js
Labels: PR state: needs review, package: client

#1593 Ethtests 10.2 cleanup items
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/util/src/bytes.ts
  packages/util/test/bytes.spec.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, package: tx, package: vm, package: util

#1594 client: fix broken link in client example
  packages/client/examples/private-geth-network.md
Labels: PR state: needs review, type: docs, package: client

#1595 client: fix error logging
  packages/client/lib/logging.ts
Labels: type: bug, package: client

#1590 Implement eth_getProof
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/vm/src/state/index.ts
  packages/vm/src/state/interface.ts
  packages/vm/src/state/stateManager.ts
  packages/vm/tests/api/state/proofStateManager.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
  packages/vm/tests/api/state/testdata/ropsten_contractWithStorage.json
  packages/vm/tests/api/state/testdata/ropsten_nonexistentAccount.json
  packages/vm/tests/api/state/testdata/ropsten_validAccount.json
Labels: type: feature, PR state: needs review, package: vm

#1603 VM: address consensus issue: tx goes OOG but refunds get applied anyways
  packages/vm/src/evm/evm.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: type: bug, PR state: needs review, package: vm, type: test all hardforks

#1608 Finish EIP-2681
  packages/vm/src/evm/eei.ts
  packages/vm/tests/api/runCall.spec.ts
Labels: PR state: needs review, package: vm

#1606 tx/vm/util: throw when provided negative BN
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/util/src/bytes.ts
  packages/util/test/bytes.spec.ts
  packages/vm/.eslintrc.js
  packages/vm/src/evm/message.ts
  packages/vm/src/evm/opcodes/EIP2929.ts
  packages/vm/tests/api/EIPs/eip-2565-modexp-gas-cost.spec.ts
  packages/vm/tests/api/EIPs/eip-3541.spec.ts
  packages/vm/tests/api/runCall.spec.ts
  packages/vm/tests/api/runCode.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
Labels: type: enhancement, package: tx, package: vm, package: util

#1613 eslint: disable no-extra-semi, remove overrides
  config/eslint.js
  packages/block/test/eip1559block.spec.ts
  packages/client/bin/cli.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/common/src/index.ts
  packages/tx/test/base.spec.ts
Labels: type: CI

#1616 common/vm: add EIP-3855, PUSH0 instruction
  packages/common/src/eips/3855.json
  packages/common/src/eips/index.ts
  packages/vm/src/evm/opcodes/codes.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/src/index.ts
  packages/vm/tests/api/EIPs/eip-3855.spec.ts
Labels: type: feature, PR state: needs review, package: vm, package: common
