Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-05, with the labels that each got.

#1238 Add tests for errors in typed tx
  packages/tx/test/base.spec.ts
  packages/tx/test/eip2930.spec.ts
  packages/tx/test/types.ts
Labels: package: tx, type: tests

#1241 Two small fixes (adds missing flow param to LesProtocol, fixes txRelay typo)
  packages/client/lib/service/lightethereumservice.ts
  packages/devp2p/src/les/index.ts
Labels: PR state: needs review, package: client, package: devp2p

#1239 Implement EIP3529
  packages/common/src/eips/3529.json
  packages/common/src/eips/index.ts
  packages/common/src/hardforks/chainstart.json
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runTx.ts
  packages/vm/tests/api/EIPs/eip-3529.spec.ts
Labels: PR state: needs review, package: common, package: vm

#1240 Implement EIP3541
  packages/common/src/eips/3541.json
  packages/common/src/eips/index.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/exceptions.ts
  packages/vm/lib/index.ts
  packages/vm/tests/api/EIPs/eip-3541.spec.ts
Labels: PR state: needs review, package: common, package: vm

#1245 Implement EIP3554
  packages/block/src/header.ts
  packages/common/src/eips/3554.json
  packages/common/src/eips/index.ts
  packages/common/src/hardforks/byzantium.json
  packages/common/src/hardforks/chainstart.json
  packages/common/src/hardforks/constantinople.json
  packages/common/src/hardforks/muirGlacier.json
  packages/common/tests/eips.spec.ts
Labels: PR state: needs review, package: block, package: common

#1219 Trie: new deleteFromDB option (default: false)
  packages/trie/src/baseTrie.ts
  packages/trie/test/index.spec.ts
Labels: PR state: needs review, PR state: open discussion, package: trie, type: enhancement

#1261 tests: additional coverage
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/block/test/eip1559block.spec.ts
  packages/block/test/testdata/eip1559baseFee.json
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
Labels: PR state: needs review, package: block, package: client, package: tx, package: vm, type: tests

#1255 tx: fix getMessageToSign return type for typed txs
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip2930Transaction.ts
Labels: PR state: needs review, package: tx

#1262 New MPT Release v4.2.0
  packages/block/package.json
  packages/client/package.json
  packages/trie/CHANGELOG.md
  packages/trie/README.md
  packages/trie/docs/README.md
  packages/trie/docs/classes/_basetrie_.trie.md
  packages/trie/docs/classes/_checkpointtrie_.checkpointtrie.md
  packages/trie/docs/classes/_secure_.securetrie.md
  packages/trie/docs/classes/_util_walkcontroller_.walkcontroller.md
  packages/trie/docs/classes/basetrie.md
  packages/trie/docs/classes/checkpointtrie.md
  packages/trie/docs/classes/securetrie.md
  packages/trie/docs/classes/walkcontroller.md
  packages/trie/docs/modules/_basetrie_.md
  packages/trie/docs/modules/_checkpointtrie_.md
  packages/trie/docs/modules/_secure_.md
  packages/trie/docs/modules/_util_walkcontroller_.md
  packages/trie/package.json
  packages/vm/package.json
Labels: PR state: needs review, package: trie, type: release

#1264 runTx: add blockGasUsed param
  packages/tx/src/eip1559Transaction.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/types.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: PR state: needs review, package: vm

#1272 1559: add more constraints to tx validation
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/test/eip1559.spec.ts
  packages/vm/lib/runTx.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/utils.ts
Labels: PR state: needs review, package: tx, package: vm
