Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-03, with the labels that each got.

#1048 Implement EIP2718 and EIP2930
  .gitmodules
  packages/block/CHANGELOG.md
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/common/src/eips/2718.json
  packages/common/src/eips/2930.json
  packages/common/src/eips/index.ts
  packages/common/src/hardforks/berlin.json
  packages/common/src/index.ts
  packages/common/tests/eips.spec.ts
  packages/tx/CHANGELOG.md
  packages/tx/karma.conf.js
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/index.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/transaction.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/src/types.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/eip2930.spec.ts
  packages/tx/test/index.ts
  packages/tx/test/json/eip2930blockRLP.json
  packages/tx/test/json/eip2930txs.json
  packages/tx/test/json/txs.json
  packages/tx/test/legacy.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/tx/test/transactionRunner.ts
  packages/vm/CHANGELOG.md
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/examples/run-transactions-complete/index.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runTx.ts
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/EIPs/eip-2929.spec.ts
  packages/vm/tests/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/tests/api/events.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, package: block, package: common, package: tx, package: vm, type: feature, type: refactor, type: test all hardforks

#1136 Remove @types/bn.js from block,blockchain,trie,tx,vm packages
  packages/block/package.json
  packages/blockchain/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/tx/src/transactionFactory.ts
  packages/vm/benchmarks/util.ts
  packages/vm/lib/evm/opcodes/EIP1283.ts
  packages/vm/lib/evm/opcodes/EIP2200.ts
  packages/vm/lib/evm/opcodes/EIP2929.ts
  packages/vm/lib/evm/precompiles/01-ecrecover.ts
  packages/vm/lib/evm/precompiles/02-sha256.ts
  packages/vm/lib/evm/precompiles/03-ripemd160.ts
  packages/vm/lib/evm/precompiles/04-identity.ts
  packages/vm/lib/evm/precompiles/05-modexp.ts
  packages/vm/lib/evm/precompiles/06-ecadd.ts
  packages/vm/lib/evm/precompiles/07-ecmul.ts
  packages/vm/lib/evm/precompiles/08-ecpairing.ts
  packages/vm/lib/evm/precompiles/09-blake2f.ts
  packages/vm/lib/evm/precompiles/0a-bls12-g1add.ts
  packages/vm/lib/evm/precompiles/0b-bls12-g1mul.ts
  packages/vm/lib/evm/precompiles/0c-bls12-g1multiexp.ts
  packages/vm/lib/evm/precompiles/0d-bls12-g2add.ts
  packages/vm/lib/evm/precompiles/0e-bls12-g2mul.ts
  packages/vm/lib/evm/precompiles/0f-bls12-g2multiexp.ts
  packages/vm/lib/evm/precompiles/10-bls12-pairing.ts
  packages/vm/lib/evm/precompiles/11-bls12-map-fp-to-g1.ts
  packages/vm/lib/evm/precompiles/12-bls12-map-fp2-to-g2.ts
  packages/vm/lib/evm/precompiles/types.ts
  packages/vm/lib/evm/precompiles/util/bls12_381.ts
  packages/vm/package.json
Labels: PR state: needs review, package: block, package: blockchain, package: trie, package: tx, package: vm

#1129 Common: add YoloV3 network
  .gitmodules
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/package.json
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/net/protocol/lesprotocol.spec.ts
  packages/common/src/chains/index.ts
  packages/common/src/chains/yolov3.json
  packages/common/src/genesisStates/index.ts
  packages/common/src/genesisStates/yolov3.json
  packages/common/src/index.ts
  packages/devp2p/src/eth/index.ts
  packages/devp2p/src/util.ts
  packages/ethash/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/vm/package.json
Labels: PR state: needs review, package: client, package: common

#1138 Tx Renaming / Improve backwards-compatibility
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/index.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/src/types.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/eip2930.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/tx/test/transactionRunner.ts
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/examples/run-transactions-complete/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runTx.ts
  packages/vm/tests/api/EIPs/eip-2929.spec.ts
  packages/vm/tests/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/tests/api/events.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, package: block, package: tx, package: vm, prio: P3 important, type: enhancement, type: refactor

#1139 VM, Block: large ChainID ecrecover fixes
  packages/block/src/header.ts
  packages/vm/lib/evm/precompiles/01-ecrecover.ts
Labels: PR state: needs review, package: block, package: vm, type: bug

#1141 EIP-2718/EIP-2930 Typed Tx Improvements and Tests
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/src/types.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/eip2930.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/transactionFactory.spec.ts
Labels: PR state: needs review, package: tx, prio: P3 important, type: enhancement, type: refactor

#1143 Trie: fix benchmarks
  .github/workflows/trie-build.yml
  .github/workflows/vm-pr.yml
Labels: PR state: merge ready, type: CI

#1130 Client: Add 6 new RPC methods
  package-lock.json
  packages/client/README.md
  packages/client/lib/rpc/index.ts
  packages/client/lib/rpc/modules/admin.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/modules/net.ts
  packages/client/lib/rpc/modules/web3.ts
  packages/client/lib/rpc/types.ts
  packages/client/lib/rpc/validation.ts
  packages/client/package.json
  packages/client/test/rpc/admin/nodeInfo.spec.ts
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getBlockNumber.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/mockBlockchain.ts
  packages/client/test/rpc/net/listening.spec.ts
  packages/client/test/rpc/net/peerCount.spec.ts
  packages/client/test/rpc/net/version.spec.ts
  packages/client/test/rpc/validation.spec.ts
Labels: PR state: needs review, package: client

#1144 Tx: Small fixes and improvements
  packages/block/src/block.ts
  packages/block/src/types.ts
  packages/client/lib/config.ts
  packages/common/src/index.ts
  packages/tx/.eslintrc.js
  packages/tx/examples/ropsten-tx.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/src/types.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/tx/test/transactionRunner.ts
Labels: PR state: needs review, package: common, package: tx

#1145 Client: split CLI transports options for bootnodes and multiaddrs
  packages/client/README.md
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/util/parse.ts
Labels: PR state: needs review, package: client

#1067 Client: Save node key
  .github/workflows/trie-build.yml
  packages/client/bin/cli.ts
  packages/client/browser/index.ts
  packages/client/lib/config.ts
  packages/client/lib/net/server/libp2pserver.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/net/server/server.ts
  packages/client/test/net/server/libp2pserver.spec.ts
Labels: PR state: needs review, package: client

#1147 Client: local client connections for debugging
  packages/client/README.md
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/net/peerpool.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/package.json
  packages/client/test/net/server/rlpxserver.spec.ts
Labels: PR state: needs review, package: client, type: enhancement

#1134 Publish monorepo to virtual registry for e2e testing
  .github/workflows/e2e-tests.yml
  .gitignore
  README.md
  package-lock.json
  package.json
  scripts/e2e-publish.sh
  scripts/e2e-resolutions.js
  verdaccio.yml
Labels: PR state: needs review, type: CI

#1149 Fix devp2p browser compatibility
  packages/client/README.md
  packages/devp2p/README.md
  packages/devp2p/src/browser/dns.ts
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/test/browser.ts
  packages/devp2p/test/index.ts
Labels: PR state: needs review, package: devp2p, type: bug

#1150 Common: add BN support
  package-lock.json
  packages/block/src/header.ts
  packages/blockchain/src/index.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/rpc/modules/admin.ts
  packages/client/lib/rpc/modules/net.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/net/protocol/lesprotocol.spec.ts
  packages/common/package.json
  packages/common/src/chains/yolov3.json
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/chains.spec.ts
  packages/common/tests/customChains.ts
  packages/devp2p/package.json
  packages/devp2p/src/eth/index.ts
  packages/devp2p/src/les/index.ts
  packages/tx/examples/custom-chain-tx.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/test/eip2930.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/runBlock.ts
Labels: PR state: needs review, package: common

#1153 Make genesis params settable for any hardfork in block headers
  packages/block/src/header.ts
Labels: PR state: open discussion, package: block

#1156 Client: small BN fixes
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/rpc/modules/admin.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/net/protocol/lesprotocol.spec.ts
Labels: PR state: needs review, package: client, type: bug

#1160 codecov: configure threshold for patch status check
  codecov.yml
  packages/client/codecov.yml
  packages/devp2p/codecov.yml
  packages/trie/codecov.yml
  packages/util/codecov.yml
Labels: type: CI

#1159 devp2p: implement ETH/65
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/devp2p/src/eth/index.ts
  packages/devp2p/test/integration/eth-simulator.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review, package: devp2p, prio: P3 important, type: feature

#1166 VM: Refactor runTx() API tests / add Typed Transaction tests
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/utils.ts
Labels: PR state: needs review, package: vm, type: tests

#1170 VM: Generate Access Lists in runTx()
  packages/tx/src/types.ts
  packages/util/src/address.ts
  packages/util/src/bytes.ts
  packages/util/test/address.spec.ts
  packages/vm/examples/run-transactions-complete/index.ts
  packages/vm/karma.conf.js
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
  packages/vm/tests/config.ts
Labels: PR state: needs review, package: util, package: vm, prio: P3 important, type: feature

#1173 Stop throwing when non-hex-prefixed addresses are passed to util `isValid..` methods
  packages/util/CHANGELOG.md
  packages/util/src/account.ts
  packages/util/test/account.spec.ts
  packages/util/test/bytes.spec.ts
Labels: package: util

#1179 Fix default value for empty access lists
  packages/tx/src/eip2930Transaction.ts
  packages/tx/test/eip2930.spec.ts
Labels: PR state: needs review, package: tx

#1158 VM: Add vm.buildBlock() and BlockBuilder API
  packages/block/src/header.ts
  packages/block/test/clique.spec.ts
  packages/vm/CHANGELOG.md
  packages/vm/lib/buildBlock.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/tests/api/buildBlock.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
Labels: PR state: merge ready, package: block, package: vm
