Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-08, with the labels that each got.

#1387 tx: clarify documentation for `gasPrice` under `FeeMarketEIP1559TxData` interface
  packages/tx/CHANGELOG.md
  packages/tx/src/types.ts
Labels: PR state: needs review, package: tx, type: docs

#1390 VM: New release v5.5.2
  package-lock.json
  packages/client/package.json
  packages/vm/CHANGELOG.md
  packages/vm/docs/classes/state_statemanager.default.md
  packages/vm/docs/interfaces/state_interface.eip2929statemanager.md
  packages/vm/docs/interfaces/state_interface.statemanager.md
  packages/vm/docs/modules/state_interface.md
  packages/vm/package.json
  packages/vm/src/evm/eei.ts
  packages/vm/src/state/interface.ts
  packages/vm/src/state/stateManager.ts
  packages/vm/tests/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/tests/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
Labels: PR state: needs review, package: vm, type: release

#1391 ci: fix hardhat e2e resolutions
  .github/workflows/e2e-hardhat.yml
  config/README.md
  scripts/e2e-hardhat.sh
  scripts/e2e-inject-resolutions.js
Labels: PR state: needs review, type: CI

#1393 block, common: set constants block headers fields for The Merge
  packages/block/package.json
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/test/mergeBlock.spec.ts
  packages/common/src/chains/calaveras.json
  packages/common/src/chains/goerli.json
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/eips/3675.json
  packages/common/src/eips/index.ts
  packages/common/src/hardforks/index.ts
  packages/common/src/hardforks/shanghai.json
  packages/common/src/hardforks/theMerge.json
  packages/common/src/index.ts
  packages/common/tests/chains.spec.ts
  packages/common/tests/hardforks.spec.ts
  packages/vm/tests/api/index.spec.ts
Labels: PR state: needs review, package: block, package: common

#1395 monorepo: replace lerna with npm workspaces
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/e2e-hardhat.yml
  .github/workflows/ethash-build.yml
  .github/workflows/node-versions.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-pr.yml
  .gitignore
  config/E2E_TESTING.md
  config/MONOREPO.md
  config/cli/ts-build.sh
  lerna.json
  package-lock.json
  package.json
  packages/block/tsconfig.prod.json
  packages/blockchain/tsconfig.json
  packages/blockchain/tsconfig.prod.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/client/tsconfig.karma.json
  packages/client/tsconfig.prod.json
  packages/common/tsconfig.json
  packages/common/tsconfig.prod.json
  packages/devp2p/tsconfig.json
  packages/devp2p/tsconfig.prod.json
  packages/ethash/package.json
  packages/ethash/tsconfig.json
  packages/ethash/tsconfig.prod.json
  packages/trie/package.json
  packages/trie/tsconfig.json
  packages/trie/tsconfig.prod.json
  packages/tx/tsconfig.prod.json
  packages/util/tsconfig.prod.json
  packages/vm/karma.conf.js
  packages/vm/package-lock.json
  packages/vm/tests/tester.ts
  packages/vm/tests/util.ts
  packages/vm/tsconfig.browser.json
  packages/vm/tsconfig.json
  packages/vm/tsconfig.prod.json
  scripts/check-npm-version.sh
  scripts/e2e-publish.sh
Labels: PR state: needs review, package: monorepo

#1401 ci: simplify dependency cache code
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/e2e-hardhat.yml
  .github/workflows/ethash-build.yml
  .github/workflows/node-versions.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-pr.yml
  scripts/check-npm-version.sh
Labels: PR state: needs review, type: CI, type: test all hardforks

#1399 devp2p: Add snappy compression for devp2p - EIP-706
  package-lock.json
  packages/block/package.json
  packages/common/package.json
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/package.json
  packages/devp2p/src/@types/snappyjs/index.d.ts
  packages/devp2p/src/eth/index.ts
  packages/devp2p/src/les/index.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/test/integration/eth-simulator.ts
  packages/devp2p/test/integration/util.ts
  packages/devp2p/tsconfig.browser.json
  packages/devp2p/tsconfig.json
  packages/devp2p/tsconfig.prod.json
Labels: PR state: needs review, package: devp2p, package: client

#1373 trie: Better error checking for invalid proofs
  packages/trie/CHANGELOG.md
  packages/trie/README.md
  packages/trie/package.json
  packages/trie/src/baseTrie.ts
  packages/trie/src/util/walkController.ts
  packages/trie/test/proof.spec.ts
Labels: type: bug, PR state: needs review, package: trie

#1407 New MPT Release v4.2.1
  package-lock.json
  packages/block/package.json
  packages/client/package.json
  packages/trie/CHANGELOG.md
  packages/trie/docs/README.md
  packages/trie/docs/classes/baseTrie.Trie.md
  packages/trie/docs/classes/basetrie.md
  packages/trie/docs/classes/checkpointTrie.CheckpointTrie.md
  packages/trie/docs/classes/checkpointtrie.md
  packages/trie/docs/classes/secure.SecureTrie.md
  packages/trie/docs/classes/securetrie.md
  packages/trie/docs/classes/util_walkController.WalkController.md
  packages/trie/docs/classes/walkcontroller.md
  packages/trie/docs/modules.md
  packages/trie/docs/modules/baseTrie.md
  packages/trie/docs/modules/checkpointTrie.md
  packages/trie/docs/modules/secure.md
  packages/trie/docs/modules/util_walkController.md
  packages/trie/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: trie

#1409 Common: allow Common with custom genesis state (for a custom chain)
  packages/common/src/genesisStates/index.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/chains.spec.ts
  packages/common/tests/customChains.spec.ts
  packages/common/tests/genesisStates.spec.ts
  packages/vm/src/state/stateManager.ts
Labels: type: feature, PR state: needs review, type: refactor, package: vm, package: common

#1410 Remove tsbuild caches
  config/cli/clean-package.sh
  config/cli/clean-root.sh
  package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
Labels: type: meta

#1411 ethash: Switch out valid block RLP test data
  packages/ethash/test/ethash_block_rlp_tests.json
Labels: package: ethash

#1408 PoS/The Merge(tm) changes for `Blockchain` package
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/blockchain/package.json
  packages/blockchain/src/index.ts
  packages/blockchain/test/pos.spec.ts
  packages/blockchain/test/testdata/testnet.json
  packages/client/test/integration/util.ts
Labels: PR state: needs review, package: block, package: blockchain

#1132 Client: keep syncing at tip of chain
  packages/client/lib/client.ts
  packages/client/lib/config.ts
  packages/client/lib/net/peerpool.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/client.spec.ts
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/integration/util.ts
  packages/client/test/rpc/eth/syncing.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/sync/sync.spec.ts
Labels: PR state: needs review, package: client

#1415 client: move missing headers/bodies message to correct log level
  packages/client/lib/sync/fetcher/blockfetcher.ts
Labels: PR state: needs review, package: client

#1414 common: create custom chain `common` from geth genesis file
  packages/client/bin/cli.ts
  packages/client/lib/util/parse.ts
  packages/client/test/util/gethnonce.json
  packages/client/test/util/params.json
  packages/client/test/util/parse.spec.ts
  packages/common/src/index.ts
  packages/common/tests/customChains.spec.ts
Labels: PR state: needs review, package: client

#1176 Client: add basic TxPool
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/service/service.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/lib/sync/txpool.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/service/lightethereumservice.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/sync/sync.spec.ts
  packages/client/test/sync/txpool.spec.ts
Labels: type: feature, PR state: needs review, package: client

#1419 Monorepo: separate build commands for node and browser
  config/cli/ts-build.sh
  packages/block/package.json
  packages/blockchain/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
Labels: package: monorepo

#1425 Devp2p: RLPx send message code and debug improvements
  packages/devp2p/src/rlpx/peer.ts
Labels: type: enhancement, package: devp2p

#1442 devp2p: add snappy compression to ping/pong
  packages/devp2p/src/rlpx/peer.ts
Labels: PR state: needs review, package: devp2p
