Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-06, with the labels that each got.

#1276 VM: add check to runTx that tx.maxFeePerGas >= block.baseFeePerGas
  packages/vm/lib/runTx.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: PR state: needs review, package: vm, type: enhancement

#1280 VM: add 1559 support to blockbuilder
  packages/vm/lib/buildBlock.ts
  packages/vm/tests/api/buildBlock.spec.ts
Labels: PR state: needs review, package: vm

#1283 Tx: Improve Code Documentation
  packages/tx/README.md
  packages/tx/docs/classes/basetransaction.basetransaction-1.md
  packages/tx/docs/classes/eip1559transaction.default.md
  packages/tx/docs/classes/eip2930transaction.default.md
  packages/tx/docs/classes/legacytransaction.default.md
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
Labels: PR state: needs review, package: tx, type: docs

#1282 VM: add tests to validate calculateOmmerReward
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/testdata/uncleData.json
Labels: PR state: needs review, package: vm, type: tests

#1284 ci: disable e2e-tests.yml completely
  .github/workflows/e2e-tests.yml
Labels: type: CI

#1285 ci: remove skipped ci (e2e-tests)
  .github/workflows/e2e-tests.yml
Labels: type: CI

#1265 feat: "the merge" rpc scaffolding
  packages/client/lib/rpc/modules/consensus.ts
  packages/client/lib/rpc/modules/index.ts
  packages/client/lib/rpc/validation.ts
  packages/client/test/rpc/consensus/assembleBlock.spec.ts
  packages/client/test/rpc/consensus/finaliseBlock.spec.ts
  packages/client/test/rpc/consensus/newBlock.spec.ts
  packages/client/test/rpc/consensus/setHead.spec.ts
  packages/client/test/rpc/eth/getBlockByHash.spec.ts
Labels: package: client

#1281 Common: added static method for checking if chainId is supported
  packages/common/src/index.ts
  packages/common/tests/chains.spec.ts
Labels: package: common

#1286 common: add calaveras
  packages/common/src/chains/baikal.json
  packages/common/src/chains/calaveras.json
  packages/common/src/chains/index.ts
  packages/common/src/genesisStates/calaveras.json
  packages/common/src/genesisStates/index.ts
Labels: PR state: needs review, package: common

#1292 Tx: Usability Improvements
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/test/index.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
Labels: PR state: needs review, package: tx, type: enhancement

#1295 New Releases VM v5.4.1, Tx v3.2.1, Common v2.3.1
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/common/docs/classes/index.default.md
  packages/common/docs/modules/genesisstates.md
  packages/common/package.json
  packages/devp2p/package.json
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/docs/classes/basetransaction.basetransaction-1.md
  packages/tx/docs/classes/eip1559transaction.default.md
  packages/tx/docs/classes/eip2930transaction.default.md
  packages/tx/docs/classes/legacytransaction.default.md
  packages/tx/docs/classes/transactionfactory.default.md
  packages/tx/docs/interfaces/types.accesslisteip2930txdata.md
  packages/tx/docs/interfaces/types.feemarketeip1559txdata.md
  packages/tx/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, package: common, package: tx, package: vm, type: release

#1293 util: rename bnToRlp to bnToUnpaddedBuffer
  packages/block/src/header.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/util/src/account.ts
  packages/util/src/types.ts
  packages/util/test/types.spec.ts
Labels: PR state: needs review, package: util

#1296 Common: removed retired dev networks
  packages/common/README.md
  packages/common/src/chains/aleut.json
  packages/common/src/chains/baikal.json
  packages/common/src/chains/index.ts
  packages/common/src/chains/yolov3.json
  packages/common/src/genesisStates/aleut.json
  packages/common/src/genesisStates/baikal.json
  packages/common/src/genesisStates/index.ts
  packages/common/src/genesisStates/yolov3.json
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/json/eip1559.json
Labels: package: common

#1300 Add config readme
  config/README.md
  packages/client/package.json
Labels: PR state: needs review, package: monorepo

#1266 feat: extend eth_getBlockByNumber JSON-RPC method
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/validation.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
Labels: PR state: needs review, package: client, type: feature

#1253 blockchain: fix _putBlockOrHeader and add a test
  packages/blockchain/src/index.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/reorg.spec.ts
Labels: package: blockchain

#1305 Fixing node-versions GitHub actions run
  .github/workflows/node-versions.yml
  package-lock.json
  packages/client/package.json
Labels: PR state: needs review, package: client, package: monorepo, type: CI, type: bug

#1307 devp2p: update example to berlin hard fork
  packages/devp2p/examples/peer-communication.ts
Labels: PR state: needs review, package: devp2p

#1310 Client: Calaveras Sync Improvements + Working Branch
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fetcher/headerfetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/integration/lightsync.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
Labels: PR state: WIP, package: client, type: enhancement, type: feature, type: meta

#1308 vm: Add first tests for bls12-g2multiexp precompile
  packages/vm/tests/api/EIPs/eip-2537-BLS.spec.ts
Labels: PR state: needs review, package: vm

#1312 Add EIP-2098 support to work with compact 64-byte signatures
  packages/util/src/signature.ts
  packages/util/test/signature.spec.ts
Labels: PR state: needs review, package: util

#1315 Tx: New supports(capability) method
  packages/block/src/block.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/types.ts
  packages/tx/test/base.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/tests/api/runBlock.spec.ts
Labels: PR state: needs review, package: block, package: tx, package: vm, type: feature, type: refactor

#1316 block: check and convert difficulty, gasPrice, and value parameters if string integers in from-rpc
  packages/block/src/from-rpc.ts
  packages/block/src/header-from-rpc.ts
  packages/block/src/helpers.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/testdata/testdata-from-rpc-difficulty-as-integer.json
  packages/block/typedoc.js
Labels: PR state: needs review, package: block

#1319 Blockchain: v5.3.1 Release
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/package.json
  packages/vm/package.json
Labels: package: blockchain, type: release

#1320 typedoc: convert link resolution to new syntax
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/blockchain/src/index.ts
  packages/client/lib/config.ts
  packages/common/src/index.ts
  packages/trie/src/baseTrie.ts
  packages/trie/src/secure.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/types.ts
  packages/util/src/types.ts
  packages/vm/src/evm/evm.ts
  packages/vm/src/evm/interpreter.ts
  packages/vm/src/index.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runCode.ts
  packages/vm/src/runTx.ts
  packages/vm/src/state/stateManager.ts
Labels: PR state: needs review, type: docs

#1317 Common: Reworked Custom Chain Instantiation, Polygon/Arbitrum Supported Chains Integration
  packages/common/src/index.ts
  packages/common/tests/customChains.spec.ts
Labels: PR state: needs review, package: common, type: enhancement, type: feature, type: refactor

#1325 monorepo: Restructure Config Documentation
  README.md
  config/README.md
  config/monorepo.md
  config/testing.md
Labels: PR state: needs review, package: monorepo

#1326 blockbuilder: allow customizable baseFeePerGas
  packages/vm/CHANGELOG.md
  packages/vm/src/buildBlock.ts
Labels: PR state: needs review, package: vm

#1322 Common: Chain & Hardfork enums
  packages/common/src/index.ts
  packages/common/tests/chains.spec.ts
  packages/common/tests/customChains.spec.ts
Labels: PR state: needs review, package: common
