Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-02, with the labels that each got.

#1075 Client: Fix Sync Bugs and Error Messages
  packages/block/src/block.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/sync/execution/execution.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/peerpool.spec.ts
  packages/client/test/integration/util.ts
  packages/devp2p/src/rlpx/peer.ts
Labels: PR state: needs review, package: client, package: devp2p, type: bug

#1080 VM Debugging
  packages/vm/README.md
  packages/vm/debug.png
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opcodes/util.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
Labels: PR state: needs review, effort: E2 days, eval: needs discussion, package: vm, type: enhancement

#1074 Clique small fixes / follow-up work
  package-lock.json
  packages/block/package.json
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/clique.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/package.json
  packages/blockchain/src/index.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/client/package.json
  packages/ethash/package.json
  packages/trie/package.json
  packages/tx/examples/custom-chain-tx.ts
  packages/tx/package.json
  packages/vm/lib/evm/eei.ts
  packages/vm/package.json
  packages/vm/tests/api/runCall.spec.ts
Labels: PR state: needs review, package: block, package: blockchain

#1070 Implement EIP-1459: DNS peer discovery
  package-lock.json
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/net/peerpool.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/net/server/server.ts
  packages/client/lib/types.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/webpack.config.js
  packages/common/src/chains/goerli.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/chains.spec.ts
  packages/devp2p/package.json
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/src/dns/enr.ts
  packages/devp2p/src/dns/index.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/kbucket.ts
  packages/devp2p/src/index.ts
  packages/devp2p/src/util.ts
  packages/devp2p/test/dns.ts
  packages/devp2p/test/enr.ts
  packages/devp2p/test/index.ts
  packages/devp2p/test/integration/dpt-simulator.ts
  packages/devp2p/test/integration/util.ts
  packages/devp2p/test/testdata.json
Labels: PR state: needs review, package: client, package: common, package: devp2p

#1087 Client & dDevp2p connection improvements
  packages/client/lib/config.ts
  packages/client/lib/net/protocol/rlpxsender.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/test/net/protocol/rlpxsender.spec.ts
  packages/devp2p/src/les/index.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/test/integration/les-simulator.ts
Labels: PR state: needs review, package: client, package: devp2p, type: enhancement

#1084 VM: Add type definitions for logs
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/types.ts
  packages/vm/lib/runBlock.ts
Labels: PR state: merge ready, PR state: needs review, package: vm, type: enhancement

#1089 Block, Tx: always copy Common on instantiation / Fix HF consistency bugs
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/clique.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/index.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/tx/src/transaction.ts
  packages/tx/src/types.ts
  packages/tx/test/api.ts
  packages/vm/README.md
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/tests/api/runBlock.spec.ts
Labels: PR state: needs review, package: block, package: blockchain, package: client, type: bug, type: enhancement, type: refactor

#1088 Client/Block: Clique PoA fixes
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/clique.spec.ts
  packages/block/test/header.spec.ts
  packages/block/test/testdata/blocks_goerli.json
  packages/block/test/testdata/blocks_mainnet.json
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/index.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/test/sync/execution/vmexecution.spec.ts
  packages/client/test/testdata/blocks_goerli.json
  packages/tx/src/transaction.ts
  packages/tx/src/types.ts
  packages/tx/test/api.ts
  packages/vm/README.md
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/tests/api/runBlock.spec.ts
Labels: PR state: needs review, package: block, package: client, type: bug, type: enhancement, type: refactor

#1091 Client, VM -> Rinkeby: Fix consensus error on block 14182 (invalid receipt trie)
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/util/debug.ts
  packages/vm/lib/runTx.ts
Labels: PR state: WIP, package: client, package: vm, type: bug, type: enhancement

#1081 VM -> Mainnet: fix Frontier consensus bug along CREATE with not enough gas (WIP)
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/evm.ts
Labels: PR state: needs review, package: vm, type: bug

#1095 Rename @ethereumjs/trie to merkle-patricia-tree
  README.md
  package-lock.json
  package.json
  packages/block/package.json
  packages/block/src/block.ts
  packages/client/README.md
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/util/debug.ts
  packages/client/lib/util/parse.ts
  packages/client/package.json
  packages/trie/CHANGELOG.md
  packages/trie/README.md
  packages/trie/docs/README.md
  packages/trie/docs/classes/_basetrie_.trie.md
  packages/trie/docs/classes/_checkpointtrie_.checkpointtrie.md
  packages/trie/docs/classes/_secure_.securetrie.md
  packages/trie/docs/classes/_util_walkcontroller_.walkcontroller.md
  packages/trie/docs/modules/_basetrie_.md
  packages/trie/docs/modules/_checkpointtrie_.md
  packages/trie/docs/modules/_secure_.md
  packages/trie/docs/modules/_util_walkcontroller_.md
  packages/trie/package.json
  packages/trie/src/baseTrie.ts
  packages/trie/src/secure.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
  packages/vm/tests/BlockchainTestsRunner.ts
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/state/cache.spec.ts
Labels: PR state: needs review, eval: needs context, eval: needs validation, package: trie, type: refactor, type: release

#1027 Upgrade libp2p
  package-lock.json
  package.json
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/bin/cli.ts
  packages/client/browser/index.ts
  packages/client/browser/libp2pnode.ts
  packages/client/lib/client.ts
  packages/client/lib/config.ts
  packages/client/lib/net/peer/libp2pnode.ts
  packages/client/lib/net/peer/libp2ppeer.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/net/protocol/libp2psender.ts
  packages/client/lib/net/server/libp2pserver.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/net/server/server.ts
  packages/client/lib/types.ts
  packages/client/lib/util/parse.ts
  packages/client/package.json
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/integration/mocks/mockpeer.ts
  packages/client/test/integration/mocks/mocksender.ts
  packages/client/test/integration/mocks/mockserver.ts
  packages/client/test/integration/mocks/network.ts
  packages/client/test/net/peer/libp2pnode.spec.ts
  packages/client/test/net/peer/libp2ppeer.spec.ts
  packages/client/test/net/protocol/libp2psender.spec.ts
  packages/client/test/net/server/libp2pserver.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/test/util/parse.spec.ts
  packages/client/tsconfig.browser.json
  packages/client/tsconfig.json
  packages/client/tsconfig.karma.json
  packages/client/tsconfig.prod.json
Labels: PR state: needs review, dependencies, package: client, type: refactor

#1097 Add node discovery mode flags & define network-based defaults
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/test/config.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review, package: client, package: devp2p

#1077 Tx: fix assignment of v,r,s in fromValuesArray
  packages/tx/src/transaction.ts
  packages/tx/test/api.ts
Labels: PR state: needs review, package: tx, type: bug

#1101 VM/Client: fix HF switching. Fix TangerineWhistle update bug.
  packages/client/lib/sync/execution/vmexecution.ts
  packages/vm/lib/evm/opcodes/codes.ts
Labels: PR state: needs review, package: client, package: vm, type: bug

#1104 VM: Update run-solidity-contract example
  packages/vm/examples/.gitignore
  packages/vm/examples/run-solidity-contract/contracts/Greeter.sol
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/examples/run-solidity-contract/package.json
Labels: PR state: needs review, package: vm

#1105 Blockchain: if passed header only validate header
  packages/blockchain/src/index.ts
Labels: PR state: needs review, package: blockchain, type: bug

#1103 Client, Blockchain: Fix Goerli Clique Difficulty Bug
  packages/blockchain/README.md
  packages/blockchain/package.json
  packages/blockchain/src/index.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/vm/README.md
Labels: PR state: needs review, package: blockchain, package: client, type: bug

#1109 New Tx Release v3.0.2
  packages/block/package.json
  packages/devp2p/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/vm/package.json
Labels: PR state: needs review, package: tx, type: release

#1108 MPT: New Release v4.1.0
  packages/block/package.json
  packages/client/package.json
  packages/trie/CHANGELOG.md
  packages/trie/README.md
  packages/trie/package.json
  packages/trie/src/baseTrie.ts
  packages/vm/package.json
Labels: PR state: needs review, package: trie, type: release

#1113 client -> restart rlpx server on peerpool re-bootstrap
  packages/client/lib/net/peerpool.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/sync/fetcher/fetcher.ts
Labels: PR state: needs review, package: client

#1117 Update RPC Modules to Async
  packages/client/README.md
  packages/client/bin/cli.ts
  packages/client/lib/rpc/modules/admin.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/modules/net.ts
  packages/client/lib/rpc/modules/web3.ts
  packages/client/lib/rpc/validation.ts
  packages/client/package.json
  packages/client/test/rpc/blockChainStub.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getBlockNumber.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/validation.spec.ts
Labels: PR state: needs review, package: client

#1112 Common: Add EventEmitter and hardforkChanged event
  packages/client/lib/sync/execution/vmexecution.ts
  packages/common/README.md
  packages/common/src/index.ts
  packages/common/tests/hardforks.spec.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/tests/api/opcodes.spec.ts
Labels: PR state: needs review, package: client, package: common, package: vm, type: feature

#1121 Update run-solidity-contract readme instructions
  packages/vm/examples/run-solidity-contract/README.md
Labels: PR state: merge ready

#1125 Common: Add new isActivatedEIP() method
  packages/common/src/eips/2315.json
  packages/common/src/index.ts
  packages/common/tests/eips.spec.ts
Labels: package: common, type: feature

#1126 VM, Common: updated EIP checks / added EIP-2565, EIP-2929 to Berlin HF
  .github/workflows/vm-pr.yml
  packages/common/src/hardforks/berlin.json
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/opcodes/EIP2929.ts
  packages/vm/lib/evm/precompiles/05-modexp.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runTx.ts
  packages/vm/package.json
Labels: package: common, package: vm, type: enhancement, type: tests

#1124 Fix EIP2929
  .github/workflows/vm-pr.yml
  packages/common/src/eips/2929.json
  packages/common/src/hardforks/berlin.json
  packages/vm/README.md
  packages/vm/lib/evm/eei.ts
  packages/vm/lib/evm/evm.ts
  packages/vm/lib/evm/interpreter.ts
  packages/vm/lib/evm/opcodes/EIP1283.ts
  packages/vm/lib/evm/opcodes/EIP2200.ts
  packages/vm/lib/evm/opcodes/EIP2929.ts
  packages/vm/lib/evm/opcodes/functions.ts
  packages/vm/lib/evm/opcodes/util.ts
  packages/vm/lib/evm/precompiles/05-modexp.ts
  packages/vm/lib/evm/precompiles/index.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runTx.ts
  packages/vm/lib/state/interface.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/package.json
  packages/vm/tests/GeneralStateTestsRunner.ts
  packages/vm/tests/api/EIPs/eip-2929.spec.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: PR state: needs review, package: vm, prio: P2 very important
