Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-07, with the labels that each got.

#1334 block: Add fix for kovan nonce
  packages/block/src/header.ts
Labels: PR state: needs review, PR state: open discussion, package: block, package: client

#1314 Client: eth_chainID and eth_syncing RPC implementations
  packages/client/lib/client.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/client.spec.ts
  packages/client/test/rpc/eth/chainId.spec.ts
  packages/client/test/rpc/eth/syncing.spec.ts
  packages/client/test/rpc/helpers.ts
Labels: PR state: needs review, package: client, type: feature

#1330 Add baseFeePerGas to block header from rpc + fix readme typo
  README.md
  packages/block/src/header-from-rpc.ts
Labels: package: block

#1324 devp2p/client: add les v3/v4
  packages/block/src/block.ts
  packages/blockchain/src/index.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/protocol/boundprotocol.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/service/lightethereumservice.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/net/protocol/lesprotocol.spec.ts
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/src/les/index.ts
  packages/devp2p/test/integration/les-simulator.ts
Labels: PR state: needs review, package: client, package: devp2p

#1337 block: add london from-rpc test
  packages/block/src/helpers.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/testdata/testdata-from-rpc-goerli-london.json
Labels: PR state: needs review, package: block, type: tests

#1336 client: README updates - CLI parameters
  packages/client/README.md
Labels: PR state: open discussion, package: common, type: docs

#1331 devp2p/client: upgrade to eth/66
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/devp2p/examples/peer-communication.ts
  packages/devp2p/src/eth/index.ts
  packages/devp2p/test/integration/eth-simulator.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review, package: client, package: devp2p

#1165 client: add basic cli test
  .github/workflows/client-build.yml
  packages/client/package.json
  packages/client/test/cli/cli.spec.ts
Labels: PR state: needs review, package: client, type: CI

#1344 common: remove dao hardfork from chains when not applied
  packages/common/src/chains/calaveras.json
  packages/common/src/chains/goerli.json
  packages/common/src/chains/kovan.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/tests/chains.spec.ts
  packages/common/tests/hardforks.spec.ts
Labels: PR state: needs review, package: common

#1346 ci: fix failing node 16
  .github/workflows/node-versions.yml
  package-lock.json
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/index.ts
  packages/client/karma.conf.js
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/client.ts
  packages/client/lib/config.ts
  packages/client/lib/net/server/libp2pserver.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/lib/sync/execution/execution.ts
  packages/client/lib/sync/sync.ts
  packages/devp2p/package.json
  packages/ethash/src/index.ts
  packages/trie/src/baseTrie.ts
  packages/trie/src/checkpointDb.ts
  packages/trie/src/db.ts
  packages/vm/package-lock.json
Labels: PR state: needs review, package: client, type: CI

#1353 Readme gh actions url fixes
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/devp2p/README.md
  packages/trie/README.md
  packages/tx/README.md
  packages/vm/README.md
Labels: PR state: needs review, type: docs

#1187 Client: central event bus implementation
  packages/client/bin/cli.ts
  packages/client/browser/index.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/client.ts
  packages/client/lib/config.ts
  packages/client/lib/net/peer/libp2ppeer.ts
  packages/client/lib/net/peer/peer.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/peerpool.ts
  packages/client/lib/net/protocol/boundprotocol.ts
  packages/client/lib/net/protocol/protocol.ts
  packages/client/lib/net/server/libp2pserver.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/net/server/server.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/lib/service/service.ts
  packages/client/lib/sync/execution/execution.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/lib/types.ts
  packages/client/test/client.spec.ts
  packages/client/test/integration/client.spec.ts
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/integration/lightsync.spec.ts
  packages/client/test/integration/mocks/mockpeer.ts
  packages/client/test/integration/mocks/mockserver.ts
  packages/client/test/integration/mocks/network.ts
  packages/client/test/integration/peerpool.spec.ts
  packages/client/test/integration/util.ts
  packages/client/test/net/peer/libp2ppeer.spec.ts
  packages/client/test/net/peer/peer.spec.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/net/protocol/boundprotocol.spec.ts
  packages/client/test/net/server/libp2pserver.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/test/rpc/eth/chainId.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/service/lightethereumservice.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/sync.spec.ts
Labels: PR state: needs review, package: client, type: refactor

#1367 client: update changelog
  packages/client/CHANGELOG.md
Labels: PR state: needs review, package: client, type: docs

#1372 VM: fix EIP1559 bug to include tx value in balance check, fix nonce check
  packages/client/lib/rpc/modules/eth.ts
  packages/vm/CHANGELOG.md
  packages/vm/src/runTx.ts
  packages/vm/tests/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/tests/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/tests/api/EIPs/eip-3541.spec.ts
  packages/vm/tests/api/buildBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: PR state: needs review, package: vm, type: bug

#1348 Hardhat e2e test integration
  .github/workflows/e2e-hardhat.yml
  config/E2E_TESTING.md
  config/MONOREPO.md
  package.json
  packages/vm/CHANGELOG.md
  scripts/e2e-hardhat.sh
  scripts/e2e-inject-resolutions.js
  scripts/e2e-publish.sh
  scripts/e2e-resolutions.js
Labels: PR state: needs review, type: tests

#1374 VM: add tests for wrong transactions
  packages/vm/CHANGELOG.md
  packages/vm/tests/BlockchainTestsRunner.ts
Labels: PR state: needs review, package: vm, type: test all hardforks, type: tests

#1375 VM: fix several internal todos
  packages/vm/CHANGELOG.md
  packages/vm/src/evm/eei.ts
  packages/vm/src/evm/interpreter.ts
  packages/vm/src/evm/opcodes/EIP1283.ts
  packages/vm/src/evm/opcodes/EIP2200.ts
  packages/vm/src/evm/opcodes/EIP2929.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/src/evm/opcodes/util.ts
  packages/vm/src/index.ts
  packages/vm/src/runTx.ts
  packages/vm/tests/BlockchainTestsRunner.ts
Labels: PR state: needs review, package: vm, type: test all hardforks

#1376 trie: remove use of deprecated setRoot
  packages/trie/CHANGELOG.md
  packages/trie/src/baseTrie.ts
Labels: PR state: needs review, package: trie

#1378 eslint: rule clean up and consolidation
  config/eslint.js
  packages/block/.eslintrc.js
  packages/block/src/block.ts
  packages/blockchain/.eslintrc.js
  packages/client/.eslintrc.js
  packages/client/bin/cli.ts
  packages/client/lib/net/peer/peer.ts
  packages/client/lib/net/peerpool.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/util/parse.ts
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/integration/mocks/mockserver.ts
  packages/client/test/integration/mocks/network.ts
  packages/client/test/net/peer/libp2pnode.spec.ts
  packages/client/test/net/peer/libp2ppeer.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/common/.eslintrc.js
  packages/devp2p/.eslintrc.js
  packages/devp2p/src/browser/dns.ts
  packages/devp2p/src/rlpx/ecies.ts
  packages/ethash/.eslintrc.js
  packages/trie/src/baseTrie.ts
  packages/trie/src/checkpointDb.ts
  packages/trie/src/secure.ts
  packages/tx/.eslintrc.js
  packages/tx/src/transactionFactory.ts
  packages/vm/.eslintrc.js
  packages/vm/src/evm/opcodes/codes.ts
  packages/vm/tests/api/index.spec.ts
Labels: PR state: needs review

#1377 Client: Small types clean-up
  packages/client/lib/net/peerpool.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fetcher/headerfetcher.ts
Labels: PR state: needs review, package: client

#1369 VM: stateManager -> add modifyAccountFields method
  packages/vm/CHANGELOG.md
  packages/vm/src/evm/eei.ts
  packages/vm/src/state/interface.ts
  packages/vm/src/state/stateManager.ts
  packages/vm/tests/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/tests/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
Labels: PR state: needs review, package: vm

#1382 tx: fix getMessageToSign return type for EIP1559Transaction
  packages/tx/CHANGELOG.md
  packages/tx/src/eip1559Transaction.ts
Labels: PR state: needs review, package: tx
