Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-01, with the labels that each got.

#1022 client: fix Fetcher.ts failure on Node v14
  packages/client/lib/sync/fetcher/fetcher.ts
Labels: PR state: needs review, package: client

#1023 Client: make fetcher more typesafe
  package-lock.json
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/admin.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/modules/net.ts
  packages/client/lib/rpc/modules/web3.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fetcher/headerfetcher.ts
  packages/client/lib/sync/fetcher/types.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/lib/types.ts
  packages/client/test/rpc/blockChainStub.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/sync.spec.ts
Labels: PR state: needs review, package: client, type: enhancement

#1029 Devp2p DPT Type Improvements
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/devp2p/src/dpt/ban-list.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/kbucket.ts
  packages/devp2p/src/dpt/message.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/eth/index.ts
Labels: PR state: needs review, package: client, package: devp2p

#1026 Add EIP 2565, ModExp precompile gas cost
  packages/common/src/eips/2565.json
  packages/common/src/eips/index.ts
  packages/vm/lib/evm/precompiles/05-modexp.ts
  packages/vm/lib/index.ts
  packages/vm/tests/api/EIPs/eip-2565-modexp-gas-cost.spec.ts
  packages/vm/tests/api/EIPs/eip-2565-testdata.json
Labels: PR state: needs review, package: common, package: vm

#1031 Client Network Improvements
  packages/common/src/chains/goerli.json
  packages/devp2p/src/eth/index.ts
  packages/devp2p/src/rlpx/rlpx.ts
Labels: package: client, package: common, package: devp2p, type: bug, type: enhancement

#1028 Client: add VM execution
  packages/client/bin/cli.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/client.ts
  packages/client/lib/config.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/package.json
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/config.spec.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/integration/lightsync.spec.ts
  packages/client/test/integration/util.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/test/integration/dpt-simulator.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlock.ts
  packages/vm/lib/runBlockchain.ts
Labels: PR state: needs review, package: client, package: devp2p, package: vm

#1030 Trie: Rework Checkpointing Mechanism
  packages/client/lib/sync/fullsync.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/trie/package.json
  packages/trie/src/checkpointTrie.ts
  packages/trie/src/db.ts
  packages/trie/src/scratch.ts
  packages/trie/src/scratchReadStream.ts
  packages/trie/test/checkpoint.spec.ts
  packages/trie/test/db.spec.ts
  packages/trie/test/scratch.spec.ts
  packages/trie/test/stream.spec.ts
  packages/vm/lib/state/stateManager.ts
  packages/vm/tests/util.ts
Labels: PR state: blocked, PR state: needs review, package: trie, package: vm, type: refactor

#1039 Add an option to disable the block gas limit check in runTx
  packages/vm/lib/runTx.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: package: tx

#1042 Fix isSigned returning true for unsigned txs
  packages/tx/src/transaction.ts
  packages/tx/test/api.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: PR state: needs review, package: tx, type: bug

#1035 Trie: cache CheckpointTrie in memory
  packages/trie/src/checkpointDb.ts
  packages/trie/src/checkpointTrie.ts
  packages/trie/src/db.ts
  packages/trie/src/secure.ts
  packages/trie/test/checkpointDb.spec.ts
  packages/trie/test/db.spec.ts
  packages/vm/tests/BlockchainTestsRunner.ts
Labels: PR state: needs review, package: trie, type: enhancement, type: performance, type: test all hardforks

#1036 Network improvements
  packages/client/lib/sync/fullsync.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/kbucket.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/src/util.ts
  packages/devp2p/test/integration/dpt-simulator.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review

#1034 Common: Custom Chain File Integration
  packages/common/README.md
  packages/common/src/chains/goerli.json
  packages/common/src/chains/index.ts
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/chains.ts
  packages/common/tests/customChains.ts
  packages/common/tests/data/testnet.json
  packages/common/tests/data/testnet2.json
  packages/common/tests/data/testnet3.json
  packages/common/tests/params.ts
Labels: PR state: blocked, PR state: needs review, package: common, type: feature

#1063 Tx v3.0.1 Release
  packages/tx/CHANGELOG.md
  packages/tx/package.json
Labels: package: tx, type: release

#1064 Devp2p: fix a peer data processing bug
  packages/devp2p/src/rlpx/peer.ts
Labels: PR state: needs review, package: devp2p, type: bug

#1065 Client: Warning on not possible further block execution
  packages/blockchain/src/index.ts
  packages/blockchain/test/index.ts
  packages/client/lib/sync/fullsync.ts
  packages/vm/lib/index.ts
  packages/vm/lib/runBlockchain.ts
Labels: PR state: needs review, package: blockchain, package: client, package: vm

#1032 Add Clique Support
  package-lock.json
  packages/block/src/block.ts
  packages/block/src/clique.ts
  packages/block/src/from-rpc.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/clique.spec.ts
  packages/block/test/header.spec.ts
  packages/block/test/mockchain.ts
  packages/block/test/testdata/testdata-from-rpc-goerli.json
  packages/block/test/util.ts
  packages/blockchain/package.json
  packages/blockchain/src/clique.ts
  packages/blockchain/src/db/constants.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/db/operation.ts
  packages/blockchain/src/index.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/blockchain/test/reorg.ts
  packages/common/package.json
  packages/common/src/chains/goerli.json
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/chains.spec.ts
  packages/common/tests/eips.spec.ts
  packages/common/tests/genesisStates.spec.ts
  packages/common/tests/hardforks.spec.ts
  packages/common/tests/params.spec.ts
  packages/vm/lib/evm/eei.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/runBlockchain.spec.ts
Labels: PR state: needs review, package: block, package: blockchain, package: common, package: vm, type: feature

#1068 Client: refactor execution
  packages/blockchain/src/index.ts
  packages/blockchain/test/index.spec.ts
  packages/blockchain/test/testdata/blocks_mainnet.json
  packages/blockchain/test/testdata/testdata.json
  packages/client/bin/cli.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/config.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/sync/execution/execution.ts
  packages/client/lib/sync/execution/index.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/util.ts
  packages/client/test/sync/execution/vmexecution.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/testdata/blocks_mainnet.json
  packages/client/test/testdata/testnet.json
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/hardforks.spec.ts
Labels: PR state: needs review, package: client, type: refactor
