Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2021-10, with the labels that each got.

#1505 Client: add JSON-RPC help (`--helprpc`)
  packages/client/bin/cli.ts
  packages/client/lib/rpc/index.ts
Labels: PR state: needs review, type: docs, type: enhancement, package: client

#1509 client: merge work continued
  config/typedoc.js
  package-lock.json
  packages/block/src/header-from-rpc.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/header.spec.ts
  packages/block/test/mergeBlock.spec.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/index.ts
  packages/client/bin/cli.ts
  packages/client/lib/miner/miner.ts
  packages/client/lib/net/peer/libp2ppeer.ts
  packages/client/lib/net/server/libp2pserver.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/sync/execution/vmexecution.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/util/parse.ts
  packages/client/package.json
  packages/client/test/testdata/geth_genesis_merge_interop_taunas.json
  packages/client/test/util/parse.spec.ts
  packages/client/webpack.config.js
  packages/tx/src/legacyTransaction.ts
  packages/util/src/signature.ts
  packages/vm/benchmarks/util.ts
  packages/vm/package.json
  packages/vm/src/buildBlock.ts
  packages/vm/src/evm/evm.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/state/stateManager.ts
  packages/vm/tests/api/EIPs/eip-2565-modexp-gas-cost.spec.ts
  packages/vm/tests/api/buildBlock.spec.ts
Labels: PR state: needs review, package: block, package: blockchain, package: client

#1518 trie: Prepare v4.2.2 release
  package-lock.json
  packages/block/package.json
  packages/client/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/vm/package.json
Labels: type: release, package: trie

#1516 vm: fix accountexists bug in pre-SD hardforks
  packages/vm/src/state/stateManager.ts
  packages/vm/tests/api/state/accountExists.spec.ts
Labels: PR state: needs review, package: vm
