Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-06, with the labels that each got.

#1927 Last round of master v5 Releases
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/docs/README.md
  packages/util/docs/classes/BN.md
  packages/util/docs/enums/TypeOutput.md
  packages/util/docs/interfaces/rlp.List.md
  packages/util/docs/modules/BN.md
  packages/util/docs/modules/rlp.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: tx, package: vm, package: client, package: util

#1929 Monorepo -> v5 Releases: package-lock.json Update
  package-lock.json
Labels: type: release, package: monorepo

#1931 Blockchain: Clique-recently-signed False Positive Fix
  packages/blockchain/src/index.ts
Labels: type: bug, PR state: needs review, prio: +urgent, package: blockchain

#1924 develop: small fixes
  packages/block/test/testdata/testnetMerge.json
  packages/blockchain/src/consensus/clique.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/index.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/blockchain/test/pos.spec.ts
  packages/blockchain/test/testdata/testnet.json
  packages/client/bin/cli.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/rpc/modules/admin.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/rpc/mockBlockchain.ts
  packages/client/test/testdata/common/testnet.json
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/ropsten.json
  packages/common/src/types.ts
  packages/common/tests/data/merge/testnetMerge.json
  packages/common/tests/data/merge/testnetPOS.json
  packages/common/tests/data/testnet.json
  packages/common/tests/data/testnet2.json
  packages/common/tests/data/testnet3.json
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/examples/peer-communication.ts
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/src/dns/enr.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/util.ts
  packages/vm/examples/run-solidity-contract.ts
  packages/vm/src/bloom/index.ts
  packages/vm/src/evm/eof.ts
  packages/vm/src/evm/evm.ts
  packages/vm/src/evm/interpreter.ts
  packages/vm/src/evm/memory.ts
  packages/vm/src/evm/precompiles/01-ecrecover.ts
  packages/vm/src/evm/precompiles/02-sha256.ts
  packages/vm/src/evm/precompiles/03-ripemd160.ts
  packages/vm/src/evm/precompiles/04-identity.ts
  packages/vm/src/evm/precompiles/05-modexp.ts
  packages/vm/src/evm/precompiles/06-ecadd.ts
  packages/vm/src/evm/precompiles/07-ecmul.ts
  packages/vm/src/evm/precompiles/08-ecpairing.ts
  packages/vm/src/evm/precompiles/09-blake2f.ts
  packages/vm/src/evm/precompiles/0a-bls12-g1add.ts
  packages/vm/src/evm/precompiles/0b-bls12-g1mul.ts
  packages/vm/src/evm/precompiles/0c-bls12-g1multiexp.ts
  packages/vm/src/evm/precompiles/0d-bls12-g2add.ts
  packages/vm/src/evm/precompiles/0e-bls12-g2mul.ts
  packages/vm/src/evm/precompiles/0f-bls12-g2multiexp.ts
  packages/vm/src/evm/precompiles/10-bls12-pairing.ts
  packages/vm/src/evm/precompiles/11-bls12-map-fp-to-g1.ts
  packages/vm/src/evm/precompiles/12-bls12-map-fp2-to-g2.ts
  packages/vm/src/index.ts
  packages/vm/tests/api/EIPs/eip-3540-evm-object-format.spec.ts
  packages/vm/tests/api/EIPs/eip-3670-eof-code-validation.spec.ts
  packages/vm/tests/api/bloom.spec.ts
  packages/vm/tests/api/testdata/testnet.json
  packages/vm/tests/api/testdata/testnet2.json
  packages/vm/tests/api/testdata/testnetMerge.json
Labels: PR state: needs review, package: blockchain, package: vm, package: common, package: devp2p, target: develop

#1867 Update EIP 3074 AUTHCALL
  packages/vm/src/evm/opcodes/codes.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/src/evm/opcodes/gas.ts
  packages/vm/tests/api/EIPs/eip-3074-authcall.spec.ts
Labels: PR state: needs review, package: vm, target: develop

#1932 Blockchain, VM, Client: New Bugfix Releases
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, target: v5-maintenance

#1944 develop clean-up items
  package-lock.json
  package.json
  packages/vm/tests/api/EIPs/eip-3074-authcall.spec.ts
Labels: package: vm, package: monorepo

#1953 trie: move mpt package to `@ethereumjs` namespace
  README.md
  package-lock.json
  packages/block/package.json
  packages/block/src/block.ts
  packages/blockchain/package.json
  packages/blockchain/src/genesisStates/index.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/util/debug.ts
  packages/client/package.json
  packages/statemanager/package.json
  packages/statemanager/src/stateManager.ts
  packages/statemanager/tests/cache.spec.ts
  packages/statemanager/tests/proofStateManager.spec.ts
  packages/trie/README.md
  packages/trie/docs/README.md
  packages/trie/docs/classes/BaseTrie.md
  packages/trie/docs/classes/CheckpointTrie.md
  packages/trie/docs/classes/SecureTrie.md
  packages/trie/docs/classes/WalkController.md
  packages/trie/package.json
  packages/trie/src/baseTrie.ts
  packages/trie/src/secure.ts
  packages/vm/package.json
  packages/vm/src/buildBlock.ts
  packages/vm/src/evm/evm.ts
  packages/vm/src/runBlock.ts
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: merge ready, package: trie, target: master

#1945 Util: Signature Code Cleanup (new)
  packages/block/src/header.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/util/src/signature.ts
  packages/util/test/signature.spec.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/tests/api/EIPs/eip-3074-authcall.spec.ts
Labels: PR state: needs review, type: refactor, package: block, package: tx, package: vm, package: util, target: master

#1951 client: Miscellaneous fixes for beacon sync in reverseblockfetcher, skeleton, merge forkhash
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/skeleton.ts
  packages/client/lib/util/parse.ts
  packages/client/test/sync/fetcher/reverseblockfetcher.spec.ts
Labels: PR state: needs review, package: client, target: master

#1947 Devp2p-ethereum-cryptography-dependency
  package-lock.json
  packages/devp2p/package.json
  packages/devp2p/src/dns/enr.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/message.ts
  packages/devp2p/src/rlpx/ecies.ts
  packages/devp2p/src/rlpx/mac.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/src/util.ts
  packages/devp2p/test/dpt-message.ts
  packages/devp2p/test/rlpx-ecies.ts
Labels: PR state: merge ready, dependencies, package: devp2p, target: master

#1972 Trie (chore): reorganise files by technical domains
  package-lock.json
  packages/block/src/block.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/trie/package.json
  packages/trie/src/db/checkpoint.ts
  packages/trie/src/db/index.ts
  packages/trie/src/db/level.ts
  packages/trie/src/index.ts
  packages/trie/src/proof/index.ts
  packages/trie/src/proof/range.ts
  packages/trie/src/trie/checkpoint.ts
  packages/trie/src/trie/index.ts
  packages/trie/src/trie/node/branch.ts
  packages/trie/src/trie/node/extension.ts
  packages/trie/src/trie/node/index.ts
  packages/trie/src/trie/node/leaf.ts
  packages/trie/src/trie/node/util.ts
  packages/trie/src/trie/secure.ts
  packages/trie/src/trie/trie.ts
  packages/trie/src/trieNode.ts
  packages/trie/src/types.ts
  packages/trie/src/util/hex.ts
  packages/trie/src/util/index.ts
  packages/trie/src/util/nibbles.ts
  packages/trie/src/util/readStream.ts
  packages/trie/src/util/tasks.ts
  packages/trie/src/util/walkController.ts
  packages/trie/test/db/checkpoint.spec.ts
  packages/trie/test/db/db.spec.ts
  packages/trie/test/encoding.spec.ts
  packages/trie/test/index.spec.ts
  packages/trie/test/official.spec.ts
  packages/trie/test/proof.spec.ts
  packages/trie/test/proof/range.spec.ts
  packages/trie/test/stream.spec.ts
  packages/trie/test/trie/checkpoint.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/util/tasks.spec.ts
  packages/trie/tsconfig.json
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
Labels: PR state: needs review, type: refactor, package: trie

#1959 Block validation methods, take 3
  package-lock.json
  packages/block/src/block.ts
  packages/block/src/clique.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/clique.spec.ts
  packages/block/test/difficulty.spec.ts
  packages/block/test/eip1559block.spec.ts
  packages/block/test/header.spec.ts
  packages/block/test/mockchain.ts
  packages/block/test/poaMockchain.ts
  packages/blockchain/src/consensus/casper.ts
  packages/blockchain/src/consensus/clique.ts
  packages/blockchain/src/consensus/ethash.ts
  packages/blockchain/src/consensus/interface.ts
  packages/blockchain/src/index.ts
  packages/blockchain/test/blockValidation.spec.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/pos.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/blockchain/test/testdata/testnet.json
  packages/blockchain/test/util.ts
  packages/client/lib/@types/qheap/index.d.ts
  packages/client/lib/service/txpool.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/eth/chainId.spec.ts
  packages/client/test/rpc/net/version.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/ethash/test/block.spec.ts
  packages/vm/examples/run-solidity-contract.ts
  packages/vm/src/runBlock.ts
  packages/vm/tests/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/tests/api/buildBlock.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/testdata/testnet.json
Labels: PR state: needs review, package: block, package: blockchain, package: vm, package: ethash, package: client

#1986 Blockchain file reorganization
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/index.ts
  packages/blockchain/src/types.ts
Labels: PR state: needs review, type: refactor, package: blockchain, target: master

#1985 Remove explicit browser builds as monorepo builds already target es2020
  .gitignore
  config/README.md
  config/cli/ts-build.sh
  config/eslint.js
  config/tsconfig.browser.json
  packages/block/package.json
  packages/block/tsconfig.browser.json
  packages/blockchain/package.json
  packages/blockchain/tsconfig.browser.json
  packages/client/package.json
  packages/client/tsconfig.browser.json
  packages/common/package.json
  packages/common/tsconfig.browser.json
  packages/devp2p/package.json
  packages/devp2p/tsconfig.browser.json
  packages/ethash/.prettierignore
  packages/ethash/package.json
  packages/ethash/tsconfig.browser.json
  packages/evm/.prettierignore
  packages/evm/package.json
  packages/evm/tsconfig.browser.json
  packages/statemanager/.prettierignore
  packages/statemanager/package.json
  packages/statemanager/tsconfig.browser.json
  packages/trie/.prettierignore
  packages/trie/package.json
  packages/trie/tsconfig.browser.json
  packages/tx/package.json
  packages/tx/tsconfig.browser.json
  packages/util/package.json
  packages/util/tsconfig.browser.json
  packages/vm/.prettierignore
  packages/vm/examples/run-code-browser.js
  packages/vm/package.json
  packages/vm/tsconfig.browser.json
Labels: PR state: needs review, type: refactor, type: CI, package: monorepo, target: master

#1984 Gray glacier support (v5)
  package.json
  packages/block/test/difficulty.spec.ts
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacier.json
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacierForkBlock.json
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacierMinus1.json
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacierTimeDiff1.json
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacierTimeDiff2.json
  packages/common/src/chains/mainnet.json
  packages/common/src/eips/5133.json
  packages/common/src/eips/index.ts
  packages/common/src/hardforks/grayGlacier.json
  packages/common/src/hardforks/index.ts
  packages/common/src/index.ts
  packages/common/tests/hardforks.spec.ts
  packages/vm/src/index.ts
Labels: PR state: needs review, package: block, package: common, target: v5-maintenance, package: evm

#1989 Common, Block, VM: GrayGlacier HF Releases
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/tx/package.json
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: block, package: vm, package: common, target: v5-maintenance

#1991 VM Folder restructure
  package-lock.json
  packages/client/lib/execution/receipt.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/vm/benchmarks/mainnetBlocks.ts
  packages/vm/benchmarks/run.ts
  packages/vm/benchmarks/util.ts
  packages/vm/src/bloom/index.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/index.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/tests/api/EIPs/eip-1153.spec.ts
  packages/vm/tests/api/EIPs/eip-1283-net-gas-metering.spec.ts
  packages/vm/tests/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/tests/api/EIPs/eip-2315.spec.ts
  packages/vm/tests/api/EIPs/eip-2537-BLS.spec.ts
  packages/vm/tests/api/EIPs/eip-2565-modexp-gas-cost.spec.ts
  packages/vm/tests/api/EIPs/eip-2929.spec.ts
  packages/vm/tests/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/tests/api/EIPs/eip-3074-authcall.spec.ts
  packages/vm/tests/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/tests/api/EIPs/eip-3529.spec.ts
  packages/vm/tests/api/EIPs/eip-3540-evm-object-format.spec.ts
  packages/vm/tests/api/EIPs/eip-3541.spec.ts
  packages/vm/tests/api/EIPs/eip-3607.spec.ts
  packages/vm/tests/api/EIPs/eip-3651-warm-coinbase.spec.ts
  packages/vm/tests/api/EIPs/eip-3670-eof-code-validation.spec.ts
  packages/vm/tests/api/EIPs/eip-3855.spec.ts
  packages/vm/tests/api/EIPs/eip-3860.spec.ts
  packages/vm/tests/api/EIPs/eip-4399-supplant-difficulty-opcode-with-prevrando.spec.ts
  packages/vm/tests/api/bloom.spec.ts
  packages/vm/tests/api/buildBlock.spec.ts
  packages/vm/tests/api/customChain.spec.ts
  packages/vm/tests/api/events.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/istanbul/eip-1108.spec.ts
  packages/vm/tests/api/istanbul/eip-1344.spec.ts
  packages/vm/tests/api/istanbul/eip-152.spec.ts
  packages/vm/tests/api/istanbul/eip-1884.spec.ts
  packages/vm/tests/api/istanbul/eip-2200.spec.ts
  packages/vm/tests/api/muirGlacier/index.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/state/accountExists.spec.ts
  packages/vm/tests/api/utils.ts
Labels: PR state: needs review, package: vm

#1992 Add declaration map
  config/tsconfig.json
Labels: PR state: merge ready, target: master

#1997 chore: remove untrue jsdoc comment on `clearWarmedAccounts`
  packages/vm/src/eei/vmState.ts
Labels: type: docs, package: vm

#1999 Fix benchmarks build issue
  packages/vm/tsconfig.benchmarks.json
Labels: type: bug, PR state: needs review, type: CI, package: vm

#2001 EVM Types Cleanup
  .github/workflows/node-versions.yml
  packages/evm/package.json
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/types.ts
  packages/evm/tests/customOpcodes.spec.ts
  packages/evm/tests/customPrecompiles.spec.ts
  packages/evm/tests/memory.spec.ts
  packages/evm/tests/opcodes.spec.ts
  packages/evm/tests/precompiles/06-ecadd.spec.ts
  packages/evm/tests/precompiles/07-ecmul.spec.ts
  packages/evm/tests/precompiles/08-ecpairing.spec.ts
  packages/evm/tests/precompiles/hardfork.spec.ts
  packages/evm/tests/runCall.spec.ts
  packages/evm/tests/runCode.spec.ts
  packages/evm/tests/stack.spec.ts
  packages/evm/tests/transientStorage.spec.ts
  packages/vm/src/eei/vmState.ts
  packages/vm/src/runBlock.ts
Labels: PR state: needs review, type: refactor, package: evm

#1988 Master branch - Gray Glacier Support
  packages/block/test/difficulty.spec.ts
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacier.json
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacierForkBlock.json
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacierMinus1.json
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacierTimeDiff1.json
  packages/block/test/testdata/dfGrayGlacier/difficultyGrayGlacierTimeDiff2.json
  packages/common/src/chains/mainnet.json
  packages/common/src/eips/5133.json
  packages/common/src/eips/index.ts
  packages/common/src/enums.ts
  packages/common/src/hardforks/grayGlacier.json
  packages/common/src/hardforks/index.ts
  packages/common/tests/hardforks.spec.ts
  packages/evm/src/evm.ts
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
Labels: type: feature, PR state: needs review, type: tests, prio: +urgent, package: block, package: vm, package: common, target: master

#2003 EVM: Cleanup EEI
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/miner/miner.ts
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/service/txpool.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/EIP2929.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/types.ts
  packages/evm/tests/runCall.spec.ts
  packages/evm/tests/runCode.spec.ts
  packages/evm/tests/stack.spec.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/eei/eei.ts
  packages/vm/src/eei/vmState.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/vm.ts
  packages/vm/tests/api/EIPs/eip-3529.spec.ts
  packages/vm/tests/api/buildBlock.spec.ts
  packages/vm/tests/api/eei.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/utils.ts
  packages/vm/tests/api/vmState.spec.ts
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, package: vm, type: test all hardforks, package: evm

#1957 Monorepo: Beta 1 Releases
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/rlp/CHANGELOG.md
  packages/rlp/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: monorepo
