Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-08, with the labels that each got.

#2087 common: set the default hard fork to merge
  packages/block/src/types.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/common/README.md
  packages/common/src/chains/goerli.json
  packages/common/src/chains/ropsten.json
  packages/common/src/chains/sepolia.json
  packages/common/src/common.ts
  packages/evm/README.md
  packages/tx/README.md
  packages/tx/src/baseTransaction.ts
  packages/vm/src/types.ts
  packages/vm/tests/tester/config.ts
Labels: PR state: merge ready, package: common, hardfork: merge, target: master

#2093 chore: sort `package.json` files
  package-lock.json
  package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: refactor, package: monorepo, target: master

#2096 client: Run execution in batches when not near head
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/sync/beaconsync.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fullsync.ts
Labels: PR state: merge ready, package: client, target: master

#2098 common: Update the mergeForkIdTransition hardfork schedule for sepolia
  packages/common/src/chains/sepolia.json
Labels: PR state: merge ready, package: common, target: master

#2094 test(trie): run persistence suite for all types of tries
  packages/trie/test/trie/trie.spec.ts
Labels: package: trie

#2095 chore: upgrade `eslint` to `^8.0.0`
  config/eslint.js
  package-lock.json
  package.json
  packages/block/.eslintrc.js
  packages/block/package.json
  packages/blockchain/.eslintrc.js
  packages/blockchain/package.json
  packages/client/.eslintrc.js
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/package.json
  packages/common/.eslintrc.js
  packages/common/package.json
  packages/devp2p/.eslintrc.js
  packages/devp2p/package.json
  packages/ethash/.eslintrc.js
  packages/ethash/package.json
  packages/evm/.eslintrc.js
  packages/evm/package.json
  packages/rlp/.eslintrc.js
  packages/rlp/README.md
  packages/statemanager/.eslintrc.js
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/.eslintrc.js
  packages/tx/package.json
  packages/util/.eslintrc.js
  packages/vm/.eslintrc.js
  packages/vm/package.json
  packages/vm/src/eei/vmState.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/vm.ts
  packages/vm/tests/api/istanbul/eip-152.spec.ts
Labels: package: monorepo, dependencies

#1897 client: Add client protocol and synchronizer for snap sync
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/net/peer/peer.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/protocol/index.ts
  packages/client/lib/net/protocol/protocol.ts
  packages/client/lib/net/protocol/rlpxsender.ts
  packages/client/lib/net/protocol/snapprotocol.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/index.ts
  packages/client/lib/sync/snapsync.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/snap.ts
Labels: type: feature, PR state: needs review, PR state: merge ready, package: client

#2104 ci: retry `test-client` and `test-client-cli` jobs up to 3 times
  .github/workflows/client-build.yml
Labels: PR state: needs review, type: CI

#2069 vm/blockchain: change and use BlockchainInterface
  packages/blockchain/src/types.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/miner/pendingBlock.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/src/eei/eei.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/tests/api/EIPs/eip-4399-supplant-difficulty-opcode-with-prevrando.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
Labels: package: blockchain, package: vm, package: client

#2109 chore(trie): add database example scripts
  package-lock.json
  packages/trie/.gitignore
  packages/trie/examples/level.js
  packages/trie/examples/lmdb.js
  packages/trie/package.json
Labels: PR state: needs review, package: trie

#2115 ci: retry `devp2p` workflow up to 3 times
  .github/workflows/client-build.yml
  .github/workflows/devp2p-build.yml
Labels: PR state: needs review, type: CI

#2120 client: Make fetcher typesafe in syncronizers
  packages/client/bin/cli.ts
  packages/client/lib/sync/beaconsync.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/sync/fullsync.spec.ts
Labels: type: refactor, package: client, target: master

#2091 Make the client browser implementation work again...
  .github/workflows/client-build.yml
  packages/client/browser/index.ts
  packages/client/browser/libp2pnode.ts
  packages/client/browser/util/index.ts
  packages/client/examples/light-browser-sync.md
  packages/client/karma.conf.js
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/package.json
  packages/client/test/net/protocol/lesprotocol.spec.ts
  packages/client/tsconfig.browser.json
  packages/client/webpack.config.js
Labels: type: CI, dependencies, package: client

#2119 client: snap protocol tests
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/client/test/sync/snapsync.spec.ts
Labels: PR state: needs review, type: tests, package: client

#2123 refactor(trie): default to `false` for `persistRoot` option
  package-lock.json
  packages/trie/src/trie/trie.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/trie/trie.spec.ts
Labels: PR state: needs review, type: refactor, package: trie

#2110 chore(trie): add `gabrocheleau/merkle-patricia-trees-examples` with 5.0.0 compatibility
  package-lock.json
  packages/trie/README.md
  packages/trie/examples/README.md
  packages/trie/examples/example1a.js
  packages/trie/examples/example1b.js
  packages/trie/examples/example1c.js
  packages/trie/examples/example1d.js
  packages/trie/examples/example2a.js
  packages/trie/examples/example2b.js
  packages/trie/examples/example2c.js
  packages/trie/examples/example2d.js
  packages/trie/examples/example3a.js
  packages/trie/examples/example3b.js
  packages/trie/examples/example4a.js
  packages/trie/examples/example4b.js
  packages/trie/examples/infura_endpoint.js
  packages/trie/package.json
Labels: PR state: needs review, type: docs, package: trie

#2122 Monorepo Beta 3 Releases
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/rlp/CHANGELOG.md
  packages/rlp/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: monorepo, target: master

#2129 Upgrade jayson to v4.0
  packages/client/package.json
Labels: dependencies, package: client

#2127 fix(trie): explicitly check for `persistRoot` option being `true` in `SecureTrie`
  packages/trie/src/trie/secure.ts
Labels: type: bug, PR state: needs review, package: trie

#2121 docs: update README formatting
  README.md
  packages/block/README.md
  packages/blockchain/README.md
  packages/client/README.md
  packages/common/README.md
  packages/devp2p/README.md
  packages/ethash/README.md
  packages/evm/README.md
  packages/rlp/README.md
  packages/statemanager/README.md
  packages/trie/README.md
  packages/tx/README.md
  packages/util/README.md
  packages/vm/README.md
Labels: PR state: needs review, type: docs, package: monorepo

#2134 chore: enable `eqeqeq` rule for `eslint`
  config/eslint.js
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/db/operation.ts
  packages/blockchain/test/customConsensus.spec.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/sync/beaconsync.ts
  packages/client/lib/sync/fetcher/reverseblockfetcher.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/ethash/test/miner.spec.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/util.ts
  packages/evm/src/precompiles/0a-bls12-g1add.ts
  packages/evm/src/precompiles/0b-bls12-g1mul.ts
  packages/evm/src/precompiles/0c-bls12-g1multiexp.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2mul.ts
  packages/evm/src/precompiles/0f-bls12-g2multiexp.ts
  packages/evm/src/precompiles/10-bls12-pairing.ts
  packages/evm/src/precompiles/11-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/12-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/precompiles/util/bls12_381.ts
  packages/evm/tests/precompiles/hardfork.spec.ts
  packages/evm/tests/runCall.spec.ts
  packages/statemanager/tests/proofStateManager.spec.ts
  packages/statemanager/tests/stateManager.spec.ts
  packages/trie/src/proof/range.ts
  packages/trie/src/trie/trie.ts
  packages/trie/src/util/nibbles.ts
  packages/trie/src/util/readStream.ts
  packages/trie/test/index.spec.ts
  packages/tx/src/util.ts
  packages/tx/test/legacy.spec.ts
  packages/util/src/signature.ts
  packages/util/test/bytes.spec.ts
  packages/vm/tests/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/tests/api/EIPs/eip-3074-authcall.spec.ts
  packages/vm/tests/api/EIPs/eip-3855.spec.ts
  packages/vm/tests/tester/index.ts
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, type: enhancement, package: monorepo

#2126 blockchain: align comment and code for getIteratorHead()
  packages/blockchain/src/types.ts
Labels: PR state: needs review, type: docs, effort: E1 hours, package: blockchain, target: master

#2131 chore: enable `object-shorthand` rule for `eslint`
  config/eslint.js
  packages/block/test/difficulty.spec.ts
  packages/blockchain/test/pos.spec.ts
  packages/client/lib/net/protocol/boundprotocol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/net/protocol/protocol.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/client/test/rpc/eth/blockNumber.spec.ts
  packages/client/test/rpc/util/CLConnectionManager.spec.ts
  packages/common/tests/hardforks.spec.ts
  packages/devp2p/src/browser/dns.ts
  packages/devp2p/src/dpt/message.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/test/integration/util.ts
  packages/ethash/src/index.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/precompiles/0a-bls12-g1add.ts
  packages/evm/src/precompiles/0b-bls12-g1mul.ts
  packages/evm/src/precompiles/0c-bls12-g1multiexp.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2mul.ts
  packages/evm/src/precompiles/0f-bls12-g2multiexp.ts
  packages/evm/src/precompiles/10-bls12-pairing.ts
  packages/evm/src/precompiles/11-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/12-bls12-map-fp2-to-g2.ts
  packages/evm/tests/customOpcodes.spec.ts
  packages/evm/tests/runCall.spec.ts
  packages/evm/tests/stack.spec.ts
  packages/rlp/src/index.ts
  packages/trie/test/index.spec.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/util/test/bytes.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/tests/api/EIPs/eip-2537-BLS.spec.ts
  packages/vm/tests/api/EIPs/eip-2565-modexp-gas-cost.spec.ts
  packages/vm/tests/api/EIPs/eip-3651-warm-coinbase.spec.ts
  packages/vm/tests/api/EIPs/eip-3670-eof-code-validation.spec.ts
  packages/vm/tests/api/eei.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/state/accountExists.spec.ts
  packages/vm/tests/api/vmState.spec.ts
Labels: PR state: needs review, type: enhancement, package: monorepo

#2128 refactor(trie): use `micro-bmark` for benchmarks
  .github/workflows/trie-build.yml
  package-lock.json
  packages/trie/benchmarks/checkpointing.ts
  packages/trie/benchmarks/index.ts
  packages/trie/benchmarks/keys.ts
  packages/trie/benchmarks/random.ts
  packages/trie/package.json
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/trie/trie.spec.ts
Labels: PR state: needs review, type: refactor, package: trie

#2166 chore: move commonly shared `devDependencies` to root `package.json`
  config/cli/coverage.sh
  config/eslint.js
  package-lock.json
  package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/.eslintrc.js
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: enhancement, package: monorepo

#2130 chore: enable `github/array-foreach` rule for `eslint`
  config/eslint.js
  package-lock.json
  package.json
  packages/block/src/block.ts
  packages/block/test/header.spec.ts
  packages/client/bin/cli.ts
  packages/client/lib/net/peer/peer.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/peerpool.ts
  packages/client/lib/net/protocol/libp2psender.ts
  packages/client/lib/net/server/libp2pserver.ts
  packages/client/lib/net/server/server.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/util/parse.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/net/server/libp2pserver.spec.ts
  packages/common/src/common.ts
  packages/devp2p/src/dpt/kbucket.ts
  packages/devp2p/src/protocol/les.ts
  packages/rlp/test/dataTypes.spec.ts
  packages/trie/src/db/checkpoint.ts
  packages/trie/test/util/tasks.spec.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/util/test/types.spec.ts
  packages/vm/src/eei/vmState.ts
  packages/vm/src/runTx.ts
  packages/vm/tests/api/EIPs/eip-3670-eof-code-validation.spec.ts
  packages/vm/tests/api/EIPs/eip-3855.spec.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, type: enhancement, package: monorepo

#2169 chore: generate `coverage/lcov.info` file for codecov
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/ethash-build.yml
  .github/workflows/evm-build.yml
  .github/workflows/rlp-build.yml
  .github/workflows/statemanager-build.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-pr.yml
  config/cli/coverage.sh
  packages/client/package.json
  packages/evm/package.json
  packages/rlp/.nycrc
  packages/vm/package.json
Labels: PR state: needs review, type: CI, package: monorepo

#2141 Fix node-versions CI action
  .github/workflows/node-versions.yml
Labels: type: CI

#2139 block: add new consensusFormatValidation flag
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/header.spec.ts
Labels: type: feature, package: block

#2164 chore: add `engines` property to all `package.json` files
  package-lock.json
  package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: enhancement, package: monorepo

#2162 chore: enable `prettier/prettier` rule for `eslint`
  .prettierignore
  config/eslint.js
  lint-staged.config.js
  package-lock.json
  packages/client/bin/cli.ts
  packages/client/lib/net/server/server.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/util/parse.ts
  packages/client/test/net/peerpool.spec.ts
  packages/trie/src/db/checkpoint.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/src/vm.ts
Labels: PR state: needs review, type: enhancement, package: monorepo

#2172 adjust skipbalance logic
  packages/evm/src/evm.ts
  packages/evm/src/types.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: package: vm, package: evm

#2174 ci: use `npm ci` instead of `npm i` to install dependencies
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/e2e-hardhat.yml.old
  .github/workflows/ethash-build.yml
  .github/workflows/evm-build.yml
  .github/workflows/examples.yml
  .github/workflows/node-versions.yml
  .github/workflows/rlp-build.yml
  .github/workflows/statemanager-build.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-pr.yml
Labels: PR state: needs review, type: CI, package: monorepo

#2178 docs(trie): update persistence instructions
  packages/trie/README.md
Labels: PR state: needs review, type: docs, package: trie

#2170 Remove state tests from coverage run
  packages/vm/package.json
Labels: PR state: needs review, type: CI

#2179 StateManager: add prefixcodehashes flag
  packages/statemanager/src/stateManager.ts
  packages/statemanager/tests/stateManager.spec.ts
Labels: PR state: needs review, package: statemanager

#2184 evm/vm: update event signatures
  packages/evm/src/types.ts
  packages/vm/src/types.ts
Labels: PR state: needs review, package: vm, package: evm

#2185 common: add mainnet merge ttd
  packages/common/src/chains/mainnet.json
Labels: PR state: needs review, package: common

#2183 vm: make `touchAccount` of state manager non-protected
  packages/vm/src/eei/vmState.ts
Labels: PR state: needs review, package: vm

#2186 refactor(trie): move `Trie#_findValueNodes` to `TrieReadStream`
  packages/trie/docs/README.md
  packages/trie/docs/classes/CheckpointDB.md
  packages/trie/docs/classes/CheckpointTrie.md
  packages/trie/docs/classes/ExtensionNode.md
  packages/trie/docs/classes/LeafNode.md
  packages/trie/docs/classes/SecureTrie.md
  packages/trie/docs/classes/Trie.md
  packages/trie/docs/classes/TrieReadStream.md
  packages/trie/docs/classes/WalkController.md
  packages/trie/src/trie/trie.ts
  packages/trie/src/util/readStream.ts
Labels: PR state: needs review, type: refactor, package: trie

#2180 Bump EVM coverage
  .github/workflows/evm-build.yml
  packages/evm/package.json
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, package: evm

#2187 refactor(trie): replace `semaphore-async-await` with simpler implementation
  package-lock.json
  packages/trie/package.json
  packages/trie/src/trie/trie.ts
  packages/trie/src/util/semaphore.ts
  packages/trie/test/util/semaphore.spec.ts
Labels: PR state: needs review, type: refactor, package: trie

#2108 vm/tests: ensure tests run with EIPs activated
  packages/vm/tests/api/tester/tester.config.spec.ts
  packages/vm/tests/tester/config.ts
Labels: PR state: needs review, type: tests, package: vm

#2157 client: Enhance snap protocol spec tests
  packages/client/lib/net/protocol/snapprotocol.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/util/src/account.ts
Labels: PR state: merge ready, package: client, target: master

#2190 chore: add script to list external dependencies
  scripts/list-external-dependencies.js
Labels: PR state: needs review, type: security, package: monorepo

#2200 trie: reorganize examples and update mpt tutorial
  packages/trie/examples/README.md
  packages/trie/examples/example4a.js
  packages/trie/examples/example4b.js
  packages/trie/examples/merkle_patricia_trees/README.md
  packages/trie/examples/merkle_patricia_trees/example1a.js
  packages/trie/examples/merkle_patricia_trees/example1b.js
  packages/trie/examples/merkle_patricia_trees/example1c.js
  packages/trie/examples/merkle_patricia_trees/example1d.js
  packages/trie/examples/merkle_patricia_trees/example2a.js
  packages/trie/examples/merkle_patricia_trees/example2b.js
  packages/trie/examples/merkle_patricia_trees/example2c.js
  packages/trie/examples/merkle_patricia_trees/example2d.js
  packages/trie/examples/merkle_patricia_trees/example3a.js
  packages/trie/examples/merkle_patricia_trees/example3b.js
  packages/trie/examples/merkle_patricia_trees/example4a.js
  packages/trie/examples/merkle_patricia_trees/example4b.js
  packages/trie/examples/merkle_patricia_trees/infura_endpoint.js
Labels: type: docs, package: trie

#2196 docs(trie): add upgrade guide for v5
  packages/trie/UPGRADING.md
  packages/trie/recipes/level-legacy.ts
  packages/trie/recipes/level.ts
Labels: PR state: needs review, type: docs, package: trie

#2197 Remove common from state manager
  packages/client/lib/execution/vmexecution.ts
  packages/statemanager/src/baseStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/tests/stateManager.spec.ts
  packages/vm/benchmarks/util.ts
  packages/vm/src/vm.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/vmState.spec.ts
Labels: package: vm, package: statemanager

#2201 ci: run `lintlock` if `package-lock.json` has been modified
  .github/workflows/lockfile.yml
Labels: PR state: needs review, type: CI, package: monorepo

#2191 Breaking Release Documentation Improvements and Fixes
  README.md
  packages/block/CHANGELOG.md
  packages/common/CHANGELOG.md
  packages/ethash/README.md
  packages/evm/CHANGELOG.md
  packages/rlp/CHANGELOG.md
  packages/statemanager/README.md
  packages/trie/CHANGELOG.md
  packages/trie/benchmarks/engines/level.ts
  packages/tx/CHANGELOG.md
  packages/vm/CHANGELOG.md
Labels: PR state: needs review, type: docs, package: monorepo

#2204 docs(trie): make mention of upgrade guide
  packages/trie/README.md
Labels: PR state: needs review, type: docs, package: trie

#2195 fix(trie): add static `create` constructor to `CheckpointTrie` and `SecureTrie`
  packages/trie/src/trie/checkpoint.ts
  packages/trie/src/trie/secure.ts
  packages/trie/src/trie/trie.ts
  packages/trie/src/trie/util.ts
  packages/trie/test/trie/trie.spec.ts
Labels: type: bug, PR state: needs review, package: trie

#2205 Block: do not auto-activate hardforkByBlockNumber in static BlockHeader constructor
  packages/block/src/header.ts
  packages/block/test/header.spec.ts
Labels: PR state: needs review, type: refactor, package: block

#2206 Common, Block, Blockchain, Client: removed Kovan chain support (EOL)
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/genesisStates/kovan.json
  packages/blockchain/test/blockValidation.spec.ts
  packages/blockchain/test/pos.spec.ts
  packages/blockchain/test/util.ts
  packages/client/test/rpc/eth/chainId.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/net/version.spec.ts
  packages/common/README.md
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/common.ts
  packages/common/src/enums.ts
  packages/common/tests/chains.spec.ts
  packages/common/tests/hardforks.spec.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/test/integration/dpt-simulator.ts
  packages/devp2p/test/integration/eth-simulator.ts
  packages/devp2p/test/integration/les-simulator.ts
  packages/devp2p/test/integration/util.ts
  packages/ethash/test/block.spec.ts
  packages/ethash/test/miner.spec.ts
  packages/evm/tests/customOpcodes.spec.ts
  packages/evm/tests/runCall.spec.ts
  packages/statemanager/tests/stateManager.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/vmState.spec.ts
Labels: PR state: needs review, type: refactor, package: block, package: blockchain, package: common, package: client

#2209 Rename consensusFormatValidationFlag
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/header.spec.ts
Labels: type: refactor, package: block

#2213 Fix VM Nightly
  .github/workflows/vm-nightly-test.yml
  packages/common/src/common.ts
  packages/common/src/types.ts
Labels: type: CI, package: vm, package: common

#2214 Trie: Refactor SecureTrie as an option
  packages/blockchain/src/genesisStates/index.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/util/debug.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/tests/cache.spec.ts
  packages/statemanager/tests/proofStateManager.spec.ts
  packages/trie/README.md
  packages/trie/UPGRADING.md
  packages/trie/docs/README.md
  packages/trie/docs/classes/CheckpointTrie.md
  packages/trie/docs/classes/SecureTrie.md
  packages/trie/docs/classes/Trie.md
  packages/trie/docs/interfaces/DB.md
  packages/trie/docs/interfaces/DelBatch.md
  packages/trie/docs/interfaces/PutBatch.md
  packages/trie/docs/interfaces/TrieOpts.md
  packages/trie/examples/merkle_patricia_trees/README.md
  packages/trie/examples/merkle_patricia_trees/example1c.js
  packages/trie/src/proof/range.ts
  packages/trie/src/trie/checkpoint.ts
  packages/trie/src/trie/index.ts
  packages/trie/src/trie/secure.ts
  packages/trie/src/trie/trie.ts
  packages/trie/src/trie/util.ts
  packages/trie/src/types.ts
  packages/trie/test/index.spec.ts
  packages/trie/test/trie/checkpoint.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/trie/trie.spec.ts
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: refactor, package: trie

#2217 Verify that hardforks without block number or ttd are not applied in common
  packages/common/tests/customChains.spec.ts
  packages/vm/tests/tester/config.ts
Labels: package: vm, package: common

#2210 refactor: add dependency count information to dependency list script
  scripts/list-external-dependencies.js
Labels: PR state: needs review, type: security, package: monorepo

#2215 refactor(trie): integrate `CheckpointTrie` behaviour into main `Trie` class
  packages/blockchain/src/genesisStates/index.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/util/debug.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/tests/cache.spec.ts
  packages/statemanager/tests/proofStateManager.spec.ts
  packages/trie/UPGRADING.md
  packages/trie/benchmarks/suite.ts
  packages/trie/src/trie/checkpoint.ts
  packages/trie/src/trie/index.ts
  packages/trie/src/trie/trie.ts
  packages/trie/src/trie/util.ts
  packages/trie/src/types.ts
  packages/trie/test/encoding.spec.ts
  packages/trie/test/index.spec.ts
  packages/trie/test/official.spec.ts
  packages/trie/test/proof.spec.ts
  packages/trie/test/proof/range.spec.ts
  packages/trie/test/stream.spec.ts
  packages/trie/test/trie/checkpoint.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/trie/trie.spec.ts
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: refactor, package: trie

#2235 Remove AsyncEventEmitter extension from EVM and VM
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/types.ts
  packages/evm/tests/customOpcodes.spec.ts
  packages/vm/src/vm.ts
  packages/vm/tests/api/EIPs/eip-1153.spec.ts
  packages/vm/tests/api/EIPs/eip-2315.spec.ts
  packages/vm/tests/api/EIPs/eip-2929.spec.ts
  packages/vm/tests/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/tests/api/EIPs/eip-3074-authcall.spec.ts
  packages/vm/tests/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/tests/api/EIPs/eip-3529.spec.ts
  packages/vm/tests/api/EIPs/eip-3541.spec.ts
  packages/vm/tests/api/EIPs/eip-3855.spec.ts
  packages/vm/tests/api/EIPs/eip-4399-supplant-difficulty-opcode-with-prevrando.spec.ts
  packages/vm/tests/api/events.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: refactor, package: vm, package: evm

#2228 Common: Add explicit HF block number null checks back, throw on undefined
  packages/common/src/common.ts
  packages/common/src/types.ts
  packages/common/tests/customChains.spec.ts
Labels: type: enhancement, package: common

#2225 docs(trie): update upgrade guide
  packages/trie/UPGRADING.md
Labels: PR state: needs review, type: docs, package: trie

#2234 chore: rename `Semaphore` to `Lock`
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/lock.ts
  packages/trie/src/trie/trie.ts
  packages/trie/src/util/lock.ts
  packages/trie/test/util/lock.spec.ts
Labels: PR state: needs review, type: refactor, package: blockchain, package: trie

#2231 devp2p: rename tests to spec.ts suffix
  packages/devp2p/package.json
  packages/devp2p/test/browser.spec.ts
  packages/devp2p/test/dns.spec.ts
  packages/devp2p/test/dpt-message.spec.ts
  packages/devp2p/test/enr.spec.ts
  packages/devp2p/test/index.ts
  packages/devp2p/test/integration/dpt-simulator.spec.ts
  packages/devp2p/test/integration/eth-simulator.spec.ts
  packages/devp2p/test/integration/index.ts
  packages/devp2p/test/integration/les-simulator.spec.ts
  packages/devp2p/test/integration/rlpx-simulator.spec.ts
  packages/devp2p/test/integration/snap-simulator.spec.ts
  packages/devp2p/test/rlpx-ecies.spec.ts
  packages/devp2p/test/rlpx-mac.spec.ts
Labels: type: refactor, type: tests, package: devp2p

#2230 client: Fix hardfork issues in beacon sync
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/src/helpers.ts
  packages/block/src/index.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fetcher/reverseblockfetcher.ts
  packages/client/lib/sync/skeleton.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/fetcher/reverseblockfetcher.spec.ts
  packages/client/test/sync/skeleton.spec.ts
Labels: PR state: needs review, package: client, hardfork: merge, target: master

#2237 Monorepo RC 1 Releases
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/rlp/CHANGELOG.md
  packages/rlp/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/UPGRADING.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: client, package: trie, package: util, package: rlp, package: statemanager, package: evm

#2239 evm: add error which triggers if code size deposit exceeds the maximum size
  packages/evm/src/evm.ts
  packages/evm/src/exceptions.ts
  packages/evm/tests/runCall.spec.ts
Labels: PR state: needs review, type: test all hardforks, package: evm

#2249 trie: remove isTruthy and isFalsy
  packages/trie/benchmarks/engines/level.ts
  packages/trie/recipes/level-legacy.ts
  packages/trie/recipes/level.ts
  packages/trie/src/trie/trie.ts
  packages/trie/test/official.spec.ts
  packages/trie/test/trie/secure.spec.ts
Labels: PR state: needs review, type: enhancement, package: trie

#2250 tx: remove isTruthy and isFalsy
  packages/client/lib/rpc/modules/eth.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/types.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/index.ts
  packages/tx/test/transactionRunner.ts
Labels: PR state: needs review, type: enhancement, package: tx

#2242 Update: README.md -> Graph
  README.md
Labels: type: docs, package: monorepo

#2248 vm: remove isTruthy and isFalsy
  packages/vm/src/bloom/index.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/eei/vmState.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/vm.ts
  packages/vm/tests/api/EIPs/eip-3074-authcall.spec.ts
  packages/vm/tests/api/istanbul/eip-1884.spec.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, type: enhancement, package: vm

#2257 blockchain: remove isTruthy and isFalsy
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/db/operation.ts
  packages/blockchain/src/genesisStates/index.ts
  packages/blockchain/test/util.ts
Labels: PR state: needs review, type: enhancement, package: blockchain

#2255 common: remove isTruthy and isFalsy
  packages/common/src/common.ts
Labels: PR state: needs review, type: enhancement, package: common

#2253 ethash: remove isTruthy and isFalsy
  packages/ethash/src/index.ts
Labels: PR state: needs review, type: enhancement, package: ethash

#2251 stateManager: remove isTruthy and isFalsy
  packages/statemanager/src/cache.ts
  packages/statemanager/src/stateManager.ts
Labels: PR state: needs review, type: enhancement, package: statemanager

#2259 monorepo: remove receiptRoot inconsistency
  packages/block/src/header-from-rpc.ts
  packages/vm/benchmarks/util.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/types.ts
  packages/vm/tests/api/buildBlock.spec.ts
Labels: PR state: needs review, package: block, package: vm, breaking

#2254 devp2p: remove isTruthy and isFalsy
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/examples/peer-communication.ts
  packages/devp2p/examples/simple.ts
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/src/dpt/kbucket.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/les.ts
  packages/devp2p/src/protocol/protocol.ts
  packages/devp2p/src/protocol/snap.ts
  packages/devp2p/src/rlpx/ecies.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/src/util.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review, type: enhancement, package: devp2p

#2252 evm: remove isTruthy and isFalsy
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/codes.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/precompiles/01-ecrecover.ts
  packages/evm/src/precompiles/02-sha256.ts
  packages/evm/src/precompiles/03-ripemd160.ts
  packages/evm/src/precompiles/04-identity.ts
  packages/evm/src/precompiles/05-modexp.ts
  packages/evm/src/precompiles/06-ecadd.ts
  packages/evm/src/precompiles/07-ecmul.ts
  packages/evm/src/precompiles/08-ecpairing.ts
  packages/evm/src/precompiles/09-blake2f.ts
  packages/evm/src/precompiles/0a-bls12-g1add.ts
  packages/evm/src/precompiles/0b-bls12-g1mul.ts
  packages/evm/src/precompiles/0c-bls12-g1multiexp.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2mul.ts
  packages/evm/src/precompiles/0f-bls12-g2multiexp.ts
  packages/evm/src/precompiles/10-bls12-pairing.ts
  packages/evm/src/precompiles/11-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/12-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/index.ts
Labels: PR state: needs review, type: enhancement, package: evm

#2256 block: remove isTruthy and isFalsy
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/block/src/header-from-rpc.ts
  packages/block/src/header.ts
  packages/block/src/helpers.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/util.ts
Labels: PR state: needs review, type: enhancement, package: block

#2246 client: Update merge instructions
  packages/client/merge/README.md
Labels: PR state: merge ready, package: client, hardfork: merge

#2264 Ethers state manager: implement storage cache
  packages/evm/src/opcodes/functions.ts
  packages/statemanager/src/ethersStateManager.ts
  packages/statemanager/tests/ethersStateManager.spec.ts
  packages/trie/src/trie/trie.ts
Labels: PR state: WIP, package: statemanager

#2258 client: remove isTruthy and isFalsy
  packages/client/bin/cli.ts
  packages/client/bin/startRpc.ts
  packages/client/browser/util/index.ts
  packages/client/lib/execution/level.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/logging.ts
  packages/client/lib/miner/miner.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/net/protocol/boundprotocol.ts
  packages/client/lib/net/protocol/flowcontrol.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/net/protocol/protocol.ts
  packages/client/lib/net/server/libp2pserver.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/net/server/server.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/client/lib/rpc/validation.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/service/txpool.ts
  packages/client/lib/sync/beaconsync.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/lib/util/index.ts
  packages/client/lib/util/parse.ts
  packages/client/lib/util/rpc.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/mocks/mockserver.ts
  packages/client/test/integration/mocks/network.ts
  packages/client/test/logging.spec.ts
  packages/client/test/rpc/admin/nodeInfo.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/rpc.spec.ts
  packages/client/test/rpc/util.ts
  packages/client/test/sync/txpool.spec.ts
  packages/client/test/util/rpc.spec.ts
Labels: PR state: needs review, type: enhancement, package: client
