Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-12, with the labels that each got.

#2404 Fix nonce problem
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, package: vm, type: test all hardforks, package: evm

#2405 EVM optimizations
  packages/evm/src/memory.ts
Labels: PR state: needs review, type: performance, type: test all hardforks, package: evm

#2316 pre-shanghai: Eof testnet setup
  packages/client/lib/miner/pendingBlock.ts
  packages/client/test/sim/README.md
  packages/client/test/sim/configs/eof.json
  packages/client/test/sim/eof.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/single-run.sh
  packages/common/src/enums.ts
  packages/common/src/hardforks/eof.json
  packages/common/src/hardforks/index.ts
  packages/common/src/utils.ts
Labels: PR state: merge ready, package: client, target: master

#2439 Fix Chainstart mainnet bug
  packages/evm/src/evm.ts
Labels: PR state: needs review, type: test all hardforks, package: evm

#2434 In readme, remove references to LevelDB abstraction
  packages/trie/README.md
Labels: PR state: needs review, type: docs, package: trie

#2448 Common custom chain bugs
  packages/client/bin/cli.ts
  packages/common/src/common.ts
Labels: package: common, package: client

#2444 Implement `debug_traceTransaction` RPC endpoint
  packages/client/lib/rpc/modules/debug.ts
  packages/client/lib/rpc/modules/index.ts
  packages/client/test/rpc/debug/traceTransaction.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/testdata/geth-genesis/debug.json
Labels: PR state: needs review, package: client

#2447 Exclude sim from client unit tests
  packages/client/package.json
Labels: package: client

#2443 Add eth_getTransactionByBlockHashAndIndex RPC Endpoint
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getTransactionByBlockHashAndIndex.spec.ts
Labels: type: feature, PR state: needs review, package: client

#2451 Fix EVM test scripts
  packages/evm/package.json
  packages/evm/test/memory.spec.ts
Labels: package: evm

#2452 client: Build block fixes
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/miner/pendingBlock.spec.ts
Labels: PR state: merge ready, package: client

#2457 client: Add blockValue to the getPayload response
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/rpc/engine/withdrawals.spec.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
Labels: PR state: merge ready, package: vm, package: client

#2458 common: Update forkhash calculation for timebased hardforks
  packages/common/src/common.ts
  packages/common/test/timestamp.spec.ts
Labels: PR state: merge ready, package: common

#2459 common: Add eips 3651,3855,3860 to shanghai hf for Zhejiang shanghai testnet
  packages/client/test/sim/eof.spec.ts
  packages/common/src/hardforks/shanghai.json
Labels: PR state: merge ready, package: common

#2462 client: Handle withdrawal bodies in the blockfetcher and skeleton sync fixes
  packages/client/lib/sync/beaconsync.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/skeleton.ts
  packages/client/test/sync/beaconsync.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
Labels: PR state: merge ready, package: client, hardfork: shanghai
