Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-04, with the labels that each got.

#1816 devp2p: solve "DPT discovers nodes when open_slots = 0"
  packages/devp2p/src/rlpx/rlpx.ts
Labels: PR state: needs review, type: enhancement, package: devp2p

#1815 vm, client: continuing v6 breaking changes
  packages/client/lib/execution/receipt.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/util/debug.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/vm/benchmarks/util.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/evm/eei.ts
  packages/vm/src/evm/evm.ts
  packages/vm/src/index.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runCode.ts
  packages/vm/src/runTx.ts
  packages/vm/src/state/interface.ts
  packages/vm/src/types.ts
  packages/vm/tests/api/EIPs/eip-1283-net-gas-metering.spec.ts
  packages/vm/tests/api/EIPs/eip-2929.spec.ts
  packages/vm/tests/api/EIPs/eip-3529.spec.ts
  packages/vm/tests/api/buildBlock.spec.ts
  packages/vm/tests/api/evm/precompiles/hardfork.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/istanbul/eip-2200.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runCall.spec.ts
  packages/vm/tests/api/runCode.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/state/accountExists.spec.ts
Labels: package: vm, package: client, breaking, target: develop

#1789 Implement EIP3074: Authcall
  packages/common/src/eips/3074.json
  packages/common/src/eips/index.ts
  packages/vm/src/evm/eei.ts
  packages/vm/src/evm/evm.ts
  packages/vm/src/evm/message.ts
  packages/vm/src/evm/opcodes/EIP2929.ts
  packages/vm/src/evm/opcodes/codes.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/src/evm/opcodes/gas.ts
  packages/vm/src/exceptions.ts
  packages/vm/src/index.ts
  packages/vm/tests/api/EIPs/eip-3074-authcall.spec.ts
Labels: type: feature, PR state: needs review, package: vm, package: common, target: develop

#1825 util: move misplaced functions
  packages/util/src/account.ts
  packages/util/src/bytes.ts
  packages/util/src/types.ts
  packages/util/test/bytes.spec.ts
  packages/util/test/types.spec.ts
Labels: PR state: needs review, package: util

#1822 Blockchain, Client, VM: Head function rename rebase
  packages/blockchain/src/index.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/blockchain/test/pos.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/client/bin/cli.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/rpc/modules/admin.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/eth/blockNumber.spec.ts
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/eth/getUncleCountByBlockNumber.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/mockBlockchain.ts
  packages/client/test/sync/execution/vmexecution.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/util/rpc.spec.ts
  packages/vm/tests/api/EIPs/eip-4399-supplant-difficulty-opcode-with-prevrando.spec.ts
  packages/vm/tests/api/runBlockchain.spec.ts
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, package: blockchain, package: vm, package: client

#1830 client: fix eth_call, add remoteBlocks to engine
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
Labels: PR state: needs review, package: client, hardfork: merge

#1837 common: add require examples to readme
  packages/common/README.md
Labels: PR state: needs review, type: docs, package: common

#1840 Set caller to zero address if not provided
  packages/vm/src/runCall.ts
Labels: PR state: needs review, package: vm

#1853 client: move TxPool to FullEthereumService
  packages/client/bin/cli.ts
  packages/client/lib/client.ts
  packages/client/lib/config.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/miner/miner.ts
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/service/txpool.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/integration/util.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/sync.spec.ts
  packages/client/test/sync/txpool.spec.ts
Labels: PR state: needs review, package: client

#1851 Common: fixed non-option passing on custom() method
  packages/common/src/index.ts
  packages/common/tests/customChains.spec.ts
Labels: type: bug, PR state: needs review, package: common

#1841 Blockchain: encapsulate consensus mechanism (new)
  packages/block/src/header.ts
  packages/block/test/mockchain.ts
  packages/block/test/poaMockchain.ts
  packages/blockchain/src/clique.ts
  packages/blockchain/src/consensus/casper.ts
  packages/blockchain/src/consensus/clique.ts
  packages/blockchain/src/consensus/ethash.ts
  packages/blockchain/src/consensus/index.ts
  packages/blockchain/src/consensus/interface.ts
  packages/blockchain/src/db/constants.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/db/operation.ts
  packages/blockchain/src/index.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/client/lib/miner/miner.ts
  packages/client/test/miner/miner.spec.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, type: refactor, package: blockchain, target: develop

#1856 New Minor VM v5.9 Release, Client and Common Bugfix Releases
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/util/parse.ts
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/docs/classes/default.md
  packages/common/docs/enums/Hardfork.md
  packages/common/package.json
  packages/common/src/chains/mainnet.json
  packages/common/src/hardforks/index.ts
  packages/common/src/hardforks/mergeForkIdTransition.json
  packages/common/src/index.ts
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/tx/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
  packages/vm/src/index.ts
Labels: PR state: needs review, package: vm, package: common, package: client

#1855 client: make some `eth_` methods available on engine endpoint as per kiln spec v2.1
  packages/client/bin/startRpc.ts
  packages/client/lib/util/rpc.ts
  packages/client/test/rpc/rpc.spec.ts
  packages/client/test/util/rpc.spec.ts
Labels: PR state: needs review, package: client, target: master

#1860 VM -> EIP-1153 (Transient Storage) Fix: Improve the time complexity of commit by using a journal instead…
  packages/vm/src/state/transientStorage.ts
  packages/vm/tests/api/state/transientStorage.spec.ts
Labels: PR state: needs review, type: refactor, package: vm

#1858 client: refac services, syncronizers and fetchers for beacon sync
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/sync/sync.spec.ts
Labels: PR state: needs review, package: client, target: master

#1861 client: pass the maxFetcherJobs arg to the config
  packages/client/bin/cli.ts
Labels: PR state: needs review, package: client, target: master

#1863 client: improvments after #1858
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fetcher/headerfetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/lib/types.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/sync/sync.spec.ts
Labels: PR state: needs review, package: client

#1868 vm/docs: mention that stack in step event can change
  packages/vm/README.md
Labels: type: docs, package: vm
