Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-01, with the labels that each got.

#1581 common: add support for new Sepolia chain
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/block/test/eip1559block.spec.ts
  packages/block/test/util.ts
  packages/common/README.md
  packages/common/src/chains/index.ts
  packages/common/src/chains/sepolia.json
  packages/common/src/genesisStates/index.ts
  packages/common/src/genesisStates/sepolia.json
  packages/common/src/index.ts
Labels: PR state: needs review, package: common

#1621 Add fallback for node constants
  packages/client/package.json
  packages/client/webpack.config.js
Labels: PR state: needs review, package: client

#1623 vm: fix examples
  packages/vm/examples/decode-opcodes/README.md
  packages/vm/examples/decode-opcodes/index.ts
  packages/vm/examples/decode-opcodes/package.json
  packages/vm/examples/run-blockchain/README.md
  packages/vm/examples/run-blockchain/index.ts
  packages/vm/examples/run-solidity-contract/index.ts
  packages/vm/examples/run-transactions-complete/README.md
Labels: PR state: needs review, package: vm

#1624 ci: upgrade node to v16
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/e2e-hardhat.yml
  .github/workflows/ethash-build.yml
  .github/workflows/node-versions.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-pr.yml
  Dockerfile
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/client/test/cli/cli-rpc.spec.ts
  packages/client/test/cli/cli-sync.spec.ts
  packages/common/package.json
  packages/devp2p/package.json
  packages/devp2p/src/eth/index.ts
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/util/test/account.spec.ts
  packages/vm/package.json
  packages/vm/tests/api/runBlock.spec.ts
Labels: PR state: needs review, type: CI

#1553 VM: Adopted Backwards-compatible Dynamic Gas Cost Refactoring
  .github/workflows/vm-build.yml
  .github/workflows/vm-pr.yml
  packages/vm/CHANGELOG.md
  packages/vm/package.json
  packages/vm/src/evm/interpreter.ts
  packages/vm/src/evm/opcodes/EIP1283.ts
  packages/vm/src/evm/opcodes/EIP2200.ts
  packages/vm/src/evm/opcodes/EIP2929.ts
  packages/vm/src/evm/opcodes/codes.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/src/evm/opcodes/gas.ts
  packages/vm/src/evm/opcodes/util.ts
  packages/vm/src/evm/stack.ts
  packages/vm/src/runTx.ts
  packages/vm/tests/api/EIPs/eip-1283-net-gas-metering.spec.ts
  packages/vm/tests/api/runCall.spec.ts
  scripts/e2e-hardhat.sh
Labels: type: feature, PR state: needs review, package: vm

#1629 VM: Jump dest analysis enhancements
  packages/vm/src/evm/interpreter.ts
  packages/vm/src/evm/opcodes/util.ts
Labels: PR state: needs review, package: vm, type: test all hardforks

#1642 rlp: add to root readme
  README.md
  codecov.yml
Labels: PR state: needs review, type: docs, package: monorepo, package: rlp

#1638 Util: Remove `assert` in favor of simply throwing `Errors` to ensure compatibility with Webpack 5
  packages/util/package.json
  packages/util/src/account.ts
  packages/util/src/address.ts
  packages/util/src/object.ts
Labels: PR state: needs review, type: refactor, package: util, breaking

#1641 Client: Add tests to verify shutdown
  packages/client/test/cli/cli-libp2p.spec.ts
  packages/client/test/cli/cli-rpc.spec.ts
Labels: PR state: needs review, type: tests, package: client

#1634 VM: Add comparison testing between branchs for State Test Runner
  packages/vm/DEVELOPER.md
  packages/vm/scripts/diffTester.sh
  packages/vm/tests/tester/index.ts
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, package: vm

#1620 tx: input value testing
  packages/tx/test/inputValue.spec.ts
Labels: PR state: needs review, package: tx

#1653 ci: fix node-versions run for node <16
  .github/workflows/node-versions.yml
  packages/rlp/bin/rlp
Labels: PR state: needs review, type: CI

#1649 Common, VM: Remove unused HF options from Common, move supportedHardforks to VM
  packages/common/README.md
  packages/common/src/index.ts
  packages/common/tests/chains.spec.ts
  packages/common/tests/hardforks.spec.ts
  packages/common/tests/params.spec.ts
  packages/vm/src/index.ts
  packages/vm/tests/api/index.spec.ts
Labels: PR state: needs review, type: refactor, package: vm, package: common, breaking

#1648 rlp: v3 updates from integration
  packages/rlp/CHANGELOG.md
  packages/rlp/README.md
  packages/rlp/src/index.ts
  packages/rlp/tsconfig.prod.json
  packages/util/package.json
  packages/util/src/bytes.ts
  packages/util/src/index.ts
  packages/util/src/types.ts
  packages/util/test/bytes.spec.ts
Labels: PR state: needs review, package: util, package: rlp

#1643 Devp2p, Client: Fix duplicated debug messages
  packages/blockchain/package.json
  packages/client/package.json
  packages/devp2p/package.json
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/eth/index.ts
  packages/devp2p/src/les/index.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/src/util.ts
  packages/vm/package.json
Labels: type: bug, PR state: needs review, package: blockchain, package: vm, package: devp2p, package: client

#1660 VM, Client: Remove ProofStateManager interface
  packages/client/lib/rpc/modules/eth.ts
  packages/vm/src/state/index.ts
  packages/vm/src/state/interface.ts
Labels: PR state: needs review, type: refactor, package: vm, package: client

#1658 Monorepo (& Tx, VM): Examples scripts in CI
  .github/workflows/examples.yml
  package.json
  packages/tx/examples/transactions.ts
  packages/tx/package.json
  scripts/examples-runner.ts
Labels: PR state: needs review, type: enhancement, package: tx, package: vm, package: monorepo

#1667 ci: add concurrency
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/e2e-hardhat.yml
  .github/workflows/ethash-build.yml
  .github/workflows/examples.yml
  .github/workflows/node-versions.yml
  .github/workflows/rlp-build.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-pr.yml
Labels: PR state: needs review, type: CI
