Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-05, with the labels that each got.

#1874 trie: convert constructor to options interface, remove deprecated setRoot
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/util/debug.ts
  packages/trie/README.md
  packages/trie/src/baseTrie.ts
  packages/trie/src/checkpointDb.ts
  packages/trie/src/checkpointTrie.ts
  packages/trie/src/db.ts
  packages/trie/src/secure.ts
  packages/trie/src/verifyRangeProof.ts
  packages/trie/test/index.spec.ts
Labels: package: trie, target: develop

#1872 devp2p: new release v4.2.2
  packages/client/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
Labels: type: release, package: devp2p

#1875 devp2p: remove `async` dependency from integration tests
  packages/devp2p/package.json
  packages/devp2p/test/integration/dpt-simulator.ts
  packages/devp2p/test/integration/rlpx-simulator.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review, type: tests, package: devp2p

#1859 util: replace hash module with ethereum-cryptography
  config/tsconfig.json
  package-lock.json
  packages/block/package.json
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/block/test/util.ts
  packages/client/lib/rpc/modules/web3.ts
  packages/client/lib/util/parse.ts
  packages/client/package.json
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/ethash/package.json
  packages/ethash/src/index.ts
  packages/ethash/src/util.ts
  packages/statemanager/package.json
  packages/statemanager/src/stateManager.ts
  packages/statemanager/tests/proofStateManager.spec.ts
  packages/statemanager/tests/stateManager.spec.ts
  packages/trie/benchmarks/random.ts
  packages/trie/package.json
  packages/trie/src/baseTrie.ts
  packages/trie/src/secure.ts
  packages/trie/src/trieNode.ts
  packages/tx/package.json
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/util/src/account.ts
  packages/util/src/hash.ts
  packages/util/src/index.ts
  packages/util/src/signature.ts
  packages/util/test/hash.spec.ts
  packages/vm/package.json
  packages/vm/src/bloom/index.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/src/evm/opcodes/util.ts
  packages/vm/src/evm/precompiles/02-sha256.ts
  packages/vm/src/evm/precompiles/03-ripemd160.ts
  packages/vm/tests/api/EIPs/eip-3074-authcall.spec.ts
  packages/vm/tests/api/runCall.spec.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, type: refactor, package: util, target: develop

#1849 vm: Improve `skipBalance` logic
  packages/vm/src/evm/evm.ts
  packages/vm/src/exceptions.ts
  packages/vm/src/runCall.ts
  packages/vm/src/runTx.ts
  packages/vm/tests/api/runCall.spec.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: PR state: needs review, package: vm, target: develop

#1877 blockchain: fix iterator return type, reinstate tests
  packages/blockchain/src/index.ts
  packages/client/lib/execution/vmexecution.ts
  packages/vm/src/runBlockchain.ts
  packages/vm/tests/api/runBlockchain.spec.ts
Labels: PR state: needs review, package: blockchain, package: vm, target: develop

#1881 client: add missing tx fields to getBlockByHash
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getBlockByHash.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/mockBlockchain.ts
Labels: package: client

#1884 Tx: Ensure TxOptions propagate from unsigned to signed
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/types.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
Labels: PR state: needs review, type: enhancement, package: tx

#1893 devp2p: Snap devp2p tests
  packages/devp2p/test/integration/index.ts
  packages/devp2p/test/integration/snap-simulator.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review, type: tests, package: devp2p

#1852 Client/TxPool: add tx validation
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/txpool.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/util.ts
  packages/client/test/sync/txpool.spec.ts
Labels: type: feature, PR state: needs review, package: client

#1887 fix: expand memory on reading prev. untouched location
  packages/vm/src/evm/memory.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/src/evm/opcodes/util.ts
  packages/vm/tests/api/evm/memory.spec.ts
Labels: type: bug, package: vm, type: test all hardforks

#1900 VM/tests: ensure verifyPostConditions works
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
  packages/vm/tests/util.ts
Labels: PR state: needs review, type: tests, package: vm, type: test all hardforks

#1915 Common refactor
  packages/client/bin/cli.ts
  packages/common/src/common.ts
  packages/common/src/eips/index.ts
  packages/common/src/enums.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/customChains.spec.ts
Labels: PR state: needs review, package: block, package: blockchain, package: tx, package: vm, package: common, package: client, package: statemanager

#1917 refactor(trie): abstract database implementation with an interface
  packages/client/lib/execution/vmexecution.ts
  packages/trie/benchmarks/checkpointing.ts
  packages/trie/benchmarks/index.ts
  packages/trie/benchmarks/random.ts
  packages/trie/src/baseTrie.ts
  packages/trie/src/checkpointDb.ts
  packages/trie/src/checkpointTrie.ts
  packages/trie/src/db.ts
  packages/trie/src/index.ts
  packages/trie/src/secure.ts
  packages/trie/test/checkpoint.spec.ts
  packages/trie/test/checkpointDb.spec.ts
  packages/trie/test/db.spec.ts
  packages/trie/test/encoding.spec.ts
  packages/trie/test/index.spec.ts
  packages/trie/test/official.spec.ts
  packages/trie/test/proof.spec.ts
  packages/trie/test/rangeProof.spec.ts
  packages/trie/test/secure.spec.ts
  packages/trie/test/stream.spec.ts
Labels: type: feature, PR state: needs review, type: refactor, package: trie, breaking, target: develop

#1919 client: Subsume engine's INVALID_TERMINAL_BLOCK into INVALID response
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
Labels: PR state: needs review, package: client, hardfork: merge, target: master

#1905 Util: Allow `v` to be `0` or `1` for EIP1559 transactions
  packages/tx/src/legacyTransaction.ts
  packages/tx/test/legacy.spec.ts
  packages/util/src/signature.ts
  packages/util/test/signature.spec.ts
  packages/vm/src/evm/precompiles/01-ecrecover.ts
Labels: PR state: WIP, type: test all hardforks, package: util
