Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-09, with the labels that each got.

#2266 evm: Update examples
  packages/evm/README.md
  packages/evm/examples/run-code-browser.js
  packages/evm/examples/runCode.ts
  packages/evm/package.json
Labels: package: evm

#2240 feat(trie): support manual setting of checkpoints
  packages/trie/src/db/checkpoint.ts
  packages/trie/src/trie/trie.ts
Labels: type: feature, PR state: needs review, package: trie

#2203 trie: implement trie pruning
  packages/trie/src/trie/trie.ts
  packages/trie/src/types.ts
  packages/trie/test/index.spec.ts
  packages/trie/test/trie/checkpoint.spec.ts
  packages/trie/test/trie/prune.spec.ts
Labels: type: feature, package: trie

#2270 Final Breaking Releases
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/rlp/CHANGELOG.md
  packages/rlp/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: client, package: trie, package: util, package: rlp, package: statemanager, package: evm

#2269 client: Fix snap protocol encoding decoding as per spec
  packages/client/lib/net/protocol/snapprotocol.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/util/src/account.ts
Labels: PR state: merge ready, package: client

#2272 chore: enable `@typescript-eslint/return-await` rule for `eslint`
  config/eslint.js
  packages/blockchain/src/blockchain.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/util/parse.ts
  packages/statemanager/src/stateManager.ts
  packages/trie/src/proof/range.ts
  packages/trie/src/trie/trie.ts
  packages/trie/src/util/walkController.ts
  packages/trie/test/proof/range.spec.ts
  packages/vm/src/eei/vmState.ts
  packages/vm/tests/api/buildBlock.spec.ts
Labels: PR state: needs review, type: refactor, package: monorepo

#2285 perf: migrate rbtree to js-sdsl
  package-lock.json
  packages/statemanager/package.json
  packages/statemanager/src/cache.ts
  packages/statemanager/tests/stateManager.spec.ts
  packages/vm/package.json
Labels: PR state: needs review, type: refactor, package: vm, package: statemanager

#2088 VM: add retesteth support for transition-tool protocol
  package-lock.json
  packages/block/.c8rc.json
  packages/blockchain/.c8rc.json
  packages/client/.c8rc.json
  packages/common/.c8rc.json
  packages/devp2p/.c8rc.json
  packages/ethash/.c8rc.json
  packages/evm/.c8rc.json
  packages/rlp/.c8rc.json
  packages/statemanager/.c8rc.json
  packages/trie/.c8rc.json
  packages/tx/.c8rc.json
  packages/util/.c8rc.json
  packages/vm/.c8rc.json
  packages/vm/package.json
  packages/vm/src/buildBlock.ts
  packages/vm/tests/retesteth/README.md
  packages/vm/tests/retesteth/clients/ethereumjs/config
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/ArrowGlacier.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/Berlin.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/BerlinToLondonAt5.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/Byzantium.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/ByzantiumToConstantinopleFixAt5.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/Constantinople.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/ConstantinopleFix.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/EIP150.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/EIP158.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/EIP158ToByzantiumAt5.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/Frontier.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/FrontierToHomesteadAt5.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/Homestead.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/HomesteadToDaoAt5.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/HomesteadToEIP150At5.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/Istanbul.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/London.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/Merge.json
  packages/vm/tests/retesteth/clients/ethereumjs/genesis/correctMiningReward.json
  packages/vm/tests/retesteth/clients/ethereumjs/start.sh
  packages/vm/tests/retesteth/clients/version
  packages/vm/tests/retesteth/transition-child.ts
  packages/vm/tests/retesteth/transition-cluster.ts
  packages/vm/tests/tester/config.ts
Labels: PR state: needs review, type: tests, package: vm

#2288 client: Fix Dockerfile build
  Dockerfile
Labels: type: bug, PR state: needs review, type: CI, package: client

#2281 block: clean up block RPC test data
  packages/block/test/block.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/testdata/testdata-from-rpc-difficulty-as-integer.json
  packages/block/test/testdata/testdata-from-rpc-goerli.json
  packages/block/test/testdata/testdata-from-rpc.json
Labels: PR state: needs review, package: block

#2289 statemanager: remove eslint-disable from imports
  packages/statemanager/src/cache.ts
Labels: type: meta, PR state: needs review, package: statemanager

#2300 common: Relocate geth genesis, state parsers to common, blockchain respectively
  packages/blockchain/README.md
  packages/blockchain/src/genesisStates/index.ts
  packages/blockchain/src/index.ts
  packages/blockchain/src/utils.ts
  packages/blockchain/test/testdata/geth-genesis-kiln.json
  packages/blockchain/test/utils.spec.ts
  packages/client/bin/cli.ts
  packages/client/lib/util/parse.ts
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/util/CLConnectionManager.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/client/test/util/parse.spec.ts
  packages/common/README.md
  packages/common/src/common.ts
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/common/tests/utils.spec.ts
Labels: PR state: merge ready, package: blockchain, package: common, package: client, target: master

#2302 block: Fix from rpc methods
  packages/block/src/from-rpc.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/testdata/alchemy14151203.json
  packages/block/test/testdata/infura15571241.json
  packages/block/test/testdata/infura15571241wtxns.json
  packages/block/test/testdata/infura2000004wotxns.json
  packages/block/test/testdata/infura2000004wtxs.json
Labels: type: bug, package: block

#2305 Blockchain comments/code cleanup
  packages/blockchain/src/blockchain.ts
Labels: eval: needs discussion, package: blockchain

#2308 blockchain: Fix and enhance the blockchain iterator
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/types.ts
  packages/blockchain/test/index.spec.ts
  packages/blockchain/test/iterator.spec.ts
  packages/blockchain/test/util.ts
  packages/client/lib/execution/vmexecution.ts
  packages/util/src/index.ts
  packages/util/src/lock.ts
Labels: PR state: merge ready, package: blockchain, package: client, target: master

#2314 blockchain: remove duplicate _getBlock method
  packages/blockchain/src/blockchain.ts
Labels: package: blockchain

#2318 chore(trie): make `@types/readable-stream` a prod dependency
  package-lock.json
  packages/trie/package.json
Labels: type: bug, PR state: needs review, package: trie

#2319 common: use a default chain name in fromGethGenesis if no chain name specified
  packages/common/src/common.ts
Labels: PR state: merge ready, package: common

#2313 common: Refactor and update common.getHardforkByBlockNumber to address post merge hfs
  packages/client/test/rpc/util/CLConnectionManager.spec.ts
  packages/common/src/chains/goerli.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/sepolia.json
  packages/common/src/common.ts
  packages/common/tests/hardforks.spec.ts
  packages/common/tests/mergePOS.spec.ts
Labels: PR state: merge ready, package: common, target: master

#2324 common: Add merge block numbers for merged networks and fix forkhash calc
  packages/common/src/chains/goerli.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/sepolia.json
  packages/common/src/common.ts
  packages/common/tests/hardforks.spec.ts
Labels: PR state: merge ready, package: common, target: master

#2323 vm: fix vm test
  packages/vm/tests/tester/index.ts
Labels: type: bug, PR state: WIP, type: tests, package: vm
