Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-10, with the labels that each got.

#2331 common: Fix hardfork changes
  packages/client/test/integration/merge.spec.ts
  packages/common/src/common.ts
  packages/common/src/hardforks/index.ts
  packages/common/tests/hardforks.spec.ts
  packages/common/tests/mergePOS.spec.ts
Labels: PR state: merge ready, package: common

#2284 TX: fix TX decoding when some values are actually arrays
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/test/inputValue.spec.ts
Labels: type: bug, PR state: needs review, package: tx

#2335 tx: cleanup npm test scripts
  packages/tx/package.json
  packages/tx/test/index.ts
Labels: package: tx

#2311 Added env check for debug mode + optimised the variable usage #1882
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/examples/peer-communication.ts
  packages/devp2p/src/protocol/eth.ts
Labels: package: devp2p

#2315 Add Ethers State manager v2
  package-lock.json
  packages/block/package.json
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/mockProvider.ts
  packages/evm/package.json
  packages/statemanager/README.md
  packages/statemanager/karma.conf.js
  packages/statemanager/package.json
  packages/statemanager/src/ethersStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/statemanager/test/testdata/providerData/accounts/0x0000000000000000000000000000000000000000.json
  packages/statemanager/test/testdata/providerData/accounts/0x1f9840a85d5af5bf1d1762f925bdaddc4201f984.json
  packages/statemanager/test/testdata/providerData/accounts/0x580992b51e3925e23280efb93d3047c82f17e038.json
  packages/statemanager/test/testdata/providerData/accounts/0x7b0f34615564cd976fea815d9691cc102f4058d6.json
  packages/statemanager/test/testdata/providerData/accounts/0xbe862ad9abfe6f22bcb087716c7d89a26051f74c.json
  packages/statemanager/test/testdata/providerData/accounts/0xcad621da75a66c7a8f4ff86d30a2bf981bfc8fdd.json
  packages/statemanager/test/testdata/providerData/accounts/0xccafdd642118e5536024675e776d32413728dd07.json
  packages/statemanager/test/testdata/providerData/accounts/0xd8da6bf26964af9d7eed9e03e53415d37aa96045.json
  packages/statemanager/test/testdata/providerData/blocks/block0x7a11f.json
  packages/statemanager/test/testdata/providerData/blocks/block0x7a120.json
  packages/statemanager/test/testdata/providerData/mockProvider.ts
  packages/statemanager/test/testdata/providerData/transactions/0xed1960aa7d0d7b567c946d94331dddb37a1c67f51f30bf51f256ea40db88cfb0.json
  packages/tx/package.json
  packages/tx/src/fromRpc.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/test/fromRpc.spec.ts
  packages/tx/test/json/rpcTx.json
  packages/tx/test/mockProvider.ts
Labels: PR state: needs review, package: statemanager

#2351 common: Update EIP-3675 to final
  packages/common/src/eips/3675.json
Labels: package: common

#2352 Fix `tests` directory references
  packages/common/typedoc.js
  packages/evm/.eslintrc.js
  packages/evm/CHANGELOG.md
  packages/evm/typedoc.js
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/statemanager/typedoc.js
  packages/vm/.eslintrc.js
  packages/vm/CHANGELOG.md
  packages/vm/DEVELOPER.md
  packages/vm/test/retesteth/README.md
  packages/vm/test/retesteth/transition-cluster.ts
  packages/vm/test/tester/scripts/blockchain-test-run-test.sh
  packages/vm/test/tester/scripts/state-test-run-test.sh
  packages/vm/typedoc.js
Labels: package: vm, package: common, package: statemanager, package: evm

#2355 evm: move 4399 to non-experimental
  packages/evm/src/evm.ts
Labels: PR state: needs review, type: docs, package: evm

#2354 Monorepo: fix broken eth.wiki links
  packages/block/src/types.ts
  packages/client/README.md
  packages/client/lib/execution/receipt.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/rlp/src/index.ts
  packages/trie/benchmarks/suite.ts
  packages/trie/test/index.spec.ts
Labels: type: docs, package: monorepo

#2358 client: fix validation logic for optional params in rpc
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/validation.ts
Labels: type: bug, package: client

#2303 evm: update imports/exports
  package-lock.json
  packages/evm/examples/runCode.ts
  packages/evm/package.json
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/types.ts
  packages/vm/package.json
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/vm.ts
Labels: type: bug, PR state: needs review, package: vm, package: evm

#2364 common: Ignore merge hf in nextHardforkBlock
  packages/common/src/common.ts
  packages/common/test/mergePOS.spec.ts
Labels: PR state: merge ready, package: common

#2361 New Releases
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/README.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/blockchain/src/blockchain.ts
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/evm/src/types.ts
  packages/statemanager/CHANGELOG.md
  packages/statemanager/README.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/package.json
  packages/tx/src/transactionFactory.ts
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: tx, package: vm, package: common, package: devp2p, package: client, package: trie, package: statemanager, package: evm

#2367 vm/tests: print failing tests
  packages/vm/test/tester/index.ts
Labels: PR state: needs review, type: tests, package: vm

#2371 Release Fixes (new Util release v8.0.1, new client release v0.6.5 (v0.6.4 broken))
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/vm/package.json
Labels: type: release, package: client, package: util

#2376 Switch eventemitter2 to local asynceventemitter
  package-lock.json
  packages/evm/examples/runCode.ts
  packages/evm/package.json
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/types.ts
  packages/evm/test/asyncEvents.spec.ts
  packages/evm/tsconfig.json
  packages/util/package.json
  packages/util/src/asyncEventEmitter.ts
  packages/util/src/index.ts
  packages/util/test/asyncEventEmitter.spec.ts
  packages/vm/package.json
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/vm.ts
Labels: package: vm, package: util, package: evm

#2377 New Releases (EVM/VM Event Emitter Fix)
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: vm, package: util, package: evm

#2309 client: Enhance skeleton sync to process batches of new payloads and fcUs
  packages/client/lib/config.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/sync/beaconsync.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/skeleton.ts
  packages/client/test/sync/beaconsync.spec.ts
  packages/client/test/sync/skeleton.spec.ts
Labels: PR state: merge ready, package: client, target: master

#2380 New EVM (EIP-3540) and Blockchain (ensure Lock) Releases
  package-lock.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: blockchain, package: evm

#2381 evm/vm: fix EIP3540 header lookalike parsing
  packages/evm/src/eof.ts
  packages/vm/test/api/EIPs/eip-3670-eof-code-validation.spec.ts
Labels: PR state: needs review, package: vm, package: evm

#2383 EVM: non-empty "empty" account bugfixes
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/vm/test/api/runTx.spec.ts
Labels: type: bug, PR state: needs review, package: vm, package: evm

#2384 New EVM Bugfix Release v1.2.2
  packages/client/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: evm

#2387 fix devp2p README.md reference to `les.ts`
  packages/devp2p/README.md
Labels: type: docs, package: devp2p

#2385 devp2p README.md: fix link to eth protocol
  packages/devp2p/README.md
Labels: type: docs, package: devp2p

#2382 Integrate txpool fixes found in Shandong
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/txpool.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/mockBlockchain.ts
  packages/client/test/sync/txpool.spec.ts
Labels: type: bug, type: feature, package: client

#2392 Clean up `handleEth`
  packages/client/lib/service/fullethereumservice.ts
  packages/client/test/service/fullethereumservice.spec.ts
Labels: PR state: needs review, type: refactor, effort: E1 hours, package: client, target: master
