Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-03, with the labels that each got.

#1753 Common, Block: remove and rename ambiguous active methods
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/common/src/index.ts
  packages/common/tests/hardforks.spec.ts
  packages/common/tests/mergePOS.spec.ts
  packages/common/tests/params.spec.ts
  packages/vm/src/runBlock.ts
Labels: PR state: needs review, type: refactor, package: block, package: common, breaking, target: develop

#1727 Client: Engine API tests implementation
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/helpers.ts
Labels: PR state: needs review, type: enhancement, package: client

#1762 client - Add functionality to specify cors for rpc server
  package-lock.json
  packages/client/bin/cli.ts
  packages/client/bin/startRpc.ts
  packages/client/lib/util/rpc.ts
  packages/client/package.json
Labels: type: feature, package: client

#1763 vm: reintroduce modifyAccountFields
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/vm/src/evm/eei.ts
  packages/vm/src/state/interface.ts
  packages/vm/src/state/stateManager.ts
  packages/vm/tests/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/tests/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/tests/api/state/stateManager.spec.ts
Labels: PR state: needs review, package: vm, target: develop

#1766 client: devnet5 instructions
  packages/client/kiln/README.md
Labels: type: docs, package: client, hardfork: merge

#1769 client: increase json parser size
  packages/client/lib/util/rpc.ts
Labels: package: client, hardfork: merge

#1765 develop: fix client parse, move modifyAccountFields to baseStateManager
  packages/client/lib/util/parse.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/vm/src/state/baseStateManager.ts
  packages/vm/src/state/stateManager.ts
Labels: package: vm, package: client, target: develop

#1750 merge: kiln v2 updates
  packages/block/src/header.ts
  packages/block/test/mergeBlock.spec.ts
  packages/client/bin/startRpc.ts
  packages/client/kiln/Dockerfile
  packages/client/kiln/README.md
  packages/client/kiln/devnet4/genesis.json
  packages/client/kiln/docker-compose.ethereumjs.yml
  packages/client/kintsugi/README.md
  packages/client/kintsugi/config.yaml
  packages/client/kintsugi/config/boot_enr.yaml
  packages/client/kintsugi/config/bootstrap_nodes.txt
  packages/client/kintsugi/config/deploy_block.txt
  packages/client/kintsugi/config/deposit_contract.txt
  packages/client/kintsugi/config/deposit_contract_block.txt
  packages/client/kintsugi/config/el_bootnode.txt
  packages/client/kintsugi/config/genesis.json
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/util/rpc.ts
  packages/client/test/rpc/engine/exchangeTransitionConfigurationV1.spec.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/common/src/eips/4399.json
  packages/vm/src/evm/eei.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/tests/api/EIPs/eip-4399-supplant-difficulty-opcode-with-prevrando.spec.ts
Labels: package: vm, package: common, package: client, hardfork: merge

#1619 VM, Tx, Common: Implement EIP3860 "limit and meter initcode"
  packages/common/src/eips/3860.json
  packages/common/src/eips/index.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/util.ts
  packages/tx/test/transactionRunner.ts
  packages/tx/test/types.ts
  packages/vm/src/evm/eei.ts
  packages/vm/src/evm/evm.ts
  packages/vm/src/evm/opcodes/gas.ts
  packages/vm/src/exceptions.ts
  packages/vm/src/index.ts
  packages/vm/tests/api/EIPs/eip-3860.spec.ts
Labels: type: feature, PR state: needs review, PR/Issue state: blocked, package: tx, package: vm, package: common

#1757 VM, Common: Complex Genesis State tests
  packages/common/src/index.ts
  packages/common/src/types.ts
  packages/common/tests/customChains.spec.ts
  packages/vm/README.md
  packages/vm/src/index.ts
  packages/vm/tests/api/customChain.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/testdata/testnet.json
Labels: PR state: needs review, type: tests, type: enhancement, package: vm, package: common

#1731 trie: add verifyRangeProof
  packages/trie/src/baseTrie.ts
  packages/trie/src/secure.ts
  packages/trie/src/trieNode.ts
  packages/trie/src/util/nibbles.ts
  packages/trie/src/verifyRangeProof.ts
  packages/trie/test/index.spec.ts
  packages/trie/test/rangeProof.spec.ts
Labels: type: feature, package: trie

#1600 devp2p: ETH-LES class refactor
  packages/devp2p/src/index.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/index.ts
  packages/devp2p/src/protocol/les.ts
  packages/devp2p/src/protocol/protocol.ts
  packages/devp2p/src/util.ts
  packages/devp2p/typedoc.js
Labels: PR state: needs review, type: refactor, package: devp2p

#1775 client: Kiln public testnet update
  packages/client/.gitignore
  packages/client/bin/cli.ts
  packages/client/bin/startRpc.ts
  packages/client/kiln/Dockerfile
  packages/client/kiln/README.md
  packages/client/kiln/docker-compose.ethereumjs.yml
  packages/client/lib/client.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/lib/sync/txpool.ts
  packages/client/lib/util/index.ts
  packages/client/lib/util/rpc.ts
  packages/client/test/cli/cli-rpc.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/util/rpc.spec.ts
  packages/client/webpack.config.js
Labels: package: client, hardfork: merge

#1778 client: kiln touchups
  packages/client/lib/util/rpc.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/util/rpc.spec.ts
Labels: package: client, hardfork: merge

#1776 devp2p: fix per-message debug logging
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/les.ts
  packages/devp2p/src/protocol/protocol.ts
Labels: PR state: needs review, package: devp2p

#1777 common: update status fields for EIPs and hardforks
  packages/common/src/eips/1559.json
  packages/common/src/eips/2315.json
  packages/common/src/eips/2565.json
  packages/common/src/eips/2718.json
  packages/common/src/eips/2929.json
  packages/common/src/eips/2930.json
  packages/common/src/eips/3198.json
  packages/common/src/eips/3529.json
  packages/common/src/eips/3541.json
  packages/common/src/eips/3554.json
  packages/common/src/eips/3607.json
  packages/common/src/eips/3675.json
  packages/common/src/eips/3855.json
  packages/common/src/eips/3860.json
  packages/common/src/eips/4345.json
  packages/common/src/eips/4399.json
  packages/common/src/hardforks/berlin.json
  packages/common/src/hardforks/istanbul.json
  packages/common/src/hardforks/london.json
  packages/common/src/hardforks/petersburg.json
Labels: type: enhancement, package: common

#1786 blockchain: fix updateCache
  packages/blockchain/src/db/operation.ts
Labels: package: blockchain

#1787 block: unify blockHeader constructor input shapes
  packages/block/src/header.ts
Labels: PR state: needs review, type: refactor, package: block, target: develop

#1790 Client: Unlock miner with file pk
  packages/client/bin/cli.ts
Labels: PR state: needs review, package: client

#1719 VM, Common: implement eip-3540 (EOF1)
  packages/common/src/eips/3540.json
  packages/common/src/eips/3670.json
  packages/common/src/eips/index.ts
  packages/vm/src/evm/evm.ts
  packages/vm/src/evm/interpreter.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/src/evm/opcodes/util.ts
  packages/vm/src/exceptions.ts
  packages/vm/src/index.ts
  packages/vm/tests/api/EIPs/eip-3540-evm-object-format.spec.ts
  packages/vm/tests/api/EIPs/eip-3670-eof-code-validation.spec.ts
  packages/vm/tests/api/EIPs/eip-3860.spec.ts
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, package: vm, package: common

#1783 client: expand getLogs to accept array of addresses
  packages/client/lib/execution/receipt.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getLogs.spec.ts
Labels: PR state: needs review, package: client

#1795 VM: EIP-3450, EIP-3670 Improvements and Test Clean-Ups
  packages/vm/src/evm/evm.ts
  packages/vm/src/evm/interpreter.ts
  packages/vm/src/evm/opcodes/eof.ts
  packages/vm/src/evm/opcodes/util.ts
  packages/vm/tests/api/EIPs/eip-3540-evm-object-format.spec.ts
  packages/vm/tests/api/EIPs/eip-3670-eof-code-validation.spec.ts
Labels: PR state: needs review, type: tests, type: enhancement, package: vm

#1796 Client: Improve stalled Kiln startup
  packages/client/lib/net/peerpool.ts
Labels: PR state: needs review, type: enhancement, package: client

#1792 client: Fetcher reorg handling
  packages/client/lib/net/peerpool.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fetcher/headerfetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
Labels: package: client

#1793 client: small fixes (txpool result not iterable, rpc validation for exchangeTransitionConfiguration)
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/sync/txpool.ts
  packages/client/test/rpc/helpers.ts
Labels: PR state: needs review, package: client

#1798 Client: Bootnodes fix
  packages/client/bin/cli.ts
  packages/client/kiln/README.md
  packages/client/lib/util/parse.ts
Labels: type: bug, PR state: needs review, type: enhancement, package: client

#1799 Common: Fixed Event Listener Take-Over on Common.copy()
  packages/common/src/index.ts
  packages/common/tests/chains.spec.ts
Labels: type: bug, PR state: needs review, package: common

#1797 Client: Terminal block validation
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
Labels: PR state: needs review, type: enhancement, package: client, hardfork: merge

#1800 Client: Merge/HF Logger Improvements
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/client.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/logging.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/types.ts
  packages/client/test/integration/util.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/helpers.ts
Labels: PR state: WIP, type: enhancement, package: client

#1805 Client: more Merge-related logger improvments
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
Labels: PR state: needs review, type: enhancement, package: client

#1802 client: Handle partial results in multi-peer safe manner
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fetcher/headerfetcher.ts
  packages/client/lib/sync/fetcher/types.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/vm/src/runBlock.ts
Labels: package: client

#1804 Client: Validate block safe hash on ForkchoiceUpdated
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
Labels: PR state: needs review, type: enhancement, package: client

#1801 Client: eth_getBlockByNumber method returns array of tx object when asked
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
Labels: PR state: needs review, package: client

#1770 VM: add feature to add/disable (custom) precompiles
  packages/vm/src/evm/evm.ts
  packages/vm/src/evm/precompiles/index.ts
  packages/vm/src/evm/precompiles/types.ts
  packages/vm/src/index.ts
  packages/vm/src/runTx.ts
  packages/vm/src/state/baseStateManager.ts
  packages/vm/src/state/stateManager.ts
  packages/vm/tests/api/EIPs/eip-2537-BLS.spec.ts
  packages/vm/tests/api/customPrecompiles.spec.ts
  packages/vm/tests/api/evm/precompiles/06-ecadd.spec.ts
  packages/vm/tests/api/evm/precompiles/07-ecmul.spec.ts
  packages/vm/tests/api/evm/precompiles/08-ecpairing.spec.ts
  packages/vm/tests/api/evm/precompiles/hardfork.spec.ts
  packages/vm/tests/api/istanbul/eip-1108.spec.ts
Labels: type: feature, PR state: needs review, package: vm, target: develop

#1705 VM: Add option to add custom opcodes
  packages/vm/examples/decode-opcodes.ts
  packages/vm/src/evm/interpreter.ts
  packages/vm/src/evm/opcodes/codes.ts
  packages/vm/src/evm/opcodes/gas.ts
  packages/vm/src/evm/types.ts
  packages/vm/src/index.ts
  packages/vm/tests/api/evm/customOpcodes.spec.ts
Labels: type: feature, PR state: needs review, package: vm

#1803 Client: Validate finalized block hash on ForkchoiceUpdated
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
Labels: PR state: needs review, type: enhancement, package: client

#1807 client: Add new startBlock parameter to client
  packages/client/bin/cli.ts
Labels: PR state: needs review, package: client

#1808 Client: even more Merge logging improvements
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
Labels: PR state: needs review, type: enhancement, package: client

#1774 New Releases: Kiln v2 Testnet, EIP-3860, Extended VM Genesis (Code/Storage)
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/docs/classes/BlockHeader.md
  packages/block/package.json
  packages/block/src/header.ts
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/kiln/README.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/common/docs/classes/default.md
  packages/common/docs/enums/ConsensusAlgorithm.md
  packages/common/docs/enums/ConsensusType.md
  packages/common/docs/enums/Hardfork.md
  packages/common/docs/interfaces/CommonOpts.md
  packages/common/docs/interfaces/CustomCommonOpts.md
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/trie/CHANGELOG.md
  packages/trie/README.md
  packages/trie/docs/README.md
  packages/trie/docs/classes/BaseTrie.md
  packages/trie/docs/classes/CheckpointTrie.md
  packages/trie/docs/classes/SecureTrie.md
  packages/trie/docs/classes/WalkController.md
  packages/trie/docs/modules.md
  packages/trie/docs/modules/baseTrie.md
  packages/trie/docs/modules/checkpointTrie.md
  packages/trie/docs/modules/secure.md
  packages/trie/docs/modules/util_walkController.md
  packages/trie/package.json
  packages/trie/typedoc.js
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/docs/README.md
  packages/tx/docs/classes/AccessListEIP2930Transaction.md
  packages/tx/docs/classes/FeeMarketEIP1559Transaction.md
  packages/tx/docs/classes/Transaction.md
  packages/tx/package.json
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/vm/package.json
  packages/vm/src/index.ts
  packages/vm/tests/api/EIPs/eip-3860.spec.ts
Labels: PR state: needs review, PR state: do-not-merge, type: release, package: block, package: tx, package: vm, package: common, package: client, package: trie

#1768 VM, Common: Implement EIP 1153, Transient storage opcodes
  packages/common/src/eips/1153.json
  packages/common/src/eips/index.ts
  packages/vm/src/evm/eei.ts
  packages/vm/src/evm/evm.ts
  packages/vm/src/evm/opcodes/codes.ts
  packages/vm/src/evm/opcodes/functions.ts
  packages/vm/src/index.ts
  packages/vm/src/state/index.ts
  packages/vm/src/state/transientStorage.ts
  packages/vm/tests/api/EIPs/eip-1153.spec.ts
  packages/vm/tests/api/evm/eei.spec.ts
  packages/vm/tests/api/state/transientStorage.spec.ts
Labels: type: feature, PR state: needs review, package: vm, package: common

#1814 VM, Common -> Implement EIP 3651: Warm COINBASE
  packages/common/src/eips/3651.json
  packages/common/src/eips/index.ts
  packages/vm/src/index.ts
  packages/vm/src/runTx.ts
  packages/vm/tests/api/EIPs/eip-3651-warm-coinbase.spec.ts
Labels: PR state: needs review, package: vm, package: common

#1820 Client: Fcu handles if headBlockHash is an old block
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
Labels: PR state: needs review, type: enhancement, package: client

#1824 Client: NewPayload handle already existing payload
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/testdata/blocks/beacon.json
Labels: PR state: needs review, type: enhancement, package: client

#1827 client/engine: speed and resiliency improvements
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/util/index.ts
  packages/client/lib/util/parse.ts
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/util/CLConnectionManager.spec.ts
  packages/client/test/util/parse.spec.ts
  packages/common/src/hardforks/index.ts
  packages/common/src/hardforks/mergeForkBlock.json
  packages/common/src/index.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/index.ts
  packages/vm/tests/api/buildBlock.spec.ts
Labels: PR state: needs review, package: vm, package: client, hardfork: merge
