Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2022-02, with the labels that each got.

#1640 New Minor Releases (VM Dynamic GasCosts, EIP-2681, Sepolia, various other)
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/common/docs/classes/default.md
  packages/common/docs/enums/Chain.md
  packages/common/docs/enums/ConsensusAlgorithm.md
  packages/common/docs/enums/ConsensusType.md
  packages/common/docs/enums/Hardfork.md
  packages/common/docs/interfaces/CommonOpts.md
  packages/common/docs/interfaces/CustomCommonOpts.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/docs/.nojekyll
  packages/tx/docs/classes/AccessListEIP2930Transaction.md
  packages/tx/docs/classes/FeeMarketEIP1559Transaction.md
  packages/tx/docs/classes/Transaction.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/docs/README.md
  packages/util/docs/classes/Account.md
  packages/util/docs/classes/BN.md
  packages/util/docs/enums/TypeOutput.md
  packages/util/docs/interfaces/AccountData.md
  packages/util/docs/interfaces/rlp.Decoded.md
  packages/util/docs/interfaces/rlp.List.md
  packages/util/docs/modules/rlp.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: tx, package: vm, package: common, package: devp2p, package: client, package: trie, package: util

#1676 vm: skip `_runStepHook` method if no step event listener
  packages/vm/src/evm/interpreter.ts
Labels: PR state: needs review, package: vm

#1683 Block: New Release v3.6.1 (Minor Release Series Follow-Up Release)
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: block

#1684 vm: fix keyMap iterator in blockchain test runner
  packages/vm/tests/util.ts
Labels: type: bug, PR state: needs review, package: vm

#1681 vm: Check vm.DEBUG for emitting step event
  packages/vm/src/evm/interpreter.ts
Labels: PR state: needs review, package: vm

#1691 vm: add guard for EIP-3607
  packages/common/src/eips/3607.json
  packages/common/src/eips/index.ts
  packages/vm/src/index.ts
  packages/vm/src/runTx.ts
  packages/vm/tests/api/EIPs/eip-3607.spec.ts
  packages/vm/tests/tester/config.ts
  packages/vm/tests/tester/index.ts
  packages/vm/tests/tester/runners/BlockchainTestsRunner.ts
  packages/vm/tests/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, package: vm, package: common

#1692 patch releases: common v2.6.2, vm v5.7.1
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/tx/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
  packages/vm/src/runTx.ts
Labels: PR state: needs review, type: release, package: vm, package: common

#1698 Common method deprecations (new)
  packages/blockchain/test/clique.spec.ts
  packages/client/bin/cli.ts
  packages/client/test/miner/miner.spec.ts
  packages/common/src/chains/index.ts
  packages/common/src/genesisStates/index.ts
  packages/common/src/index.ts
  packages/common/tests/chains.spec.ts
  packages/common/tests/customChains.spec.ts
  packages/common/tests/genesisStates.spec.ts
  packages/common/tests/hardforks.spec.ts
  packages/tx/examples/custom-chain-tx.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/tester/config.ts
  packages/vm/tests/util.ts
Labels: PR state: WIP, type: refactor, package: blockchain, package: tx, package: vm, package: common, package: client, breaking, target: develop

#1700 vm: Fix contract REVERT bug: upon creation, REVERT return data > maxCodeSize
  packages/vm/src/evm/evm.ts
  packages/vm/tests/api/runTx.spec.ts
Labels: type: bug, PR state: needs review, package: vm, type: test all hardforks

#1702 Add latest hardforks to tx tests
  packages/tx/test/transactionRunner.ts
  packages/tx/test/types.ts
Labels: PR state: needs review, type: tests, package: tx

#1677 vm: improve `runTx` and `evm` debug logs
  packages/vm/src/evm/evm.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, package: vm

#1709 Common: Rename *BN methods to non-BN names
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/block/test/eip1559block.spec.ts
  packages/block/test/util.ts
  packages/blockchain/src/index.ts
  packages/blockchain/test/pos.spec.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/miner/miner.ts
  packages/client/lib/net/protocol/lesprotocol.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/modules/net.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/common/src/index.ts
  packages/common/tests/chains.spec.ts
  packages/common/tests/customChains.spec.ts
  packages/common/tests/hardforks.spec.ts
  packages/devp2p/src/eth/index.ts
  packages/devp2p/src/les/index.ts
  packages/tx/examples/custom-chain-tx.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/vm/src/evm/eei.ts
  packages/vm/src/runBlock.ts
  packages/vm/tests/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/tests/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/tests/api/runTx.spec.ts
  packages/vm/tests/api/utils.ts
Labels: PR state: needs review, type: refactor, package: block, package: blockchain, package: tx, package: vm, package: common, package: devp2p, package: client, breaking, target: develop

#1663 client: move execution from full sync
  packages/client/lib/client.ts
  packages/client/lib/config.ts
  packages/client/lib/execution/execution.ts
  packages/client/lib/execution/index.ts
  packages/client/lib/execution/metaDBManager.ts
  packages/client/lib/execution/receipt.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/miner/miner.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/modules/net.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/util/debug.ts
  packages/client/test/integration/client.spec.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/lightsync.spec.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/integration/util.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/rpc/engine/executePayloadV1.spec.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV1.spec.ts
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/service/lightethereumservice.spec.ts
  packages/client/test/sync/execution/vmexecution.spec.ts
Labels: type: refactor, package: client

#1720 Client: Geth genesis parser minor fix
  packages/client/lib/util/parse.ts
  packages/client/test/testdata/post-merge.json
  packages/client/test/util/parse.spec.ts
Labels: type: bug, PR state: needs review, package: client, target: master

#1714 Util: Upgrade to ethereum-cryptography 1.0
  packages/util/package.json
  packages/util/src/account.ts
  packages/util/src/hash.ts
  packages/util/src/signature.ts
  packages/util/test/account.spec.ts
Labels: PR state: needs review, PR state: do-not-merge, PR/Issue state: blocked, eval: needs discussion, type: test all hardforks, target: develop

#1742 Tx: Execute on deprecation notes
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
Labels: PR state: WIP, type: refactor, type: tests, package: tx, target: develop

#1740 ci: fix client integration failure
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/integration/mocks/mockserver.ts
Labels: PR state: needs review, type: CI, package: client

#1741 client: improve geth genesis parse
  packages/client/examples/private-geth-network.md
  packages/client/lib/util/parse.ts
  packages/client/test/rpc/eth/getLogs.spec.ts
  packages/client/test/rpc/eth/getTransactionByHash.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/sync/execution/vmexecution.spec.ts
  packages/client/test/testdata/blocks/goerli.json
  packages/client/test/testdata/blocks/mainnet.json
  packages/client/test/testdata/common/testnet.json
  packages/client/test/testdata/geth-genesis/invalid-spurious-dragon.json
  packages/client/test/testdata/geth-genesis/no-extra-data.json
  packages/client/test/testdata/geth-genesis/poa.json
  packages/client/test/testdata/geth-genesis/post-merge.json
  packages/client/test/testdata/geth-genesis/pow.json
  packages/client/test/testdata/geth-genesis/testnet.json
  packages/client/test/util/parse.spec.ts
Labels: PR state: needs review, package: client

#1712 merge: kiln🔥🧱 updates
  packages/client/kiln/devnet4/genesis.json
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/util/parse.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/sync/execution/vmexecution.spec.ts
  packages/common/src/index.ts
  packages/vm/src/index.ts
Labels: package: client, hardfork: merge

#1749 Monorepo: Set default hardfork to London (new)
  packages/block/README.md
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/header.spec.ts
  packages/block/test/testdata/testdata_pre-london-2.json
  packages/block/test/testdata/testdata_pre-london.json
  packages/blockchain/test/index.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/blockchain/test/testdata/testdata_pre-london.json
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/mocks/mockchain.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/common/README.md
  packages/common/src/chains/goerli.json
  packages/common/src/chains/kovan.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/chains/sepolia.json
  packages/common/src/index.ts
  packages/common/tests/chains.spec.ts
  packages/ethash/test/block.spec.ts
  packages/ethash/test/ethash.spec.ts
  packages/ethash/test/miner.spec.ts
  packages/tx/README.md
  packages/tx/src/baseTransaction.ts
  packages/vm/README.md
  packages/vm/examples/run-solidity-contract.ts
  packages/vm/src/index.ts
  packages/vm/tests/api/buildBlock.spec.ts
  packages/vm/tests/api/events.spec.ts
  packages/vm/tests/api/index.spec.ts
  packages/vm/tests/api/runBlock.spec.ts
  packages/vm/tests/api/runBlockchain.spec.ts
  packages/vm/tests/tester/config.ts
Labels: PR state: needs review, type: refactor, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: client, package: util, breaking, target: develop

#1752 Block: deprecation tasks
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/eip1559block.spec.ts
Labels: PR state: needs review, type: refactor, package: block, breaking, target: develop
