Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2023-11, with the labels that each got.

#3131 handle an edge case in newpayload block execution
  packages/client/src/rpc/modules/engine.ts
Labels: type: bug, PR state: merge ready, package: client

#3126 Minimal `rlpx` test suite
  .github/workflows/devp2p-build.yml
  .github/workflows/genesis-build.yml
  .github/workflows/rlp-build.yml
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/test/rlpx.spec.ts
Labels: PR state: needs review, type: refactor, type: tests, package: devp2p

#3135 vm: add missing gasPrice param to readme example tx
  packages/vm/README.md
  packages/vm/src/runTx.ts
Labels: PR state: merge ready, type: docs, package: vm

#3136 common: fix readme eip links
  packages/common/README.md
  packages/evm/README.md
Labels: PR state: merge ready, type: docs, package: common, package: evm

#3137 client: Patch fcu skeleton blockfill process to avoid chain reset
  packages/client/src/rpc/modules/engine.ts
  packages/client/src/service/skeleton.ts
Labels: type: bug, package: client, hardfork: merge

#3141 verkle: use rust-verkle-wasm from npm
  package-lock.json
  packages/verkle/package.json
  packages/verkle/src/index.ts
  packages/verkle/src/node/index.ts
  packages/verkle/src/rust-verkle-wasm/LICENSE_APACHE
  packages/verkle/src/rust-verkle-wasm/LICENSE_MIT
  packages/verkle/src/rust-verkle-wasm/rust_verkle_wasm.d.ts
  packages/verkle/src/rust-verkle-wasm/rust_verkle_wasm.js
  packages/verkle/src/rust-verkle-wasm/rust_verkle_wasm_bg.wasm
  packages/verkle/src/rust-verkle-wasm/rust_verkle_wasm_bg.wasm.d.ts
  packages/verkle/src/util/crypto.ts
  packages/verkle/tsconfig.json
Labels: PR state: merge ready, type: refactor, package: verkle

#3125 Client: fix rpc debug
  packages/client/bin/cli.ts
  packages/client/bin/startRpc.ts
  packages/client/src/types.ts
  packages/client/src/util/rpc.ts
  packages/client/test/util/rpc.spec.ts
Labels: PR state: needs review, package: client

#3147 tsconfig: fix references
  packages/evm/tsconfig.prod.cjs.json
  packages/evm/tsconfig.prod.esm.json
  packages/genesis/tsconfig.prod.cjs.json
  packages/genesis/tsconfig.prod.esm.json
Labels: PR state: needs review, type: maintenance

#3148 client: add hive instructions
  packages/client/DEVELOPER.md
  packages/client/README.md
Labels: PR state: needs review, type: docs

#3149 vm/tests: cleanup access to private variables + types
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: tests, package: vm, type: test all hardforks

#3150 Finishes typing client opts
  packages/client/bin/cli.ts
  packages/client/test/cli/cli.spec.ts
Labels: type: enhancement, package: client

#3151 vm: fix nested tests
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/runTx.spec.ts
Labels: PR state: merge ready, type: tests, package: vm

#3152 util/wallet: fix more nested tests
  packages/util/test/account.spec.ts
  packages/wallet/test/index.spec.ts
Labels: type: tests, package: util, package: wallet

#3156 client: Return during handling NewPooledTransactionHashes message if txHashes is undefined
  packages/client/src/service/txpool.ts
Labels: type: bug, PR state: needs review, package: client

#3146 Client/Blockchain: receipt reorg logic
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/types.ts
  packages/client/src/execution/receipt.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/rpc/modules/engine.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/service/skeleton.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/sync/skeleton.spec.ts
Labels: PR state: needs review, package: blockchain, package: client

#3155 verke: update verkle crypto helpers
  packages/verkle/src/util/crypto.ts
Labels: PR state: needs review, type: refactor, package: verkle

#3159 util: adjust byte bigint utils
  packages/util/src/bytes.ts
Labels: type: bug, PR state: merge ready, package: util

#3161 Export originalStorageCache
  packages/statemanager/src/cache/index.ts
  packages/statemanager/src/ethersStateManager.ts
Labels: package: statemanager

#3158 fix: Check that code is not a precompile when checking code
  packages/evm/src/evm.ts
  packages/evm/test/customPrecompiles.spec.ts
Labels: PR state: needs review, package: evm

#3164 Mitigate boundprotocol insanities
  packages/client/src/net/peer/peer.ts
  packages/client/src/net/peer/rlpxpeer.ts
  packages/client/src/net/protocol/boundprotocol.ts
  packages/client/src/net/protocol/protocol.ts
  packages/client/test/integration/mocks/mockpeer.ts
  packages/client/test/net/peer/peer.spec.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/net/protocol/boundprotocol.spec.ts
  packages/client/test/net/protocol/protocol.spec.ts
Labels: PR state: needs review, package: client

#3165 Remove debug loggers devp2p
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/src/dpt/ban-list.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/protocol/les.ts
  packages/devp2p/src/protocol/snap.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
Labels: PR state: needs review, package: devp2p

#3166 Update `genesis` docs
  packages/genesis/README.md
  packages/genesis/src/index.ts
Labels: package: genesis

#3169 evm: fix modexp edge cases
  packages/evm/src/precompiles/05-modexp.ts
  packages/evm/test/precompiles/05-modexp.spec.ts
  packages/evm/test/precompiles/modexp-testdata.json
Labels: PR state: needs review, package: evm

#3172 Add runCallOpts and runCodeOpts to `evm` exports
  packages/evm/src/index.ts
Labels: package: evm
