Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2023-07, with the labels that each got.

#2847 Common: Fix genesis parsing for 4844
  packages/blockchain/src/blockchain.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
Labels: PR state: needs review, package: common

#2826 VM/SM/Blockchain/Trie/EVM: Copy() -> shallowCopy() function renaming
  packages/blockchain/docs/classes/Blockchain.md
  packages/blockchain/docs/interfaces/blockchaininterface.md
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/types.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/miner/miner.ts
  packages/client/src/rpc/modules/debug.ts
  packages/client/src/rpc/modules/engine.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/service/txpool.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/mockBlockchain.ts
  packages/client/test/sync/txpool.spec.ts
  packages/common/src/interfaces.ts
  packages/evm/docs/interfaces/EEIInterface.md
  packages/evm/docs/interfaces/EVMInterface.md
  packages/evm/src/evm.ts
  packages/evm/src/types.ts
  packages/evm/test/customOpcodes.spec.ts
  packages/evm/test/customPrecompiles.spec.ts
  packages/statemanager/docs/classes/DefaultStateManager.md
  packages/statemanager/docs/classes/EthersStateManager.md
  packages/statemanager/docs/interfaces/StateManager.md
  packages/statemanager/src/ethersStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/statemanager/test/statemanager.spec.ts
  packages/trie/README.md
  packages/trie/UPGRADING.md
  packages/trie/benchmarks/engines/level.ts
  packages/trie/docs/classes/CheckpointDB.md
  packages/trie/docs/classes/MapDB.md
  packages/trie/docs/classes/Trie.md
  packages/trie/docs/interfaces/DB.md
  packages/trie/examples/level-legacy.js
  packages/trie/examples/level.js
  packages/trie/examples/lmdb.js
  packages/trie/recipes/level-legacy.ts
  packages/trie/recipes/level.ts
  packages/trie/recipes/lmdb.ts
  packages/trie/src/trie.ts
  packages/trie/test/trie/checkpoint.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/vm/benchmarks/mainnetBlocks.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/api/copy.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/level.ts
Labels: PR state: needs review, type: refactor, prio: +urgent, package: blockchain, package: vm, package: client, package: trie, package: statemanager, package: evm

#2855 Update function docs to detail shallow copy behavior
  packages/blockchain/src/types.ts
  packages/evm/src/evm.ts
  packages/statemanager/src/ethersStateManager.ts
  packages/util/src/mapDB.ts
  packages/vm/src/vm.ts
Labels: PR state: needs review, type: docs

#2859 monorepo/Util: deprecate node 16 / remove Node.js fetch primitive
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/browser.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/e2e-hardhat.yml.old
  .github/workflows/ethash-build.yml
  .github/workflows/evm-build.yml
  .github/workflows/examples.yml
  .github/workflows/node-versions.yml
  .github/workflows/rlp-build.yml
  .github/workflows/statemanager-build.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-pr.yml
  .github/workflows/wallet-build.yml
  package-lock.json
  package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/libp2pBrowserBuild/net/package.json.browser.deps
  packages/client/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/genesis/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/util/src/provider.ts
  packages/util/test/provider.spec.ts
  packages/vm/package.json
  packages/wallet/package.json
Labels: type: CI, package: block, package: blockchain, package: tx, package: vm, package: common, package: monorepo, package: ethash, package: devp2p, package: client, package: trie, package: util, breaking, package: rlp, target: master (v7), package: statemanager, package: evm, package: wallet

#2854 util/bytes: make unprefixedHexToBytes specific
  package-lock.json
  packages/client/src/rpc/modules/debug.ts
  packages/evm/package.json
  packages/evm/src/precompiles/06-ecadd.ts
  packages/evm/src/precompiles/07-ecmul.ts
  packages/evm/src/precompiles/08-ecpairing.ts
  packages/util/src/bytes.ts
  packages/util/test/bytes.spec.ts
Labels: PR state: needs review, type: test all hardforks, package: client, package: util

#2844 blockchain: remove genesis state dependancy from blockchain
  package-lock.json
  packages/blockchain/package.json
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/types.ts
  packages/client/bin/cli.ts
  packages/client/src/blockchain/chain.ts
  packages/client/src/client.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getBlockTransactionCountByNumber.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/sim/simutils.ts
  packages/common/src/enums.ts
  packages/statemanager/package.json
  packages/statemanager/test/vmState.spec.ts
  packages/trie/package.json
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/customChain.spec.ts
Labels: PR state: merge ready, package: blockchain, package: vm, package: common, package: client, package: trie, target: master (v7), package: statemanager

#2864 monorepo: fix tsc errors
  packages/block/test/header.spec.ts
  packages/common/test/hardforks.spec.ts
  packages/common/test/timestamp.spec.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/evm/test/runCall.spec.ts
  packages/statemanager/test/proofStateManager.spec.ts
  packages/statemanager/test/stateManager.account.spec.ts
  packages/statemanager/test/statemanager.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/vm/test/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/wallet/test/index.spec.ts
Labels: PR state: needs review, package: block, package: tx, package: vm, package: common, target: master (v7), package: statemanager, package: evm, type: maintenance, package: wallet

#2863 devp2p: type improvements & cleanup
  packages/client/src/net/peer/rlpxpeer.ts
  packages/devp2p/examples/peer-communication.cts
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/src/dns/enr.ts
  packages/devp2p/src/dpt/ban-list.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/kbucket.ts
  packages/devp2p/src/dpt/message.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/ext/kbucket.ts
  packages/devp2p/src/index.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/les.ts
  packages/devp2p/src/protocol/protocol.ts
  packages/devp2p/src/protocol/snap.ts
  packages/devp2p/src/rlpx/index.ts
  packages/devp2p/src/rlpx/mac.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/src/types.ts
  packages/devp2p/src/util.ts
  packages/devp2p/test/integration/eth-simulator.spec.ts
  packages/devp2p/test/integration/rlpx-simulator.spec.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review, type: refactor, type: enhancement, package: devp2p, target: master (v7)

#2861 EVM runCode/runCall type cleanup
  packages/evm/examples/runCode.cts
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/precompiles/types.ts
  packages/evm/src/types.ts
  packages/evm/test/asyncEvents.spec.ts
  packages/evm/test/customOpcodes.spec.ts
  packages/evm/test/customPrecompiles.spec.ts
  packages/evm/test/eips/eip-5656.spec.ts
  packages/evm/test/opcodes.spec.ts
  packages/evm/test/precompiles/06-ecadd.spec.ts
  packages/evm/test/precompiles/07-ecmul.spec.ts
  packages/evm/test/precompiles/08-ecpairing.spec.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/evm/test/precompiles/eip-2537-BLS.spec.ts
  packages/evm/test/precompiles/hardfork.spec.ts
  packages/evm/test/runCall.spec.ts
  packages/evm/test/runCode.spec.ts
  packages/evm/test/stack.spec.ts
  packages/evm/test/versionedHashes.spec.ts
  packages/vm/test/api/EIPs/eip-3529.spec.ts
  packages/vm/test/api/istanbul/eip-1884.spec.ts
Labels: PR state: needs review, package: evm

#2866 evm: rename EVMOpts -> EVMCreateOpts
  packages/evm/src/evm.ts
  packages/evm/src/types.ts
Labels: PR state: needs review, package: evm

#2862 Add examples run to CI for all packages
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/examples/simple.cts
  packages/devp2p/package.json
  packages/ethash/examples/example.cts
  packages/ethash/examples/rawExample.cts
  packages/ethash/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/util/package.json
  packages/wallet/package.json
Labels: PR state: needs review, type: CI, package: block, package: blockchain, package: tx, package: common, package: ethash, package: devp2p, package: client, package: trie, package: util, package: rlp, package: statemanager, package: wallet, package: genesis

#2868 evm/types: rename EVMCreateOpts -> EVMRunOpts
  packages/evm/src/evm.ts
  packages/evm/src/types.ts
Labels: PR state: needs review, package: evm

#2870 Remove BLS EIP 2537 (remove mcl-wasm package)
  packages/common/src/eips/2537.json
  packages/common/src/eips/index.ts
  packages/common/src/types.ts
  packages/common/test/eips.spec.ts
  packages/common/test/params.spec.ts
  packages/evm/package.json
  packages/evm/src/evm.ts
  packages/evm/src/precompiles/0c-bls12-g1add.ts
  packages/evm/src/precompiles/0d-bls12-g1mul.ts
  packages/evm/src/precompiles/0e-bls12-g1multiexp.ts
  packages/evm/src/precompiles/0f-bls12-g2add.ts
  packages/evm/src/precompiles/10-bls12-g2mul.ts
  packages/evm/src/precompiles/11-bls12-g2multiexp.ts
  packages/evm/src/precompiles/12-bls12-pairing.ts
  packages/evm/src/precompiles/13-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/14-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/precompiles/util/bls12_381.ts
  packages/evm/test/asyncEvents.spec.ts
  packages/evm/test/customOpcodes.spec.ts
  packages/evm/test/customPrecompiles.spec.ts
  packages/evm/test/eips/eip-3860.spec.ts
  packages/evm/test/eips/eip-5656.spec.ts
  packages/evm/test/opcodes.spec.ts
  packages/evm/test/precompiles/06-ecadd.spec.ts
  packages/evm/test/precompiles/07-ecmul.spec.ts
  packages/evm/test/precompiles/08-ecpairing.spec.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/evm/test/precompiles/eip-2537-BLS.spec.ts
  packages/evm/test/precompiles/hardfork.spec.ts
  packages/evm/test/runCall.spec.ts
  packages/evm/test/runCode.spec.ts
  packages/evm/test/stack.spec.ts
  packages/evm/test/versionedHashes.spec.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/vm/package.json
  packages/vm/src/types.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/tester/tester.config.spec.ts
  packages/vm/test/tester/config.ts
Labels: PR state: needs review, package: tx, package: vm, package: common, package: evm

#2871 Fix imports
  packages/common/src/common.ts
  packages/util/src/constants.ts
  packages/util/src/internal.ts
Labels: package: common, package: util

#2810 Implement EIP4788: Beacon block root in EVM
  packages/block/src/header.ts
  packages/block/src/helpers.ts
  packages/block/src/types.ts
  packages/block/test/eip4788block.spec.ts
  packages/block/test/header.spec.ts
  packages/common/src/eips/4788.json
  packages/common/src/eips/index.ts
  packages/evm/src/evm.ts
  packages/evm/src/precompiles/0b-beaconroot.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/precompiles/types.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-4788-beaconroot.spec.ts
Labels: PR state: needs review, package: block, package: vm, package: common, package: evm

#2873 Update `EthersStateManager`
  package-lock.json
  packages/statemanager/examples/browser.html
  packages/statemanager/src/ethersStateManager.ts
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/statemanager/test/testdata/providerData/mockProvider.ts
Labels: type: test all hardforks, package: statemanager

#2869 evm/vm: reintroduce evm interface
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/journal.ts
  packages/evm/src/types.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, package: vm, package: evm

#2832 Pre-Releases for Breaking Releases (RC1)
  packages/block/CHANGELOG.md
  packages/blockchain/CHANGELOG.md
  packages/client/CHANGELOG.md
  packages/common/CHANGELOG.md
  packages/devp2p/CHANGELOG.md
  packages/ethash/CHANGELOG.md
  packages/evm/CHANGELOG.md
  packages/genesis/CHANGELOG.md
  packages/rlp/CHANGELOG.md
  packages/statemanager/CHANGELOG.md
  packages/trie/CHANGELOG.md
  packages/tx/CHANGELOG.md
  packages/util/CHANGELOG.md
  packages/util/README.md
  packages/vm/CHANGELOG.md
  packages/wallet/CHANGELOG.md
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: client, package: trie, package: util, package: rlp, package: statemanager, package: evm, package: wallet, package: genesis

#2828 Implement ETH/68
  packages/client/src/net/peer/rlpxpeer.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/service/fullethereumservice.ts
  packages/client/src/service/txpool.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/sync/txpool.spec.ts
  packages/devp2p/src/protocol/eth.ts
Labels: PR state: merge ready, package: devp2p, package: client

#2879 Use version 2.1.1 for ethereum-cryptography
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/libp2pBrowserBuild/net/package.json.browser.deps
  packages/client/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
  packages/wallet/package.json
Labels: PR state: WIP, package: monorepo, dependencies

#2881 Update eslint config with file extensions rule
  .github/workflows/browser.yml
  config/eslint.cjs
  packages/client/.eslintrc.cjs
  packages/common/test/utils.spec.ts
  packages/devp2p/src/dns/dns.ts
  packages/evm/package.json
  packages/evm/test/eips/eip-5656.spec.ts
  packages/genesis/.eslintrc.cjs
  packages/genesis/.eslintrc.js
  packages/genesis/src/genesisStates/goerli.ts
  packages/genesis/src/genesisStates/mainnet.ts
  packages/genesis/src/genesisStates/sepolia.ts
  packages/genesis/src/index.ts
  packages/genesis/test/index.spec.ts
  packages/util/test/genesis.spec.ts
  packages/vm/.eslintrc.cjs
Labels: package: vm, package: monorepo, package: client, package: evm, package: genesis

#2878 Troubleshoot discrepancies in codecov results
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/ethash-build.yml
  .github/workflows/evm-build.yml
  .github/workflows/rlp-build.yml
  .github/workflows/statemanager-build.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
Labels: PR state: needs review, type: tests, type: CI, package: monorepo

#2884 EIP-1153 TLOAD TSTORE update opcode byte
  packages/evm/src/opcodes/codes.ts
  packages/evm/src/opcodes/functions.ts
  packages/vm/test/api/EIPs/eip-1153.spec.ts
Labels: PR state: needs review, package: vm, package: evm

#2885 Move EVMOpts to types in EVM
  packages/evm/src/evm.ts
  packages/evm/src/precompiles/0b-beaconroot.ts
  packages/evm/src/precompiles/types.ts
  packages/evm/src/types.ts
Labels: PR state: needs review, package: evm

#2882 Update ethereum-cryptography from v2.1.1 -> v2.1.2
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/libp2pBrowserBuild/net/package.json.browser.deps
  packages/client/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
  packages/wallet/package.json
Labels: PR state: needs review, package: monorepo, type: maintenance

#2886 VM/genesis: Fix small genesis API inconsistency
  packages/genesis/src/index.ts
  packages/genesis/test/index.spec.ts
  packages/vm/test/api/genesis.spec.ts
Labels: PR state: needs review, type: refactor, type: enhancement, package: vm, package: genesis

#2887 Fix the typedoc scripts across the monorepo
  config/typedoc.cjs
  packages/block/package.json
  packages/block/typedoc.cjs
  packages/blockchain/package.json
  packages/blockchain/typedoc.cjs
  packages/client/package.json
  packages/client/typedoc.cjs
  packages/common/package.json
  packages/common/typedoc.cjs
  packages/devp2p/package.json
  packages/devp2p/typedoc.cjs
  packages/ethash/package.json
  packages/ethash/typedoc.cjs
  packages/evm/package.json
  packages/evm/typedoc.cjs
  packages/genesis/package.json
  packages/genesis/typedoc.cjs
  packages/statemanager/package.json
  packages/statemanager/typedoc.cjs
  packages/trie/package.json
  packages/trie/typedoc.cjs
  packages/tx/package.json
  packages/tx/typedoc.cjs
  packages/util/package.json
  packages/util/typedoc.cjs
  packages/vm/package.json
  packages/vm/typedoc.cjs
  packages/wallet/package.json
  packages/wallet/typedoc.cjs
Labels: type: docs

#2880 client: improve new payload and fcu block executions
  packages/client/src/blockchain/chain.ts
  packages/client/src/config.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/rpc/modules/engine.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/rpc/engine/newPayloadV3.spec.ts
  packages/client/test/rpc/engine/withdrawals.spec.ts
Labels: PR state: needs review, package: client

#2888 VM: docs builder fix, EVM: cleanup types
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/precompiles/01-ecrecover.ts
  packages/evm/src/precompiles/02-sha256.ts
  packages/evm/src/precompiles/03-ripemd160.ts
  packages/evm/src/precompiles/04-identity.ts
  packages/evm/src/precompiles/05-modexp.ts
  packages/evm/src/precompiles/06-ecadd.ts
  packages/evm/src/precompiles/07-ecmul.ts
  packages/evm/src/precompiles/08-ecpairing.ts
  packages/evm/src/precompiles/09-blake2f.ts
  packages/evm/src/precompiles/0a-kzg-point-evaluation.ts
  packages/evm/src/precompiles/0b-beaconroot.ts
  packages/evm/src/precompiles/types.ts
  packages/evm/src/types.ts
Labels: PR state: needs review, package: evm

#2889 Update devp2p API names and access specifiers
  packages/client/src/net/server/rlpxserver.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/devp2p/examples/peer-communication-les.cts
  packages/devp2p/examples/peer-communication.cts
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/src/dpt/ban-list.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/kbucket.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/ext/kbucket.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/les.ts
  packages/devp2p/src/protocol/protocol.ts
  packages/devp2p/src/protocol/snap.ts
  packages/devp2p/src/rlpx/ecies.ts
  packages/devp2p/src/rlpx/mac.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/test/integration/dpt-simulator.spec.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: needs review, type: refactor, package: devp2p, breaking

#2892 common: add Cancun CFI EIPs for devnet8 and fix eip-4788 block building issues
  packages/block/src/from-beacon-payload.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/eip4788block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/test/testdata/payload-slot-87335.json
  packages/block/test/testdata/payload-slot-87475.json
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/common/src/hardforks/cancun.json
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
Labels: PR state: merge ready, package: block, package: vm, package: common, target: master (v7)

#2891 client: add shouldOverrideBuilder flag for getPayloadV3
  packages/client/src/rpc/modules/engine.ts
Labels: PR state: merge ready, package: client, target: master (v7)

#2894 Small RC1 Release Cleanup Round
  packages/block/README.md
  packages/blockchain/CHANGELOG.md
  packages/blockchain/README.md
  packages/client/libp2pBrowserBuild/net/package.json.browser.deps
  packages/client/package.json
  packages/common/README.md
  packages/devp2p/CHANGELOG.md
  packages/devp2p/README.md
  packages/ethash/README.md
  packages/evm/CHANGELOG.md
  packages/evm/README.md
  packages/evm/package.json
  packages/statemanager/README.md
  packages/trie/README.md
  packages/tx/README.md
  packages/util/README.md
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/vm/package.json
Labels: PR state: needs review, PR state: merge ready, type: release, package: monorepo, package: evm

#2898 Resolve access errors from doc build process
  packages/devp2p/test/integration/rlpx-simulator.spec.ts
  packages/devp2p/test/integration/util.ts
  packages/devp2p/test/rlpx-ecies.spec.ts
Labels: PR state: needs review, type: docs, type: tests, package: devp2p

#2893 Devp2p EventEmitter refactor
  package-lock.json
  packages/client/src/net/peer/rlpxpeer.ts
  packages/client/src/net/protocol/rlpxsender.ts
  packages/client/src/net/server/rlpxserver.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/net/protocol/rlpxsender.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/devp2p/examples/peer-communication-les.cts
  packages/devp2p/examples/peer-communication.cts
  packages/devp2p/examples/simple.cts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/kbucket.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/ext/kbucket.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/les.ts
  packages/devp2p/src/protocol/protocol.ts
  packages/devp2p/src/protocol/snap.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/test/integration/dpt-simulator.spec.ts
  packages/devp2p/test/integration/eth-simulator.spec.ts
  packages/devp2p/test/integration/rlpx-simulator.spec.ts
  packages/devp2p/test/integration/util.ts
Labels: PR/Issue state: blocked, type: refactor, package: devp2p, package: client, breaking

#2895 Troubleshoot failing node versions tests: Adjust timeouts in devp2p tests to avoid race conditions
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/test/integration/dpt-simulator.spec.ts
Labels: PR state: needs review, type: tests, package: devp2p

#2901 Adjust client unit test timeouts
  .github/workflows/client-build.yml
  packages/client/src/util/rpc.ts
  packages/client/test/cli/cli-rpc.spec.ts
  packages/client/test/cli/cli-sync.spec.ts
  packages/client/test/cli/cli.spec.ts
  packages/client/test/client.spec.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/integration/cli.spec.ts
  packages/client/test/integration/client.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/rpc/eth/getBlockTransactionCountByNumber.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/sync/beaconsync.spec.ts
  packages/client/vitest.config.unit.ts
Labels: PR state: needs review, type: tests, package: client

#2896 client: apply engine api changes for devnet 8
  packages/client/src/rpc/modules/engine.ts
  packages/client/src/rpc/validation.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
Labels: PR state: merge ready, package: client, target: master (v7)

#2911 Monorepo: JSON -> JS Transition
  packages/common/src/chains.ts
  packages/common/src/chains/goerli.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/sepolia.json
  packages/common/src/common.ts
  packages/common/src/eips.ts
  packages/common/src/eips/1153.json
  packages/common/src/eips/1559.json
  packages/common/src/eips/2315.json
  packages/common/src/eips/2565.json
  packages/common/src/eips/2718.json
  packages/common/src/eips/2929.json
  packages/common/src/eips/2930.json
  packages/common/src/eips/3074.json
  packages/common/src/eips/3198.json
  packages/common/src/eips/3529.json
  packages/common/src/eips/3540.json
  packages/common/src/eips/3541.json
  packages/common/src/eips/3554.json
  packages/common/src/eips/3607.json
  packages/common/src/eips/3651.json
  packages/common/src/eips/3670.json
  packages/common/src/eips/3675.json
  packages/common/src/eips/3855.json
  packages/common/src/eips/3860.json
  packages/common/src/eips/4345.json
  packages/common/src/eips/4399.json
  packages/common/src/eips/4788.json
  packages/common/src/eips/4844.json
  packages/common/src/eips/4895.json
  packages/common/src/eips/5133.json
  packages/common/src/eips/5656.json
  packages/common/src/eips/6780.json
  packages/common/src/eips/index.ts
  packages/common/src/hardforks.ts
  packages/common/src/hardforks/arrowGlacier.json
  packages/common/src/hardforks/berlin.json
  packages/common/src/hardforks/byzantium.json
  packages/common/src/hardforks/cancun.json
  packages/common/src/hardforks/chainstart.json
  packages/common/src/hardforks/constantinople.json
  packages/common/src/hardforks/dao.json
  packages/common/src/hardforks/grayGlacier.json
  packages/common/src/hardforks/homestead.json
  packages/common/src/hardforks/index.ts
  packages/common/src/hardforks/istanbul.json
  packages/common/src/hardforks/london.json
  packages/common/src/hardforks/mergeForkIdTransition.json
  packages/common/src/hardforks/muirGlacier.json
  packages/common/src/hardforks/paris.json
  packages/common/src/hardforks/petersburg.json
  packages/common/src/hardforks/shanghai.json
  packages/common/src/hardforks/spuriousDragon.json
  packages/common/src/hardforks/tangerineWhistle.json
  packages/common/src/interfaces.ts
  packages/common/src/types.ts
  packages/common/test/params.spec.ts
  packages/vm/src/config/dao_fork_accounts_config.json
  packages/vm/src/runBlock.ts
Labels: PR state: needs review, type: refactor, package: vm, package: common, breaking

#2913 Add `debug_traceCall` RPC method
  packages/client/src/rpc/helpers.ts
  packages/client/src/rpc/modules/debug.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/rpc/types.ts
  packages/client/test/rpc/debug/traceCall.spec.ts
Labels: type: feature, PR state: WIP, package: client

#2912 Address security vulnerabilities
  package-lock.json
  packages/client/libp2pBrowserBuild/libp2pnode.ts
  packages/client/libp2pBrowserBuild/net/peer/libp2pnode.ts
  packages/client/libp2pBrowserBuild/net/peer/libp2ppeer.ts
  packages/client/libp2pBrowserBuild/net/server/libp2pserver.ts
  packages/client/package.json
  packages/client/src/util/parse.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/test/util/parse.spec.ts
  packages/devp2p/package.json
  packages/devp2p/src/@types/snappyjs/convert.d.ts
  packages/devp2p/src/dns/enr.ts
  packages/devp2p/test/dns.spec.ts
  packages/trie/package.json
Labels: PR state: needs review, package: monorepo, dependencies, package: devp2p, package: client, package: trie, target: master (v7), type: maintenance

#2915 Remove remaining karma references and configs
  config/eslint.cjs
  package.json
  packages/block/test/block.spec.ts
  packages/client/test/blockchain/chain.spec.ts
  packages/evm/test/utils.ts
  packages/statemanager/test/stateManager.account.spec.ts
  packages/statemanager/test/stateManager.code.spec.ts
  packages/statemanager/test/stateManager.storage.spec.ts
  packages/statemanager/test/vmState.spec.ts
  packages/trie/karma.conf.js
  packages/tx/karma.conf.js
  packages/vm/karma.conf.js
  packages/vm/test/api/index.spec.ts
  packages/wallet/test/index.spec.ts
Labels: package: block, package: tx, package: vm, dependencies, package: client, package: trie, package: wallet

#2914 Update ESLint Dependency
  config/eslint.cjs
  package-lock.json
  package.json
Labels: PR state: needs review, package: monorepo, type: maintenance

#2904 Trie - async walk generator
  packages/trie/src/trie.ts
  packages/trie/src/util/asyncWalk.ts
  packages/trie/test/util/asyncWalk.spec.ts
Labels: type: feature, PR state: needs review, prio: P4 nice-to-have, package: trie, target: master (v7)

#2918 client: fix type issues
  packages/evm/test/customPrecompiles.spec.ts
Labels: PR state: WIP, package: devp2p, package: client, package: evm, type: maintenance

#2920 client: fix type issues
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/sim/snapsync.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/fetcher/reverseblockfetcher.spec.ts
  packages/client/test/sync/snapsync.spec.ts
  packages/devp2p/test/integration/rlpx-simulator.spec.ts
  packages/devp2p/test/integration/util.ts
Labels: PR state: merge ready, package: devp2p, package: client, type: maintenance

#2919 Rename `datagas` to `blobgas` - eip 4844 pr 7354
  packages/block/docs/classes/Block.md
  packages/block/docs/classes/BlockHeader.md
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/header-from-rpc.ts
  packages/block/src/header.ts
  packages/block/src/helpers.ts
  packages/block/src/types.ts
  packages/block/test/eip4788block.spec.ts
  packages/block/test/eip4844block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/test/testdata/payload-slot-87335.json
  packages/block/test/testdata/payload-slot-87475.json
  packages/blockchain/src/blockchain.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/rpc/helpers.ts
  packages/client/src/rpc/modules/engine.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/rpc/util/CLConnectionManager.ts
  packages/client/src/service/txpool.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/4844devnet5.spec.ts
  packages/client/test/sim/sharding.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/txGenerator.ts
  packages/common/src/eips.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/evm/src/types.ts
  packages/tx/README.md
  packages/tx/docs/interfaces/BlobEIP4844TxData.md
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/types.ts
  packages/tx/test/eip4844.spec.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/utils.ts
Labels: PR state: merge ready, package: block, package: blockchain, package: tx, package: vm, package: common, package: client, package: evm

#2926 Client: move libp2p folder to archive
  package-lock.json
  packages/client/.eslintignore
  packages/client/archive/libp2p/cli-libp2p.spec.ts
  packages/client/archive/libp2p/docs/browser_sync.png
  packages/client/archive/libp2p/docs/light-browser-sync.md
  packages/client/archive/libp2p/index.ts
  packages/client/archive/libp2p/libp2pnode.ts
  packages/client/archive/libp2p/logging.ts
  packages/client/archive/libp2p/net/libp2psender.ts.old
  packages/client/archive/libp2p/net/package.json.browser.deps
  packages/client/archive/libp2p/net/peer/libp2pnode.ts
  packages/client/archive/libp2p/net/peer/libp2ppeer.ts
  packages/client/archive/libp2p/net/server/libp2pserver.ts
  packages/client/archive/libp2p/net/test/libp2pnode.spec.ts.old
  packages/client/archive/libp2p/net/test/libp2ppeer.spec.ts.old
  packages/client/archive/libp2p/net/test/libp2psender.spec.ts.old
  packages/client/archive/libp2p/net/test/libp2pserver.spec.ts.old
  packages/client/archive/libp2p/util/index.ts
  packages/client/package.json
Labels: PR state: needs review, package: client, type: maintenance

#2928 Extend fullsync test timeout
  packages/client/test/integration/fullsync.spec.ts
Labels: PR state: needs review, type: enhancement, type: CI, package: client

#2916 Add tests for client cli options
  packages/client/test/cli/cli.spec.ts
Labels: PR state: needs review, type: tests, package: client
