Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2023-02, with the labels that each got.

#2518 `getPayloadBodiesByRange` fixes
  packages/client/lib/rpc/modules/engine.ts
Labels: type: bug, PR state: needs review, package: client

#2519 client: Fix client's sync state on startup or while mining or single node (test) runs
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/txpool.ts
  packages/client/lib/sync/sync.ts
  packages/client/lib/types.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/single-run.sh
  packages/client/test/sync/sync.spec.ts
Labels: PR state: merge ready, package: client

#2522 Remove trusted setups from build
  packages/block/test/eip4844block.spec.ts
  packages/client/bin/cli.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/lib/trustedSetups/devnet4.txt
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getBlobsBundleV1.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/txGenerator.ts
  packages/evm/test/precompiles/14-pointevaluation.spec.ts
  packages/tx/README.md
  packages/tx/src/kzg/kzg.ts
  packages/tx/src/kzg/trusted_setup.json
  packages/tx/test/eip4844.spec.ts
Labels: PR state: needs review, type: refactor, package: tx, package: client

#2524 Fix blockchain interface getBlock() signature (remove null return option)
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/types.ts
  packages/blockchain/test/index.spec.ts
  packages/client/lib/execution/vmexecution.ts
  packages/vm/src/eei/eei.ts
  packages/vm/src/runTx.ts
Labels: type: bug, PR state: needs review, type: enhancement, package: blockchain, package: vm, package: client

#2525 Update trie docs
  packages/trie/README.md
  packages/trie/src/trie/trie.ts
Labels: package: trie

#2526 Client trusted setup path fixes
  packages/client/bin/cli.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/package.json
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getBlobsBundleV1.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/txGenerator.ts
  packages/tx/src/kzg/kzg.ts
Labels: type: bug, PR state: needs review, type: CI, package: client

#2527 Schedule shanghai on sepolia
  packages/common/src/chains/sepolia.json
Labels: PR state: merge ready, package: common, hardfork: shanghai

#2529 allforks: Hive withdrawal fixes
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/db/helpers.ts
  packages/blockchain/src/db/manager.ts
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/evm/src/evm.ts
  packages/vm/src/eei/eei.ts
  packages/vm/src/runTx.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/eei.spec.ts
Labels: PR state: WIP, package: vm, type: test all hardforks, package: client, target: master, package: evm

#2107 client: create snap sync fetcher to sync accounts
  packages/client/lib/config.ts
  packages/client/lib/net/protocol/snapprotocol.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fetcher/accountfetcher.ts
  packages/client/lib/sync/fetcher/blockfetcherbase.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fetcher/index.ts
  packages/client/lib/sync/snapsync.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/util/src/account.ts
Labels: PR state: needs review, type: tests, package: client

#2530 allforks: Allow genesis to be post merge
  packages/block/src/header.ts
  packages/block/test/mergeBlock.spec.ts
  packages/block/test/testdata/4844-hardfork.json
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/db/manager.ts
  packages/client/test/rpc/engine/getBlobsBundleV1.spec.ts
  packages/common/src/utils.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
Labels: PR state: WIP, package: block, package: blockchain, package: common, type: test all hardforks, package: client

#2531 client: Fix engine-auth and engine-exchange-capabilities hive test
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/util/rpc.ts
  packages/client/test/rpc/engine/exchangeCapabilities.spec.ts
  packages/client/test/rpc/rpc.spec.ts
Labels: PR state: merge ready, package: client, target: master

#2534 blockchain: Add extra validations for assuming nil bodies in getBlock
  packages/blockchain/src/db/manager.ts
  packages/blockchain/test/index.spec.ts
  packages/client/lib/sync/fetcher/blockfetcher.ts
Labels: PR state: merge ready, package: blockchain

#2535 devp2p: Client Peer Connection SUBPROTOCOL Error Analysis
  packages/common/src/chains/sepolia.json
  packages/devp2p/scripts/tester.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/tsconfig.json
  packages/devp2p/tsconfig.prod.json
Labels: type: bug, type: discussion / question, PR state: do-not-merge, eval: needs validation, package: devp2p

#2537 Revert "devp2p: Client Peer Connection SUBPROTOCOL Error Analysis (PR #2535)" Merge
  packages/common/src/chains/sepolia.json
  packages/devp2p/scripts/tester.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/tsconfig.json
  packages/devp2p/tsconfig.prod.json
Labels: PR state: needs review, type: CI, package: common, package: devp2p

#2533 withdrawals and transaction inclusion logic updates
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/withdrawals.spec.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/api/runTx.spec.ts
Labels: type: bug, PR state: needs review, type: tests, package: vm, package: client

#2538 Devp2p Improvements and Clean-Ups / Client ID Integration
  packages/client/lib/net/server/rlpxserver.ts
  packages/devp2p/scripts/singlePeerRun.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/tsconfig.json
  packages/devp2p/tsconfig.prod.json
Labels: PR state: needs review, type: enhancement, package: devp2p, package: client

#2532 Various Hive related fixes
  packages/block/src/header.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/test/customConsensus.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/client/bin/cli.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/sync/skeleton.ts
  packages/client/lib/types.ts
Labels: PR state: needs review, package: blockchain, package: client

#2540 Client: Move to async Blockchain constructor / fix --startBlock option bug
  packages/client/bin/cli.ts
  packages/client/browser/index.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/client.ts
  packages/client/lib/net/peer/libp2ppeer.ts
  packages/client/lib/net/peer/rlpxpeer.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/client.spec.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/integration/client.spec.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/net/protocol/lesprotocol.spec.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/service/lightethereumservice.spec.ts
  packages/client/test/sync/beaconsync.spec.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/fetcher/reverseblockfetcher.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/client/test/sync/snapsync.spec.ts
  packages/client/test/sync/sync.spec.ts
  packages/client/test/util/rpc.spec.ts
Labels: type: bug, PR state: needs review, type: enhancement, package: client

#2541 Fix the fetcher errored property colliding with Readable class
  packages/client/lib/sync/beaconsync.ts
  packages/client/lib/sync/fetcher/fetcher.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/lightsync.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
Labels: type: bug, PR state: needs review, package: client

#2544 Miner-support-for-saveReceipts
  packages/client/lib/miner/miner.ts
  packages/client/test/miner/miner.spec.ts
Labels: type: bug, PR state: needs review, package: client, target: master

#2547 Small Client UX Improvements
  packages/client/bin/startRpc.ts
  packages/client/lib/blockchain/chain.ts
Labels: PR state: needs review, type: enhancement, package: client

#2548 blockchain: Revert to previous sane heads if block or header put fails
  packages/blockchain/src/blockchain.ts
  packages/client/lib/sync/fullsync.ts
Labels: type: bug, PR state: needs review, type: enhancement, package: blockchain, package: client

#2550 Fix invalid head block reset bug
  packages/blockchain/test/index.spec.ts
  packages/client/lib/sync/skeleton.ts
Labels: package: client

#2549 New Releases (Continuation)
  packages/block/CHANGELOG.md
  packages/blockchain/CHANGELOG.md
  packages/blockchain/docs/classes/Blockchain.md
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/lib/blockchain/chain.ts
  packages/devp2p/CHANGELOG.md
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: client, package: trie, package: util, package: rlp, package: statemanager, package: evm

#2552 Fix kzg imports in `tx`
  packages/tx/package.json
  packages/tx/src/utils/blobHelpers.ts
Labels: type: bug, PR state: WIP, prio: P1 critical, package: tx

#2555 Revert ssz version to fix replaceAll error
  package-lock.json
  packages/tx/package.json
  packages/util/package.json
Labels: type: bug, PR state: needs review, package: util

#2556 Hotfix Releases (SSZ and KZG dependency fixes)
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: trie, package: util, package: statemanager, package: evm

#2557 Turn off libp2p transport by default
  packages/client/lib/config.ts
  packages/client/package.json
Labels: package: client
