Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2023-05, with the labels that each got.

#2663 Migrate `fromEthersProvider` to `fromJsonRpcProvider` constructors
  package-lock.json
  packages/block/README.md
  packages/block/package.json
  packages/block/src/block.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/mockProvider.ts
  packages/client/test/net/peer/libp2pnode.spec.ts
  packages/client/test/net/peer/libp2ppeer.spec.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/net/server/libp2pserver.spec.ts
  packages/devp2p/test/dns.spec.ts
  packages/evm/package.json
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/tx/README.md
  packages/tx/package.json
  packages/tx/src/transactionFactory.ts
  packages/tx/test/fromRpc.spec.ts
  packages/tx/test/mockProvider.ts
  packages/util/src/index.ts
  packages/util/src/provider.ts
  packages/util/test/provider.spec.ts
Labels: package: block, package: tx, package: devp2p, package: client, package: util, target: develop-v7, package: statemanager, package: evm

#2675 Client Memory Optimizations
  packages/client/bin/cli.ts
  packages/client/karma.conf.js
  packages/client/lib/config.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/beaconsync.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/types.ts
  packages/client/lib/util/index.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/stateManager.account.spec.ts
  packages/statemanager/test/statemanager.spec.ts
  packages/trie/src/trie/trie.ts
  packages/trie/test/trie/checkpoint.spec.ts
Labels: PR state: needs review, type: enhancement, package: client, package: trie, package: statemanager

#2677 client: Fix unclean shutdown scenario where SIGINT may come before client fully started
  packages/client/bin/cli.ts
Labels: PR state: needs review, PR state: merge ready, package: client, target: develop-v7

#2680 blockchain: Save iterator head to last successfuly executed even on errors
  packages/blockchain/src/blockchain.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/util/debug.ts
Labels: PR state: merge ready, package: blockchain, package: client, target: develop-v7

#2678 Client Memory Work / LRU Cache Updates
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/blockchain/src/db/cache.ts
  packages/client/lib/config.ts
  packages/client/lib/execution/execution.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/package.json
  packages/client/test/sim/single-run.sh
  packages/devp2p/examples/peer-communication.ts
  packages/devp2p/package.json
  packages/devp2p/src/dpt/ban-list.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/ethash/package.json
  packages/evm/package.json
  packages/rlp/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: enhancement, package: blockchain, package: devp2p, package: client, package: trie, target: develop-v7

#2674 client: Add 4844 devnet5 blob post utility
  packages/client/test/sim/4844-devnet-5.md
  packages/client/test/sim/4844.md
  packages/client/test/sim/4844devnet5.spec.ts
  packages/client/test/sim/sharding.spec.ts
  packages/client/test/sim/simutils.ts
Labels: PR state: merge ready, package: client, target: develop-v7

#2681 Trie: More Conservative Trie Cache Behavior
  packages/trie/src/db/checkpoint.ts
Labels: PR state: needs review, PR state: merge ready, type: refactor, type: performance, type: enhancement, package: trie, target: develop-v7

#2682 Fix link for running EVM code in browser
  packages/evm/README.md
Labels: PR state: needs review, type: docs, package: evm

#2686 evm: Fix the gasCost logs in op code trace
  packages/evm/src/interpreter.ts
Labels: PR state: merge ready, target: develop-v7, package: evm

#2695 trie: update references to old deleteFromDB constructor arg
  packages/trie/README.md
  packages/trie/docs/classes/Trie.md
  packages/trie/test/index.spec.ts
Labels: PR state: merge ready, type: docs, package: trie

#2694 evm: Fix the availability of versioned hashes in contract calls
  packages/block/src/helpers.ts
  packages/evm/src/exceptions.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/precompiles/14-kzg-point-evaluation.ts
  packages/evm/test/versionedHashes.spec.ts
  packages/vm/test/tester/config.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: type: bug, PR state: merge ready, package: block, package: vm, target: develop-v7, package: evm

#2700 client: Enable default debug logging to file
  packages/client/bin/cli.ts
  packages/client/lib/logging.ts
  packages/client/lib/types.ts
  packages/client/test/logging.spec.ts
Labels: PR state: merge ready, package: client, target: master

#2704 eslint: add eslint package.json
  eslint/package.json
  package-lock.json
Labels: type: bug, package: monorepo

#2706 Monorepo: Deprecation Cleanup Work
  packages/blockchain/src/blockchain.ts
  packages/common/src/common.ts
  packages/common/src/eips/4399.json
  packages/common/src/hardforks/chainstart.json
  packages/common/test/hardforks.spec.ts
  packages/evm/src/opcodes/codes.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/test/opcodes.spec.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, type: refactor, package: monorepo, breaking

#2684 block: Add helper to construct block from beacon payload
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/types.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/test/testdata/payload-slot-87335.json
  packages/block/test/testdata/payload-slot-87475.json
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/rpc/engine/newPayloadV3.spec.ts
  packages/client/test/rpc/engine/withdrawals.spec.ts
Labels: type: feature, PR state: merge ready, package: block, package: client, target: master

#2707 tx: Normalize toJson for different tx types
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
Labels: PR state: merge ready, package: tx, target: master

#2711 evm/common: rename DATAHASH to BLOBHASH
  packages/common/src/eips/4844.json
  packages/evm/src/opcodes/codes.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/test/runCall.spec.ts
  packages/evm/test/versionedHashes.spec.ts
Labels: PR state: needs review, package: common, package: evm

#2710 Fix 4844 test set
  packages/block/src/block.ts
  packages/block/src/helpers.ts
  packages/block/test/eip4844block.spec.ts
  packages/evm/src/exceptions.ts
  packages/evm/src/precompiles/14-kzg-point-evaluation.ts
  packages/evm/test/precompiles/14-pointevaluation.spec.ts
Labels: PR state: needs review, type: tests, package: block

#2705 tx: ensure rpc txs are correctly decoded for v=0
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/tx/src/fromRpc.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/test/fromRpc.spec.ts
  packages/tx/test/json/v0tx.json
Labels: PR state: needs review, package: tx

#2708 tx: De-sszify 4844 blob transaction
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/test/testdata/payload-slot-87335.json
  packages/block/test/testdata/payload-slot-87475.json
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/types.ts
  packages/tx/src/util.ts
  packages/tx/test/eip4844.spec.ts
Labels: PR state: merge ready, package: block, package: tx, package: client, target: master

#2716 client: Extend newPayloadV3 for blob versioned hashes checks
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
Labels: PR state: needs review, package: client, target: master

#2717 util: Remove ssz from monorepo
  package-lock.json
  packages/block/src/block.ts
  packages/tx/package.json
  packages/tx/src/eip4844Transaction.ts
  packages/util/package.json
  packages/util/src/index.ts
  packages/util/src/ssz.ts
  packages/util/test/ssz.spec.ts
Labels: PR state: merge ready, package: block, package: tx, type: test all hardforks, package: util, target: master (v7)

#2719 Monorepo: README Branch Status Updates
  README.md
Labels: PR state: needs review, PR state: merge ready, type: docs, package: monorepo

#2724 Update `rustbn.js` to latest
  package-lock.json
  packages/evm/package.json
Labels: target: master (v7), package: evm

#2723 evm: better error handling for contract creation errors
  packages/evm/src/evm.ts
  packages/evm/test/runCall.spec.ts
Labels: PR state: needs review, type: test all hardforks, package: evm

#2727 Fix Retesteth Merge Test Runs
  packages/vm/test/tester/config.ts
Labels: type: bug, PR state: needs review, PR state: merge ready, type: tests, type: CI, package: vm

#2729 Monorepo Wallet Library Integration
  package-lock.json
  packages/wallet/.eslintrc.js
  packages/wallet/.github/workflows/build.yml
  packages/wallet/.gitignore
  packages/wallet/.prettierignore
  packages/wallet/CHANGELOG.md
  packages/wallet/LICENSE
  packages/wallet/README.md
  packages/wallet/docs/README.md
  packages/wallet/docs/classes/ethereumhdkey.md
  packages/wallet/docs/classes/wallet.md
  packages/wallet/docs/interfaces/etherwalletoptions.md
  packages/wallet/docs/interfaces/evpkdfopts.md
  packages/wallet/karma.conf.js
  packages/wallet/package.json
  packages/wallet/prettier.config.js
  packages/wallet/src/hdkey.ts
  packages/wallet/src/index.ts
  packages/wallet/src/thirdparty.ts
  packages/wallet/src/util/bytes.ts
  packages/wallet/src/util/helpers.ts
  packages/wallet/src/util/internal.ts
  packages/wallet/src/util/types.ts
  packages/wallet/test/hdkey.spec.ts
  packages/wallet/test/index.spec.ts
  packages/wallet/tsconfig.json
  packages/wallet/tsconfig.prod.cjs.json
  packages/wallet/tsconfig.prod.esm.json
Labels: PR state: needs review, PR state: do-not-merge, type: refactor, package: monorepo, package: wallet

#2732 Clean up `wallet` docs and readme
  packages/wallet/README.md
  packages/wallet/docs/README.md
  packages/wallet/docs/classes/Wallet.md
  packages/wallet/docs/classes/ethereumhdkey.md
  packages/wallet/docs/classes/hdkey.md
  packages/wallet/docs/classes/wallet.md
  packages/wallet/docs/interfaces/etherwalletoptions.md
  packages/wallet/docs/interfaces/evpkdfopts.md
  packages/wallet/package.json
  packages/wallet/typedoc.js
Labels: package: wallet

#2715 block: swap withdrawal/opts in constructor
  packages/block/src/block.ts
  packages/block/test/mergeBlock.spec.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/test/util.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, package: block

#2737 Updated ethereum-cryptography to ^2.0.0
  packages/wallet/package.json
Labels: package: wallet

#2738 Add minimal wallet CI workflow
  .github/workflows/wallet-build.yml
  packages/wallet/.github/workflows/build.yml
Labels: type: CI, package: wallet

#2730 client: Fix double runs of the block execution
  packages/blockchain/src/types.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/vm/src/runBlock.ts
Labels: PR state: merge ready, package: block, package: client

#2741 vm/tests: ensure tests with aliases run with eip configs
  packages/vm/test/tester/config.ts
  packages/vm/test/util.ts
Labels: type: tests, package: vm
