Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2023-06, with the labels that each got.

#2702 EVM, remove EEI: cleanup statemanager
  packages/client/test/miner/pendingBlock.spec.ts
  packages/common/src/interfaces.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/journal.ts
  packages/evm/src/opcodes/EIP2929.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/opcodes/util.ts
  packages/statemanager/src/cache/journaling.ts
  packages/statemanager/src/cache/originalStorageCache.ts
  packages/statemanager/src/ethersStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/statemanager/test/oldeeitests.spec.ts
  packages/statemanager/test/stateManager.account.spec.ts
  packages/statemanager/test/vmState.spec.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-3529.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/retesteth/transition-child.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, package: vm, package: common, type: test all hardforks, package: statemanager, package: evm

#2745 Update package lock as per latest packages
  package-lock.json
Labels: PR state: merge ready, target: master (v7)

#2740 client: add another vm execution re-run test scenario
  packages/client/test/execution/vmexecution.spec.ts
Labels: PR state: merge ready, package: client, target: master (v7)

#2744 tx: Add serialized blob tx spec test
  packages/tx/test/eip4844.spec.ts
Labels: PR state: merge ready, package: tx, target: master (v7)

#2739 Migrate `wallet` from `buffer` to `Uint8Array `
  packages/wallet/.eslintrc.js
  packages/wallet/src/hdkey.ts
  packages/wallet/src/index.ts
  packages/wallet/src/thirdparty.ts
  packages/wallet/src/util/bytes.ts
  packages/wallet/src/util/helpers.ts
  packages/wallet/src/util/internal.ts
  packages/wallet/src/util/types.ts
  packages/wallet/test/hdkey.spec.ts
  packages/wallet/test/index.spec.ts
Labels: package: wallet

#2746 tx: Update c-kzg to big endian implementation
  package-lock.json
  packages/block/package.json
  packages/client/package.json
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/evm/package.json
  packages/evm/test/precompiles/14-pointevaluation.spec.ts
  packages/tx/package.json
  packages/tx/test/eip4844.spec.ts
  packages/util/package.json
  packages/vm/package.json
Labels: PR state: merge ready, package: block, package: tx, package: vm, package: client, package: util, target: master (v7), package: evm

#2749 tx: Add nethermind network blob tx in 4844 spec test for validation
  packages/tx/test/eip4844.spec.ts
Labels: PR state: merge ready, package: tx, target: master (v7)

#2742 Migrate `wallet` tests to `tape
  package-lock.json
  packages/wallet/.eslintrc.js
  packages/wallet/karma.conf.js
  packages/wallet/package.json
  packages/wallet/src/index.ts
  packages/wallet/test/hdkey.spec.ts
  packages/wallet/test/index.spec.ts
Labels: type: refactor, type: tests, package: wallet

#2747 Upgrade `ethers` to v6 in `wallet`
  package-lock.json
  packages/wallet/package.json
  packages/wallet/test/index.spec.ts
Labels: dependencies, package: wallet

#2752 Client: Fix PeerPool Memory Leak
  packages/client/src/net/peer/peer.ts
  packages/client/src/net/peerpool.ts
  packages/client/src/net/protocol/boundprotocol.ts
  packages/client/src/net/server/rlpxserver.ts
  packages/client/src/service/ethereumservice.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/tsconfig.prod.cjs.json
  packages/devp2p/src/rlpx/rlpx.ts
Labels: type: bug, PR state: needs review, package: client

#2757 client: Increase client test coverage
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/sync/fullsync.spec.ts
Labels: type: tests, package: client

#2762 client: fix the newPayloadV3 validations
  packages/client/src/rpc/modules/engine.ts
  packages/client/src/rpc/util/CLConnectionManager.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
Labels: PR state: merge ready, package: client, target: master (v7)

#2765 vm: Discard blob txs with missing blobs for block building
  packages/client/src/miner/miner.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/vm/src/buildBlock.ts
Labels: PR state: merge ready, package: vm, package: client, target: master (v7)

#2772 monorepo: remove instances of `any` typecasting
  packages/blockchain/src/consensus/clique.ts
  packages/blockchain/src/utils.ts
  packages/blockchain/test/util.ts
  packages/client/src/blockchain/chain.ts
  packages/client/src/config.ts
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/blockfetcherbase.ts
  packages/client/src/sync/fetcher/bytecodefetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/src/util/parse.ts
  packages/client/src/util/rpc.ts
  packages/client/test/integration/util.ts
  packages/statemanager/src/ethersStateManager.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip4844Transaction.ts
Labels: type: enhancement, package: blockchain, package: tx, package: client, package: statemanager

#2776 tx: remove default hardfork from tx classes
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/eip4844Transaction.ts
Labels: package: tx, type: maintenance

#2775 common: update the blob target and limit to 3/6 respectively
  packages/block/test/eip4844block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/common/src/eips/4844.json
Labels: PR state: merge ready, package: common, target: master (v7)

#2780 VM test runner: do not exit on failing test
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, type: tests, package: vm

#2784 client: fix new payload 4844 validations
  packages/client/src/rpc/modules/engine.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
Labels: PR state: merge ready, package: client, target: master (v7)

#2786 Vitest/ESM: VM File Path Additions and Ethash Transition
  packages/ethash/examples/example.ts
  packages/ethash/examples/rawExample.ts
  packages/ethash/package.json
  packages/ethash/src/index.ts
  packages/ethash/src/util.ts
  packages/ethash/test/block.spec.ts
  packages/ethash/test/ethash.spec.ts
  packages/ethash/test/miner.spec.ts
  packages/vm/package.json
  packages/vm/src/bloom/index.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/index.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/test/retesteth/transition-cluster.ts
Labels: PR state: merge ready, type: refactor, type: tests, package: vm, package: ethash

#2781 Utils tests
  packages/util/test/lock.spec.ts
  packages/util/test/mapDB.spec.ts
Labels: PR state: needs review, type: tests, package: util

#2791 util: improve bytes jsdocs and rename intToHex to intToPrefixedHexString
  packages/block/src/block.ts
  packages/client/src/rpc/helpers.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/engine/withdrawals.spec.ts
  packages/client/test/rpc/eth/gasPrice.spec.ts
  packages/common/src/utils.ts
  packages/util/docs/README.md
  packages/util/src/bytes.ts
  packages/util/test/account.spec.ts
  packages/util/test/bytes.spec.ts
  packages/util/test/types.spec.ts
  packages/util/test/withdrawal.spec.ts
Labels: PR state: needs review, type: enhancement, package: util, breaking

#2793 wallet: remove type/node devdependency
  package-lock.json
  packages/wallet/package.json
Labels: type: maintenance, package: wallet

#2794 monorepo: remove tape scripts
  package-lock.json
  packages/blockchain/package.json
  packages/common/package.json
  packages/statemanager/package.json
  packages/util/package.json
Labels: package: blockchain, package: common, package: util, package: statemanager, type: maintenance

#2795 util: Rename mapdb copy function
  packages/client/src/execution/level.ts
  packages/trie/src/db/checkpoint.ts
  packages/trie/src/trie/trie.ts
  packages/util/src/db.ts
  packages/util/src/mapDB.ts
  packages/util/test/mapDB.spec.ts
Labels: PR state: needs review, type: refactor, type: tests, package: util

#2796 util: Add tests for blob helpers
  packages/util/test/blobHelpers.spec.ts
Labels: PR state: needs review, type: tests, package: util

#2798 Common, Block, VM: Unify and Refactor getHardforkBy Options
  packages/block/src/header.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/test/customConsensus.spec.ts
  packages/client/src/blockchain/chain.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/miner/miner.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/src/rpc/modules/engine.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/sync/beaconsync.ts
  packages/client/src/sync/fullsync.ts
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/util/CLConnectionManager.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/common/src/common.ts
  packages/common/src/types.ts
  packages/common/test/customChains.spec.ts
  packages/common/test/hardforks.spec.ts
  packages/common/test/mergePOS.spec.ts
  packages/common/test/timestamp.spec.ts
  packages/common/test/utils.spec.ts
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, type: refactor, type: enhancement, package: common, package: client, breaking

#2800 Block, VM: Unify hardforkBy Options
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/difficulty.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/test/blockValidation.spec.ts
  packages/blockchain/test/pos.spec.ts
  packages/client/bin/cli.ts
  packages/client/src/blockchain/chain.ts
  packages/client/src/miner/miner.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/src/net/protocol/lesprotocol.ts
  packages/client/src/rpc/modules/engine.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/reverseblockfetcher.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/customChain.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, type: refactor, type: enhancement, package: block, package: blockchain, package: vm, package: client, breaking

#2754 Last Planned Maintenance v6 Release Round (4844/KZG/SSZ Removal)
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/docs/classes/Block.md
  packages/block/docs/classes/BlockHeader.md
  packages/block/docs/interfaces/BlockData.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/docs/classes/Blockchain.md
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/docs/classes/ENR.md
  packages/devp2p/docs/classes/Server.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/docs/README.md
  packages/ethash/docs/classes/Ethash.md
  packages/ethash/docs/classes/Miner.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/docs/README.md
  packages/evm/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/docs/classes/Trie.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/docs/README.md
  packages/tx/docs/classes/BlobEIP4844Transaction.md
  packages/tx/docs/classes/TransactionFactory.md
  packages/tx/docs/enums/Capability.md
  packages/tx/docs/interfaces/AccessListEIP2930TxData.md
  packages/tx/docs/interfaces/BlobEIP4844TxData.md
  packages/tx/docs/interfaces/FeeMarketEIP1559TxData.md
  packages/tx/docs/interfaces/JsonRpcTx.md
  packages/tx/docs/interfaces/JsonTx.md
  packages/tx/docs/interfaces/TxOptions.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/docs/README.md
  packages/util/docs/modules/ssz.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: trie, package: util, package: statemanager, package: evm, target: maintenance-v6

#2802 Fix `npm run test:API` script
  packages/vm/package.json
Labels: package: vm

#2803 Add extensions for new `util` file
  packages/util/src/genesis.ts
Labels: package: util

#2771 Implement EIP6780: SELFDESTRUCT only in same transaction (v2)
  packages/common/src/eips/6780.json
  packages/common/src/eips/index.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/message.ts
  packages/evm/src/types.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-6780-selfdestruct-same-tx.spec.ts
Labels: PR state: needs review, package: vm, package: common, package: evm

#2805 Add json type assertions to ESM post build fixes
  config/cli/ts-build.sh
Labels: package: monorepo

#2804 Monorepo: Update lru-cache dependencies (ESM) / Switch Browser Test Provider
  .github/workflows/browser.yml
  config/eslint.cjs
  package-lock.json
  package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/common/package.json
  packages/evm/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/trie/src/db/checkpoint.ts
  packages/tx/package.json
  packages/tx/vitest.config.browser.ts
  packages/util/package.json
  packages/util/test/genesis.spec.ts
  packages/util/test/testdata/geth-genesis-kiln.json
  packages/util/vitest.config.browser.ts
  packages/vm/package.json
  packages/wallet/package.json
Labels: PR state: needs review, type: refactor, package: trie, package: statemanager, type: maintenance

#2770 Shanghai to Cancun transition network runner
  packages/block/src/header.ts
  packages/blockchain/src/blockchain.ts
  packages/vm/test/tester/config.ts
Labels: PR state: merge ready, type: tests, package: block, package: blockchain, package: vm, type: test all hardforks

#2806 VM/EVM: move selfdestruct type to set
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/message.ts
  packages/evm/src/types.ts
  packages/vm/src/runTx.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, package: vm, type: test all hardforks, package: evm

#2811 EVM: move KZG precompile
  packages/evm/src/precompiles/0a-kzg-point-evaluation.ts
  packages/evm/src/precompiles/0c-bls12-g1add.ts
  packages/evm/src/precompiles/0d-bls12-g1mul.ts
  packages/evm/src/precompiles/0e-bls12-g1multiexp.ts
  packages/evm/src/precompiles/0f-bls12-g2add.ts
  packages/evm/src/precompiles/10-bls12-g2mul.ts
  packages/evm/src/precompiles/11-bls12-g2multiexp.ts
  packages/evm/src/precompiles/12-bls12-pairing.ts
  packages/evm/src/precompiles/13-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/14-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/evm/test/precompiles/eip-2537-BLS.spec.ts
Labels: PR state: needs review, type: test all hardforks, package: evm

#2815 Genesis cleanup
  packages/genesis/package.json
  packages/genesis/src/genesisStates/goerli.ts
  packages/genesis/src/genesisStates/mainnet.ts
  packages/genesis/src/genesisStates/rinkeby.ts
  packages/genesis/src/genesisStates/ropsten.ts
  packages/genesis/src/genesisStates/sepolia.ts
  packages/genesis/src/types.ts
  packages/genesis/tsconfig.json
  packages/genesis/tsconfig.prod.cjs.json
  packages/genesis/tsconfig.prod.esm.json
  packages/genesis/typedoc.js
  packages/trie/test/util/genesisState.spec.ts
Labels: package: genesis

#2792 tx: simplify validate methods
  packages/block/src/block.ts
  packages/block/test/block.spec.ts
  packages/block/test/eip1559block.spec.ts
  packages/block/test/eip4844block.spec.ts
  packages/block/test/eip4895block.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/devp2p/examples/peer-communication-les.cts
  packages/devp2p/examples/peer-communication.cts
  packages/tx/README.md
  packages/tx/docs/classes/AccessListEIP2930Transaction.md
  packages/tx/docs/classes/FeeMarketEIP1559Transaction.md
  packages/tx/docs/classes/Transaction.md
  packages/tx/examples/custom-chain-tx.cts
  packages/tx/examples/ropsten-tx.cts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/types.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/transactionRunner.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: enhancement, package: block, package: tx, breaking

#2808 Implement EIP5656 MCOPY
  packages/common/src/eips/5656.json
  packages/common/src/eips/index.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/codes.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/test/eips/eip-5656.spec.ts
Labels: PR state: needs review, package: vm, package: evm

#2818 Fix retesteth runner
  packages/vm/test/retesteth/transition-child.cts
  packages/vm/test/retesteth/transition-cluster.cts
Labels: PR state: needs review, type: tests, package: vm

#2819 util: Async event emitter tests
  packages/util/test/asyncEventEmitter.spec.ts
Labels: PR state: needs review, type: tests, package: util

#2836 Check VM nightly tests status
  package.json
Labels: PR state: needs review, package: vm

#2835 Monorepo: Add Browser Examples
  packages/block/examples/browser.html
  packages/blockchain/examples/browser.html
  packages/common/README.md
  packages/common/examples/browser.html
  packages/evm/examples/browser.html
  packages/evm/src/evm.ts
  packages/evm/src/journal.ts
  packages/rlp/examples/browser.html
  packages/statemanager/examples/browser.html
  packages/statemanager/src/cache/cache.ts
  packages/statemanager/src/ethersStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/trie/examples/browser.html
  packages/tx/examples/browser.html
  packages/util/examples/browser.html
  packages/vm/src/vm.ts
  packages/wallet/examples/browser.html
Labels: PR state: WIP, type: docs, package: block, package: blockchain, package: tx, package: common, package: trie, package: util, package: rlp, package: statemanager

#2813 Remove deprecated networks
  packages/block/test/block.spec.ts
  packages/block/test/clique.spec.ts
  packages/block/test/difficulty.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/README.md
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/client/README.md
  packages/client/docs/classes/Config.md
  packages/client/src/config.ts
  packages/client/test/config.spec.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/eth/chainId.spec.ts
  packages/client/test/rpc/net/version.spec.ts
  packages/common/README.md
  packages/common/docs/enums/Chain.md
  packages/common/scripts/update-bootnodes.js
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/common.ts
  packages/common/src/enums.ts
  packages/common/test/chains.spec.ts
  packages/common/test/eips.spec.ts
  packages/common/test/hardforks.spec.ts
  packages/devp2p/examples/peer-communication-les.cts
  packages/devp2p/test/integration/eth-simulator.spec.ts
  packages/devp2p/test/integration/les-simulator.spec.ts
  packages/ethash/test/miner.spec.ts
  packages/evm/README.md
  packages/genesis/package.json
  packages/genesis/src/genesisStates/rinkeby.ts
  packages/genesis/src/genesisStates/ropsten.ts
  packages/genesis/src/index.ts
  packages/genesis/test/index.spec.ts
  packages/statemanager/test/vmState.spec.ts
  packages/trie/test/util/genesisState.spec.ts
  packages/tx/README.md
  packages/tx/examples/ropsten-tx.cts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/vm/examples/run-solidity-contract.cts
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/istanbul/eip-1344.spec.ts
  packages/vm/test/api/runTx.spec.ts
Labels: PR state: merge ready, type: refactor, type: tests, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: client, package: trie, package: statemanager, package: evm, type: maintenance, package: genesis

#2839 CI: Fix node-versions runner
  .github/workflows/node-versions.yml
Labels: PR state: needs review, type: tests, package: monorepo

#2840 VM Browser Example and Various Browser Compatibility Fixes
  .github/workflows/browser.yml
  package-lock.json
  packages/evm/.eslintignore
  packages/evm/package.json
  packages/evm/src/evm.ts
  packages/evm/src/precompiles/06-ecadd.ts
  packages/evm/src/precompiles/07-ecmul.ts
  packages/evm/src/precompiles/08-ecpairing.ts
  packages/evm/vite.config.ts
  packages/vm/.eslintignore
  packages/vm/examples/browser.html
  packages/vm/src/vm.ts
  packages/vm/vite.config.ts
Labels: PR state: needs review, type: docs, type: refactor, type: enhancement, type: CI, package: vm, package: evm
