Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2023-01, with the labels that each got.

#2467 block: Handle hardfork defaults consistently
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/block/test/eip4895block.spec.ts
  packages/block/test/header.spec.ts
Labels: PR state: merge ready, package: block, hardfork: shanghai

#2469 common: add eip option to GethConfigOpts
  packages/common/src/common.ts
  packages/common/src/types.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
Labels: PR state: needs review, package: common

#2470 common: infer latest hardfork from geth genesis file
  packages/common/src/common.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/common/test/utils.spec.ts
Labels: PR state: needs review, package: common

#2479 Fix: typos
  packages/client/docs/interfaces/ConfigOptions.md
  packages/client/docs/usage/RunAsElClient.md
  packages/client/lib/config.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/common/docs/classes/Common.md
  packages/common/src/common.ts
Labels: package: common, package: client

#2481 Fix beaconsync test race condition
  packages/client/test/sync/beaconsync.spec.ts
Labels: package: client

#2474 client: reuse jwt-token from default path
  packages/client/bin/startRpc.ts
Labels: PR state: needs review, type: enhancement, package: client

#2475 client: typed client opts
  packages/client/bin/cli.ts
  packages/client/bin/startRpc.ts
  packages/client/lib/types.ts
  packages/client/test/rpc/helpers.ts
Labels: PR state: WIP, type: enhancement, package: client

#2478 Remove text-lcov reporter from coverage scripts
  packages/client/package.json
  packages/evm/package.json
  packages/vm/package.json
Labels: PR state: needs review, type: CI, package: vm, package: client, package: evm

#2477 client: Clean stop sync and execution to allow client shutdown
  packages/client/lib/execution/execution.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/test/execution/vmexecution.spec.ts
Labels: type: bug, PR state: merge ready, package: client

#2484 Remove lcov-text param from coverage script
  config/cli/coverage.sh
Labels: type: CI

#2487 Update Dockerfiles to use node 18
  Dockerfile
  Dockerfile.fromSource
Labels: PR state: merge ready, type: CI, package: client, target: master

#2488 util: Add ssz roots capability for withdrawals hash tree root
  package-lock.json
  packages/block/src/block.ts
  packages/util/karma.conf.js
  packages/util/package.json
  packages/util/src/constants.ts
  packages/util/src/index.ts
  packages/util/src/ssz.ts
  packages/util/src/withdrawal.ts
  packages/util/test/ssz.spec.ts
  packages/util/test/withdrawal.spec.ts
Labels: PR state: merge ready, package: block, package: common

#2490 client: validate CLI args
  packages/client/bin/cli.ts
Labels: PR state: needs review, type: enhancement, package: client

#2489 Fix bug in how precompiles activated by EIP are identified
  packages/evm/test/precompiles/eip-2537-BLS.spec.ts
Labels: type: bug, package: evm

#2492 Client and README Doc Updates
  README.md
  packages/client/README.md
  packages/client/docs/usage/RunAsElClient.md
Labels: PR state: needs review, type: docs, package: monorepo, package: client

#2495 Change client CLI params to camelCase
  .github/workflows/client-build.yml
  packages/client/bin/cli.ts
  packages/client/bin/startRpc.ts
  packages/client/lib/types.ts
  packages/client/package.json
  packages/client/test/cli/cli-libp2p.spec.ts
  packages/client/test/cli/cli-sync.spec.ts
Labels: package: client

#2493 Interop 4844 Docs Preparation & Alignment
  packages/client/.eslintignore
  packages/client/devnets/4844-interop/INTEROP.md
  packages/client/devnets/4844-interop/config/config.yml
  packages/client/devnets/4844-interop/config/genesis.json
  packages/client/devnets/4844-interop/config/jwtsecret.txt
  packages/client/devnets/4844-interop/config/minerKey.txt
  packages/client/devnets/4844-interop/lighthouse/INTEROP.md
  packages/client/devnets/4844-interop/lighthouse/bootnode.sh
  packages/client/devnets/4844-interop/lighthouse/genesis.json
  packages/client/devnets/4844-interop/lighthouse/setup.sh
  packages/client/devnets/4844-interop/lighthouse/vars.env
  packages/client/devnets/4844-interop/prysm/config.yml
  packages/client/devnets/4844-interop/prysm/generate_genesis.sh
  packages/client/devnets/4844-interop/prysm/genesis.ssz
  packages/client/devnets/4844-interop/prysm/genesisGEN.json
  packages/client/devnets/4844-interop/prysm/prysm.json
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/test/sim/4844.md
  packages/client/test/sim/EOF.md
  packages/client/test/sim/configs/blobs.txt
  packages/client/test/sim/configs/prysm/INTEROP.md
  packages/client/test/sim/configs/prysm/start_ethjs.sh
  packages/client/test/sim/configs/prysm/start_prysm.sh
  packages/client/test/sim/configs/prysm/start_prysm_validator.sh
  packages/client/test/sim/configs/prysm/txGenerator.ts
Labels: PR state: needs review, type: docs, type: refactor, package: client

#2496 VM/tests: add support for Shanghai
  packages/vm/test/tester/config.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, type: tests, package: vm

#2497 Interop Client CLI Improvements
  packages/client/bin/cli.ts
  packages/client/lib/client.ts
  packages/client/lib/execution/execution.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/logging.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/skeleton.ts
Labels: PR state: needs review, PR state: WIP, type: enhancement, package: client

#2499 tx: Handle json fields in fromTxData for eip4844 tx
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/types.ts
  packages/tx/test/eip4844.spec.ts
Labels: type: bug, package: tx

#2501 tx: make kzgProof required field for network wrapper
  packages/tx/src/eip4844Transaction.ts
  packages/tx/test/eip4844.spec.ts
Labels: PR state: needs review, package: tx

#2502 client/rpc/engine: fix forkchoiceUpdateV2 shanghai
  packages/client/lib/rpc/modules/engine.ts
Labels: PR state: needs review, package: client

#2503 Add checks for replacement data gas too low for blob txs
  packages/client/lib/service/txpool.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
Labels: PR state: needs review, type: enhancement, package: client

#2504 engine-api-validators
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/validation.ts
  packages/client/test/rpc/engine/newPayloadv2.spec.ts
  packages/client/test/rpc/engine/newPayloadv3.spec.ts
  packages/client/test/rpc/validation.spec.ts
Labels: PR state: needs review, package: client, hardfork: shanghai, target: master

#2506 More Interop Improvements
  packages/client/lib/client.ts
  packages/client/lib/net/peerpool.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/client/lib/service/txpool.ts
  packages/client/lib/sync/skeleton.ts
  packages/client/lib/sync/sync.ts
Labels: PR state: needs review, type: enhancement, package: client

#2508 4844 Engine API Fixes
  packages/client/lib/rpc/modules/engine.ts
Labels: type: bug, PR state: WIP, package: client

#2510 More Interop Log Improvements
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/runTx.spec.ts
Labels: PR state: needs review, type: enhancement, package: vm, package: client

#2505 vm: Add and use execHardfork while running a tx
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/runTx.spec.ts
Labels: PR state: merge ready, package: vm, package: client

#2509 client: add new shanghai engine apis
  packages/client/lib/rpc/error-code.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/validation.ts
  packages/client/test/rpc/engine/getCapabilities.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
Labels: PR state: WIP, package: client, breaking

#2514 feat: remove async library
  package-lock.json
  packages/util/package.json
  packages/util/src/asyncEventEmitter.ts
Labels: package: util

#2515 New client ci run
  .github/workflows/client-build.yml
  packages/client/test/sim/configs/mainnet.json
  packages/client/test/sim/eof.spec.ts
  packages/client/test/sim/mainnet.spec.ts
  packages/client/test/sim/sharding.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/single-run.sh
Labels: PR state: needs review, type: CI, package: client
