Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2023-12, with the labels that each got.

#3177 monorepo: address dependabot vuln 66
  package-lock.json
Labels: PR state: merge ready, type: security, package: monorepo

#3139 StateManager: stateless verkle state manager
  package-lock.json
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/header.ts
  packages/block/src/types.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/test/mergeBlock.spec.ts
  packages/block/test/testdata/payload-kaustinen.json
  packages/block/test/testdata/testnetVerkleKaustinen.json
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/db/helpers.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/test/util.ts
  packages/client/bin/cli.ts
  packages/client/package.json
  packages/client/src/blockchain/chain.ts
  packages/client/src/client.ts
  packages/client/src/config.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/types.ts
  packages/client/test/rpc/engine/kaustinen2.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/testdata/blocks/kaustinen2.json
  packages/client/test/testdata/geth-genesis/kaustinen2.json
  packages/common/src/chains.ts
  packages/common/src/eips.ts
  packages/common/src/enums.ts
  packages/common/src/hardforks.ts
  packages/common/src/utils.ts
  packages/evm/src/evm.ts
  packages/genesis/src/genesisStates/kaustinen.ts
  packages/genesis/test/index.spec.ts
  packages/statemanager/package.json
  packages/statemanager/src/index.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/statemanager/test/testdata/testnetVerkleKaustinen.json
  packages/statemanager/test/testdata/verkleKaustinenBlock.json
  packages/statemanager/tsconfig.prod.cjs.json
  packages/statemanager/tsconfig.prod.esm.json
  packages/statemanager/vitest.config.browser.ts
  packages/util/src/bytes.ts
  packages/verkle/src/util/crypto.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/crypto.spec.ts
  packages/verkle/test/internalNode.spec.ts
  packages/verkle/test/leafNode.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/types.spec.ts
Labels: type: feature, PR state: WIP, package: block, package: blockchain, package: common, package: client, package: statemanager, package: evm, package: verkle

#3173 Replace `superagent` with direct RPC calls in RPC tests
  package-lock.json
  packages/client/bin/cli.ts
  packages/client/package.json
  packages/client/test/rpc/admin/nodeInfo.spec.ts
  packages/client/test/rpc/debug/storageRangeAt.spec.ts
  packages/client/test/rpc/debug/traceCall.spec.ts
  packages/client/test/rpc/debug/traceTransaction.spec.ts
  packages/client/test/rpc/engine/exchangeCapabilities.spec.ts
  packages/client/test/rpc/engine/exchangeTransitionConfigurationV1.spec.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/kaustinen2.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/rpc/engine/newPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/client/test/rpc/engine/withdrawals.spec.ts
  packages/client/test/rpc/eth/blockNumber.spec.ts
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/chainId.spec.ts
  packages/client/test/rpc/eth/coinbase.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/gasPrice.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getBlockByHash.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getBlockTransactionCountByHash.spec.ts
  packages/client/test/rpc/eth/getBlockTransactionCountByNumber.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getLogs.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/eth/getStorageAt.spec.ts
  packages/client/test/rpc/eth/getTransactionByBlockHashAndIndex.spec.ts
  packages/client/test/rpc/eth/getTransactionByHash.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/getUncleCountByBlockNumber.spec.ts
  packages/client/test/rpc/eth/protocolVersion.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/eth/syncing.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/net/listening.spec.ts
  packages/client/test/rpc/net/peerCount.spec.ts
  packages/client/test/rpc/net/version.spec.ts
  packages/client/test/rpc/rpc.spec.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/rpc/util.ts
  packages/client/test/rpc/validation.spec.ts
  packages/client/test/rpc/web3/clientVersion.spec.ts
  packages/client/test/rpc/web3/sha3.spec.ts
  packages/client/test/rpc/websocket.spec.ts
  packages/client/test/util/rpc.spec.ts
Labels: PR state: needs review, type: refactor, type: tests, package: client

#3182 testdouble to vi refactoring
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/bytecodefetcher.spec.ts
  packages/client/test/sync/fetcher/reverseblockfetcher.spec.ts
  packages/client/test/sync/fetcher/trienodefetcher.spec.ts
Labels: PR state: needs review, type: refactor, type: tests, package: client

#3184 Add test for ecrecover precompile
  packages/evm/test/precompiles/01-ecrecover.spec.ts
Labels: PR state: WIP, type: tests, package: evm

#3185 util: check that hex to byte conversion is valid in hexToBytes
  packages/util/src/bytes.ts
  packages/util/test/bytes.spec.ts
Labels: PR state: merge ready, type: enhancement, package: util

#3187 Client: Async VM Initialization
  packages/client/src/execution/vmexecution.ts
  packages/client/src/service/txpool.ts
  packages/client/test/client.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/admin/nodeInfo.spec.ts
  packages/client/test/rpc/debug/traceCall.spec.ts
  packages/client/test/rpc/debug/traceTransaction.spec.ts
  packages/client/test/rpc/engine/exchangeCapabilities.spec.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/rpc/eth/blockNumber.spec.ts
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/chainId.spec.ts
  packages/client/test/rpc/eth/coinbase.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getBlockByHash.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getBlockTransactionCountByHash.spec.ts
  packages/client/test/rpc/eth/getBlockTransactionCountByNumber.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/eth/getTransactionByBlockHashAndIndex.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/eth/getUncleCountByBlockNumber.spec.ts
  packages/client/test/rpc/eth/protocolVersion.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/eth/syncing.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/mockBlockchain.ts
  packages/client/test/rpc/net/listening.spec.ts
  packages/client/test/rpc/net/peerCount.spec.ts
  packages/client/test/rpc/net/version.spec.ts
  packages/client/test/rpc/rpc.spec.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/rpc/web3/clientVersion.spec.ts
  packages/client/test/rpc/web3/sha3.spec.ts
  packages/client/vitest.config.unit.ts
Labels: PR state: needs review, type: refactor, package: client

#3195 evm: fix CALL(CODE) gas
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/test/runCall.spec.ts
Labels: PR state: needs review, type: test all hardforks, package: evm

#3186 Trie/StateManager: create partial state tries / state managers from proofs
  packages/statemanager/README.md
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/proofStateManager.spec.ts
  packages/statemanager/test/stateManager.spec.ts
  packages/trie/README.md
  packages/trie/src/trie.ts
  packages/trie/test/proof.spec.ts
Labels: PR state: needs review, package: trie, package: statemanager

#3201 Fix Blake2F gas + output calculation on non-zero aligned inputs
  packages/evm/src/precompiles/09-blake2f.ts
  packages/evm/test/precompiles/09-blake2f.spec.ts
Labels: PR state: needs review, package: evm

#3205 Add missed `.js file endings
  packages/block/src/header.ts
  packages/common/src/chains.ts
  packages/devp2p/src/ext/kbucket.ts
  packages/trie/src/util/asyncWalk.ts
  packages/tx/src/capabilities/eip2718.ts
  packages/verkle/src/types.ts
Labels: package: block, package: tx, package: common, package: trie, package: verkle

#3203 util: optimize hexToBytes
  packages/util/src/bytes.ts
Labels: PR state: needs review, type: performance, package: util

#3206 evm: ensure modexp right-pads input data
  packages/evm/src/precompiles/05-modexp.ts
  packages/evm/test/precompiles/05-modexp.spec.ts
Labels: PR state: needs review, package: evm

#3197 statemanager: Fix statemanager Browser Example
  packages/statemanager/examples/browser.html
  packages/trie/src/trie.ts
Labels: PR state: needs review, package: statemanager

#3207 Codecov tuning
  .github/workflows/genesis-build.yml
  .github/workflows/rlp-build.yml
  .github/workflows/wallet-build.yml
  packages/ethash/package.json
  packages/rlp/package.json
  packages/wallet/package.json
  packages/wallet/test/hdkey.spec.ts
  packages/wallet/test/index.spec.ts
Labels: PR state: needs review, package: wallet, package: genesis

#3209 Fix broken code path in client readme
  packages/client/README.md
Labels: PR state: needs review, type: docs, package: monorepo

#3211 common: schedule cancun for testnets
  packages/common/src/chains.ts
  packages/common/test/hardforks.spec.ts
Labels: PR state: merge ready, package: common

#3024 Client: Fetcher Small Bugfixes and Log Improvements
  packages/client/src/service/service.ts
  packages/client/src/sync/fetcher/blockfetcher.ts
  packages/client/src/sync/fetcher/blockfetcherbase.ts
  packages/client/src/sync/fetcher/fetcher.ts
Labels: type: bug, PR state: needs review, type: enhancement, package: client
