Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2023-08, with the labels that each got.

#2623 client: add trienode fetcher for snap sync
  package-lock.json
  packages/client/package.json
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/bytecodefetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/src/sync/snapsync.ts
  packages/client/test/sim/single-run.sh
  packages/client/test/sim/snapsync.spec.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/client/test/sync/fetcher/bytecodefetcher.spec.ts
  packages/client/test/sync/fetcher/trienodefetcher.spec.ts
  packages/client/test/sync/snapsync.spec.ts
  packages/trie/src/util/encoding.ts
  packages/trie/src/util/index.ts
  packages/trie/test/encodingUtils.spec.ts
  packages/trie/test/util/encodingUtils.spec.ts
Labels: type: feature, PR state: needs review, package: client

#2930 Fix rpc custom address bug
  packages/client/bin/startRpc.ts
  packages/client/test/cli/cli.spec.ts
Labels: type: bug, type: tests, package: client, type: spec updates

#2932 Reuse proof trie
  packages/statemanager/src/stateManager.ts
Labels: PR state: needs review, type: performance, package: statemanager

#2934 client: test and update devnet 8 integration sims
  packages/block/test/from-beacon-payload.spec.ts
  packages/client/test/sim/4844-blobpost.md
  packages/client/test/sim/4844-blobpost.spec.ts
  packages/client/test/sim/4844-devnet.md
  packages/client/test/sim/4844-devnet.spec.ts
  packages/client/test/sim/configs/4844-devnet.json
  packages/client/test/sim/simutils.ts
Labels: PR state: merge ready, package: client, target: master (v7)

#2937 Reintegrate Skipped vm Tests
  packages/vm/test/tester/config.ts
Labels: PR state: needs review, type: tests, package: vm, type: test all hardforks

#2936 Update instructions for running snap sync sim tests
  packages/client/test/sim/snapsync.md
Labels: PR state: needs review, type: docs, type: tests

#2940 client: add support for multiple same-type messages over devp2p
  packages/client/src/net/protocol/boundprotocol.ts
Labels: PR state: needs review, package: client

#2935 Fix engine-blobs hive tests
  packages/block/src/header.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/src/rpc/error-code.ts
  packages/client/src/rpc/modules/engine.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/service/fullethereumservice.ts
  packages/client/src/service/txpool.ts
  packages/client/test/rpc/engine/newPayloadV3.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/sync/txpool.spec.ts
  packages/common/src/hardforks.ts
Labels: package: client

#2942 client: update prerequisites to run sim tests
  packages/client/test/sim/4844-blobpost.md
  packages/client/test/sim/4844-devnet.md
  packages/client/test/sim/EOF.md
  packages/client/test/sim/snapsync.md
Labels: PR state: merge ready, package: client, target: master (v7)

#2943 Collapse `EthereumService` abstraction service
  packages/client/src/rpc/modules/admin.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/rpc/modules/net.ts
  packages/client/src/rpc/modules/web3.ts
  packages/client/src/service/ethereumservice.ts
  packages/client/src/service/fullethereumservice.ts
  packages/client/src/service/index.ts
  packages/client/src/service/lightethereumservice.ts
  packages/client/src/service/service.ts
Labels: package: client

#2946 Fix block validation order for EIP4844
  packages/block/src/block.ts
  packages/block/src/header.ts
Labels: PR state: needs review, package: block

#2944 Fix Cancun Pyspec tests
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
Labels: PR state: needs review, type: tests, prio: +urgent, package: evm

#2947 tx/block/vm: update maxFeePerBlobGas casing
  packages/block/src/block.ts
  packages/block/test/eip4844block.spec.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/src/rpc/helpers.ts
  packages/client/src/service/txpool.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/4844-blobpost.spec.ts
  packages/client/test/sim/4844-devnet.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/txGenerator.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/types.ts
  packages/tx/test/eip4844.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/utils.ts
Labels: PR state: needs review, prio: +urgent, package: block, package: tx, package: vm, package: client

#2922 Client/StateManager: storageRangeAt() RPC call / EVMStateManager Interface Extension
  packages/client/src/rpc/modules/debug.ts
  packages/client/src/rpc/validation.ts
  packages/client/test/rpc/debug/storageRangeAt.spec.ts
  packages/client/test/rpc/validation.spec.ts
  packages/common/src/interfaces.ts
  packages/statemanager/src/ethersStateManager.ts
  packages/statemanager/src/stateManager.ts
Labels: type: feature, PR state: needs review, package: common, package: client, package: statemanager

#2952 client: await dumpStorageRange in storageRangeAt rpc for errors to be properly handled
  packages/client/src/rpc/modules/debug.ts
Labels: PR state: merge ready, package: client, target: master (v7)

#2951 trie: improve util types and handling
  packages/trie/src/node/util.ts
  packages/trie/src/proof/range.ts
  packages/trie/src/trie.ts
Labels: PR state: merge ready, type: enhancement, package: trie

#2955 client: update shanghai/cancun engine api specs
  packages/client/src/rpc/modules/engine.ts
  packages/common/src/eips.ts
  packages/evm/src/precompiles/0b-beaconroot.ts
  packages/evm/src/precompiles/index.ts
  packages/tx/src/eip4844Transaction.ts
  packages/vm/test/api/EIPs/eip-4788-beaconroot.spec.ts
Labels: PR state: needs review, package: tx, package: vm, package: common, package: client, package: evm

#2950 trie: allow trie put/del ops to skip transforming key for snapsync
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/src/types.ts
  packages/client/test/sim/snapsync.spec.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/trie/src/trie.ts
  packages/trie/test/trie/secure.spec.ts
  packages/util/src/genesis.ts
Labels: PR state: merge ready, package: client, package: trie, target: master (v7)

#2957 fixed kademlia kbucket add
  packages/devp2p/src/ext/kbucket.ts
Labels: type: bug, PR state: needs review, package: devp2p

#2960 Update statemanager tests
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/statemanager/test/statemanager.spec.ts
Labels: type: tests, package: statemanager

#2959 common: handle forkHash on timestamp == genesis timestamp
  packages/common/src/utils.ts
Labels: PR state: needs review, package: common

#2941 Snap Sync Fetchers: Highest-Known-Hash Optimization
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
Labels: PR state: needs review, type: tests, type: performance, package: client

#2958 DevP2P: ETH: only create DEBUG msgs if debugging
  packages/devp2p/src/protocol/eth.ts
Labels: PR state: needs review, package: devp2p

#2961 common: add forkHash tests
  packages/common/src/utils.ts
  packages/common/test/hardforks.spec.ts
Labels: PR state: needs review, package: common

#2953 Replace testdouble with vitest test helpers
  packages/client/test/client.spec.ts
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/client/test/sync/snapsync.spec.ts
Labels: PR state: needs review, type: tests, package: devp2p, package: client

#2967 client: include parent beacon block root for proposal payload uniquness
  packages/client/src/miner/pendingBlock.ts
Labels: PR state: merge ready, package: client, target: master (v7)

#2969 Fix the Trie Package Benchmarks
  packages/trie/benchmarks/engines/level.ts
  packages/trie/benchmarks/index.ts
  packages/trie/benchmarks/suite.ts
Labels: PR state: WIP, type: refactor, type: performance

#2976 Fix broken import
  packages/trie/benchmarks/index.ts
Labels: PR state: needs review, package: trie

#2965 Snap Sync: Storage Fetcher Highest-Known-Hash Optimization
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/client/test/sync/fetcher/storagefetcher.spec.ts
Labels: type: feature, PR state: needs review, package: client

#2970 Clean up logging in vm/evm
  packages/evm/src/evm.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, package: vm, package: evm, type: maintenance

#2973 client: fixes for new engine api method validations for hive pr-834
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/rpc/error-code.ts
  packages/client/src/rpc/modules/engine.ts
Labels: PR state: merge ready, package: client, target: master (v7)

#2972 Update github actions to newer versions
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/browser.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/e2e-hardhat.yml.old
  .github/workflows/ethash-build.yml
  .github/workflows/evm-build.yml
  .github/workflows/examples.yml
  .github/workflows/lockfile.yml
  .github/workflows/node-versions.yml
  .github/workflows/rlp-build.yml
  .github/workflows/statemanager-build.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-pr.yml
  .github/workflows/wallet-build.yml
Labels: type: CI

#2982 Add Holesky testnet
  packages/blockchain/test/index.spec.ts
  packages/common/src/chains.ts
  packages/common/src/enums.ts
  packages/genesis/src/genesisStates/holesky.ts
  packages/genesis/src/index.ts
  packages/genesis/test/index.spec.ts
Labels: PR state: needs review, package: common, package: genesis

#2985 Tx: Cache sender
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/legacyTransaction.ts
Labels: PR state: needs review, type: performance, package: tx

#2984 Add error handling for async errors in client
  packages/client/bin/cli.ts
  packages/client/src/client.ts
  packages/client/src/net/server/rlpxserver.ts
Labels: package: client

#2989 common: update the shanghai hf schedule for holesky
  packages/common/src/chains.ts
  packages/common/test/hardforks.spec.ts
Labels: PR state: merge ready, package: common, target: master (v7)

#2991 VM: Reactivate more slow tests
  packages/vm/test/tester/config.ts
Labels: PR state: needs review, type: tests, type: performance, package: vm, type: test all hardforks

#2997 common: unschedule Cancun for holesky
  packages/common/src/chains.ts
Labels: PR state: merge ready, package: common, target: master (v7)

#2993 tx: consolidate generic tx capabilities
  packages/tx/src/baseTransaction.ts
  packages/tx/src/capabilities/eip1559.ts
  packages/tx/src/capabilities/eip2930.ts
  packages/tx/src/capabilities/generic.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/legacyTransaction.ts
Labels: PR state: needs review, type: refactor, package: tx

#2988 Add EVM profiler
  packages/client/bin/cli.ts
  packages/client/src/config.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/types.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/logger.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/types.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
Labels: PR state: needs review, type: performance, package: vm, package: evm

#3000 EVM: optimize stack
  packages/evm/src/interpreter.ts
  packages/evm/src/stack.ts
  packages/evm/test/customOpcodes.spec.ts
  packages/evm/test/stack.spec.ts
  packages/vm/test/api/EIPs/eip-3855.spec.ts
Labels: PR state: needs review, type: performance, package: evm
