Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2023-04, with the labels that each got.

#2607 Buffer to Uint8Array cleanup
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/db/operation.ts
  packages/client/lib/config.ts
  packages/client/lib/execution/level.ts
  packages/client/lib/net/protocol/snapprotocol.ts
  packages/client/lib/net/server/rlpxserver.ts
  packages/client/lib/sync/fetcher/accountfetcher.ts
  packages/client/lib/util/metaDBManager.ts
  packages/client/test/integration/pow.spec.ts
  packages/client/test/sync/fetcher/storagefetcher.spec.ts
  packages/devp2p/examples/simple.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/util.ts
  packages/ethash/src/index.ts
  packages/ethash/test/miner.spec.ts
  packages/evm/src/memory.ts
  packages/evm/src/precompiles/0a-bls12-g1add.ts
  packages/evm/src/precompiles/0b-bls12-g1mul.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2mul.ts
  packages/evm/src/precompiles/util/bls12_381.ts
  packages/trie/benchmarks/engines/level.ts
  packages/trie/recipes/level-legacy.ts
  packages/trie/recipes/level.ts
  packages/tx/src/types.ts
  packages/util/src/bytes.ts
  packages/util/src/types.ts
  packages/util/test/account.spec.ts
  packages/util/test/bytes.spec.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: package: blockchain, package: tx, package: ethash, package: devp2p, package: client, package: trie, package: util, package: evm

#2613 Tx: correctly decode rpc txs
  packages/tx/src/fromRpc.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/test/fromRpc.spec.ts
  packages/tx/test/json/optimismTx.json
  packages/tx/test/transactionFactory.spec.ts
Labels: PR state: needs review, eval: needs discussion, package: tx

#2619 Add London+ hardfork support for Retesteth, fix EIP150 tests
  packages/vm/test/retesteth/clients/ethereumjs/config
  packages/vm/test/retesteth/clients/ethereumjs/genesis/Shanghai.json
  packages/vm/test/retesteth/clients/ethereumjs/genesis/correctMiningReward.json
  packages/vm/test/retesteth/clients/version
  packages/vm/test/retesteth/transition-child.ts
  packages/vm/test/retesteth/transition-cluster.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, type: tests, package: vm

#2622 Bump `@chainsafe/ssz` to `0.11.0`
  package-lock.json
  packages/block/karma.conf.js
  packages/blockchain/karma.conf.js
  packages/client/karma.conf.js
  packages/common/karma.conf.js
  packages/evm/karma.conf.js
  packages/statemanager/karma.conf.js
  packages/trie/karma.conf.js
  packages/tx/karma.conf.js
  packages/tx/package.json
  packages/util/karma.conf.js
  packages/util/package.json
  packages/vm/karma.conf.js
Labels: PR state: needs review, package: util, type: maintenance

#2610 Clique: get signers by block num
  packages/blockchain/src/consensus/clique.ts
  packages/blockchain/test/clique.spec.ts
  packages/client/lib/miner/miner.ts
Labels: PR state: needs review, package: blockchain

#2621 Fix `pyspec` hive tests
  packages/blockchain/src/genesisStates/index.ts
  packages/blockchain/src/utils.ts
  packages/client/bin/cli.ts
  packages/client/lib/util/rpc.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/trie/src/trie/trie.ts
  packages/vm/src/eei/vmState.ts
  packages/vm/test/api/customChain.spec.ts
Labels: PR state: needs review, type: tests, package: client

#2567 tx: Update eip4844 txs to decoupled blobs spec
  package-lock.json
  packages/block/karma.conf.js
  packages/block/package.json
  packages/block/test/eip4844block.spec.ts
  packages/client/bin/cli.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/package.json
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getBlobsBundleV1.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/4844.md
  packages/client/test/sim/sharding.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/single-run.sh
  packages/client/test/sim/txGenerator.ts
  packages/evm/package.json
  packages/evm/src/precompiles/14-kzg-point-evaluation.ts
  packages/evm/test/precompiles/14-pointevaluation.spec.ts
  packages/tx/karma.conf.js
  packages/tx/package.json
  packages/tx/src/depInterfaces.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/index.ts
  packages/tx/src/kzg/kzg.ts
  packages/tx/src/types.ts
  packages/tx/test/eip4844.spec.ts
  packages/util/package.json
  packages/util/src/blobHelpers.ts
  packages/util/src/bytes.ts
  packages/util/src/index.ts
  packages/util/src/kzg.ts
  packages/util/src/types.ts
Labels: PR state: merge ready, package: block, package: tx, package: vm, package: client, package: util, package: evm

#2602 client: Add snap bytecode fetcher
  packages/client/lib/sync/fetcher/accountfetcher.ts
  packages/client/lib/sync/fetcher/bytecodefetcher.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/client/test/sync/fetcher/bytecodefetcher.spec.ts
  packages/statemanager/src/index.ts
  packages/statemanager/src/stateManager.ts
Labels: type: feature, PR state: needs review, package: client

#2635 client: Fix breaking tests because of scheduled mainnet shanghai hf
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
Labels: PR state: merge ready, package: client, target: master

#2633 Kick `ethers` off the `block`
  package-lock.json
  packages/block/package.json
  packages/block/src/block.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/mockProvider.ts
  packages/client/test/client.spec.ts
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/net/peer/libp2pnode.spec.ts
  packages/client/test/net/peer/libp2ppeer.spec.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/net/server/libp2pserver.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadv2.spec.ts
  packages/client/test/rpc/engine/newPayloadv3.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/service/lightethereumservice.spec.ts
  packages/client/test/sync/beaconsync.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/client/test/sync/snapsync.spec.ts
  packages/devp2p/test/dns.spec.ts
  packages/statemanager/test/ethersStateManager.spec.ts
  packages/tx/package.json
  packages/tx/src/transactionFactory.ts
  packages/tx/test/fromRpc.spec.ts
  packages/tx/test/mockProvider.ts
  packages/util/package.json
  packages/util/src/index.ts
  packages/util/src/provider.ts
  packages/util/test/provider.spec.ts
Labels: PR state: needs review, type: refactor, package: block, package: tx, package: devp2p, package: client, package: util, package: statemanager

#2640 tx: Fix the deserialization of blob tx and add no empty blobs validation
  packages/tx/src/eip4844Transaction.ts
  packages/tx/test/eip4844.spec.ts
Labels: PR state: merge ready, package: tx, target: develop-v7

#2641 Update ethereum-cryptography from 1.2 to 2.0
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/devp2p/package.json
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/rlpx/ecies.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/src/util.ts
  packages/ethash/package.json
  packages/evm/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/util/src/account.ts
  packages/util/src/constants.ts
  packages/util/src/signature.ts
  packages/vm/package.json
Labels: PR state: needs review, type: security, package: block, package: blockchain, package: tx, package: vm, package: ethash, package: devp2p, package: client, package: trie, package: util, package: statemanager, package: evm, type: maintenance

#2620 Add dataGasUsed to txReceipt and result
  package-lock.json
  packages/block/test/testdata/4844-hardfork.json
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/evm/src/evm.ts
  packages/util/src/kzg.ts
  packages/vm/karma.conf.js
  packages/vm/package.json
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/utils.ts
Labels: package: vm, package: client, target: develop-v7

#2638 Buffer cleanup
  config/eslint.js
  eslint/index.js
  eslint/noBuffer.js
  package-lock.json
  package.json
  packages/client/lib/sync/fetcher/accountfetcher.ts
  packages/client/test/sim/sharding.spec.ts
  packages/evm/src/precompiles/0a-bls12-g1add.ts
  packages/evm/src/precompiles/0b-bls12-g1mul.ts
  packages/evm/src/precompiles/0c-bls12-g1multiexp.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2mul.ts
  packages/evm/src/precompiles/0f-bls12-g2multiexp.ts
Labels: type: meta, package: client, target: develop-v7

#2634 Review Integrations for StateManager Cache PR #2630
  packages/client/lib/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/statemanager/src/cache/account.ts
  packages/statemanager/src/cache/storage.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/cache/account.spec.ts
  packages/statemanager/test/cache/storage.spec.ts
  packages/vm/src/eei/eei.ts
  packages/vm/src/eei/vmState.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: type: bug, PR state: needs review, type: enhancement, type: test all hardforks, package: client, breaking, target: develop-v7, package: statemanager, type: maintenance

#2645 Fix karma dependency resolution in `vm`
  package-lock.json
  packages/blockchain/karma.conf.js
  packages/ethash/package.json
  packages/evm/karma.conf.js
  packages/statemanager/karma.conf.js
  packages/trie/karma.conf.js
  packages/vm/karma.conf.js
Labels: type: CI, package: vm, package: ethash, package: trie, package: statemanager, package: evm

#2642 client: add proofs to blobsbundle
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/miner/pendingBlock.spec.ts
Labels: PR state: merge ready, package: client, target: develop-v7

#2650 client: Merge get blobs engine api into getPayloadV3
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/rpc/engine/newPayloadV3.spec.ts
Labels: PR state: merge ready, package: client, target: develop-v7

#2647 Statemanager: Storage Cache Unknown Slot Fix
  packages/statemanager/src/cache/storage.ts
  packages/statemanager/test/cache/storage.spec.ts
Labels: type: bug, PR state: needs review, PR state: merge ready, target: develop-v7, package: statemanager

#2651 Statemanager: Expand Checkpointing Tests
  packages/statemanager/test/checkpointing.account.spec.ts
  packages/statemanager/test/checkpointing.storage.spec.ts
Labels: PR state: needs review, PR state: merge ready, type: tests, target: develop-v7, package: statemanager

#2652 common: Rename Merge hardfork to Paris
  .github/workflows/vm-pr.yml
  packages/block/test/block.spec.ts
  packages/block/test/mergeBlock.spec.ts
  packages/block/test/testdata/testnetMerge.json
  packages/blockchain/test/pos.spec.ts
  packages/blockchain/test/testdata/testnet.json
  packages/client/bin/cli.ts
  packages/client/lib/blockchain/chain.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/miner/miner.ts
  packages/client/lib/net/peerpool.ts
  packages/client/lib/net/protocol/ethprotocol.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/lib/rpc/util/CLConnectionManager.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/sync/fullsync.ts
  packages/client/lib/sync/skeleton.ts
  packages/client/lib/sync/sync.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/mocks/mockchain.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/common/src/chains/goerli.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/rinkeby.json
  packages/common/src/chains/ropsten.json
  packages/common/src/chains/sepolia.json
  packages/common/src/common.ts
  packages/common/src/eips/4844.json
  packages/common/src/eips/4895.json
  packages/common/src/enums.ts
  packages/common/src/hardforks/index.ts
  packages/common/src/hardforks/paris.json
  packages/common/src/utils.ts
  packages/common/test/chains.spec.ts
  packages/common/test/data/merge/testnetMerge.json
  packages/common/test/hardforks.spec.ts
  packages/common/test/mergePOS.spec.ts
  packages/common/test/timestamp.spec.ts
  packages/common/test/utils.spec.ts
  packages/evm/src/evm.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/test/eip3860.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/test/api/EIPs/eip-3670-eof-code-validation.spec.ts
  packages/vm/test/api/EIPs/eip-4399-supplant-difficulty-opcode-with-prevrando.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/testdata/testnetMerge.json
  packages/vm/test/api/tester/tester.config.spec.ts
  packages/vm/test/retesteth/clients/ethereumjs/config
  packages/vm/test/retesteth/clients/ethereumjs/genesis/correctMiningReward.json
  packages/vm/test/tester/config.ts
  packages/vm/test/util.ts
Labels: PR state: merge ready, package: common, type: test all hardforks, hardfork: merge, target: develop-v7

#2655 common: Make Shanghai the default hardfork
  packages/client/test/sync/txpool.spec.ts
  packages/common/src/chains/goerli.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/sepolia.json
  packages/common/src/common.ts
  packages/common/test/chains.spec.ts
  packages/tx/src/baseTransaction.ts
  packages/vm/test/api/EIPs/eip-3860.spec.ts
  packages/vm/test/api/index.spec.ts
Labels: PR state: merge ready, package: common, type: test all hardforks, target: develop-v7, hardfork: shanghai

#2653 Statemanager: Fix Cache Commit Bug
  packages/statemanager/src/cache/account.ts
  packages/statemanager/src/cache/storage.ts
  packages/statemanager/test/cache/account.spec.ts
  packages/statemanager/test/cache/storage.spec.ts
  packages/statemanager/test/ethersStateManager.spec.ts
Labels: type: bug, PR state: needs review, type: test all hardforks, breaking, target: develop-v7, package: statemanager

#2657 common: Fix the block's fromValuesArray common refernces
  packages/block/src/block.ts
Labels: PR state: merge ready, package: common, target: develop-v7

#2658 common: Rename shardingForkTime to cancunTime
  packages/block/test/testdata/4844-hardfork.json
  packages/client/devnets/4844-interop/config/genesis.json
  packages/client/devnets/4844-interop/lighthouse/genesis.json
  packages/client/devnets/4844-interop/lighthouse/setup.sh
  packages/client/devnets/4844-interop/prysm/genesisGEN.json
  packages/client/devnets/4844-interop/prysm/prysm.json
  packages/client/test/sim/configs/sharding.json
  packages/client/test/testdata/geth-genesis/eip4844.json
  packages/common/src/utils.ts
  packages/common/test/timestamp.spec.ts
Labels: PR state: merge ready, package: common, type: test all hardforks

#2648 New Maintenance Release Round
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/docs/README.md
  packages/block/docs/classes/Block.md
  packages/block/docs/classes/BlockHeader.md
  packages/block/docs/interfaces/BlockData.md
  packages/block/docs/interfaces/HeaderData.md
  packages/block/docs/interfaces/JsonBlock.md
  packages/block/docs/interfaces/JsonHeader.md
  packages/block/docs/interfaces/JsonRpcBlock.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/docs/classes/Blockchain.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/docs/README.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/docs/interfaces/EVMResult.md
  packages/evm/docs/interfaces/ExecResult.md
  packages/evm/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/docs/README.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/docs/README.md
  packages/tx/docs/classes/AccessListEIP2930Transaction.md
  packages/tx/docs/classes/BlobEIP4844Transaction.md
  packages/tx/docs/classes/FeeMarketEIP1559Transaction.md
  packages/tx/docs/classes/Transaction.md
  packages/tx/docs/classes/TransactionFactory.md
  packages/tx/docs/enums/Capability.md
  packages/tx/docs/interfaces/AccessListEIP2930TxData.md
  packages/tx/docs/interfaces/BlobEIP4844TxData.md
  packages/tx/docs/interfaces/FeeMarketEIP1559TxData.md
  packages/tx/docs/interfaces/JsonRpcTx.md
  packages/tx/docs/interfaces/JsonTx.md
  packages/tx/docs/interfaces/TxOptions.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/docs/README.md
  packages/util/package.json
  packages/vm/CHANGELOG.md
  packages/vm/docs/README.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: client, package: trie, package: util, package: statemanager, package: evm

#2659 common: Rename shardingForkDev hf to Cancun
  packages/block/test/eip4844block.spec.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/lib/rpc/modules/engine.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/common/docs/enums/Hardfork.md
  packages/common/src/chains/goerli.json
  packages/common/src/chains/mainnet.json
  packages/common/src/chains/sepolia.json
  packages/common/src/enums.ts
  packages/common/src/hardforks/cancun.json
  packages/common/src/hardforks/index.ts
  packages/common/src/hardforks/sharding.json
  packages/common/src/utils.ts
  packages/evm/src/evm.ts
  packages/evm/test/precompiles/14-pointevaluation.spec.ts
  packages/evm/test/runCall.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/vm/test/api/runTx.spec.ts
Labels: PR state: merge ready, package: common, type: test all hardforks, target: develop-v7

#2666 Fix handling of nested uint8Arrays in JSON in DB
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/test/util.ts
  packages/ethash/src/index.ts
Labels: package: blockchain, package: ethash

#2661 client: Limit blobs as per the maxDataGasPerBlock for block building
  packages/client/lib/miner/miner.ts
  packages/client/lib/miner/pendingBlock.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/txpool.ts
  packages/client/test/miner/pendingBlock.spec.ts
Labels: PR state: merge ready, package: client, target: develop-v7

#2667 Trie/Client: Add permanent Trie Node Cache + Client Integration
  package-lock.json
  packages/client/bin/cli.ts
  packages/client/lib/config.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/types.ts
  packages/trie/package.json
  packages/trie/src/db/checkpoint.ts
  packages/trie/src/trie/trie.ts
  packages/trie/src/types.ts
  packages/trie/test/db/checkpoint.spec.ts
  packages/trie/test/index.spec.ts
Labels: type: feature, PR state: needs review, PR state: merge ready, package: client, package: trie, target: develop-v7

#2665 Use JS maps in cache
  packages/statemanager/src/cache/account.ts
  packages/statemanager/src/cache/storage.ts
Labels: type: test all hardforks, target: develop-v7, package: statemanager

#2668 Client short-term "Execution Mode" Mitigations
  package-lock.json
  packages/client/bin/cli.ts
  packages/client/lib/client.ts
  packages/client/lib/config.ts
  packages/client/lib/execution/execution.ts
  packages/client/lib/execution/vmexecution.ts
  packages/client/lib/rpc/modules/eth.ts
  packages/client/lib/service/ethereumservice.ts
  packages/client/lib/service/fullethereumservice.ts
  packages/client/lib/types.ts
  packages/client/package.json
  packages/client/test/cli/cli-libp2p.spec.ts
  packages/client/test/cli/cli-sync.spec.ts
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/integration/lightsync.spec.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/rpc/eth/getTransactionByHash.spec.ts
  packages/client/test/rpc/eth/syncing.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/service/fullethereumservice.spec.ts
Labels: PR state: needs review, type: enhancement, package: client, target: develop-v7

#2671 tx: Fix EIP-155 transaction encoding on chain ID 0.
  packages/tx/src/legacyTransaction.ts
Labels: PR state: merge ready, package: tx, target: master
