Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-03, with the labels that each got.

#3143 client: save preimages feature
  packages/block/test/testdata/payload-kaustinen.json
  packages/client/src/config.ts
  packages/client/src/execution/preimage.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/types.ts
  packages/client/src/util/metaDBManager.ts
  packages/client/test/rpc/engine/preimages.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/sim/beaconsync.md
  packages/common/README.md
  packages/common/src/interfaces.ts
  packages/evm/src/journal.ts
  packages/evm/src/types.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/test/api/runTx.spec.ts
Labels: type: feature, PR state: needs review, package: vm, package: client, package: statemanager, package: evm

#3268 Implement EIP 2935
  packages/common/src/common.ts
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/common/src/types.ts
  packages/common/test/customChains.spec.ts
  packages/common/test/eips.spec.ts
  packages/evm/src/evm.ts
  packages/evm/src/journal.ts
  packages/evm/src/opcodes/functions.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
Labels: PR state: needs review, package: vm, package: common, package: evm

#3285 Fix vm nightly tests
  packages/blockchain/package.json
  packages/devp2p/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/verkle/package.json
Labels: type: bug, PR state: needs review, type: CI, package: blockchain, package: devp2p, package: trie, package: statemanager, package: verkle

#3304 Update rustbn-wasm usage
  package-lock.json
  packages/evm/examples/browser.html
  packages/evm/examples/eips.ts
  packages/evm/examples/runCode.ts
  packages/evm/examples/simple.ts
  packages/evm/examples/withBlockchain.ts
  packages/evm/package.json
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/precompiles/06-ecadd.ts
  packages/evm/src/precompiles/07-ecmul.ts
  packages/evm/src/precompiles/08-ecpairing.ts
  packages/evm/src/types.ts
  packages/evm/test/asyncEvents.spec.ts
  packages/evm/test/blobVersionedHashes.spec.ts
  packages/evm/test/customCrypto.spec.ts
  packages/evm/test/customOpcodes.spec.ts
  packages/evm/test/customPrecompiles.spec.ts
  packages/evm/test/eips/eip-3860.spec.ts
  packages/evm/test/eips/eip-5656.spec.ts
  packages/evm/test/opcodes.spec.ts
  packages/evm/test/precompiles/01-ecrecover.spec.ts
  packages/evm/test/precompiles/03-ripemd160.spec.ts
  packages/evm/test/precompiles/05-modexp.spec.ts
  packages/evm/test/precompiles/06-ecadd.spec.ts
  packages/evm/test/precompiles/07-ecmul.spec.ts
  packages/evm/test/precompiles/08-ecpairing.spec.ts
  packages/evm/test/precompiles/09-blake2f.spec.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/evm/test/precompiles/hardfork.spec.ts
  packages/evm/test/runCall.spec.ts
  packages/evm/test/runCode.spec.ts
  packages/evm/test/stack.spec.ts
  packages/statemanager/examples/evm.ts
  packages/statemanager/package.json
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/vm/package.json
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
  packages/vm/test/api/istanbul/eip-1108.spec.ts
  packages/vm/test/tester/index.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: refactor, type: enhancement, package: vm, dependencies, breaking, package: statemanager, package: evm

#3305 Trie: add partialPath parameter to trie.findPath()
  packages/trie/src/trie.ts
  packages/trie/test/trie/findPath.spec.ts
Labels: PR state: needs review, type: refactor, package: trie

#3286 Fix node versions
  packages/client/test/sync/fetcher/fetcher.spec.ts
Labels: PR state: needs review, package: client

#3315 EVM/VM create() Static Constructor Reworking
  packages/blockchain/src/blockchain.ts
  packages/client/bin/cli.ts
  packages/client/src/blockchain/chain.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/evm/src/evm.ts
  packages/evm/src/precompiles/06-ecadd.ts
  packages/evm/src/precompiles/07-ecmul.ts
  packages/evm/src/precompiles/08-ecpairing.ts
  packages/evm/src/types.ts
  packages/vm/package.json
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: WIP, type: enhancement, package: evm, type: maintenance

#3322 export getOpcodesForHF
  packages/evm/src/index.ts
Labels: PR state: needs review, package: evm

#3321 Integrate Simplified kzg-wasm Version / Deprecate Util.initKZG()
  package-lock.json
  package.json
  packages/block/examples/4844.ts
  packages/block/package.json
  packages/block/test/eip4844block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/client/bin/cli.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/package.json
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/kaustinen2.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getFeeHistory.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/txGenerator.ts
  packages/common/examples/initKzg.ts
  packages/evm/package.json
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/tx/examples/blobTx.ts
  packages/tx/examples/initKzg.ts
  packages/tx/package.json
  packages/tx/src/eip4844Transaction.ts
  packages/tx/test/eip4844.spec.ts
  packages/util/package.json
  packages/util/src/blobs.ts
  packages/util/src/kzg.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/utils.ts
  packages/vm/test/tester/index.ts
Labels: PR state: needs review, type: refactor, package: block, package: tx, package: vm, package: common, package: client, package: util, package: evm

#3327 Update EIP-2935 to latest draft spec
  packages/common/src/eips.ts
  packages/evm/src/opcodes/functions.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
Labels: PR state: needs review, package: vm, package: common, package: evm

#3334 fix: Export EVMOpts
  packages/evm/docs/README.md
  packages/evm/docs/interfaces/EVMOpts.md
  packages/evm/src/index.ts
Labels: PR state: needs review, type: enhancement, package: evm

#3331 Client: fix `readline` library import
  packages/client/bin/cli.ts
Labels: type: bug, PR state: needs review, PR state: open discussion, eval: needs validation, package: client

#3269 common: configure and fix kaustinen4 verkle testnet sync
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/types.ts
  packages/client/bin/cli.ts
  packages/client/src/config.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/rpc/modules/engine/engine.ts
  packages/client/src/types.ts
  packages/client/test/rpc/engine/kaustinen2.spec.ts
  packages/client/test/rpc/engine/kaustinen4.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/testdata/blocks/kaustinen4.json
  packages/client/test/testdata/geth-genesis/kaustinen4.json
  packages/client/test/testdata/gethk5vecs/block0.rlp.hex
  packages/client/test/testdata/gethk5vecs/block1.rlp.hex
  packages/client/test/testdata/gethk5vecs/block2.rlp.hex
  packages/client/test/testdata/gethk5vecs/statediffs.json
  packages/client/test/testdata/gethk5vecs/traces.jsonl
  packages/common/src/chains.ts
  packages/common/src/eips.ts
  packages/common/src/enums.ts
  packages/common/src/interfaces.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/genesis/test/index.spec.ts
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/cache/account.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/statemanager/test/testdata/verkleKaustinenBlock.json
  packages/util/src/account.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
Labels: type: feature, PR state: needs review, type: refactor, type: enhancement, package: block, package: vm, package: common, package: client, package: util, package: statemanager, package: evm, package: genesis

#3328 Update EIP 3074
  packages/common/src/eips.ts
  packages/evm/src/exceptions.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/vm/test/api/EIPs/eip-3074-authcall.spec.ts
Labels: PR state: needs review, package: vm, package: common, package: evm

#3339 Add Drips Network FUNDING.json file
  FUNDING.json
Labels: PR state: merge ready, package: monorepo, type: maintenance

#3340 Use capitalized version for FUNDING.json
  FUNDING.json
Labels: PR state: merge ready, package: monorepo, type: maintenance
