Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-02, with the labels that each got.

#3263 Remove proofTrie patern
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/statemanager/src/stateManager.ts
Labels: PR state: needs review, type: refactor, package: client, package: statemanager

#3266 Client: fix test nesting and other vitest issues
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/integration/client.spec.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/integration/lightsync.spec.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/integration/peerpool.spec.ts
  packages/client/test/integration/pow.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/net/protocol/rlpxsender.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/test/rpc/util/CLConnectionManager.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/service/lightethereumservice.spec.ts
  packages/client/test/sim/beaconsync.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/fetcher/reverseblockfetcher.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/sync/sync.spec.ts
Labels: PR state: needs review, type: tests, package: client, target: master (v7)

#3247 evm: make profiler more accurate
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/logger.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, package: evm

#3262 Add kzg to `common.customCrypto`
  .vscode/settings.json
  packages/block/README.md
  packages/block/examples/4844.ts
  packages/block/test/eip4844block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/vitest.config.browser.ts
  packages/client/bin/cli.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/kaustinen2.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/sim/simutils.ts
  packages/common/README.md
  packages/common/examples/initKzg.ts
  packages/common/src/common.ts
  packages/common/src/types.ts
  packages/evm/src/precompiles/0a-kzg-point-evaluation.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/trie/README.md
  packages/tx/README.md
  packages/tx/examples/blobTx.ts
  packages/tx/examples/initKzg.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/test/eip4844.spec.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/utils.ts
  packages/vm/test/tester/config.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: package: block, package: vm, package: common, package: client, package: evm

#3270 common: schedule cancun for mainnet
  packages/common/src/chains.ts
  packages/common/test/hardforks.spec.ts
Labels: PR state: merge ready, package: common

#3271 Hotfix Releases (Missing Trie debug dependency)
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/genesis/CHANGELOG.md
  packages/genesis/package.json
  packages/rlp/CHANGELOG.md
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/vm/CHANGELOG.md
  packages/vm/package.json
  packages/wallet/CHANGELOG.md
Labels: PR state: needs review, type: docs, package: block, package: tx, package: monorepo, package: devp2p, package: trie, package: statemanager

#3272 Verkle Dependency-related Hotfix Releases
  package-lock.json
  packages/client/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
Labels: PR state: needs review, type: release, package: vm, package: statemanager, package: evm

#2778 fixed requests.msgTypes in devp2p/examples/peer-communication.ts
  packages/devp2p/examples/peer-communication.ts
Labels: type: bug, PR state: merge ready, type: docs, package: devp2p, type: maintenance

#3280 Remove nodejs import from trie.ts
  packages/statemanager/src/stateManager.ts
  packages/trie/src/trie.ts
  packages/trie/src/util/readStream.ts
  packages/trie/test/stream.spec.ts
Labels: type: bug, PR state: needs review, package: trie, package: statemanager

#3283 block: rpc: also parse parentBeaconBlockRoot
  packages/block/src/header-from-rpc.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/testdata/infura-goerli-block-10536893.json
Labels: type: bug, PR state: needs review, package: block

#3276 Properly apply statemanager `opts` in `fromProof`
  packages/statemanager/README.md
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/stateManager.spec.ts
  packages/statemanager/test/stateManager.storage.spec.ts
  packages/statemanager/vitest.config.browser.ts
Labels: package: statemanager

#3257 Add tests for verkle statemanager
  packages/client/test/testdata/blocks/kaustinen2.json
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
Labels: PR state: needs review, package: statemanager

#3153 client: ensure executed block does not get pruned if head=final FCU
  packages/client/src/rpc/modules/engine.ts
Labels: PR state: needs review, package: client

#3200 client: Snap Sync Debugging
  packages/client/src/service/fullethereumservice.ts
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/test/sync/fetcher/storagefetcher.spec.ts
Labels: PR state: needs review, package: client

#3288 Remove devnet6 trusted setup
  packages/block/test/eip4844block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/src/trustedSetups/devnet6.txt
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/tx/examples/blobTx.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/json/serialized4844tx.json
  packages/tx/tx
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/tester/config.ts
Labels: package: block, package: tx, package: vm, package: client, package: evm

#3292 trie: export "Path" interface
  packages/trie/src/trie.ts
  packages/trie/src/types.ts
Labels: PR state: needs review, type: enhancement, package: trie

#3294 Integrate `kzg-wasm` into monorepo
  package-lock.json
  package.json
  packages/block/examples/4844.ts
  packages/block/package.json
  packages/block/test/eip4844block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/vitest.config.browser.ts
  packages/client/bin/cli.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/package.json
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/kaustinen2.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/txGenerator.ts
  packages/common/examples/initKzg.ts
  packages/evm/package.json
  packages/evm/test/blobVersionedHashes.spec.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/evm/vitest.config.browser.ts
  packages/tx/examples/blobTx.ts
  packages/tx/examples/initKzg.ts
  packages/tx/package.json
  packages/tx/test/eip4844.spec.ts
  packages/tx/vitest.config.browser.ts
  packages/util/package.json
  packages/vm/package.json
  packages/vm/test/api/EIPs/eip-2565-modexp-gas-cost.spec.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/tester/config.ts
  packages/vm/test/tester/index.ts
  packages/vm/vite.config.ts
Labels: package: block, package: tx, package: vm, package: common, dependencies, package: client, package: evm

#3296 Small KZG API Optimization
  packages/block/examples/4844.ts
  packages/block/test/eip4844block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/client/bin/cli.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/kaustinen2.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/common/examples/initKzg.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/tx/examples/blobTx.ts
  packages/tx/examples/initKzg.ts
  packages/tx/test/eip4844.spec.ts
  packages/util/src/kzg.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/tester/index.ts
Labels: PR state: merge ready, type: enhancement, package: monorepo, package: util
