Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-11, with the labels that each got.

#3780 Verkle SM storage fixes
  packages/evm/src/verkleAccessWitness.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/util/src/verkle.ts
Labels: package: statemanager, package: evm, package: verkle

#3737 vm/tx: update 7702 to devnet-4
  packages/tx/src/params.ts
  packages/tx/src/util.ts
  packages/tx/test/eip7702.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, package: tx, package: vm

#3785 Implement Verkle in JS
  package-lock.json
  packages/block/package.json
  packages/client/package.json
  packages/client/src/execution/vmexecution.ts
  packages/evm/package.json
  packages/evm/test/verkle.spec.ts
  packages/statemanager/package.json
  packages/statemanager/test/statefulVerkleStateManager.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/tx/package.json
  packages/util/package.json
  packages/util/src/verkle.ts
  packages/util/test/verkle.spec.ts
  packages/verkle/README.md
  packages/verkle/examples/diyVerkle.ts
  packages/verkle/package.json
  packages/verkle/src/constructors.ts
  packages/verkle/test/internalNode.spec.ts
  packages/verkle/test/interop.spec.ts
  packages/verkle/test/leafNode.spec.ts
  packages/verkle/test/proof.spec.ts
  packages/verkle/test/verkle.spec.ts
  packages/vm/package.json
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: package: verkle

#3788 Implement admin_addPeer
  package-lock.json
  packages/client/src/rpc/modules/admin.ts
  packages/client/src/rpc/validation.ts
  packages/client/test/rpc/admin/addPeer.spec.ts
Labels: PR state: needs review, package: client

#3787 statemanager: add put/delete test case
  package-lock.json
  packages/statemanager/test/statefulVerkleStateManager.spec.ts
  packages/verkle/src/node/internalNode.ts
  packages/verkle/src/util.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/internalNode.spec.ts
  packages/verkle/test/leafNode.spec.ts
  packages/verkle/test/util.spec.ts
  packages/verkle/test/verkle.spec.ts
Labels: PR state: WIP, type: tests, package: statemanager

#3789 Monorepo: Simplify coverage Command & Reactivate Reporting
  packages/client/package.json
  packages/ethash/package.json
  packages/rlp/package.json
Labels: PR state: needs review, type: tests, type: enhancement, type: CI, package: monorepo

#3790 common: refactor verkleCrypto into customCrypto from common
  packages/client/src/execution/vmexecution.ts
  packages/client/test/rpc/engine/kaustinen6.spec.ts
  packages/common/src/types.ts
  packages/evm/test/verkle.spec.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/src/types.ts
  packages/statemanager/test/statefulVerkleStateManager.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/util/src/verkle.ts
  packages/util/test/verkle.spec.ts
  packages/verkle/examples/diyVerkle.ts
  packages/verkle/src/constructors.ts
  packages/verkle/test/internalNode.spec.ts
  packages/verkle/test/interop.spec.ts
  packages/verkle/test/leafNode.spec.ts
  packages/verkle/test/proof.spec.ts
  packages/verkle/test/verkle.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/types.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: PR state: needs review, type: refactor, package: common

#3744 Tx: get rid of BaseTransaction
  packages/tx/src/1559/tx.ts
  packages/tx/src/2930/constructors.ts
  packages/tx/src/2930/index.ts
  packages/tx/src/2930/tx.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/7702/constructors.ts
  packages/tx/src/7702/index.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/capabilities/legacy.ts
  packages/tx/src/features/util.ts
  packages/tx/src/legacy/tx.ts
  packages/tx/src/types.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, package: tx

#3798 Rewritten chunkifyCode
  packages/util/src/verkle.ts
  packages/util/test/verkle.spec.ts
Labels: package: util

#3799 Add package level `lint:fix` back
  config/eslint.cjs
  packages/block/.eslintrc.cjs
  packages/block/package.json
  packages/block/tsconfig.lint.json
  packages/blockchain/.eslintrc.cjs
  packages/blockchain/package.json
  packages/blockchain/tsconfig.lint.json
  packages/client/.eslintignore
  packages/client/.eslintrc.cjs
  packages/client/package.json
  packages/client/tsconfig.lint.json
  packages/common/.eslintrc.cjs
  packages/common/package.json
  packages/common/tsconfig.lint.json
  packages/devp2p/.eslintrc.cjs
  packages/devp2p/package.json
  packages/devp2p/tsconfig.lint.json
  packages/ethash/.eslintrc.cjs
  packages/ethash/package.json
  packages/evm/.eslintrc.cjs
  packages/evm/package.json
  packages/evm/tsconfig.lint.json
  packages/genesis/.eslintrc.cjs
  packages/genesis/package.json
  packages/genesis/tsconfig.lint.json
  packages/mpt/.eslintrc.cjs
  packages/mpt/package.json
  packages/mpt/tsconfig.lint.json
  packages/rlp/.eslintrc.cjs
  packages/rlp/package.json
  packages/rlp/tsconfig.lint.json
  packages/statemanager/.eslintrc.cjs
  packages/statemanager/package.json
  packages/statemanager/tsconfig.lint.json
  packages/tx/.eslintrc.cjs
  packages/tx/package.json
  packages/tx/tsconfig.lint.json
  packages/util/.eslintrc.cjs
  packages/util/package.json
  packages/util/tsconfig.lint.json
  packages/verkle/.eslintrc.cjs
  packages/verkle/package.json
  packages/verkle/tsconfig.lint.json
  packages/vm/.eslintrc.cjs
  packages/vm/package.json
  packages/vm/tsconfig.lint.json
  packages/wallet/.eslintrc.cjs
  packages/wallet/.prettierignore
  packages/wallet/package.json
  packages/wallet/tsconfig.lint.json
Labels: PR state: needs review, type: enhancement, type: CI, package: monorepo

#3802 Fix all the lint stuff
  config/eslint.cjs
  packages/client/test/sim/snapsync.spec.ts
  packages/evm/examples/decode-opcodes.ts
  packages/evm/src/eof/verify.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/util.ts
  packages/evm/src/precompiles/bls12_381/mcl.ts
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/evm/src/precompiles/bn254/noble.ts
  packages/evm/src/verkleAccessWitness.ts
  packages/rlp/src/index.ts
  packages/statemanager/test/testdata/providerData/mockProvider.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/test/api/EIPs/eip-4788-beaconroot.spec.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/t8n/t8ntool.ts
  packages/vm/test/util.ts
  packages/wallet/test/index.spec.ts
Labels: package: vm, package: client, package: rlp, package: evm, package: wallet

#3804 monorepo: npm audit fix
  package-lock.json
Labels: PR state: merge ready, type: security, package: monorepo

#3800 Run client with stateful verkle
  packages/blockchain/src/blockchain.ts
  packages/client/bin/cli.ts
  packages/client/devnets/kaustinen7/genesis.json
  packages/client/src/config.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/service/fullethereumservice.ts
  packages/client/src/types.ts
  packages/client/src/util/vkt.ts
  packages/client/test/cli/cli.spec.ts
  packages/client/test/rpc/engine/kaustinen6.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/common/src/enums.ts
  packages/common/src/hardforks.ts
  packages/common/src/utils.ts
  packages/evm/src/evm.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/verkle/src/verkleTree.ts
Labels: package: common, package: client, package: statemanager, package: verkle

#3808 Fix various lint issues
  config/eslint.cjs
  packages/block/src/helpers.ts
  packages/client/bin/cli.ts
  packages/client/bin/startRPC.ts
  packages/client/src/client.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/src/util/index.ts
  packages/client/test/cli/cli.spec.ts
  packages/client/test/rpc/admin/addPeer.spec.ts
  packages/client/test/rpc/eth/getFeeHistory.spec.ts
  packages/client/test/sim/4844-blobpost.spec.ts
  packages/client/test/sim/4844-devnet.spec.ts
  packages/client/test/sim/beaconsync.spec.ts
  packages/client/test/sim/eof.spec.ts
  packages/client/test/sim/mainnet.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/snapsync.spec.ts
  packages/client/test/sim/txGenerator.ts
  packages/client/test/sync/fetcher/bytecodefetcher.spec.ts
  packages/client/test/sync/fetcher/storagefetcher.spec.ts
  packages/client/test/util/packageJSON.spec.ts
  packages/devp2p/.eslintrc.cjs
  packages/devp2p/test/integration/dpt-simulator.spec.ts
  packages/devp2p/test/integration/eth-simulator.spec.ts
  packages/devp2p/test/integration/rlpx-simulator.spec.ts
  packages/evm/src/eof/util.ts
  packages/evm/src/journal.ts
  packages/mpt/src/constructors.ts
  packages/tx/examples/legacyTx.ts
  packages/util/src/request.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/tester/index.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
  packages/vm/test/util.ts
Labels: package: block, package: tx, package: vm, package: devp2p, package: client, package: mpt, package: util, package: evm
