Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-12, with the labels that each got.

#3809 Implement debug_verbosity
  packages/client/src/rpc/modules/debug.ts
  packages/client/test/rpc/debug/verbosity.spec.ts
Labels: type: feature, PR state: needs review, package: client

#3810 Add simple cache to access witness
  packages/common/src/interfaces.ts
  packages/evm/src/chunkCache.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/stemCache.ts
  packages/evm/src/verkleAccessWitness.ts
  packages/evm/test/verkle.spec.ts
  packages/verkle/test/verkle.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/tester/index.ts
Labels: PR state: do-not-merge

#3568 EVM: fix EOF fixtures
  packages/common/src/chains.ts
  packages/common/src/enums.ts
  packages/common/src/hardforks.ts
  packages/evm/src/eof/container.ts
  packages/evm/src/eof/errors.ts
  packages/evm/src/eof/verify.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/test/eips/eof-header-validation.ts
  packages/vm/test/tester/config.ts
Labels: PR state: needs review, package: evm

#3811 Implement debug_setHead
  packages/client/src/rpc/modules/debug.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/rpc/debug/setHead.spec.ts
  packages/client/test/rpc/helpers.ts
Labels: type: feature, PR state: needs review, package: client

#3813 Implement EIP 7623: calldata cost increase
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/tx/src/capabilities/legacy.ts
  packages/tx/src/params.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-7623.spec.ts
  packages/vm/test/t8n/t8ntool.ts
Labels: PR state: needs review, package: vm, package: common, package: evm

#3817 evm: verkle testing extraction
  package-lock.json
  packages/common/src/common.ts
  packages/common/src/hardforks.ts
  packages/common/src/interfaces.ts
  packages/evm/src/chunkCache.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/params.ts
  packages/evm/src/stemCache.ts
  packages/evm/src/types.ts
  packages/evm/src/verkleAccessWitness.ts
  packages/evm/test/verkle.spec.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/verkle/src/node/util.ts
  packages/vm/package.json
  packages/vm/src/params.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, type: enhancement, package: evm

#3814 client: Add more unit tests for setHead function
  packages/client/src/rpc/helpers.ts
  packages/client/src/rpc/modules/admin.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/rpc/modules/net.ts
  packages/client/src/rpc/modules/txpool.ts
  packages/client/src/rpc/types.ts
  packages/client/src/rpc/validation.ts
  packages/client/test/rpc/debug/setHead.spec.ts
Labels: package: client

#3821 monorepo: npm audit fix
  package-lock.json
Labels: PR state: merge ready, package: monorepo, type: maintenance
