Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-07, with the labels that each got.

#3481 VM: EVM Opts Chaining for better DevEx
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/index.spec.ts
Labels: type: feature, PR state: merge ready, package: vm

#3369 Fix Browser CI
  .github/workflows/browser.yml
  .github/workflows/e2e-hardhat.yml.old
  config/vitest.config.browser.mts
  package-lock.json
  package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/blockchain/vitest.config.browser.mts
  packages/common/package.json
  packages/evm/package.json
  packages/evm/vitest.config.browser.mts
  packages/genesis/package.json
  packages/rlp/package.json
  packages/rlp/vitest.config.browser.mts
  packages/statemanager/package.json
  packages/statemanager/vitest.config.browser.mts
  packages/trie/package.json
  packages/trie/vitest.config.browser.mts
  packages/tx/package.json
  packages/tx/vitest.config.browser.mts
  packages/util/package.json
  packages/verkle/package.json
  packages/vm/package.json
  packages/vm/vitest.config.browser.mts
  packages/wallet/package.json
Labels: package: block, package: blockchain, package: tx, package: vm, package: common, dependencies, package: trie, package: util, package: rlp, package: statemanager, package: evm, package: genesis, package: verkle

#3470 Implement EIP 7702
  packages/client/src/net/protocol/ethprotocol.ts
  packages/common/src/eips.ts
  packages/common/src/interfaces.ts
  packages/evm/src/evm.ts
  packages/tx/src/capabilities/eip7702.ts
  packages/tx/src/eip7702Transaction.ts
  packages/tx/src/index.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/src/types.ts
  packages/tx/src/util.ts
  packages/tx/test/eip7702.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: PR state: needs review, package: tx, package: vm, package: common, package: evm

#3483 Fix statemanager empty code bug
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/stateManager.code.spec.ts
  packages/vm/src/runTx.ts
Labels: type: bug, PR state: needs review, package: statemanager

#3476 Optimize storage of default values in `VerkleNode`
  packages/verkle/src/node/internalNode.ts
  packages/verkle/src/node/leafNode.ts
  packages/verkle/src/node/types.ts
  packages/verkle/src/node/util.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/internalNode.spec.ts
  packages/verkle/test/leafNode.spec.ts
  packages/verkle/test/verkle.spec.ts
Labels: PR state: needs review, type: enhancement, package: verkle

#3471 EVM: Generic BLS Interface / Use JS Implementation (@noble/curves) as Default
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/archive/libp2p/net/package.json.browser.deps
  packages/client/package.json
  packages/client/src/execution/vmexecution.ts
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/precompiles/0b-bls12-g1add.ts
  packages/evm/src/precompiles/0c-bls12-g1mul.ts
  packages/evm/src/precompiles/0d-bls12-g1msm.ts
  packages/evm/src/precompiles/0e-bls12-g2add.ts
  packages/evm/src/precompiles/0f-bls12-g2mul.ts
  packages/evm/src/precompiles/10-bls12-g2msm.ts
  packages/evm/src/precompiles/11-bls12-pairing.ts
  packages/evm/src/precompiles/12-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/13-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/bls12_381/constants.ts
  packages/evm/src/precompiles/bls12_381/index.ts
  packages/evm/src/precompiles/bls12_381/mcl.ts
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/evm/src/precompiles/bls12_381/util.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/precompiles/util/bls12_381.ts
  packages/evm/src/types.ts
  packages/evm/test/precompiles/eip-2537-bls.spec.ts
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
  packages/vm/test/tester/index.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
  packages/wallet/package.json
Labels: type: feature, PR state: needs review, type: refactor, package: evm

#3486 Add `trie.del`
  packages/verkle/src/node/leafNode.ts
  packages/verkle/src/node/types.ts
  packages/verkle/src/node/util.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/leafNode.spec.ts
  packages/verkle/test/verkle.spec.ts
Labels: package: verkle

#3492 Update main README Release Table after Breaking Release Work Start
  .gitignore
  FUNDING.json
  README.md
  packages/evm/.eslintignore
  packages/evm/package.json
  packages/evm/vite.config.bundler.ts
Labels: PR state: merge ready, type: docs, package: monorepo, type: maintenance

#3493 EVM: Vite visualize:bundle Adjustments (maintenance-v8)
  .gitignore
  FUNDING.json
  packages/evm/.eslintignore
  packages/evm/package.json
  packages/evm/vite.config.bundler.ts
Labels: PR state: merge ready, package: evm, type: maintenance, target: maintenance-v8

#3490 RPC: implement debug_getRaw... methods
  packages/client/src/rpc/modules/debug.ts
  packages/client/test/rpc/debug/getRawBlock.spec.ts
  packages/client/test/rpc/debug/getRawHeader.spec.ts
  packages/client/test/rpc/debug/getRawReceipts.spec.ts
  packages/client/test/rpc/debug/getRawTransaction.spec.ts
  packages/client/test/rpc/helpers.ts
Labels: type: feature, PR state: needs review, package: client, target: master

#3495 RPC: small fixes for "rpc-compat" tests
  packages/client/src/rpc/error-code.ts
  packages/client/src/rpc/helpers.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/mockBlockchain.ts
  packages/client/test/rpc/rpc.spec.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/types.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
Labels: type: feature, PR state: needs review, package: client, target: master

#3496 Monorepo: Add missing Import File Extensions / debug Import Fixes (v8 port)
  packages/blockchain/src/consensus/clique.ts
  packages/blockchain/src/consensus/ethash.ts
  packages/blockchain/src/types.ts
  packages/blockchain/tsconfig.json
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/bytecodefetcher.ts
  packages/client/src/sync/fetcher/fetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/src/dpt/ban-list.ts
  packages/devp2p/src/dpt/message.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/protocol/protocol.ts
  packages/devp2p/src/rlpx/ecies.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/src/types.ts
  packages/devp2p/src/util.ts
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/journal.ts
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/evm/src/precompiles/bls12_381/util.ts
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/cache/account.ts
  packages/statemanager/src/cache/cache.ts
  packages/statemanager/src/cache/code.ts
  packages/statemanager/src/cache/storage.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/vm/src/requests.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/vm.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: merge ready, type: enhancement, package: monorepo, type: maintenance, target: maintenance-v8

#3497 Monorepo: Set sideEffects to false for all Packages
  packages/block/package.json
  packages/blockchain/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/genesis/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/verkle/package.json
  packages/vm/package.json
  packages/wallet/package.json
Labels: PR state: merge ready, type: refactor, package: monorepo, type: maintenance

#3498 Fix Prague test runner
  packages/common/src/hardforks.ts
  packages/vm/src/requests.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, package: vm, package: common

#3482 EVM/Common: SimpleStateManager
  package-lock.json
  packages/common/package.json
  packages/evm/src/evm.ts
  packages/evm/src/types.ts
  packages/evm/test/eips/eip-3860.spec.ts
  packages/statemanager/README.md
  packages/statemanager/examples/simple.ts
  packages/statemanager/src/cache/originalStorageCache.ts
  packages/statemanager/src/index.ts
  packages/statemanager/src/simpleStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/checkpointing.account.spec.ts
  packages/statemanager/test/checkpointing.code.spec.ts
  packages/statemanager/test/checkpointing.storage.spec.ts
Labels: PR state: needs review, PR state: do-not-merge, PR/Issue state: blocked, type: refactor, package: common, package: statemanager, package: evm

#3491 Blockchain: replace static constructors
  packages/blockchain/examples/gethGenesis.ts
  packages/blockchain/examples/simple.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/constructors.ts
  packages/blockchain/src/helpers.ts
  packages/blockchain/src/index.ts
  packages/blockchain/test/blockValidation.spec.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/customConsensus.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/blockchain/test/iterator.spec.ts
  packages/blockchain/test/pos.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/blockchain/test/util.ts
  packages/blockchain/test/utils.spec.ts
  packages/client/archive/libp2p/index.ts
  packages/client/bin/cli.ts
  packages/client/src/blockchain/chain.ts
  packages/client/src/util/debug.ts
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/integration/peerpool.spec.ts
  packages/client/test/integration/util.ts
  packages/client/test/rpc/eth/call.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getBlockTransactionCountByNumber.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/sim/simutils.ts
  packages/evm/examples/runCode.ts
  packages/evm/examples/withBlockchain.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/examples/vmWithGenesisState.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/EIPs/eip-7685.spec.ts
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/api/customChain.spec.ts
  packages/vm/test/api/genesis.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/utils.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, PR/Issue state: blocked, type: refactor, package: blockchain, breaking, target: master

#3499 RPC: implement eth_getBlockReceipts
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getBlockReceipts.spec.ts
Labels: type: feature, PR state: needs review, package: client, target: master

#3503 Client: fix more hive RPC-Compat tests
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/rpc/types.ts
Labels: PR state: needs review, type: tests, package: client

#3500 common: move description string from being an object field to a comment
  packages/common/src/common.ts
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/common/src/types.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
Labels: PR state: needs review, type: refactor, package: common, breaking

#3506 Common: allow overriding params
  packages/common/src/common.ts
  packages/common/test/customChains.spec.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
Labels: PR state: needs review, package: common

#3510 refactor: restrict PrefixedHexString types
  packages/block/src/types.ts
  packages/client/src/rpc/modules/debug.ts
  packages/client/src/rpc/modules/eth.ts
  packages/common/src/types.ts
  packages/util/src/bytes.ts
Labels: type: enhancement, package: monorepo, package: util, breaking

#3504 Blockchain: More Modern and Flexible Consensus Layout / Tree Shaking Optimization
  package-lock.json
  packages/blockchain/examples/clique.ts
  packages/blockchain/package.json
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/consensus/casper.ts
  packages/blockchain/src/consensus/ethash.ts
  packages/blockchain/src/constructors.ts
  packages/blockchain/src/types.ts
  packages/blockchain/test/blockValidation.spec.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/customConsensus.spec.ts
  packages/blockchain/test/pos.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/blockchain/test/util.ts
  packages/client/bin/cli.ts
  packages/client/src/blockchain/chain.ts
  packages/client/test/integration/merge.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/integration/util.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/package.json
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, type: refactor, package: blockchain, breaking

#3511 Ensure EthJS and Grandine talk
  packages/client/src/ext/jwt-simple.ts
Labels: PR state: needs review, package: client

#3514 Tx: remove static TransactionFactory methods
  packages/block/src/constructors.ts
  packages/block/src/from-rpc.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/rpc/debug/storageRangeAt.spec.ts
  packages/client/test/rpc/debug/traceCall.spec.ts
  packages/client/test/rpc/debug/traceTransaction.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/client/test/rpc/engine/preimages.spec.ts
  packages/client/test/rpc/eth/blobBaseFee.spec.ts
  packages/client/test/rpc/eth/getFeeHistory.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/sim/4844-devnet.spec.ts
  packages/devp2p/examples/peer-communication.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/tx/examples/txFactory.ts
  packages/tx/src/index.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/test/eip3860.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/fromRpc.spec.ts
  packages/tx/test/inputValue.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/tx/test/transactionRunner.spec.ts
  packages/vm/test/api/EIPs/eip-4788-beaconroot.spec.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
  packages/vm/test/api/customChain.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/utils.ts
  packages/vm/test/retesteth/transition-child.cts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, package: tx, breaking

#3515 Trie: replace static methods
  packages/client/src/execution/vmexecution.ts
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/client/test/sync/fetcher/storagefetcher.spec.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/proofStateManager.spec.ts
  packages/statemanager/test/stateManager.spec.ts
  packages/trie/examples/basicUsage.ts
  packages/trie/examples/createFromProof.ts
  packages/trie/examples/rootPersistence.ts
  packages/trie/examples/trieWalking.ts
  packages/trie/src/constructors.ts
  packages/trie/src/index.ts
  packages/trie/src/proof/index.ts
  packages/trie/src/proof/range.ts
  packages/trie/src/trie.ts
  packages/trie/test/proof.spec.ts
  packages/trie/test/trie/checkpoint.spec.ts
  packages/trie/test/trie/prune.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/trie/trie.spec.ts
  packages/trie/test/util/asyncWalk.spec.ts
Labels: PR state: needs review, type: refactor, package: trie, breaking, target: master

#3516 EVM: replace static constructor
  packages/evm/examples/eips.ts
  packages/evm/examples/runCode.ts
  packages/evm/examples/simple.ts
  packages/evm/examples/withBlockchain.ts
  packages/evm/src/constructors.ts
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/types.ts
  packages/evm/test/asyncEvents.spec.ts
  packages/evm/test/blobVersionedHashes.spec.ts
  packages/evm/test/customCrypto.spec.ts
  packages/evm/test/customOpcodes.spec.ts
  packages/evm/test/customPrecompiles.spec.ts
  packages/evm/test/eips/eip-3860.spec.ts
  packages/evm/test/eips/eip-5656.spec.ts
  packages/evm/test/opcodes.spec.ts
  packages/evm/test/precompiles/01-ecrecover.spec.ts
  packages/evm/test/precompiles/03-ripemd160.spec.ts
  packages/evm/test/precompiles/05-modexp.spec.ts
  packages/evm/test/precompiles/06-ecadd.spec.ts
  packages/evm/test/precompiles/07-ecmul.spec.ts
  packages/evm/test/precompiles/08-ecpairing.spec.ts
  packages/evm/test/precompiles/09-blake2f.spec.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/evm/test/precompiles/eip-2537-bls.spec.ts
  packages/evm/test/precompiles/hardfork.spec.ts
  packages/evm/test/runCall.spec.ts
  packages/evm/test/runCode.spec.ts
  packages/evm/test/stack.spec.ts
  packages/statemanager/examples/evm.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
  packages/vm/test/api/index.spec.ts
Labels: PR state: needs review, type: refactor, breaking, target: master, package: evm

#3513 Common/Monorepo: Remove NetworkId
  packages/block/test/testdata/testnetMerge.json
  packages/blockchain/test/testdata/testnet.json
  packages/client/bin/cli.ts
  packages/client/examples/private-geth-network.md
  packages/client/src/blockchain/chain.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/src/net/protocol/lesprotocol.ts
  packages/client/src/rpc/modules/admin.ts
  packages/client/src/types.ts
  packages/client/test/blockchain/chain.spec.ts
  packages/client/test/cli/cli.spec.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/net/protocol/lesprotocol.spec.ts
  packages/client/test/rpc/eth/getProof.spec.ts
  packages/client/test/sim/beaconsync.spec.ts
  packages/client/test/sim/snapsync.spec.ts
  packages/client/test/testdata/common/testnet.json
  packages/common/examples/genesisData/testnet.json
  packages/common/examples/genesisData/testnet2.json
  packages/common/src/chains.ts
  packages/common/src/common.ts
  packages/common/src/constructors.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/common/test/chains.spec.ts
  packages/common/test/customChains.spec.ts
  packages/common/test/customCrypto.spec.ts
  packages/common/test/data/merge/testnetMerge.json
  packages/common/test/data/merge/testnetPOS.json
  packages/common/test/data/testnet.json
  packages/common/test/data/testnet2.json
  packages/common/test/data/testnet3.json
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/les.ts
  packages/tx/examples/custom-chain-tx.ts
  packages/tx/src/baseTransaction.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/testdata/testnet.json
  packages/vm/test/api/testdata/testnet2.json
  packages/vm/test/api/testdata/testnetMerge.json
Labels: PR state: merge ready, type: refactor, package: common, package: devp2p, package: client, breaking

#3440 Implement Mega EOF
  packages/blockchain/src/constructors.ts
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/evm/scripts/stackDeltaGenerator.ts
  packages/evm/src/eof.ts
  packages/evm/src/eof/constants.ts
  packages/evm/src/eof/container.ts
  packages/evm/src/eof/errors.ts
  packages/evm/src/eof/setup.ts
  packages/evm/src/eof/stackDelta.ts
  packages/evm/src/eof/util.ts
  packages/evm/src/eof/verify.ts
  packages/evm/src/evm.ts
  packages/evm/src/exceptions.ts
  packages/evm/src/index.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/message.ts
  packages/evm/src/opcodes/codes.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/stack.ts
  packages/evm/src/types.ts
  packages/evm/test/eips/eip-4200.spec.ts
  packages/evm/test/eips/eip-5450.spec.ts
  packages/evm/test/eips/eof-header-validation.ts
  packages/evm/test/eips/eof-runner.spec.ts
  packages/evm/test/eips/eof-utils.ts
  packages/evm/test/eof.spec.ts
  packages/vm/test/api/EIPs/eip-3540-evm-object-format.spec.ts
  packages/vm/test/api/EIPs/eip-3670-eof-code-validation.spec.ts
  packages/vm/test/retesteth/transition-child.cts
Labels: PR state: WIP, package: vm, package: common, package: evm

#3517 Common: Remove HF names from Params Dict
  packages/common/src/common.ts
  packages/common/src/hardforks.ts
  packages/common/src/types.ts
Labels: PR state: merge ready, type: refactor, package: common, type: maintenance

#3520 Apply leaf marker on all touched values
  packages/verkle/src/node/util.ts
  packages/verkle/test/leafNode.spec.ts
Labels: package: verkle

#3528 Switch `js-sdsl` to `js-sdsl/orderedMap` sub package
  package-lock.json
  packages/client/package.json
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/test/sync/fetcher/trienodefetcher.spec.ts
  packages/statemanager/package.json
  packages/statemanager/src/cache/account.ts
  packages/statemanager/src/cache/code.ts
  packages/statemanager/src/cache/storage.ts
Labels: dependencies, package: client, package: statemanager

#3524 util: Replace account static constructors
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/cache/account.spec.ts
  packages/statemanager/test/checkpointing.account.spec.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/statemanager/test/stateManager.account.spec.ts
  packages/statemanager/test/stateManager.code.spec.ts
  packages/statemanager/test/stateManager.storage.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/statemanager/test/util.ts
  packages/util/examples/account.ts
  packages/util/src/account.ts
  packages/util/test/account.spec.ts
  packages/vm/examples/helpers/account-utils.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-1283-net-gas-metering.spec.ts
  packages/vm/test/api/EIPs/eip-2929.spec.ts
  packages/vm/test/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/api/copy.spec.ts
  packages/vm/test/api/istanbul/eip-1884.spec.ts
  packages/vm/test/api/istanbul/eip-2200.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/utils.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, type: refactor, package: util, breaking, target: master

#3519 Stream dependency replacement with walk all value nodes
  package-lock.json
  packages/statemanager/src/stateManager.ts
  packages/trie/package.json
  packages/trie/src/trie.ts
  packages/trie/src/util/index.ts
  packages/trie/src/util/readStream.ts
  packages/trie/test/stream.spec.ts
  packages/trie/test/trie/trie.spec.ts
Labels: PR state: needs review, type: refactor, package: trie, breaking, package: statemanager

#3534 Refactor trie util helpers
  packages/trie/src/node/node.ts
  packages/trie/src/proof/range.ts
  packages/trie/src/trie.ts
  packages/trie/src/util/encoding.ts
  packages/trie/src/util/nibbles.ts
  packages/trie/test/util/encodingUtils.spec.ts
Labels: PR state: needs review, type: refactor, package: trie, breaking

#3535 Tx: clarify method names
  packages/tx/src/1559/tx.ts
  packages/tx/src/2930/tx.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/capabilities/eip2930.ts
  packages/tx/src/capabilities/eip7702.ts
  packages/tx/src/capabilities/legacy.ts
  packages/tx/src/legacy/tx.ts
  packages/tx/src/types.ts
  packages/tx/src/util.ts
  packages/tx/test/eip3860.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/test/api/runTx.spec.ts
Labels: PR state: needs review, package: tx, breaking

#3540 client: ENGINE_NEWPAYLOAD_MAX_TXS_EXECUTE constant
  packages/client/src/config.ts
Labels: type: bug, PR state: needs review, package: client

#3537 Common: Remove Parameters
  packages/block/src/header.ts
  packages/block/src/index.ts
  packages/block/src/params.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/eip1559block.spec.ts
  packages/block/test/eip4844block.spec.ts
  packages/client/src/miner/miner.ts
  packages/client/test/rpc/eth/getFeeHistory.spec.ts
  packages/common/examples/common.ts
  packages/common/src/common.ts
  packages/common/src/constructors.ts
  packages/common/src/eips.ts
  packages/common/src/types.ts
  packages/common/test/data/paramsTest.ts
  packages/common/test/params.spec.ts
  packages/evm/examples/decode-opcodes.ts
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/params.ts
  packages/evm/src/types.ts
  packages/evm/test/evm.spec.ts
  packages/evm/vite.config.bundler.ts
  packages/tx/src/1559/tx.ts
  packages/tx/src/2930/tx.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/index.ts
  packages/tx/src/legacy/tx.ts
  packages/tx/src/params.ts
  packages/tx/src/types.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/eip3860.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/vm/src/index.ts
  packages/vm/src/params.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/index.spec.ts
Labels: PR state: needs review, type: refactor, package: block, package: tx, package: vm, package: common, package: evm

#3541 StateManager: Interface Reworking & Partial Refactor (Options, Name Simplifications)
  packages/client/src/rpc/modules/eth.ts
  packages/common/src/interfaces.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/test/blobVersionedHashes.spec.ts
  packages/evm/test/eips/eip-3860.spec.ts
  packages/evm/test/eips/eof-runner.spec.ts
  packages/evm/test/precompiles/09-blake2f.spec.ts
  packages/evm/test/runCall.spec.ts
  packages/evm/test/runCode.spec.ts
  packages/evm/test/stack.spec.ts
  packages/statemanager/examples/fromProofInstantiation.ts
  packages/statemanager/src/cache/originalStorageCache.ts
  packages/statemanager/src/cache/storage.ts
  packages/statemanager/src/index.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/simpleStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/src/types.ts
  packages/statemanager/test/checkpointing.code.spec.ts
  packages/statemanager/test/checkpointing.storage.spec.ts
  packages/statemanager/test/proofStateManager.spec.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/statemanager/test/stateManager.account.spec.ts
  packages/statemanager/test/stateManager.code.spec.ts
  packages/statemanager/test/stateManager.spec.ts
  packages/statemanager/test/stateManager.storage.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/statemanager/test/vmState.spec.ts
  packages/vm/benchmarks/util.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/src/requests.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-1153.spec.ts
  packages/vm/test/api/EIPs/eip-1283-net-gas-metering.spec.ts
  packages/vm/test/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/test/api/EIPs/eip-2929.spec.ts
  packages/vm/test/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/EIPs/eip-3074-authcall.spec.ts
  packages/vm/test/api/EIPs/eip-3529.spec.ts
  packages/vm/test/api/EIPs/eip-3541.spec.ts
  packages/vm/test/api/EIPs/eip-3607.spec.ts
  packages/vm/test/api/EIPs/eip-3651-warm-coinbase.spec.ts
  packages/vm/test/api/EIPs/eip-4788-beaconroot.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
  packages/vm/test/api/EIPs/eip-6780-selfdestruct-same-tx.spec.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/istanbul/eip-2200.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/state/accountExists.spec.ts
  packages/vm/test/util.ts
Labels: PR state: WIP, type: refactor, package: vm, package: common, package: statemanager, package: evm

#3543 StateManager: Interface Refactor/Simplification
  packages/client/src/execution/vmexecution.ts
  packages/client/src/rpc/modules/debug.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getBlockTransactionCountByNumber.spec.ts
  packages/client/test/rpc/eth/getCode.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/common/src/interfaces.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/journal.ts
  packages/evm/src/types.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/simpleStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/vm/src/types.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/customChain.spec.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, type: refactor, package: vm, package: common, package: client, package: statemanager

#3547 RPC: add data field to RpcError / eth_call error
  packages/client/src/rpc/helpers.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/call.spec.ts
Labels: type: bug, PR state: needs review, package: client, target: master

#3550 Block: extract static Header constructors
  packages/block/examples/simple.ts
  packages/block/src/block.ts
  packages/block/src/constructors.ts
  packages/block/src/header-from-rpc.ts
  packages/block/src/header.ts
  packages/block/test/clique.spec.ts
  packages/block/test/eip1559block.spec.ts
  packages/block/test/eip4788block.spec.ts
  packages/block/test/eip4844block.spec.ts
  packages/block/test/eip4895block.spec.ts
  packages/block/test/eip7685block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/test/header.spec.ts
  packages/block/test/mergeBlock.spec.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/test/blockValidation.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/blockchain/test/util.ts
  packages/client/src/blockchain/chain.ts
  packages/client/src/miner/miner.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/src/net/protocol/lesprotocol.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/debug/getRawBlock.spec.ts
  packages/client/test/rpc/debug/getRawHeader.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/sync/snapsync.spec.ts
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/examples/peer-communication.ts
  packages/ethash/src/index.ts
  packages/ethash/test/ethash.spec.ts
  packages/vm/test/api/EIPs/eip-4788-beaconroot.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, type: refactor, package: block, breaking, target: master

#3551 Proof function util helpers refactor
  packages/statemanager/src/stateManager.ts
  packages/trie/examples/createFromProof.ts
  packages/trie/examples/logDemo.ts
  packages/trie/examples/proofs.ts
  packages/trie/src/constructors.ts
  packages/trie/src/proof/index.ts
  packages/trie/src/trie.ts
  packages/trie/test/proof.spec.ts
  packages/trie/test/proof/range.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/util/asyncWalk.spec.ts
  packages/trie/test/util/log.spec.ts
Labels: PR state: needs review, type: refactor, package: trie, breaking
