Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-08, with the labels that each got.

#3554 statemanager: refactor logic into capabilities
  packages/client/src/execution/vmexecution.ts
  packages/client/src/rpc/modules/eth.ts
  packages/common/src/interfaces.ts
  packages/statemanager/src/cache/account.ts
  packages/statemanager/src/cache/code.ts
  packages/statemanager/src/cache/storage.ts
  packages/statemanager/src/cache/types.ts
  packages/statemanager/src/capabilities.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/simpleStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/src/types.ts
  packages/statemanager/test/cache/account.spec.ts
  packages/statemanager/test/cache/code.spec.ts
  packages/statemanager/test/cache/storage.spec.ts
  packages/statemanager/test/stateManager.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
Labels: PR state: needs review, type: refactor, package: statemanager

#3556 Adjust ttd checks in `parseGethParams`
  packages/common/src/utils.ts
Labels: type: bug, PR state: needs review, package: common

#3557 Proof function renaming
  packages/statemanager/src/stateManager.ts
  packages/trie/examples/createFromProof.ts
  packages/trie/examples/logDemo.ts
  packages/trie/examples/proofs.ts
  packages/trie/src/constructors.ts
  packages/trie/src/proof/index.ts
  packages/trie/src/proof/range.ts
  packages/trie/src/trie.ts
  packages/trie/test/proof.spec.ts
  packages/trie/test/proof/range.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/util/asyncWalk.spec.ts
  packages/trie/test/util/log.spec.ts
  packages/verkle/src/verkleTree.ts
Labels: PR state: needs review, type: refactor, package: trie, breaking, package: verkle

#3559 Cleanup of `createCommonFromGethGenesis` docs
  packages/common/src/constructors.ts
Labels: PR state: needs review, type: docs, package: common

#3553 Add EOF container validation script
  package-lock.json
  packages/evm/package.json
  packages/evm/scripts/eofContainerValidator.ts
  packages/evm/src/index.ts
Labels: PR state: needs review, package: evm

#3566 Update default hardfork
  packages/block/test/eip4844block.spec.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/common/src/chains.ts
  packages/common/src/common.ts
  packages/common/test/chains.spec.ts
  packages/common/test/customChains.spec.ts
  packages/vm/test/api/index.spec.ts
Labels: PR state: WIP, type: refactor, package: monorepo, breaking

#3570 Add `admin_peer` RPC endpoint
  packages/client/src/rpc/modules/admin.ts
  packages/client/test/rpc/admin/peers.spec.ts
Labels: type: feature, PR state: needs review, package: client

#3564 EVM: Generic BN254 (alt_BN128) Interface for Precompiles / Use @noble/curves By Default
  package-lock.json
  packages/client/package.json
  packages/client/src/execution/vmexecution.ts
  packages/evm/package.json
  packages/evm/src/constructors.ts
  packages/evm/src/evm.ts
  packages/evm/src/exceptions.ts
  packages/evm/src/index.ts
  packages/evm/src/precompiles/06-ecadd.ts
  packages/evm/src/precompiles/07-ecmul.ts
  packages/evm/src/precompiles/08-ecpairing.ts
  packages/evm/src/precompiles/0b-bls12-g1add.ts
  packages/evm/src/precompiles/0c-bls12-g1mul.ts
  packages/evm/src/precompiles/0d-bls12-g1msm.ts
  packages/evm/src/precompiles/0e-bls12-g2add.ts
  packages/evm/src/precompiles/0f-bls12-g2mul.ts
  packages/evm/src/precompiles/10-bls12-g2msm.ts
  packages/evm/src/precompiles/11-bls12-pairing.ts
  packages/evm/src/precompiles/12-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/13-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/evm/src/precompiles/bls12_381/util.ts
  packages/evm/src/precompiles/bn254/index.ts
  packages/evm/src/precompiles/bn254/noble.ts
  packages/evm/src/precompiles/bn254/rustbn.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/precompiles/util.ts
  packages/evm/src/types.ts
  packages/vm/test/tester/index.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: refactor, type: performance, package: evm

#3577 common/tx/vm: export access lists / authority lists from tx
  packages/common/src/interfaces.ts
  packages/tx/src/types.ts
  packages/tx/src/util.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, package: tx, package: vm, package: common

#3578 tx: Cleanup 7702 tests
  packages/tx/test/eip7702.spec.ts
Labels: PR state: needs review, package: tx

#3569 statemanager: cache and other refactors
  packages/client/src/execution/vmexecution.ts
  packages/client/src/rpc/modules/eth.ts
  packages/common/src/interfaces.ts
  packages/statemanager/src/cache/account.ts
  packages/statemanager/src/cache/caches.ts
  packages/statemanager/src/cache/code.ts
  packages/statemanager/src/cache/index.ts
  packages/statemanager/src/cache/storage.ts
  packages/statemanager/src/cache/types.ts
  packages/statemanager/src/capabilities.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/simpleStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/src/types.ts
  packages/statemanager/src/util.ts
  packages/statemanager/test/cache/account.spec.ts
  packages/statemanager/test/cache/code.spec.ts
  packages/statemanager/test/cache/storage.spec.ts
  packages/statemanager/test/checkpointing.code.spec.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/statemanager/test/stateManager.account.spec.ts
  packages/statemanager/test/stateManager.code.spec.ts
  packages/statemanager/test/stateManager.spec.ts
  packages/statemanager/test/stateManager.storage.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: refactor, breaking, package: statemanager

#3580 monorepo: type cleanup
  packages/blockchain/src/consensus/ethash.ts
  packages/client/src/rpc/modules/admin.ts
Labels: PR state: merge ready, type: enhancement, package: blockchain, package: client

#3579 util: add string[] type to rpcParams type
  packages/statemanager/src/rpcStateManager.ts
  packages/util/src/provider.ts
Labels: PR state: merge ready, type: enhancement, package: util

#3583 Prometheus cleanup
  packages/client/README.md
  packages/client/bin/cli.ts
Labels: PR state: needs review, type: docs, package: client

#3582 Remove EIP-3074
  packages/common/src/eips.ts
  packages/evm/examples/eips.ts
  packages/evm/src/evm.ts
  packages/evm/src/exceptions.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/message.ts
  packages/evm/src/opcodes/EIP2929.ts
  packages/evm/src/opcodes/codes.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/params.ts
  packages/evm/src/types.ts
  packages/vm/examples/vmWithEIPs.ts
  packages/vm/test/api/EIPs/eip-3074-authcall.spec.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
Labels: PR state: needs review, package: evm

#3571 Block consensus methods refactoring
  packages/block/src/block.ts
  packages/block/src/clique.ts
  packages/block/src/consensus/clique.ts
  packages/block/src/consensus/ethash.ts
  packages/block/src/consensus/index.ts
  packages/block/src/constructors.ts
  packages/block/src/header.ts
  packages/block/src/index.ts
  packages/block/src/types.ts
  packages/block/test/clique.spec.ts
  packages/block/test/difficulty.spec.ts
  packages/blockchain/src/consensus/clique.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/client/src/miner/miner.ts
  packages/client/test/integration/miner.spec.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/types.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: PR state: needs review, type: refactor, package: monorepo, breaking

#3585 Example test runner: make script more readable / ensure examples do not `process.exit`
  packages/vm/examples/run-blockchain.ts
  packages/vm/examples/run-solidity-contract.ts
  packages/vm/examples/vmWithGenesisState.ts
  scripts/examples-runner.ts
Labels: PR state: WIP, package: vm, package: devp2p

#3586 Block: treeshaking tasks
  packages/block/src/block/block.ts
  packages/block/src/block/constructors.ts
  packages/block/src/block/index.ts
  packages/block/src/from-rpc.ts
  packages/block/src/header-from-rpc.ts
  packages/block/src/header/constructors.ts
  packages/block/src/header/header.ts
  packages/block/src/header/index.ts
  packages/block/src/index.ts
  packages/block/src/types.ts
  packages/block/test/block.spec.ts
  packages/block/test/clique.spec.ts
  packages/block/test/difficulty.spec.ts
  packages/block/test/eip1559block.spec.ts
  packages/block/test/eip4788block.spec.ts
  packages/block/test/eip4844block.spec.ts
  packages/block/test/eip4895block.spec.ts
  packages/block/test/eip7685block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/header.spec.ts
  packages/block/test/mergeBlock.spec.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/test/index.spec.ts
  packages/client/bin/cli.ts
  packages/client/src/blockchain/chain.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/src/net/protocol/lesprotocol.ts
  packages/client/src/sync/fetcher/blockfetcher.ts
  packages/common/test/utils.spec.ts
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/examples/peer-communication.ts
  packages/ethash/test/block.spec.ts
  packages/tx/src/1559/tx.ts
  packages/tx/src/2930/tx.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/legacy/tx.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: PR state: needs review, type: refactor, package: block, breaking, target: master

#3536 StateManager: Do not throw calling `getContractStorage` on non-existing accounts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/test/stateManager.spec.ts
Labels: PR state: needs review, breaking, package: statemanager

#3527 New Minor Releases (Prague Outlook, Bundle Fixes, Bugfixes)
  package-lock.json
  packages/block/CHANGELOG.md
  packages/block/README.md
  packages/block/examples/6110Requests.ts
  packages/block/examples/7002Requests.ts
  packages/block/examples/7251Requests.ts
  packages/block/package.json
  packages/block/src/block.ts
  packages/block/test/eip7685block.spec.ts
  packages/blockchain/CHANGELOG.md
  packages/blockchain/README.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/package.json
  packages/client/src/ext/jwt-simple.ts
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/README.md
  packages/evm/docs/interfaces/EVMOpts.md
  packages/evm/examples/precompile.ts
  packages/evm/package.json
  packages/evm/src/types.ts
  packages/genesis/CHANGELOG.md
  packages/genesis/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/examples/EOACodeTx.ts
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/README.md
  packages/util/examples/accountPartial.ts
  packages/util/package.json
  packages/verkle/CHANGELOG.md
  packages/verkle/package.json
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/vm/package.json
  packages/wallet/CHANGELOG.md
  packages/wallet/package.json
Labels: PR state: needs review, type: release, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: client, package: trie, package: util, package: statemanager, package: evm, package: wallet, package: genesis, package: verkle

#3595 Update @polkadot/util dep
  package-lock.json
  packages/client/package.json
Labels: type: bug, PR state: needs review, type: CI, package: vm, package: client

#3596 statemanager: re architect shallow copy to improve tree shaking
  packages/statemanager/src/cache/caches.ts
  packages/statemanager/src/stateManager.ts
Labels: PR state: merge ready, type: enhancement, package: statemanager

#3594 Minor Release PR master Branch Port
  package-lock.json
  package.json
  packages/block/CHANGELOG.md
  packages/block/README.md
  packages/block/examples/6110Requests.ts
  packages/block/examples/7002Requests.ts
  packages/block/examples/7251Requests.ts
  packages/block/package.json
  packages/block/src/block/block.ts
  packages/blockchain/CHANGELOG.md
  packages/blockchain/README.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/README.md
  packages/evm/docs/interfaces/EVMOpts.md
  packages/evm/examples/decode-opcodes.ts
  packages/evm/examples/precompile.ts
  packages/evm/package.json
  packages/evm/src/types.ts
  packages/genesis/CHANGELOG.md
  packages/genesis/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/trie/CHANGELOG.md
  packages/trie/package.json
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/tx/examples/EOACodeTx.ts
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/README.md
  packages/util/examples/accountPartial.ts
  packages/util/package.json
  packages/verkle/CHANGELOG.md
  packages/verkle/package.json
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/vm/package.json
  packages/wallet/CHANGELOG.md
  packages/wallet/package.json
Labels: PR state: needs review, PR state: merge ready, type: docs, type: release, package: monorepo

#3600 utils: refactor trie and verkle utils
  package-lock.json
  packages/trie/src/util/index.ts
  packages/trie/src/util/walkController.ts
  packages/util/src/bytes.ts
  packages/util/src/index.ts
  packages/util/src/tasks.ts
  packages/util/test/bytes.spec.ts
  packages/util/test/tasks.spec.ts
  packages/verkle/src/index.ts
  packages/verkle/src/util/bytes.ts
  packages/verkle/src/util/index.ts
  packages/verkle/src/util/tasks.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/util/bytes.spec.ts
  packages/verkle/test/verkle.spec.ts
Labels: type: refactor, package: trie, package: util, package: verkle

#3599 Remove almost all `cspell:ignore`
  config/cspell-ts.json
  package.json
  packages/block/src/from-beacon-payload.ts
  packages/block/src/helpers.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/consensus/clique.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/client/src/config.ts
  packages/client/src/ext/qheap.ts
  packages/client/src/miner/miner.ts
  packages/client/src/net/server/rlpxserver.ts
  packages/client/src/util/parse.ts
  packages/client/test/rpc/engine/kaustinen6.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/txGenerator.ts
  packages/common/src/utils.ts
  packages/common/test/hardforks.spec.ts
  packages/devp2p/src/dns/enr.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/ext/kbucket.ts
  packages/devp2p/src/rlpx/ecies.ts
  packages/devp2p/src/util.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/util.ts
  packages/evm/src/params.ts
  packages/evm/src/precompiles/05-modexp.ts
  packages/evm/test/runCall.spec.ts
  packages/rlp/src/index.ts
  packages/statemanager/src/cache/account.ts
  packages/statemanager/src/cache/cache.ts
  packages/statemanager/src/cache/code.ts
  packages/statemanager/src/cache/storage.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/trie/src/util/encoding.ts
  packages/trie/src/util/nibbles.ts
  packages/trie/test/proof.spec.ts
  packages/tx/test/types.ts
  packages/util/src/asyncEventEmitter.ts
  packages/util/src/blobs.ts
  packages/util/src/internal.ts
  packages/util/test/account.spec.ts
  packages/vm/test/api/runTx.spec.ts
Labels: PR state: WIP, package: monorepo

#3607 Upgrade to Typescript 5
  package-lock.json
  package.json
  packages/client/src/@types/qheap/index.d.ts
Labels: PR state: needs review, type: enhancement, package: monorepo, dependencies, target: master

#3611 Update readmes and examples
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/devp2p/README.md
  packages/ethash/README.md
  packages/evm/README.md
  packages/genesis/README.md
  packages/rlp/README.md
  packages/statemanager/README.md
  packages/trie/README.md
  packages/tx/README.md
  packages/util/README.md
  packages/vm/README.md
  packages/wallet/README.md
Labels: PR state: needs review, type: docs, package: monorepo

#3612 Update package-lock.json to fix Node/Mac issue
  package-lock.json
Labels: PR state: merge ready, type: CI, package: monorepo

#3613 Common: Deep-Copy Fix
  packages/block/test/difficulty.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/common/src/common.ts
  packages/common/test/chains.spec.ts
Labels: type: bug, PR state: needs review, package: common

#3615 Update block docs / additional constructor renamings
  packages/block/README.md
  packages/block/src/block/block.ts
  packages/block/src/block/constructors.ts
  packages/block/src/header/constructors.ts
  packages/block/test/block.spec.ts
  packages/block/test/eip4895block.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/client/src/service/skeleton.ts
  packages/client/src/util/debug.ts
  packages/client/test/rpc/engine/kaustinen6.spec.ts
  packages/ethash/examples/powBlock.ts
  packages/ethash/test/block.spec.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, type: docs, type: refactor, package: block

#3617 Update vitest deps to v2
  package-lock.json
  package.json
Labels: dependencies

#3621 monorepo: fix misc type issues and remove ts-ignore clauses
  packages/block/test/block.spec.ts
  packages/client/src/util/rpc.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/evm/test/eips/eip-4200.spec.ts
  packages/trie/src/trie.ts
  packages/tx/src/util.ts
  packages/vm/test/api/customChain.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: PR state: needs review, type: enhancement, package: monorepo

#3619 Update block docs with header renamings
  packages/block/README.md
  packages/block/examples/1559.ts
Labels: PR state: needs review, type: docs, package: block

#3622 Trie static constructors doc updates
  packages/trie/README.md
Labels: PR state: needs review, type: docs, package: trie

#3616 verkle: extract static constructor
  packages/verkle/src/constructors.ts
  packages/verkle/src/index.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/verkle.spec.ts
Labels: PR state: needs review, type: refactor, breaking, target: master, package: verkle

#3618 VM: extract static constructor
  packages/client/src/execution/vmexecution.ts
  packages/client/src/util/debug.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/vm/benchmarks/mainnetBlocks.ts
  packages/vm/examples/buildBlock.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/examples/run-solidity-contract.ts
  packages/vm/examples/runGoerliBlock.ts
  packages/vm/examples/runTx.ts
  packages/vm/examples/vmWith4844.ts
  packages/vm/examples/vmWithEIPs.ts
  packages/vm/examples/vmWithGenesisState.ts
  packages/vm/src/constructors.ts
  packages/vm/src/index.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/EIPs/eip-1153.spec.ts
  packages/vm/test/api/EIPs/eip-1283-net-gas-metering.spec.ts
  packages/vm/test/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/test/api/EIPs/eip-2565-modexp-gas-cost.spec.ts
  packages/vm/test/api/EIPs/eip-2929.spec.ts
  packages/vm/test/api/EIPs/eip-2930-accesslists.spec.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/test/api/EIPs/eip-3529.spec.ts
  packages/vm/test/api/EIPs/eip-3541.spec.ts
  packages/vm/test/api/EIPs/eip-3607.spec.ts
  packages/vm/test/api/EIPs/eip-3651-warm-coinbase.spec.ts
  packages/vm/test/api/EIPs/eip-3855.spec.ts
  packages/vm/test/api/EIPs/eip-3860.spec.ts
  packages/vm/test/api/EIPs/eip-4399-supplant-difficulty-opcode-with-prevrando.spec.ts
  packages/vm/test/api/EIPs/eip-4788-beaconroot.spec.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/EIPs/eip-6780-selfdestruct-same-tx.spec.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
  packages/vm/test/api/EIPs/eip-7685.spec.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/api/customChain.spec.ts
  packages/vm/test/api/events.spec.ts
  packages/vm/test/api/genesis.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/istanbul/eip-1108.spec.ts
  packages/vm/test/api/istanbul/eip-1344.spec.ts
  packages/vm/test/api/istanbul/eip-152.deactivated.ts
  packages/vm/test/api/istanbul/eip-1884.spec.ts
  packages/vm/test/api/istanbul/eip-2200.spec.ts
  packages/vm/test/api/muirGlacier/index.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/state/accountExists.spec.ts
  packages/vm/test/api/utils.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: refactor, package: vm, breaking, target: master

#3589 Util: treeshaking tasks
  packages/block/src/block/constructors.ts
  packages/block/test/eip4895block.spec.ts
  packages/block/test/eip7685block.spec.ts
  packages/block/test/header.spec.ts
  packages/client/test/rpc/engine/preimages.spec.ts
  packages/client/test/rpc/engine/withdrawals.spec.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/util/examples/withdrawal.ts
  packages/util/src/index.ts
  packages/util/src/request.ts
  packages/util/src/withdrawal.ts
  packages/util/test/requests.spec.ts
  packages/util/test/withdrawal.spec.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/requests.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
  packages/vm/test/api/EIPs/eip-7685.spec.ts
Labels: PR state: needs review, type: refactor, package: util, breaking, target: master
