Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-09, with the labels that each got.

#3624 trie: address type issues and type-related improvements
  packages/trie/README.md
  packages/trie/benchmarks/engines/level.ts
  packages/trie/examples/customLevelDB.ts
  packages/trie/scripts/view.ts
  packages/trie/src/trie.ts
  packages/trie/src/util/asyncWalk.ts
  packages/trie/test/official.spec.ts
  packages/trie/test/proof/range.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/trie/trie.spec.ts
  packages/trie/test/util/asyncWalk.spec.ts
  packages/vm/test/tester/index.ts
Labels: PR state: needs review, type: enhancement, package: trie

#3614 VM: exit early on non-existing system contracts
  packages/vm/src/requests.ts
Labels: PR state: needs review, package: vm

#3625 Ensure TransientStorage cleanups after Tx-level contract creation
  packages/evm/src/evm.ts
  packages/evm/test/transientStorage.spec.ts
Labels: PR state: needs review, package: evm

#3433 client: kaustinen7 verkle testnet preparation
  packages/block/src/block/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/client/bin/cli.ts
  packages/client/src/config.ts
  packages/client/src/execution/vmexecution.ts
  packages/common/src/interfaces.ts
  packages/evm/scripts/stackDeltaGenerator.ts
  packages/evm/src/opcodes/gas.ts
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/util/src/verkle.ts
  packages/util/test/verkle.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
Labels: PR state: WIP, PR state: do-not-merge, package: block, package: vm, package: client, package: statemanager, package: verkle

#3627 Add OPRPGF funding.json
  FUNDING.json
Labels: package: monorepo

#3623 Fix BLS usage
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/vm/test/tester/index.ts
Labels: type: bug, PR state: needs review, type: enhancement, package: vm, package: evm

#3635 Util: Small Deprecation Fixes
  packages/evm/vite.config.bundler.ts
  packages/util/src/bytes.ts
  packages/util/src/kzg.ts
  packages/vm/test/api/index.spec.ts
Labels: PR state: merge ready, package: util, breaking, type: maintenance

#3640 wallet: simplify test case
  packages/wallet/test/index.spec.ts
Labels: PR state: needs review, type: enhancement, package: wallet

#3639 monorepo: more adjustments related to json and rpc
  config/cspell-ts.json
  packages/block/src/block/constructors.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/header/header.ts
  packages/block/test/eip7685block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/client/archive/libp2p/cli-libp2p.spec.ts
  packages/client/bin/cli.ts
  packages/client/bin/startRPC.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/rpc/helpers.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/rpc/modules/txpool.ts
  packages/client/src/util/rpc.ts
  packages/client/test/cli/cli.spec.ts
  packages/client/test/rpc/engine/newPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/common/examples/fromGeth.ts
  packages/common/src/common.ts
  packages/common/src/constructors.ts
  packages/statemanager/examples/evm.ts
  scripts/check-dependencies.js
Labels: PR state: needs review, type: enhancement, package: monorepo

#3641 Rename DefaultStateManager to MerkleStateManager
  packages/client/src/execution/vmexecution.ts
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/bytecodefetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/src/sync/snapsync.ts
  packages/client/src/types.ts
  packages/client/src/util/debug.ts
  packages/client/test/integration/fullethereumservice.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/snapsync.spec.ts
  packages/client/test/sync/txpool.spec.ts
  packages/evm/examples/browser.html
  packages/evm/examples/withBlockchain.ts
  packages/statemanager/examples/basicUsage.ts
  packages/statemanager/examples/browser.html
  packages/statemanager/examples/fromProofInstantiation.ts
  packages/statemanager/src/index.ts
  packages/statemanager/src/merkleStateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/src/types.ts
  packages/statemanager/test/checkpointing.account.spec.ts
  packages/statemanager/test/checkpointing.code.spec.ts
  packages/statemanager/test/checkpointing.storage.spec.ts
  packages/statemanager/test/proofStateManager.spec.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/statemanager/test/stateManager.account.spec.ts
  packages/statemanager/test/stateManager.code.spec.ts
  packages/statemanager/test/stateManager.spec.ts
  packages/statemanager/test/stateManager.storage.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/statemanager/test/vmState.spec.ts
  packages/vm/benchmarks/util.ts
  packages/vm/src/constructors.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/state/accountExists.spec.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: refactor, package: monorepo, breaking, package: statemanager

#3646 Touch up verkle util docs
  packages/util/examples/verkle.ts
  packages/util/src/verkle.ts
Labels: type: docs, package: util

#3648 Monorepo: Fix platform-Specific Dependencies npm CLI Bug
  package-lock.json
  package.json
Labels: type: bug, PR state: merge ready, type: CI

#3649 Monorepo: Fix and Improve Browser Examples
  packages/block/examples/browser.html
  packages/blockchain/examples/browser.html
  packages/common/examples/browser.html
  packages/evm/examples/browser.html
  packages/rlp/examples/browser.html
  packages/statemanager/examples/browser.html
  packages/statemanager/src/merkleStateManager.ts
  packages/statemanager/src/types.ts
  packages/trie/examples/browser.html
  packages/tx/examples/browser.html
  packages/util/examples/browser.html
  packages/vm/examples/browser.html
  packages/wallet/examples/browser.html
Labels: PR state: needs review, PR state: merge ready, type: docs, type: refactor, type: enhancement

#3647 Update block doc examples
  packages/block/README.md
  packages/block/examples/6110Requests.ts
  packages/block/examples/7002Requests.ts
  packages/block/examples/7251Requests.ts
Labels: PR state: needs review, type: docs, package: block

#3651 monorepo: skip typecheck for node modules
  config/tsconfig.json
Labels: PR state: merge ready, package: monorepo, type: maintenance

#3652 client: add missing types as devDep
  package-lock.json
  packages/client/package.json
Labels: PR state: merge ready, dependencies, package: client, type: maintenance

#3654 Make logging consistent
  packages/blockchain/src/consensus/clique.ts
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/blockfetcher.ts
  packages/client/src/sync/fetcher/blockfetcherbase.ts
  packages/client/src/sync/fetcher/bytecodefetcher.ts
  packages/client/src/sync/fetcher/fetcher.ts
  packages/client/src/sync/fetcher/headerfetcher.ts
  packages/client/src/sync/fetcher/reverseblockfetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
Labels: PR state: needs review, package: devp2p, package: client, type: maintenance

#3581 EIP-7702 devnet-3 readiness
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/params.ts
  packages/evm/src/types.ts
  packages/tx/examples/EOACodeTx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/capabilities/eip7702.ts
  packages/tx/src/params.ts
  packages/tx/src/types.ts
  packages/tx/src/util.ts
  packages/tx/test/eip7702.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: PR state: needs review, package: tx, package: vm, package: evm

#3655 Several EVM Precompile Clean-Ups & Renamings
  packages/common/test/data/paramsTest.ts
  packages/common/test/params.spec.ts
  packages/evm/src/params.ts
  packages/evm/src/precompiles/01-ecrecover.ts
  packages/evm/src/precompiles/02-sha256.ts
  packages/evm/src/precompiles/03-ripemd160.ts
  packages/evm/src/precompiles/04-identity.ts
  packages/evm/src/precompiles/05-modexp.ts
  packages/evm/src/precompiles/06-bn254-add.ts
  packages/evm/src/precompiles/07-bn254-mul.ts
  packages/evm/src/precompiles/08-bn254-pairing.ts
  packages/evm/src/precompiles/09-blake2f.ts
  packages/evm/src/precompiles/0a-kzg-point-evaluation.ts
  packages/evm/src/precompiles/0b-bls12-g1add.ts
  packages/evm/src/precompiles/0c-bls12-g1mul.ts
  packages/evm/src/precompiles/0d-bls12-g1msm.ts
  packages/evm/src/precompiles/0e-bls12-g2add.ts
  packages/evm/src/precompiles/0f-bls12-g2mul.ts
  packages/evm/src/precompiles/10-bls12-g2msm.ts
  packages/evm/src/precompiles/11-bls12-pairing.ts
  packages/evm/src/precompiles/12-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/13-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/bls12_381/constants.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/types.ts
  packages/evm/test/evm.spec.ts
  packages/evm/test/precompiles/06-ecadd.spec.ts
  packages/evm/test/precompiles/07-ecmul.spec.ts
  packages/evm/test/precompiles/08-ecpairing.spec.ts
  packages/evm/test/precompiles/hardfork.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/istanbul/eip-1108.spec.ts
Labels: PR state: needs review, type: refactor, type: enhancement, breaking, package: evm, type: maintenance

#3661 monorepo: add tsc to ci
  .github/workflows/build.yml
  .github/workflows/typecheck.yml
  package-lock.json
  package.json
  packages/client/test/client.spec.ts
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/rlp/test/integration.spec.ts
  packages/rlp/test/invalid.spec.ts
  packages/rlp/test/official.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: PR state: needs review, type: CI, package: vm, package: monorepo, package: client, package: rlp, package: evm

#3603 Implement t8ntool to use for execution-spec-tests
  config/cspell-md.json
  config/cspell-ts.json
  packages/vm/.gitignore
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/t8ntool/t8ntool.spec.ts
  packages/vm/test/t8n/README.md
  packages/vm/test/t8n/ethereumjs-t8ntool.sh
  packages/vm/test/t8n/helpers.ts
  packages/vm/test/t8n/launchT8N.ts
  packages/vm/test/t8n/stateTracker.ts
  packages/vm/test/t8n/t8ntool.ts
  packages/vm/test/t8n/testdata/input/alloc.json
  packages/vm/test/t8n/testdata/input/env.json
  packages/vm/test/t8n/testdata/input/txs.json
  packages/vm/test/t8n/testdata/output/alloc.json
  packages/vm/test/t8n/testdata/output/result.json
  packages/vm/test/t8n/types.ts
  packages/vm/test/util.ts
  packages/vm/vitest.config.browser.mts
Labels: PR state: needs review, type: tests

#3669 Node 22 support
  .github/workflows/node-versions.yml
Labels: PR state: needs review, type: CI, package: monorepo

#3667 TX: tx factory renaming
  packages/block/examples/1559.ts
  packages/block/src/block/constructors.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/src/net/protocol/ethprotocol.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/rpc/debug/storageRangeAt.spec.ts
  packages/client/test/rpc/debug/traceCall.spec.ts
  packages/client/test/rpc/debug/traceTransaction.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/client/test/rpc/engine/preimages.spec.ts
  packages/client/test/rpc/eth/blobBaseFee.spec.ts
  packages/client/test/rpc/eth/getFeeHistory.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/sim/4844-devnet.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/tx/examples/txFactory.ts
  packages/tx/src/index.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/test/eip3860.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/fromRpc.spec.ts
  packages/tx/test/inputValue.spec.ts
  packages/tx/test/transactionFactory.spec.ts
  packages/tx/test/transactionRunner.spec.ts
  packages/vm/test/api/EIPs/eip-4788-beaconroot.spec.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
  packages/vm/test/api/customChain.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/utils.ts
  packages/vm/test/t8n/t8ntool.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, type: refactor, package: tx, breaking, target: master

#3668 Upgrade ethereum-cryptography / Remove Direct EVM @noble/curves Usage
  package-lock.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/evm/src/precompiles/bn254/noble.ts
  packages/evm/src/types.ts
  packages/statemanager/package.json
  packages/trie/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
  packages/wallet/package.json
  packages/wallet/src/thirdparty.ts
  packages/wallet/src/wallet.ts
Labels: PR state: needs review, package: monorepo, dependencies, target: master

#3673 client/block: ensure BlockBodies requests get properly propagated
  packages/block/src/types.ts
  packages/client/src/sync/fetcher/blockfetcher.ts
Labels: PR state: needs review, eval: needs validation, package: block, package: client

#3672 Statemanager proof function tree shake
  packages/client/src/rpc/modules/eth.ts
  packages/common/src/interfaces.ts
  packages/statemanager/README.md
  packages/statemanager/examples/fromProofInstantiation.ts
  packages/statemanager/src/index.ts
  packages/statemanager/src/merkleStateManager.ts
  packages/statemanager/src/proofs/index.ts
  packages/statemanager/src/proofs/merkle.ts
  packages/statemanager/src/proofs/rpc.ts
  packages/statemanager/src/proofs/verkle.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/proofStateManager.spec.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/statemanager/test/stateManager.spec.ts
  packages/vm/src/runBlock.ts
Labels: PR state: needs review, package: monorepo, breaking, package: statemanager

#3675 Statemanager doc update
  packages/statemanager/README.md
  packages/statemanager/examples/fromProofInstantiation.ts
Labels: PR state: needs review, type: docs, package: statemanager

#3679 statemanager: improve kaustinen6 data type
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/statemanager/test/testdata/verkleKaustinen6Block72.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
Labels: PR state: merge ready, type: enhancement, package: statemanager

#3680 ethash: migrate test data to js
  packages/ethash/test/block.spec.ts
  packages/ethash/test/block_tests_data.json
  packages/ethash/test/block_tests_data.ts
  packages/ethash/test/ethash.spec.ts
  packages/ethash/test/ethash_block_rlp_tests.json
  packages/ethash/test/ethash_block_rlp_tests.ts
  packages/ethash/test/ethash_tests.json
  packages/ethash/test/ethash_tests.ts
Labels: PR state: needs review, type: refactor, package: ethash

#3682 rlp: migrate test data to js
  packages/rlp/test/fixture/invalid.json
  packages/rlp/test/fixture/invalid.ts
  packages/rlp/test/fixture/rlptest.json
  packages/rlp/test/fixture/rlptest.ts
  packages/rlp/test/integration.spec.ts
  packages/rlp/test/invalid.spec.ts
  packages/rlp/test/official.spec.ts
Labels: PR state: needs review, type: refactor, package: rlp

#3686 vm: migrate test files
  packages/vm/test/api/EIPs/eip-2565-modexp-gas-cost.spec.ts
  packages/vm/test/api/customChain.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/testdata/blockchain.json
  packages/vm/test/api/testdata/blockchain.ts
  packages/vm/test/api/testdata/eip-2565.json
  packages/vm/test/api/testdata/eip-2565.ts
  packages/vm/test/api/testdata/testnet.json
  packages/vm/test/api/testdata/testnet.ts
  packages/vm/test/api/testdata/testnet2.json
  packages/vm/test/api/testdata/testnet2.ts
  packages/vm/test/api/testdata/testnetMerge.json
  packages/vm/test/api/testdata/testnetMerge.ts
  packages/vm/test/api/testdata/uncleData.json
  packages/vm/test/api/testdata/uncleData.ts
Labels: PR state: needs review, type: refactor, package: vm

#3685 util: test data migration
  packages/util/test/account.spec.ts
  packages/util/test/address.spec.ts
  packages/util/test/genesis.spec.ts
  packages/util/test/testdata/eip1014Examples.json
  packages/util/test/testdata/eip1014Examples.ts
  packages/util/test/testdata/geth-genesis-kiln.json
  packages/util/test/testdata/gethGenesisKiln.ts
Labels: PR state: needs review, type: refactor, package: util

#3683 trie: convert test data to js
  packages/trie/test/fixtures/geth-genesis-kiln.json
  packages/trie/test/fixtures/gethGenesisKiln.ts
  packages/trie/test/fixtures/hexEncodedSecureTrieTest.ts
  packages/trie/test/fixtures/hex_encoded_securetrie_test.json
  packages/trie/test/fixtures/trieAnyOrder.ts
  packages/trie/test/fixtures/trieAnyOrderSecureTrie.ts
  packages/trie/test/fixtures/trieTest.ts
  packages/trie/test/fixtures/trieTestNextPrev.ts
  packages/trie/test/fixtures/trieTestSecureTrie.ts
  packages/trie/test/fixtures/trieanyorder.json
  packages/trie/test/fixtures/trieanyorder_secureTrie.json
  packages/trie/test/fixtures/trietest.json
  packages/trie/test/fixtures/trietest_secureTrie.json
  packages/trie/test/fixtures/trietestnextprev.json
  packages/trie/test/official.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/util/asyncWalk.spec.ts
  packages/trie/test/util/genesisState.spec.ts
Labels: PR state: needs review, type: refactor, package: trie

#3676 Blockchain debug additions
  packages/blockchain/README.md
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/consensus/ethash.ts
  packages/blockchain/src/constructors.ts
Labels: PR state: needs review, package: blockchain

#3688 Pin vitest deps
  package-lock.json
  package.json
  packages/client/package.json
  packages/statemanager/package.json
  packages/util/src/verkle.ts
  packages/verkle/package.json
  packages/verkle/test/proof.spec.ts
Labels: type: CI, dependencies, package: client, package: util, package: verkle

#3674 Add `micro-eth-signer/kzg`
  config/cspell-ts.json
  package-lock.json
  packages/block/examples/4844.ts
  packages/block/package.json
  packages/block/test/eip4844block.spec.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/client/bin/cli.ts
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/package.json
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/rpc/modules/engine/util/getPayload.ts
  packages/client/src/rpc/modules/engine/util/newPayload.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/rpc/debug/getRawBlock.spec.ts
  packages/client/test/rpc/debug/getRawHeader.spec.ts
  packages/client/test/rpc/debug/getRawReceipts.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/client/test/rpc/eth/blobBaseFee.spec.ts
  packages/client/test/rpc/eth/getBlockByNumber.spec.ts
  packages/client/test/rpc/eth/getBlockReceipts.spec.ts
  packages/client/test/rpc/eth/getFeeHistory.spec.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/sim/4844-devnet.spec.ts
  packages/client/test/sim/simutils.ts
  packages/client/test/sim/txGenerator.ts
  packages/common/examples/initKzg.ts
  packages/common/src/types.ts
  packages/evm/package.json
  packages/evm/src/interpreter.ts
  packages/evm/src/message.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/precompiles/0a-kzg-point-evaluation.ts
  packages/evm/src/types.ts
  packages/evm/test/blobVersionedHashes.spec.ts
  packages/evm/test/precompiles/0a-pointevaluation.spec.ts
  packages/evm/test/runCall.spec.ts
  packages/tx/examples/blobTx.ts
  packages/tx/examples/initKzg.ts
  packages/tx/package.json
  packages/tx/src/4844/constructors.ts
  packages/tx/src/4844/tx.ts
  packages/tx/test/eip4844.spec.ts
  packages/util/examples/blobs.ts
  packages/util/package.json
  packages/util/src/blobs.ts
  packages/util/src/kzg.ts
  packages/util/test/blobHelpers.spec.ts
  packages/util/test/kzg.bench.ts
  packages/util/test/kzg.spec.ts
  packages/vm/package.json
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/utils.ts
  packages/vm/test/t8n/t8ntool.ts
  packages/vm/test/tester/config.ts
  packages/vm/test/tester/index.ts
Labels: PR state: needs review, package: block, package: tx, package: vm, package: common, dependencies, package: client, package: util, package: evm

#3698 Use `noble` bytes conversion utilities internally
  config/vitest.config.browser.mts
  package-lock.json
  packages/client/test/net/protocol/ethprotocol.spec.ts
  packages/client/test/net/protocol/lesprotocol.spec.ts
  packages/evm/vitest.config.browser.mts
  packages/rlp/src/index.ts
  packages/util/package.json
  packages/util/src/bytes.ts
  packages/util/test/bench/bytes.bench.ts
  packages/util/test/bench/kzg.bench.ts
Labels: package: util, package: rlp

#3650 Various Verkle Fixes
  packages/util/src/verkle.ts
  packages/verkle/src/node/leafNode.ts
  packages/verkle/src/node/util.ts
  packages/verkle/test/interop.spec.ts
  packages/verkle/test/leafNode.spec.ts
  packages/verkle/test/proof.spec.ts
Labels: type: bug, PR state: needs review, package: util, package: verkle

#3692 Debug logger namespace standardization
  packages/blockchain/README.md
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/constructors.ts
  packages/client/README.md
  packages/client/src/sync/fetcher/fetcher.ts
  packages/devp2p/src/util.ts
  packages/trie/README.md
  packages/trie/src/proof/index.ts
  packages/trie/src/trie.ts
  packages/verkle/README.md
  packages/verkle/src/verkleTree.ts
Labels: PR state: needs review, type: docs, type: refactor, type: enhancement, package: trie, package: verkle

#3709 monorepo: remove redundant fills and zeros function
  packages/block/src/header/header.ts
  packages/block/test/block.spec.ts
  packages/block/test/eip4788block.spec.ts
  packages/block/test/eip4895block.spec.ts
  packages/block/test/header.spec.ts
  packages/block/test/mergeBlock.spec.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/rpc/modules/engine/engine.ts
  packages/client/src/service/skeleton.ts
  packages/common/test/hardforks.spec.ts
  packages/ethash/examples/example.ts
  packages/ethash/src/index.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/types.ts
  packages/evm/test/runCall.spec.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/test/proofStateManager.spec.ts
  packages/statemanager/test/stateManager.spec.ts
  packages/statemanager/test/stateManager.storage.spec.ts
  packages/trie/test/index.spec.ts
  packages/util/src/account.ts
  packages/util/src/address.ts
  packages/util/src/blobs.ts
  packages/util/src/bytes.ts
  packages/util/test/bytes.spec.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/proof.spec.ts
  packages/vm/src/bloom/index.ts
  packages/vm/src/buildBlock.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/EIPs/eip-4788-beaconroot.spec.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/EIPs/eip-7002.spec.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/api/bloom.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/t8n/t8ntool.ts
Labels: PR state: merge ready, type: enhancement, package: monorepo

#3708 trie: improve node typings and class architecture
  packages/trie/src/node/branch.ts
  packages/trie/src/node/extension.ts
  packages/trie/src/node/extensionOrLeafNodeBase.ts
  packages/trie/src/node/leaf.ts
  packages/trie/src/trie.ts
  packages/trie/src/types.ts
  packages/trie/src/util/nibbles.ts
Labels: PR state: merge ready, type: refactor, package: trie
