Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-06, with the labels that each got.

#3441 verkle: Add tests for verkle bytes helper
  packages/verkle/src/util/bytes.ts
  packages/verkle/test/util/bytes.spec.ts
Labels: PR state: needs review, type: tests, package: verkle

#3447 util,vm,evm: update the 2935 latest bytecode in test and fix address conversion issues
  packages/evm/src/opcodes/functions.ts
  packages/util/src/address.ts
  packages/util/src/bytes.ts
  packages/util/test/bytes.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
Labels: PR state: merge ready, package: vm, package: util, package: evm

#3451 Experiment with internalizing QHeap dependency
  package-lock.json
  packages/client/package.json
  packages/client/src/ext/index.ts
  packages/client/src/ext/qheap.ts
  packages/client/src/service/txpool.ts
  packages/client/src/sync/fetcher/fetcher.ts
Labels: PR state: needs review, dependencies, package: client

#3461 EVM/VM: Update mcl-wasm Dependency (Esbuild Issue)
  package-lock.json
  packages/evm/package.json
  packages/vm/package.json
Labels: type: bug, PR state: needs review, PR state: merge ready, package: vm, package: evm, type: maintenance

#3463 feat: Add bundle visualizer
  package-lock.json
  packages/evm/.gitignore
  packages/evm/package.json
  packages/evm/vite.config.ts
Labels: type: feature, type: performance, package: evm

#3458 internalization of jwt-simple
  package-lock.json
  packages/client/archive/libp2p/net/package.json.browser.deps
  packages/client/package.json
  packages/client/src/ext/jwt-simple.ts
  packages/client/src/util/rpc.ts
  packages/client/test/ext/jwt-simple.spec.ts
  packages/client/test/ext/test.crt
  packages/client/test/ext/test.pem
  packages/client/test/rpc/rpc.spec.ts
  packages/client/test/rpc/websocket.spec.ts
  packages/devp2p/package.json
  packages/wallet/package.json
Labels: type: refactor, type: security, dependencies, package: devp2p, package: client, package: wallet

#3462 EVM/Monorepo: Verkle Decoupling
  package-lock.json
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/types.ts
  packages/block/test/from-beacon-payload.spec.ts
  packages/client/package.json
  packages/client/src/execution/vmexecution.ts
  packages/client/test/rpc/engine/kaustinen6.spec.ts
  packages/common/src/interfaces.ts
  packages/evm/package.json
  packages/evm/src/interpreter.ts
  packages/evm/src/message.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/types.ts
  packages/statemanager/package.json
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/util/src/index.ts
  packages/util/src/verkle.ts
  packages/verkle/src/types.ts
  packages/verkle/src/util/crypto.ts
  packages/verkle/src/util/keys.ts
  packages/vm/package.json
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
Labels: PR state: needs review, PR state: merge ready, type: refactor, type: performance, package: common, package: util, package: evm

#3466 monorepo: npm audit fix
  package-lock.json
Labels: PR state: merge ready, type: security, package: monorepo

#3430 Verkle Implementation: Build out Trie Processing
  package-lock.json
  packages/util/src/verkle.ts
  packages/verkle/package.json
  packages/verkle/src/node/baseVerkleNode.ts
  packages/verkle/src/node/internalNode.ts
  packages/verkle/src/node/leafNode.ts
  packages/verkle/src/node/types.ts
  packages/verkle/src/node/util.ts
  packages/verkle/src/types.ts
  packages/verkle/src/util/index.ts
  packages/verkle/src/util/keys.ts
  packages/verkle/src/util/walkController.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/crypto.spec.ts
  packages/verkle/test/internalNode.spec.ts
  packages/verkle/test/leafNode.spec.ts
  packages/verkle/test/verkle.spec.ts
Labels: type: feature, PR state: needs review, package: util, package: verkle

#3468 verkle: rename verkle utils and refactor
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/util/src/verkle.ts
  packages/util/test/verkle.spec.ts
  packages/verkle/src/index.ts
  packages/verkle/src/types.ts
  packages/verkle/src/util/crypto.ts
  packages/verkle/src/util/index.ts
  packages/verkle/src/util/keys.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/crypto.spec.ts
  packages/verkle/test/internalNode.spec.ts
  packages/verkle/test/keys.spec.ts
  packages/vm/src/runBlock.ts
Labels: package: util, package: statemanager, package: verkle

#3474 util: rename withdrawal request's validatorPublicKey to validatorPubkey
  packages/block/src/from-beacon-payload.ts
  packages/block/test/eip7685block.spec.ts
  packages/client/src/rpc/validation.ts
  packages/util/src/requests.ts
  packages/util/test/requests.spec.ts
  packages/vm/src/requests.ts
Labels: PR state: merge ready, package: block, package: vm, package: client, package: util

#3473 Implement `trie.put`
  packages/verkle/src/node/util.ts
  packages/verkle/src/util/bytes.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/internalNode.spec.ts
  packages/verkle/test/leafNode.spec.ts
  packages/verkle/test/verkle.spec.ts
Labels: package: verkle

#3475 common: update eip 2935 as per latest devnet1 spec and add related eip 7709
  packages/block/src/from-beacon-payload.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/common/src/eips.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/functions.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
Labels: PR state: merge ready, package: common, package: client, package: evm

#3477 util,block,client,evm,vm: add EIP 7251 el triggered consolidations request type
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/types.ts
  packages/block/test/eip7685block.spec.ts
  packages/client/src/rpc/modules/engine/types.ts
  packages/client/src/rpc/modules/engine/validators.ts
  packages/client/src/rpc/validation.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/evm/src/evm.ts
  packages/util/src/requests.ts
  packages/util/test/requests.spec.ts
  packages/vm/src/requests.ts
Labels: PR state: merge ready, package: block, package: vm, package: client, package: util, package: evm

#3478 vm: remove backfill of block hashes on 2935 activation
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
Labels: PR state: merge ready, package: vm
