Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-05, with the labels that each got.

#3386 fix(tx): Bug in error message
  packages/tx/src/baseTransaction.ts
Labels: package: tx

#3385 Implement EIP 7002 (withdrawal requests)
  packages/common/src/eips.ts
  packages/evm/src/evm.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-7002.spec.ts
Labels: PR state: needs review, package: block, package: vm, package: common, package: evm

#3392 block: fix the block body parsing as well as save/load from blockchain
  packages/block/src/block.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/consensus/ethash.ts
  packages/blockchain/src/db/helpers.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/test/blockValidation.spec.ts
  packages/blockchain/test/index.spec.ts
Labels: PR state: merge ready, package: block, package: blockchain

#3390 Revise EIP 6610
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/evm/src/evm.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
Labels: type: feature, PR state: needs review, package: vm, package: common, package: evm

#3394 blockchain: handle nil blockbodies for backward compatibility
  packages/blockchain/src/db/manager.ts
  packages/blockchain/test/blockValidation.spec.ts
  packages/blockchain/test/index.spec.ts
Labels: PR state: merge ready, package: blockchain

#3373 common: add spec test for 2935 contract code and update history storage address
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
Labels: PR state: merge ready, package: vm, package: common

#3393 `CLRequests` cleanup
  packages/common/src/chains.ts
  packages/common/src/types.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/requests.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
  packages/vm/test/tester/config.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: package: vm, package: common

#3397 EIP 6110 fixes
  packages/block/src/block.ts
  packages/vm/src/requests.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-7685.spec.ts
Labels: PR state: needs review, package: block, package: vm

#3391 Common refactoring
  packages/block/src/header.ts
  packages/blockchain/src/blockchain.ts
  packages/client/bin/cli.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/rpc/modules/engine/CLConnectionManager.ts
  packages/client/src/service/fullethereumservice.ts
  packages/client/src/sync/fullsync.ts
  packages/client/src/sync/lightsync.ts
  packages/client/src/sync/sync.ts
  packages/devp2p/src/protocol/eth.ts
  packages/evm/src/journal.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/tester/config.ts
Labels: PR state: needs review, type: refactor, package: common

#3398 enhance typing of cl requests and do beacon/execution payload handling
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/from-rpc.ts
  packages/block/src/types.ts
  packages/block/test/eip7685block.spec.ts
  packages/util/src/bytes.ts
  packages/util/src/requests.ts
  packages/util/test/requests.spec.ts
  packages/vm/src/requests.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/types.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
  packages/vm/test/api/EIPs/eip-7002.spec.ts
  packages/vm/test/api/EIPs/eip-7685.spec.ts
Labels: package: block, package: vm, package: util

#3399 client: add execution api v4 handling to engine
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/types.ts
  packages/client/src/rpc/modules/engine/engine.ts
  packages/client/src/rpc/modules/engine/types.ts
  packages/client/src/rpc/modules/engine/validators.ts
  packages/client/src/rpc/validation.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/util/src/requests.ts
Labels: PR state: merge ready, package: client

#3405 util,evm: cleanup and fix some verkle related issues
  packages/evm/src/interpreter.ts
  packages/util/src/account.ts
Labels: PR state: merge ready, package: util, package: evm

#3406 Add verkle execution support to executeBlocks
  packages/client/src/execution/vmexecution.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
Labels: package: client

#3408 util,block: rename deposit receipt to deposit request
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/types.ts
  packages/client/src/rpc/modules/engine/types.ts
  packages/client/src/rpc/modules/engine/validators.ts
  packages/client/src/rpc/validation.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/util/src/requests.ts
Labels: PR state: merge ready, package: block, package: util

#3410 client: fix the getpayloadv4 with a deposit tx and expected deposit requests
  packages/block/src/block.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/types.ts
  packages/client/src/rpc/modules/engine/engine.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
Labels: PR state: merge ready, package: block, package: client

#3411 Clean up access to deposit address in `common`
  packages/common/test/customChains.spec.ts
  packages/vm/src/requests.ts
Labels: package: vm, package: common

#3413 vm: fix the gathering of stateroot only after requests have been accumulated
  packages/vm/src/buildBlock.ts
Labels: PR state: merge ready, package: vm

#3415 Add support for `pending` in `getTransactionCount`
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
Labels: package: client

#3416 fix estimateGas
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
Labels: PR state: needs review, package: client

#3421 vm: missing beaconroot account verkle fix
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/statemanager/test/testdata/verkleKaustinen6Block72.json
  packages/statemanager/test/testdata/verkleKaustinen6Block73.json
  packages/statemanager/test/testdata/verkleKaustinenBlock.json
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
Labels: PR state: merge ready, package: vm, package: statemanager

#3422 common: parse deposit contract address from geth genesis for chain config
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/common/test/utils.spec.ts
Labels: PR state: merge ready, package: common

#3420 Move tree key computation to verkle and simplify
  package-lock.json
  packages/evm/package.json
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/verkle/src/index.ts
  packages/verkle/src/types.ts
  packages/verkle/src/util/crypto.ts
  packages/verkle/src/util/keys.ts
  packages/verkle/test/keys.spec.ts
  packages/vm/package.json
  packages/vm/src/runBlock.ts
Labels: PR state: needs review, type: refactor, package: vm, package: statemanager, package: evm, package: verkle

#3424 Update verkle crypto dep
  package-lock.json
  packages/statemanager/package.json
  packages/verkle/package.json
Labels: dependencies, package: statemanager, package: verkle

#3426 verkle: rename code keccak
  packages/evm/src/opcodes/gas.ts
  packages/statemanager/docs/README.md
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/verkle/src/types.ts
  packages/verkle/src/util/keys.ts
  packages/verkle/test/keys.spec.ts
Labels: PR state: merge ready, type: enhancement, package: verkle

#3432 evm: fix eip3074 AUTH check
  packages/evm/src/opcodes/functions.ts
Labels: PR state: needs review, package: evm

#3423 verkle: implement verkle proof verification
  package-lock.json
  packages/client/bin/cli.ts
  packages/client/src/config.ts
  packages/client/src/execution/vmexecution.ts
  packages/statemanager/package.json
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/verkle/package.json
  packages/verkle/src/util/crypto.ts
  packages/verkle/test/crypto.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/types.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
Labels: type: feature, PR state: needs review, package: vm, package: client, package: statemanager, package: verkle

#3418 evm,vm: remove the hacks to prevent account cleanups of system contracts
  packages/evm/src/journal.ts
  packages/vm/src/runBlock.ts
Labels: PR state: merge ready, package: vm, package: evm, type: maintenance

#3435 Fix tx status in `eth_getTransactionReceipt`
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getTransactionReceipt.spec.ts
Labels: package: client

#3436 Add `eth_blobBaseFee` RPC endpoint
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/blobBaseFee.spec.ts
Labels: type: feature, PR state: merge ready, package: client

#3438 vm: updated 2935 tests with the new proposed bytecode and corresponding config
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
Labels: PR state: merge ready, package: vm

#3442 Add support for multiple sources of rlp blocks
  packages/client/bin/cli.ts
  packages/client/src/types.ts
Labels: package: client
