Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-04, with the labels that each got.

#3281 Update Vitest to v1 (New)
  .github/workflows/browser.yml
  config/vitest.browser.config.mts
  package-lock.json
  package.json
  packages/block/package.json
  packages/block/vitest.config.browser.ts
  packages/blockchain/package.json
  packages/client/test/miner/miner.spec.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/rpc/engine/CLConnectionManager.spec.ts
  packages/client/test/service/lightethereumservice.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/testdata/blocks/kaustinen4.json
  packages/client/test/testdata/gethk5vecs/statediffs.json
  packages/client/webpack.config.js
  packages/common/package.json
  packages/common/src/utils.ts
  packages/common/test/customCrypto.spec.ts
  packages/evm/package.json
  packages/evm/src/index.ts
  packages/evm/test/eips/eip-5656.spec.ts
  packages/evm/test/precompiles/05-modexp.spec.ts
  packages/evm/vitest.config.browser.ts
  packages/genesis/package.json
  packages/rlp/package.json
  packages/rlp/test/integration.spec.ts
  packages/rlp/vitest.browser.config.mts
  packages/rlp/vitest.config.browser.ts
  packages/statemanager/package.json
  packages/statemanager/vitest.browser.config.mts
  packages/statemanager/vitest.config.browser.ts
  packages/trie/package.json
  packages/trie/test/proof/range.spec.ts
  packages/trie/test/trie/checkpoint.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/vitest.config.browser.ts
  packages/tx/package.json
  packages/tx/test/eip4844.spec.ts
  packages/tx/vitest.browser.config.mts
  packages/tx/vitest.config.browser.ts
  packages/util/package.json
  packages/util/test/types.spec.ts
  packages/util/vitest.config.browser.ts
  packages/verkle/vitest.config.browser.ts
  packages/vm/package.json
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/vitest.browser.config.mts
  packages/wallet/package.json
  packages/wallet/test/index.spec.ts
Labels: PR state: needs review, type: refactor, type: tests, type: CI, package: monorepo

#3344 Vitest browser cleanup
  config/vitest.browser.config.mts
  package-lock.json
  package.json
Labels: dependencies

#3338 block: make withdrawals trie check consistent with txtrie
  packages/block/src/block.ts
  packages/block/test/eip4895block.spec.ts
Labels: PR state: needs review, package: block

#3346 monorepo: npm audit fix
  package-lock.json
Labels: type: security, package: monorepo, dependencies

#3347 Fix ts-doc typo
  packages/util/src/provider.ts
Labels: type: docs, package: util

#3350 Bring 2537 back
  package-lock.json
  packages/common/src/eips.ts
  packages/common/src/types.ts
  packages/common/test/eips.spec.ts
  packages/common/test/params.spec.ts
  packages/evm/package.json
  packages/evm/src/evm.ts
  packages/evm/src/precompiles/0b-bls12-g1add.ts
  packages/evm/src/precompiles/0c-bls12-g1mul.ts
  packages/evm/src/precompiles/0d-bls12-g1msm.ts
  packages/evm/src/precompiles/0e-bls12-g2add.ts
  packages/evm/src/precompiles/0f-bls12-g2mul.ts
  packages/evm/src/precompiles/10-bls12-g2msm.ts
  packages/evm/src/precompiles/11-bls12-pairing.ts
  packages/evm/src/precompiles/12-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/13-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/precompiles/util/bls12_381.ts
  packages/evm/test/precompiles/0b-bls12-g1add.spec.ts
  packages/evm/test/precompiles/0c-bls12-g1mul.spec.ts
  packages/evm/test/precompiles/0d-bls12-g1msm.spec.ts
  packages/evm/test/precompiles/0e-bls12-g2add.spec.ts
  packages/evm/test/precompiles/0f-bls12-g2mul.spec.ts
  packages/evm/test/precompiles/10-bls12-g2msm.spec.ts
  packages/evm/test/precompiles/11-bls12-pairing.spec.ts
  packages/evm/test/precompiles/12-bls12-g1map.spec.ts
  packages/evm/test/precompiles/13-bls12-g2map.spec.ts
  packages/evm/test/precompiles/eip-2537-BLS.spec.ts
  packages/vm/package.json
  packages/vm/src/types.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/tester/tester.config.spec.ts
  packages/vm/test/tester/config.ts
Labels: package: vm, package: common, package: evm

#3345 modify rpcStataManager getAccount
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/test/testdata/providerData/mockProvider.ts
Labels: type: bug, PR state: needs review, eval: needs validation, type: enhancement, package: statemanager

#3349 client: fix misc tsc issues
  packages/client/test/net/peer/peer.spec.ts
  packages/client/test/sim/4844-devnet.spec.ts
  packages/client/test/sim/snapsync.spec.ts
  packages/client/test/sync/beaconsync.spec.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/client/test/sync/fetcher/bytecodefetcher.spec.ts
  packages/client/test/sync/fetcher/storagefetcher.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/client/test/sync/snapsync.spec.ts
Labels: PR state: needs review, package: client, target: master (v7), type: maintenance

#3356 verkle: migrate to verkle-cryptography-wasm
  .github/workflows/browser.yml
  package-lock.json
  packages/block/src/index.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/test/rpc/engine/kaustinen6.spec.ts
  packages/client/test/testdata/geth-genesis/kaustinen6.json
  packages/common/src/chains.ts
  packages/common/src/enums.ts
  packages/evm/src/interpreter.ts
  packages/evm/test/precompiles/0f-bls12-g2mul.spec.ts
  packages/genesis/test/index.spec.ts
  packages/statemanager/package.json
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/statelessVerkleStateManager.spec.ts
  packages/statemanager/test/testdata/verkleKaustinenBlock.json
  packages/verkle/package.json
  packages/verkle/src/node/baseVerkleNode.ts
  packages/verkle/src/node/internalNode.ts
  packages/verkle/src/node/leafNode.ts
  packages/verkle/src/node/types.ts
  packages/verkle/src/types.ts
  packages/verkle/src/util/crypto.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/crypto.spec.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
Labels: PR state: WIP, type: refactor, dependencies, package: verkle

#3348 util: update prefixedHexString to use literal string template
  packages/block/src/from-beacon-payload.ts
  packages/block/src/helpers.ts
  packages/block/src/types.ts
  packages/blockchain/src/blockchain.ts
  packages/client/bin/cli.ts
  packages/client/src/rpc/modules/engine/types.ts
  packages/client/src/rpc/modules/engine/util/generic.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/rpc/modules/web3.ts
  packages/client/src/rpc/types.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/evm/src/journal.ts
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/trie/src/util/genesisState.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/src/types.ts
  packages/tx/src/util.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/util/src/account.ts
  packages/util/src/address.ts
  packages/util/src/bytes.ts
  packages/util/src/genesis.ts
  packages/util/src/internal.ts
  packages/util/src/signature.ts
  packages/util/src/types.ts
  packages/util/src/withdrawal.ts
  packages/util/test/signature.spec.ts
  packages/vm/benchmarks/util.ts
  packages/vm/src/runTx.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: WIP, type: enhancement, package: util, target: master (v7)

#3355 common: configure kaustinen6 network
  packages/client/src/config.ts
  packages/client/test/rpc/helpers.ts
  packages/common/src/eips.ts
  packages/evm/src/opcodes/EIP2929.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
Labels: package: common, package: client, package: statemanager, package: evm

#3287 Add prometheus to client and begin implementing custom metrics
  package-lock.json
  package.json
  packages/client/README.md
  packages/client/bin/cli.ts
  packages/client/package.json
  packages/client/src/config.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/service/txpool.ts
  packages/client/src/types.ts
  packages/client/src/util/metrics.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/test/sync/txpool.spec.ts
Labels: type: feature, PR state: WIP, dependencies, package: client

#3358 Update `kzg-wasm`
  package-lock.json
  packages/block/package.json
  packages/client/package.json
  packages/evm/package.json
  packages/tx/package.json
  packages/util/package.json
Labels: package: block, package: tx, dependencies, package: client, package: util, package: evm

#3361 monorepo: cleanup ts-ignore and ts-expect-error
  packages/block/test/block.spec.ts
  packages/blockchain/test/customConsensus.spec.ts
  packages/client/bin/cli.ts
  packages/client/src/net/server/rlpxserver.ts
  packages/client/src/rpc/modules/engine/CLConnectionManager.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/test/rpc/engine/kaustinen6.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/fetcher/storagefetcher.spec.ts
  packages/common/test/customChains.spec.ts
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/examples/peer-communication.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/les.ts
  packages/devp2p/src/protocol/protocol.ts
  packages/devp2p/src/protocol/snap.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/test/integration/dpt-simulator.spec.ts
  packages/devp2p/test/integration/util.ts
  packages/statemanager/test/proofStateManager.spec.ts
  packages/statemanager/test/stateManager.code.spec.ts
  packages/trie/src/db/checkpoint.ts
  packages/trie/test/index.spec.ts
  packages/trie/test/trie/checkpoint.spec.ts
  packages/trie/test/trie/trie.spec.ts
  packages/tx/test/fromRpc.spec.ts
  packages/vm/src/vm.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/state/accountExists.spec.ts
Labels: PR state: needs review, type: enhancement, package: monorepo

#3362 Client: Fix Node 20 Nightly Test Runs
  packages/client/test/integration/beaconsync.spec.ts
Labels: type: bug, PR state: merge ready, type: tests, type: CI, package: client

#3354 Client: New Mechanism to Keep Peer Latest Block Updated
  packages/client/src/net/peer/peer.ts
  packages/client/src/net/peerpool.ts
  packages/client/src/net/protocol/boundprotocol.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/sync/beaconsync.ts
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/blockfetcher.ts
  packages/client/src/sync/fetcher/bytecodefetcher.ts
  packages/client/src/sync/fetcher/headerfetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/src/sync/fullsync.ts
  packages/client/src/sync/lightsync.ts
  packages/client/src/sync/snapsync.ts
  packages/client/test/integration/lightsync.spec.backup.ts
  packages/client/test/integration/mocks/mockpeer.ts
  packages/client/test/rpc/eth/syncing.spec.ts
  packages/client/test/sync/beaconsync.spec.ts
  packages/client/test/sync/fetcher/accountfetcher.spec.ts
  packages/client/test/sync/fetcher/blockfetcher.spec.ts
  packages/client/test/sync/fetcher/bytecodefetcher.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/fetcher/headerfetcher.spec.ts
  packages/client/test/sync/fetcher/reverseblockfetcher.spec.ts
  packages/client/test/sync/fetcher/storagefetcher.spec.ts
  packages/client/test/sync/fetcher/trienodefetcher.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/lightsync.spec.ts
  packages/client/test/sync/snapsync.spec.ts
Labels: PR state: needs review, type: enhancement, package: client

#3363 Client: Better --execution Flag Guard
  packages/client/src/execution/vmexecution.ts
Labels: type: bug, PR state: merge ready, package: client

#3364 [devp2p] typo fix
  packages/devp2p/README.md
Labels: package: devp2p

#3366 evm: ignore precompile addresses for some target access events
  packages/evm/src/opcodes/gas.ts
Labels: PR state: merge ready, package: evm

#3377 Remove unnecessary boolean comparisons when using isActivatedEIP
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/blockchain/src/blockchain.ts
  packages/client/src/miner/miner.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/EIP2929.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip4844Transaction.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/runTx.spec.ts
Labels: PR state: needs review, type: refactor

#3378 trie: fix del stack operation key formatting
  packages/trie/src/trie.ts
  packages/trie/test/trie/prune.spec.ts
Labels: type: bug, PR state: needs review, package: trie

#3384 client: update multiaddr dep
  package-lock.json
  packages/client/archive/libp2p/libp2pnode.ts
  packages/client/archive/libp2p/net/peer/libp2pnode.ts
  packages/client/archive/libp2p/net/peer/libp2ppeer.ts
  packages/client/archive/libp2p/net/server/libp2pserver.ts
  packages/client/package.json
  packages/client/src/config.ts
  packages/client/src/net/server/server.ts
  packages/client/src/types.ts
  packages/client/src/util/parse.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/test/util/parse.spec.ts
  packages/devp2p/package.json
  packages/devp2p/src/dns/enr.ts
  packages/devp2p/src/util.ts
  packages/devp2p/test/enr.spec.ts
Labels: PR state: needs review, dependencies, package: devp2p, package: client, type: maintenance

#3372 Implement EIP 7685
  packages/block/src/block.ts
  packages/block/src/from-rpc.ts
  packages/block/src/header-from-rpc.ts
  packages/block/src/header.ts
  packages/block/src/helpers.ts
  packages/block/src/types.ts
  packages/block/test/eip7685block.spec.ts
  packages/block/test/header.spec.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/test/blockValidation.spec.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/rpc/modules/eth.ts
  packages/common/src/eips.ts
  packages/evm/src/evm.ts
  packages/util/src/index.ts
  packages/util/src/requests.ts
  packages/util/test/requests.spec.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/types.ts
  packages/vm/test/api/EIPs/eip-7685.spec.ts
Labels: type: feature, package: block, package: vm, package: common, package: util, package: evm
