Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-10, with the labels that each got.

#3705 Trie checkpoint test expansion
  packages/trie/test/trie/checkpoint.spec.ts
  packages/trie/test/trie/checkpointing.spec.ts
Labels: PR state: needs review, type: tests, package: trie

#3710 Clean up dev dependencies
  config/vitest.config.browser.mts
  package-lock.json
  package.json
  packages/block/test/from-rpc.spec.ts
  packages/client/test/rpc/admin/peers.spec.ts
  packages/evm/package.json
  packages/tx/test/fromRpc.spec.ts
  packages/vm/examples/helpers/tx-builder.ts
  packages/vm/examples/run-solidity-contract.ts
  packages/vm/package.json
  packages/vm/test/api/customChain.spec.ts
Labels: type: tests, dependencies

#3718 trie: rename trie helpers to mpt
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/client/test/sync/fetcher/trienodefetcher.spec.ts
  packages/statemanager/src/proofs/merkle.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/trie/scripts/view.ts
  packages/trie/src/constructors.ts
  packages/trie/src/node/branch.ts
  packages/trie/src/node/extension.ts
  packages/trie/src/node/extensionOrLeafNodeBase.ts
  packages/trie/src/node/leaf.ts
  packages/trie/src/node/util.ts
  packages/trie/src/proof/index.ts
  packages/trie/src/proof/range.ts
  packages/trie/src/trie.ts
  packages/trie/src/types.ts
  packages/trie/src/util/asyncWalk.ts
  packages/trie/src/util/walkController.ts
  packages/trie/test/index.spec.ts
  packages/trie/test/proof.spec.ts
  packages/trie/test/proof/range.spec.ts
  packages/trie/test/trie/prune.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/util/asyncWalk.spec.ts
  packages/verkle/src/node/internalNode.ts
  packages/verkle/src/node/leafNode.ts
  packages/verkle/src/node/types.ts
  packages/verkle/src/node/util.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/internalNode.spec.ts
  packages/verkle/test/leafNode.spec.ts
  packages/verkle/test/proof.spec.ts
  packages/verkle/test/verkle.spec.ts
Labels: PR state: needs review, type: refactor, package: trie, package: verkle

#3720 t8n: do not create empty coinbase account from SpuriousDragon on state.reward == 0
  packages/vm/DEVELOPER.md
  packages/vm/test/t8n/README.md
  packages/vm/test/t8n/t8ntool.ts
Labels: PR state: needs review, type: tests

#3711 client: add getBlobsV1 to the client to support CL blob import
  packages/client/src/config.ts
  packages/client/src/rpc/modules/engine/engine.ts
  packages/client/src/rpc/modules/engine/types.ts
  packages/client/src/service/txpool.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/helpers.ts
Labels: PR state: merge ready, package: client

#3728 t8ntool: fix setting correct extraBlobGas
  packages/vm/test/t8n/t8ntool.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, type: tests, package: vm

#3730 mpt: adjust verifyMPTProof naming and restructure index file
  packages/mpt/src/proof/index.ts
  packages/mpt/src/proof/proof.ts
  packages/mpt/test/proof.spec.ts
  packages/mpt/test/trie/secure.spec.ts
  packages/mpt/test/util/asyncWalk.spec.ts
  packages/statemanager/src/proofs/merkle.ts
  packages/statemanager/test/rpcStateManager.spec.ts
Labels: PR state: merge ready, package: mpt, type: maintenance

#3729 Remove unused deps
  README.md
  package-lock.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/evm/package.json
  packages/mpt/package.json
  packages/verkle/package.json
Labels: PR state: needs review, package: monorepo

#3734 Add Units class for conversions
  packages/util/src/units.ts
  packages/util/test/units.spec.ts
Labels: PR state: needs review, package: util

#3736 util: Units follow-up PR
  packages/util/src/units.ts
  packages/util/test/units.spec.ts
Labels: PR state: needs review, package: util

#3738 Refactor client package to use Units class conversion helpers
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/debug/storageRangeAt.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByHashV1.spec.ts
  packages/client/test/rpc/engine/getPayloadBodiesByRangeV1.spec.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/sim/txGenerator.ts
  packages/client/test/sync/txpool.spec.ts
  packages/vm/test/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/test/api/EIPs/eip-3198-BaseFee.spec.ts
  packages/vm/test/api/EIPs/eip-3860.spec.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
Labels: PR state: needs review, type: refactor, package: vm, package: monorepo, package: client

#3376 Toubleshoot codecov failures to upload coverage data
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/build.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/ethash-build.yml
  .github/workflows/evm-build.yml
  .github/workflows/genesis-build.yml
  .github/workflows/mpt-build.yml
  .github/workflows/rlp-build.yml
  .github/workflows/statemanager-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/vm-pr.yml
  .github/workflows/wallet-build.yml
Labels: PR state: needs review, eval: needs discussion, type: CI

#3739 monorepo: npm audit fixes
  package-lock.json
Labels: PR state: merge ready, type: security, package: monorepo, dependencies

#3308 Fix engine-cancun hive tests
  packages/client/src/rpc/error-code.ts
  packages/client/src/service/skeleton.ts
  packages/client/test/rpc/engine/forkchoiceUpdatedV1.spec.ts
  packages/vm/benchmarks/run.ts
Labels: PR state: needs review, type: tests, package: client

#3742 Add T9N (TransactionTool) test consumption
  package-lock.json
  packages/tx/package.json
  packages/tx/test/t9n.spec.ts
Labels: PR state: needs review, type: tests, package: tx

#3726 mpt: expand getValueMap tests
  packages/mpt/test/trie/trie.spec.ts
Labels: PR state: WIP, PR state: open discussion, package: mpt

#3725 Add example for `getValueMap`
  packages/mpt/examples/getValueMap.ts
  packages/mpt/src/mpt.ts
  packages/mpt/test/trie/trie.spec.ts
Labels: type: docs, type: tests, package: mpt

#3743 Skip t9n in browser
  packages/tx/vitest.config.browser.mts
Labels: type: tests, type: CI, package: tx

#3751 Further troubleshoot current codecov CI issues
  .github/workflows/build.yml
  .github/workflows/devp2p-build.yml
Labels: PR state: needs review, type: tests, type: CI

#3752 genesis: remove mpt devdep
  package-lock.json
  packages/genesis/package.json
  packages/genesis/src/genesisStates/kaustinen.ts
  packages/genesis/test/index.spec.ts
Labels: dependencies, type: maintenance, package: genesis

#3753 Add event typing for `common` and `devp2p`
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/net/protocol/rlpxsender.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/common/src/common.ts
  packages/common/src/types.ts
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/examples/peer-communication.ts
  packages/devp2p/examples/simple.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/message.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/ext/kbucket.ts
  packages/devp2p/src/protocol/eth.ts
  packages/devp2p/src/protocol/protocol.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/src/types.ts
  packages/devp2p/test/integration/dpt-simulator.spec.ts
  packages/devp2p/test/integration/eth-simulator.spec.ts
  packages/devp2p/test/integration/les-simulator.spec.ts.bak
  packages/devp2p/test/integration/rlpx-simulator.spec.ts
  packages/devp2p/test/integration/util.ts
  packages/devp2p/tsconfig.json
  packages/evm/examples/runCode.ts
  packages/evm/examples/withBlockchain.ts
  packages/evm/test/customOpcodes.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/EIPs/eip-7002.spec.ts
  packages/vm/test/api/events.spec.ts
  packages/vm/test/t8n/t8ntool.ts
Labels: package: vm, package: common, package: devp2p, package: evm

#3757 Use `inlineclient` in miner integration tests
  packages/client/test/integration/miner.spec.ts
  packages/client/test/sim/simutils.ts
Labels: type: tests, package: client

#3731 Add `executionWitness` code
  packages/block/src/block/block.ts
  packages/block/src/block/constructors.ts
  packages/common/src/interfaces.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/gas.ts
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/src/util.ts
  packages/statemanager/test/statefulVerkleStateManager.spec.ts
  packages/verkle/src/node/leafNode.ts
  packages/verkle/src/node/util.ts
  packages/verkle/src/verkleTree.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/testdata/verkleBlock.ts
  packages/vm/test/api/testdata/verkleBlockWithValue.ts
  packages/vm/test/util.ts
Labels: type: feature, package: block, package: vm, package: statemanager

#3765 client: add kaustinen6 testnet instructions in client readme
  packages/client/README.md
Labels: PR state: needs review, type: docs, package: client

#3761 Update verkle docs
  packages/verkle/README.md
  packages/verkle/examples/diyVerkle.ts
  packages/verkle/examples/simple.ts
  packages/verkle/package.json
Labels: package: verkle

#3766 client: mention of upcoming testnets
  packages/client/README.md
Labels: PR state: merge ready, type: docs, package: client

#3767 client: docs link to kaustinen6 ref
  packages/client/README.md
Labels: PR state: merge ready, type: docs, package: client

#3769 monorepo: run examples build
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/devp2p/README.md
  packages/ethash/README.md
  packages/evm/README.md
  packages/mpt/README.md
  packages/tx/README.md
  packages/util/README.md
Labels: PR state: merge ready, type: docs, package: monorepo

#3768 verkle: improvements to verkle tree instantiation
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/verkle/README.md
  packages/verkle/examples/diyVerkle.ts
  packages/verkle/src/constructors.ts
  packages/verkle/src/types.ts
  packages/verkle/src/verkleTree.ts
  packages/verkle/test/proof.spec.ts
  packages/verkle/test/verkle.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: PR state: needs review, type: enhancement, package: verkle

#3771 packages: add requests hash to genesis block
  packages/blockchain/src/blockchain.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/util/src/constants.ts
Labels: PR state: needs review, package: blockchain, package: common, package: util

#3770 evm: migrate accessWitness file to evm package
  packages/common/src/interfaces.ts
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/message.ts
  packages/evm/src/types.ts
  packages/evm/src/verkleAccessWitness.ts
  packages/evm/test/verkle.spec.ts
  packages/statemanager/docs/README.md
  packages/statemanager/docs/enums/VerkleAccessedStateType.md
  packages/statemanager/src/index.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/src/types.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/src/types.ts
Labels: PR state: needs review, type: refactor, package: common, package: statemanager, package: evm

#3775 vm: verkle adjustments
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/vm/src/runBlock.ts
Labels: PR state: needs review, package: vm, package: statemanager, type: maintenance

#3778 Fix handling of storage values
  packages/evm/test/verkle.spec.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/statemanager/test/statefulVerkleStateManager.spec.ts
  packages/verkle/src/index.ts
  packages/verkle/src/util.ts
  packages/verkle/test/verkle.spec.ts
Labels: package: statemanager, package: verkle

#3777 client: fix double execution of a newplayload block on fcu
  packages/client/src/service/skeleton.ts
Labels: PR state: merge ready, package: client

#3779 monorepo: fix npm high severity issues
  package-lock.json
  package.json
Labels: PR state: needs review, type: security, package: monorepo

#3760 Rework rlpx-simulator.spec.ts tests / Fix devp2p/genesis/wallet Coverage Reporting
  packages/devp2p/package.json
  packages/devp2p/test/integration/rlpx-simulator.spec.ts
  packages/devp2p/test/integration/util.ts
  packages/genesis/package.json
  packages/wallet/package.json
Labels: PR state: needs review, type: tests, package: devp2p

#3706 pectra devnet4: implement pectra devnet4 spec
  config/cspell-ts.json
  packages/block/CHANGELOG.md
  packages/block/README.md
  packages/block/examples/6110Requests.ts
  packages/block/examples/7002Requests.ts
  packages/block/examples/7251Requests.ts
  packages/block/src/block/block.ts
  packages/block/src/block/constructors.ts
  packages/block/src/from-beacon-payload.ts
  packages/block/src/header/constructors.ts
  packages/block/src/header/header.ts
  packages/block/src/helpers.ts
  packages/block/src/index.ts
  packages/block/src/types.ts
  packages/block/test/eip4844block.spec.ts
  packages/block/test/eip7685block.spec.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/db/manager.ts
  packages/blockchain/src/helpers.ts
  packages/blockchain/test/blockValidation.spec.ts
  packages/client/src/ext/qheap.ts
  packages/client/src/miner/miner.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/rpc/modules/engine/engine.ts
  packages/client/src/rpc/modules/engine/types.ts
  packages/client/src/rpc/modules/engine/util/getPayload.ts
  packages/client/src/rpc/modules/engine/util/newPayload.ts
  packages/client/src/rpc/modules/engine/validators.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/sync/fetcher/blockfetcher.ts
  packages/client/test/rpc/debug/storageRangeAt.spec.ts
  packages/client/test/rpc/engine/newPayloadV3VersionedHashes.spec.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/client/test/rpc/eth/blobBaseFee.spec.ts
  packages/client/test/rpc/eth/getFeeHistory.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/util/src/constants.ts
  packages/util/src/request.ts
  packages/util/test/requests.spec.ts
  packages/vm/examples/buildBlock.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/params.ts
  packages/vm/src/requests.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/types.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/EIPs/eip-6110.spec.ts
  packages/vm/test/api/EIPs/eip-7002.spec.ts
  packages/vm/test/api/EIPs/eip-7685.spec.ts
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/t8n/t8ntool.ts
  packages/vm/test/t8n/types.ts
Labels: package: vm, package: client
