Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2024-01, with the labels that each got.

#3212 Dependency Updates
  package-lock.json
  packages/client/browser/index.ts
  packages/client/browser/logging.ts
  packages/client/browser/util/index.ts
  packages/client/package.json
Labels: PR state: WIP, dependencies, package: devp2p, package: client, package: trie

#3214 Update callcode test
  packages/evm/test/runCall.spec.ts
Labels: package: evm

#3226 Monorepo: Embed Code Examples in README Files
  package-lock.json
  package.json
  packages/block/CHANGELOG.md
  packages/block/README.md
  packages/block/examples/1559.ts
  packages/block/examples/4844.ts
  packages/block/examples/clique.ts
  packages/block/examples/pos.ts
  packages/block/examples/pow.ts
  packages/block/examples/simple.ts
  packages/block/examples/withdrawals.ts
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/README.md
  packages/client/CHANGELOG.md
  packages/client/src/net/peer/rlpxpeer.ts
  packages/client/test/sim/4844-blobpost.md
  packages/common/CHANGELOG.md
  packages/common/README.md
  packages/devp2p/CHANGELOG.md
  packages/devp2p/README.md
  packages/ethash/CHANGELOG.md
  packages/ethash/README.md
  packages/evm/CHANGELOG.md
  packages/evm/README.md
  packages/genesis/README.md
  packages/rlp/CHANGELOG.md
  packages/rlp/README.md
  packages/statemanager/CHANGELOG.md
  packages/statemanager/README.md
  packages/trie/CHANGELOG.md
  packages/trie/README.md
  packages/tx/CHANGELOG.md
  packages/tx/README.md
  packages/util/CHANGELOG.md
  packages/util/README.md
  packages/util/examples/account.ts
  packages/util/examples/address.ts
  packages/util/examples/blobs.ts
  packages/util/examples/bytes.ts
  packages/util/examples/constants.ts
  packages/util/examples/signature.ts
  packages/util/examples/withdrawal.ts
  packages/util/package.json
  packages/util/src/provider.ts
  packages/verkle/README.md
  packages/vm/CHANGELOG.md
  packages/vm/README.md
  packages/wallet/CHANGELOG.md
Labels: PR state: needs review, type: docs, type: refactor, type: enhancement, package: monorepo

#3224 Internalize `crc`
  packages/common/package.json
  packages/common/src/common.ts
  packages/common/src/crc.ts
  packages/common/test/crc.spec.ts
Labels: package: common

#3228 More example rewrites
  packages/blockchain/README.md
  packages/blockchain/examples/genesisData/post-merge.json
  packages/blockchain/examples/gethGenesis.ts
  packages/blockchain/examples/simple.ts
  packages/blockchain/package.json
  packages/common/README.md
  packages/common/examples/common.ts
  packages/common/examples/customChain.ts
  packages/common/examples/customChains.ts
  packages/common/examples/fromGeth.ts
  packages/common/examples/genesisData/post-merge.json
  packages/common/examples/genesisData/testnet.json
  packages/common/examples/genesisData/testnet2.json
  packages/common/package.json
Labels: package: blockchain, package: common

#3230 Use permalink to avoid future breakage of link
  packages/common/src/crc.ts
Labels: PR state: needs review, package: common

#3231 Readable stream analysis refactor
  packages/statemanager/src/stateManager.ts
  packages/trie/src/trie.ts
  packages/trie/src/util/readStream.ts
  packages/trie/test/stream.spec.ts
Labels: PR state: needs review, dependencies, package: trie

#3192 Client/Monorepo: Use WASM Crypto (keccak256) for Hashing / Consistent Hash Function Overwrite
  .github/workflows/client-build.yml
  package-lock.json
  packages/block/src/block.ts
  packages/block/src/header.ts
  packages/block/test/block.spec.ts
  packages/client/bin/cli.ts
  packages/client/package.json
  packages/client/src/execution/vmexecution.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/net/server/rlpxserver.ts
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/bytecodefetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/src/types.ts
  packages/client/test/rpc/engine/withdrawals.spec.ts
  packages/client/test/util/wasmCrypto.spec.ts
  packages/client/vitest.config.unit.ts
  packages/common/src/common.ts
  packages/common/src/types.ts
  packages/common/test/customCrypto.spec.ts
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/src/dns/enr.ts
  packages/devp2p/src/dpt/dpt.ts
  packages/devp2p/src/dpt/message.ts
  packages/devp2p/src/dpt/server.ts
  packages/devp2p/src/rlpx/ecies.ts
  packages/devp2p/src/rlpx/peer.ts
  packages/devp2p/src/rlpx/rlpx.ts
  packages/devp2p/src/types.ts
  packages/devp2p/src/util.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/util.ts
  packages/evm/src/precompiles/01-ecrecover.ts
  packages/evm/src/precompiles/02-sha256.ts
  packages/evm/test/customCrypto.spec.ts
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/trie/src/trie.ts
  packages/trie/src/types.ts
  packages/trie/test/trie/trie.spec.ts
  packages/tx/src/baseTransaction.ts
  packages/tx/src/capabilities/eip2718.ts
  packages/tx/src/capabilities/legacy.ts
  packages/tx/src/legacyTransaction.ts
  packages/util/src/signature.ts
  packages/vm/src/bloom/index.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: type: feature, PR state: needs review, PR state: merge ready, type: refactor, type: performance, type: enhancement, package: block, package: tx, package: vm, package: common, package: client, package: trie, package: evm

#3245 Additional `wasm-crypto` replacements in devp2p
  packages/client/bin/cli.ts
  packages/client/test/util/wasmCrypto.spec.ts
  packages/common/src/types.ts
  packages/devp2p/src/dpt/message.ts
  packages/devp2p/src/rlpx/ecies.ts
Labels: PR state: needs review, type: refactor, type: enhancement, package: common, package: devp2p, package: client

#3241 VM: runTx() Profiler Details
  packages/vm/src/runTx.ts
Labels: PR state: needs review, type: enhancement, package: vm, package: evm

#3243 perf: improve rlp.decode
  packages/rlp/benchmarks/index.ts
  packages/rlp/package.json
  packages/rlp/src/index.ts
  packages/rlp/tsconfig.benchmarks.json
Labels: PR state: needs review, type: performance, type: enhancement, package: rlp

#3239 block: validate transactions are signed
  packages/block/src/block.ts
  packages/block/test/block.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/vm/test/api/buildBlock.spec.ts
Labels: type: bug, PR state: needs review, eval: needs discussion, package: block

#3238 tx: add `addSignature` method
  packages/tx/src/baseTransaction.ts
  packages/tx/src/eip1559Transaction.ts
  packages/tx/src/eip2930Transaction.ts
  packages/tx/src/eip4844Transaction.ts
  packages/tx/src/legacyTransaction.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
Labels: PR state: needs review, package: tx

#3242 Update more examples
  packages/evm/README.md
  packages/evm/examples/4844.ts
  packages/evm/examples/decode-opcodes.ts
  packages/evm/examples/eips.ts
  packages/evm/examples/runCode.ts
  packages/evm/examples/simple.ts
  packages/evm/examples/withBlockchain.ts
  packages/evm/package.json
  packages/genesis/README.md
  packages/genesis/examples/simple.ts
  packages/genesis/package.json
  packages/rlp/README.md
  packages/rlp/examples/simple.ts
  packages/rlp/package.json
  packages/tx/README.md
  packages/tx/examples/accessListTx.ts
  packages/tx/examples/blobTx.ts
  packages/tx/examples/custom-chain-id-tx.ts
  packages/tx/examples/custom-chain-tx.ts
  packages/tx/examples/initKzg.ts
  packages/tx/examples/l2tx.ts
  packages/tx/examples/legacyTx.ts
  packages/tx/examples/londonTx.ts
  packages/tx/examples/transactions.ts
  packages/tx/examples/txFactory.ts
  packages/tx/package.json
Labels: PR state: needs review, type: docs, type: refactor, package: tx, package: rlp

#3250 Update vm/wallet examples
  packages/vm/README.md
  packages/vm/examples/buildBlock.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/examples/run-solidity-contract.ts
  packages/vm/examples/runGoerliBlock.ts
  packages/vm/examples/runTx.ts
  packages/vm/examples/testData/goerliBlock2.json
  packages/vm/examples/vmWith4844.ts
  packages/vm/examples/vmWithEIPs.ts
  packages/vm/examples/vmWithGenesisState.ts
  packages/vm/package.json
  packages/wallet/README.md
  packages/wallet/examples/hdKey.js
  packages/wallet/examples/hdKey.ts
  packages/wallet/examples/thirdparty.js
  packages/wallet/examples/thirdparty.ts
  packages/wallet/examples/wallet.js
  packages/wallet/examples/wallet.ts
  packages/wallet/package.json
Labels: package: vm, package: wallet

#3254 Fix nodejs nightly CI
  .github/workflows/node-versions.yml
Labels: type: CI

#3252 client: Check for undefined pathStrings
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/src/util/rpc.ts
  packages/client/test/sync/fetcher/trienodefetcher.spec.ts
  packages/client/test/util/rpc.spec.ts
Labels: type: bug, PR state: needs review, package: client, target: master (v7)

#3253 Monorepo: update GitHub Actions checkout and node setup to v4
  .github/workflows/block-build.yml
  .github/workflows/blockchain-build.yml
  .github/workflows/browser.yml
  .github/workflows/client-build.yml
  .github/workflows/common-build.yml
  .github/workflows/devp2p-build.yml
  .github/workflows/e2e-hardhat.yml.old
  .github/workflows/ethash-build.yml
  .github/workflows/evm-build.yml
  .github/workflows/examples.yml
  .github/workflows/genesis-build.yml
  .github/workflows/lockfile.yml
  .github/workflows/node-versions.yml
  .github/workflows/rlp-build.yml
  .github/workflows/statemanager-build.yml
  .github/workflows/trie-build.yml
  .github/workflows/tx-build.yml
  .github/workflows/util-build.yml
  .github/workflows/verkle-build.yml
  .github/workflows/vm-build.yml
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-pr.yml
  .github/workflows/wallet-build.yml
Labels: PR state: needs review, PR state: merge ready, type: CI, package: monorepo

#3235 Embedme integration: Update StateManager and Trie examples
  packages/statemanager/README.md
  packages/statemanager/examples/basicUsage.ts
  packages/statemanager/examples/evm.ts
  packages/statemanager/examples/fromProofInstantiation.ts
  packages/statemanager/examples/rpcStateManager.ts
  packages/statemanager/package.json
  packages/trie/README.md
  packages/trie/examples/basicUsage.ts
  packages/trie/examples/customLevelDB.ts
  packages/trie/examples/proofs.ts
  packages/trie/examples/rootPersistence.ts
  packages/trie/examples/staticCreateTrieFromProof.ts
  packages/trie/examples/trieWalking.ts
  packages/trie/package.json
Labels: PR state: needs review, package: trie, package: statemanager

#3256 Update `devp2p` and `ethash` examples
  packages/devp2p/README.md
  packages/devp2p/examples/dpt.ts
  packages/devp2p/examples/peer-communication-les.cts
  packages/devp2p/examples/peer-communication-les.ts
  packages/devp2p/examples/peer-communication.cts
  packages/devp2p/examples/peer-communication.ts
  packages/devp2p/examples/rlpx.ts
  packages/devp2p/examples/simple.cts
  packages/devp2p/examples/simple.ts
  packages/devp2p/package.json
  packages/devp2p/src/browser/dns.ts
  packages/devp2p/src/dns/dns.ts
  packages/devp2p/src/dns/enr.ts
  packages/devp2p/test/browser.spec.ts
  packages/ethash/README.md
  packages/ethash/examples/example.ts
  packages/ethash/examples/miner.ts
  packages/ethash/examples/powBlock.ts
  packages/ethash/examples/rawExample.ts
  packages/ethash/package.json
Labels: PR state: needs review, package: ethash, package: devp2p

#3259 Verkle: add VM tests
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
Labels: PR state: needs review, type: tests, package: vm

#3240 Client: stabilize block fetcher
  packages/block/src/block.ts
  packages/block/test/block.spec.ts
  packages/client/src/sync/beaconsync.ts
  packages/client/src/sync/fetcher/blockfetcher.ts
Labels: PR state: needs review, package: client

#2949 Trie proof API refactor
  packages/client/test/sim/beaconsync.md
  packages/client/test/testdata/geth-genesis/kaustinen2.json
  packages/statemanager/src/rpcStateManager.ts
  packages/statemanager/src/stateManager.ts
  packages/trie/README.md
  packages/trie/examples/staticCreateTrieFromProof.ts
  packages/trie/src/proof/range.ts
  packages/trie/src/trie.ts
  packages/trie/test/proof.spec.ts
  packages/trie/test/trie/secure.spec.ts
  packages/trie/test/util/asyncWalk.spec.ts
Labels: type: feature, PR state: needs review, PR/Issue state: blocked, type: refactor, package: trie

#3179 client: kaustinen syncing
  packages/block/src/types.ts
  packages/block/test/testdata/payload-kaustinen.json
  packages/client/src/blockchain/chain.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/rpc/index.ts
  packages/client/src/rpc/modules/engine.ts
  packages/client/test/rpc/engine/kaustinen2.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/testdata/blocks/kaustinen2.json
  packages/client/test/testdata/geth-genesis/kaustinen2.json
  packages/common/src/eips.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/message.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/types.ts
  packages/statemanager/src/accessWitness.ts
  packages/statemanager/src/index.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/statemanager/test/testdata/verkleKaustinenBlock.json
  packages/verkle/src/util/crypto.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-6800-verkle.spec.ts
Labels: type: feature, package: common, package: client, package: statemanager
