Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2025-01, with the labels that each got.

#3830 evm: simplify verkle access witness methods
  packages/common/src/interfaces.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/verkleAccessWitness.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, type: enhancement, package: evm

#3832 evm: verkle updates
  packages/common/src/common.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/EIP2929.ts
  packages/evm/src/opcodes/gas.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, package: vm, package: evm

#3807 Implement pectra devnet-5 spec
  packages/block/src/block/block.ts
  packages/block/src/helpers.ts
  packages/block/src/params.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/rpc/modules/engine/util/getPayload.ts
  packages/client/src/rpc/modules/engine/util/newPayload.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/src/service/txpool.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/params.ts
  packages/evm/src/precompiles/0c-bls12-g1msm.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2msm.ts
  packages/evm/src/precompiles/0f-bls12-pairing.ts
  packages/evm/src/precompiles/10-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/11-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/13-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/bls12_381/constants.ts
  packages/evm/src/precompiles/bls12_381/util.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/test/precompiles/bls/add_G1_bls.json
  packages/evm/test/precompiles/bls/add_G2_bls.json
  packages/evm/test/precompiles/bls/map_fp2_to_G2_bls.json
  packages/evm/test/precompiles/bls/mul_G2_bls.json
  packages/evm/test/precompiles/bls/multiexp_G1_bls.json
  packages/evm/test/precompiles/bls/multiexp_G2_bls.json
  packages/evm/test/precompiles/bls/pairing_check_bls.json
  packages/evm/test/precompiles/eip-2537-bls.spec.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/capabilities/legacy.ts
  packages/tx/src/constants.ts
  packages/tx/src/params.ts
  packages/tx/src/util.ts
  packages/tx/test/transactionRunner.spec.ts
  packages/tx/test/types.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/params.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-7002.spec.ts
  packages/vm/test/api/EIPs/eip-7623.spec.ts
  packages/vm/test/api/EIPs/eip-7685.spec.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/t8n/t8ntool.ts
Labels: PR state: needs review, package: vm, package: evm

#3834 Fix `vm nightly` CI job
  package-lock.json
  package.json
  packages/client/src/logging.ts
Labels: dependencies, package: client

#3838 Update vitest to v3.0.2
  config/vitest.config.browser.mts
  package-lock.json
  package.json
  packages/ethash/vite.config.ts
  packages/evm/test/precompiles/09-blake2f.spec.ts
  packages/mpt/test/util/genesisState.spec.ts
  packages/mpt/vitest.config.browser.mts
  packages/statemanager/test/statefulVerkleStateManager.spec.ts
  packages/statemanager/test/vmState.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/t9n.spec.ts
  packages/tx/test/transactionRunner.spec.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/vite.config.ts
Labels: PR state: needs review, package: monorepo

#3840 Client: fix version logging and hive block imports
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/helpers.ts
  packages/client/bin/cli.ts
  packages/client/src/util/index.ts
Labels: PR state: needs review, package: blockchain, package: client

#3836 Remove unused params from common
  packages/block/src/params.ts
  packages/evm/src/params.ts
  packages/evm/src/precompiles/0b-bls12-g1add.ts
  packages/evm/src/precompiles/0c-bls12-g1msm.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2msm.ts
  packages/evm/src/precompiles/0f-bls12-pairing.ts
  packages/evm/src/precompiles/10-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/11-bls12-map-fp2-to-g2.ts
Labels: PR state: needs review, package: evm, AI Usage

#3843 Run `biome` as part of lint scripts
  package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/genesis/package.json
  packages/mpt/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/verkle/package.json
  packages/vm/package.json
  packages/vm/src/runTx.ts
  packages/wallet/package.json
Labels: package: monorepo

#3841 block: fix the param resolution for excess gas and blob fee compute
  packages/block/src/block/block.ts
  packages/block/src/header/header.ts
  packages/block/src/helpers.ts
  packages/block/test/eip4844block.spec.ts
  packages/blockchain/src/blockchain.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getFeeHistory.spec.ts
  packages/vm/src/buildBlock.ts
  packages/vm/src/params.ts
  packages/vm/test/util.ts
Labels: PR state: needs review, package: block, package: blockchain, package: vm, package: client

#3846 Fix broken Node Nightly CI jobs
  .github/workflows/node-versions.yml
  packages/client/test/rpc/websocket.spec.ts
Labels: type: CI

#3845 Switch `c8` to `@vitest/coverage-v8`
  config/eslint.cjs
  config/vitest.config.coverage.mts
  package-lock.json
  package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/rpc/debug/setHead.spec.ts
  packages/client/test/rpc/eth/estimateGas.spec.ts
  packages/client/test/rpc/eth/getBalance.spec.ts
  packages/client/test/rpc/eth/getTransactionCount.spec.ts
  packages/client/vitest.config.coverage.ts
  packages/common/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/genesis/package.json
  packages/mpt/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/verkle/package.json
  packages/vm/package.json
  packages/vm/vitest.config.coverage.ts
  packages/vm/vitest.config.ts
  packages/wallet/package.json
Labels: type: tests, package: monorepo, dependencies

#3851 Remove Goerli from packages
  packages/block/examples/clique.ts
  packages/block/test/block.spec.ts
  packages/block/test/clique.spec.ts
  packages/block/test/from-rpc.spec.ts
  packages/block/test/header.spec.ts
  packages/block/test/testdata/goerliCommon.ts
  packages/blockchain/examples/clique.ts
  packages/blockchain/test/clique.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/blockchain/test/reorg.spec.ts
  packages/blockchain/test/testdata/goerliCommon.ts
  packages/client/src/config.ts
  packages/client/test/config.spec.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/eth/chainId.spec.ts
  packages/client/test/rpc/net/version.spec.ts
  packages/client/test/testdata/common/goerliCommon.ts
  packages/client/test/testdata/geth-genesis/goerliGenesis.ts
  packages/common/src/chains.ts
  packages/common/src/enums.ts
  packages/common/src/utils.ts
  packages/common/test/chains.spec.ts
  packages/common/test/data/goerliCommon.ts
  packages/common/test/hardforks.spec.ts
  packages/genesis/src/index.ts
  packages/genesis/test/goerli.ts
  packages/statemanager/test/vmState.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/testData/goerliCommon.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/vm/examples/runGoerliBlock.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/testdata/goerliCommon.ts
Labels: PR state: needs review, package: monorepo

#3852 vm: add yargs as dev dep for t8n
  package-lock.json
  packages/vm/package.json
  packages/vm/vitest.config.coverage.ts
Labels: PR state: needs review, package: vm

#3858 monorepo: npm audit fix
  package-lock.json
Labels: PR state: merge ready, type: security

#3859 Update `ethereum-cryptography`
  package-lock.json
  packages/block/package.json
  packages/client/package.json
  packages/devp2p/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/evm/src/precompiles/bn254/noble.ts
  packages/mpt/package.json
  packages/statemanager/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/vm/package.json
  packages/wallet/package.json
Labels: dependencies, package: evm
