Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2025-05, with the labels that each got.

#4050 Rename static build ci job
  .github/workflows/static-build.yml
  packages/ethash/README.md
  packages/genesis/README.md
  packages/rlp/README.md
  packages/wallet/README.md
Labels: PR state: needs review, type: CI

#4048 Logger usage removal in client tests
  packages/client/test/integration/miner.spec.ts
  packages/client/test/logging.spec.ts
  packages/client/test/miner/pendingBlock.spec.ts
  packages/client/test/rpc/debug/verbosity.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/sim/beaconsync.spec.ts
  packages/client/test/sync/fetcher/reverseblockfetcher.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/client/test/sync/txpool.spec.ts
Labels: PR state: needs review, package: client

#4058 Update 4844 examples to cancun
  packages/block/examples/4844.ts
  packages/evm/examples/4844.ts
  packages/tx/examples/blobTx.ts
  packages/vm/examples/vmWith4844.ts
Labels: PR state: merge ready, package: block, package: tx, package: vm, package: evm, type: maintenance

#4066 client: fix getpayloadv4 to return execution requests as well on retry
  config/cspell-ts.json
  packages/client/src/miner/pendingBlock.ts
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
Labels: PR state: merge ready, package: client

#4046 e2store: replace snappy-stream dependency
  package-lock.json
  packages/e2store/package.json
  packages/e2store/src/snappy-stream/checksum.ts
  packages/e2store/src/snappy-stream/compress-stream.ts
  packages/e2store/src/snappy-stream/index.ts
  packages/e2store/src/snappy-stream/uncompress-stream.ts
  packages/e2store/src/snappy.ts
  packages/e2store/test/snappy.spec.ts
Labels: type: refactor, package: e2store

#4012 Client: separate TxIndex from ReceiptsManager
  packages/client/src/execution/receipt.ts
  packages/client/src/execution/txIndex.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/miner/miner.ts
  packages/client/src/rpc/modules/debug.ts
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/execution/txIndex.spec.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/rpc/debug/getRawTransaction.spec.ts
Labels: type: feature, PR state: needs review, package: client, target: master

#4076 Rename ci workflow
  .github/workflows/build.yml
  .github/workflows/rlp-ethash-genesis-wallet-build.yml
Labels: type: CI

#4081 Update README EthereumJS Footers
  CODE_OF_CONDUCT.md
  README.md
  packages/binarytree/README.md
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/devp2p/README.md
  packages/e2store/README.md
  packages/ethash/README.md
  packages/evm/README.md
  packages/genesis/README.md
  packages/mpt/README.md
  packages/rlp/README.md
  packages/statemanager/README.md
  packages/testdata/README.md
  packages/tx/README.md
  packages/util/README.md
  packages/verkle/README.md
  packages/vm/README.md
Labels: PR state: needs review, type: docs, package: monorepo

#4080 common: improve ugly method
  packages/client/src/sync/fullsync.ts
  packages/common/src/common.ts
Labels: PR state: needs review, package: common, package: client, type: maintenance

#4074 client: add blockTimestamp to eth_getLogs, add tests
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/getLogs.spec.ts
Labels: package: client

#4045 docs(evm): update internal structure section in README
  packages/evm/README.md
Labels: type: docs, package: evm

#4083 valueBoundaryCheck chores
  packages/tx/src/1559/tx.ts
  packages/tx/src/2930/tx.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/legacy/tx.ts
  packages/tx/src/util/internal.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/util.spec.ts
Labels: PR state: needs review, type: tests, package: tx

#4084 Fix outdated hardware wallet signing example
  packages/tx/README.md
  packages/tx/examples/ledgerSigner.mts
Labels: package: tx

#4091 Improve `paramsCache` updates
  packages/common/src/common.ts
  packages/common/test/benchmark/common.bench.ts
Labels: package: common, AI Usage

#4085 common: add 5 bpo hardforks for blobSchedule specification
  packages/common/src/enums.ts
  packages/common/src/hardforks.ts
  packages/common/src/utils.ts
  packages/common/test/gethGenesis.spec.ts
  packages/evm/src/evm.ts
Labels: PR state: merge ready, package: common, package: evm

#4071 EIP-7883: ModExp gas cost increase
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/evm/src/precompiles/05-modexp.ts
Labels: type: feature, PR state: needs review, package: evm

#4094 Client RPC maxPriorityFeePerGas Fixes
  packages/client/src/rpc/modules/eth.ts
  packages/client/test/rpc/eth/maxPriorityFeePerGas.spec.ts
Labels: type: bug, PR state: merge ready, type: enhancement, package: client
