Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2025-08, with the labels that each got.

#4104 chore: fix link to article about ethash [ethash/README.md]
  packages/ethash/README.md
Labels: PR state: merge ready, type: docs

#4108 Fix VM Nightly CI
  packages/util/src/bytes.ts
Labels: PR state: merge ready, type: CI, package: monorepo

#4110 Leaner CI Part 1 and Nightly Updates
  .github/workflows/vm-nightly-test.yml
  .github/workflows/vm-pr.yml
  packages/vm/package.json
Labels: PR state: merge ready, type: tests, type: CI, package: vm

#4111 Rebuild package-lock.json
  package-lock.json
Labels: PR state: WIP, type: CI, package: monorepo

#4112 Nightly CI Adjustments
  .github/workflows/vm-nightly-test.yml
Labels: PR state: merge ready, type: CI, package: monorepo

#4117 VM Run Prague Tests
  .github/workflows/vm-build.yml
  .github/workflows/vm-pr.yml
  packages/vm/package.json
Labels: PR state: needs review, type: tests, type: CI, package: vm
