Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2025-03, with the labels that each got.

#3893 binarytree: fix updated value in non empty tree bug
  packages/binarytree/src/binaryTree.ts
  packages/binarytree/test/binarytree.spec.ts
Labels: type: bug, PR state: needs review, package: binarytree

#3885 stateManager: binary tree state manager
  package-lock.json
  packages/common/src/eips.ts
  packages/common/src/interfaces.ts
  packages/evm/package.json
  packages/evm/src/binaryTreeAccessWitness.ts
  packages/evm/src/types.ts
  packages/statemanager/package.json
  packages/statemanager/src/index.ts
  packages/statemanager/src/statefulBinaryTreeStateManager.ts
  packages/statemanager/src/types.ts
  packages/statemanager/test/statefulBinaryTreeStateManager.spec.ts
  packages/util/src/binaryTree.ts
  packages/util/src/index.ts
  packages/vm/src/runBlock.ts
Labels: type: feature, PR state: needs review, package: util, package: statemanager

#3901 vm: filter eip6110 logs based on topic
  packages/vm/src/requests.ts
Labels: PR state: needs review, package: vm

#3902 Binary Tree cleanup
  packages/binarytree/src/binaryTree.ts
  packages/evm/src/binaryTreeAccessWitness.ts
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/message.ts
  packages/evm/src/opcodes/EIP2929.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/types.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
Labels: package: vm, package: evm, package: binarytree

#3896 Add new EIP-2537 BLS test cases to EVM
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/evm/test/precompiles/bls/fail-add_G1_bls.json
  packages/evm/test/precompiles/bls/fail-add_G2_bls.json
  packages/evm/test/precompiles/bls/fail-map_fp2_to_G2_bls.json
  packages/evm/test/precompiles/bls/fail-map_fp_to_G1_bls.json
  packages/evm/test/precompiles/bls/fail-multiexp_G1_bls.json
  packages/evm/test/precompiles/bls/fail-multiexp_G2_bls.json
  packages/evm/test/precompiles/bls/fail-pairing_check_bls.json
  packages/evm/test/precompiles/bls/pairing_check_bls.json
  packages/evm/test/precompiles/eip-2537-bls.spec.ts
Labels: PR state: needs review, package: evm

#3905 Util/Tx: change defaults back to use deterministic sigs, but keep `extraEntropy` flag
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/rpc/eth/getTransactionByBlockHashAndIndex.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/util/wasmCrypto.spec.ts
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/tx/src/1559/tx.ts
  packages/tx/src/2930/tx.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/legacy/tx.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/eip7702.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/util/src/signature.ts
  packages/util/test/signature.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
Labels: PR state: needs review, package: tx, package: util

#3918 monorepo: fix bundling and upgrade non-eslint deps
  package-lock.json
  package.json
  packages/client/src/net/server/rlpxserver.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
Labels: package: monorepo, dependencies

#3877 Set Prague as default HF
  packages/common/src/chains.ts
  packages/common/src/common.ts
  packages/common/test/chains.spec.ts
  packages/common/test/customChains.spec.ts
  packages/common/test/hardforks.spec.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/index.spec.ts
Labels: PR state: needs review, package: common

#3919 common,genesis: add hoodi testnet configs
  config/cspell-md.json
  config/cspell-ts.json
  packages/common/src/chains.ts
  packages/common/src/enums.ts
  packages/common/src/utils.ts
  packages/common/test/hardforks.spec.ts
  packages/genesis/src/genesisStates/hoodi.ts
  packages/genesis/src/index.ts
  packages/statemanager/test/vmState.spec.ts
Labels: PR state: needs review, package: common, package: genesis

#3921 Wallet: enforce EthereumJSError format
  config/eslint.config.mjs
  packages/wallet/eslint.config.mjs
  packages/wallet/src/hdkey.ts
  packages/wallet/src/thirdparty.ts
  packages/wallet/src/wallet.ts
Labels: PR state: needs review, package: wallet

#3920 Add `istanbul` code coverage option
  config/vitest.config.coverage.istanbul.mts
  package-lock.json
  package.json
  packages/binarytree/package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/era/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/genesis/package.json
  packages/mpt/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/verkle/package.json
  packages/wallet/package.json
Labels: package: block, package: blockchain, package: tx, package: vm, package: common, package: monorepo, package: ethash, package: devp2p, package: client, package: mpt, package: util, package: rlp, package: statemanager, package: evm, package: wallet, package: genesis, package: verkle, package: binarytree, package: era

#3925 Fix Ethash tests
  packages/ethash/test/miner.spec.ts
Labels: PR state: needs review, type: tests, package: ethash

#3924 RLP: Move EthereumJSError form util to RLP and start using EthereumJSError in RLP
  config/eslint.config.mjs
  packages/rlp/eslint.config.mjs
  packages/rlp/src/errors.ts
  packages/rlp/src/index.ts
  packages/util/src/errors.ts
Labels: PR state: needs review, package: util, package: rlp

#3928 Small jsdoc improvement to SimpleStateManager
  packages/statemanager/src/simpleStateManager.ts
Labels: package: statemanager

#3930 client: remove archive and unused 4844 devnet folder
  config/eslint.config.mjs
  packages/client/archive/libp2p/cli-libp2p.spec.ts
  packages/client/archive/libp2p/docs/browser_sync.png
  packages/client/archive/libp2p/docs/light-browser-sync.md
  packages/client/archive/libp2p/index.ts
  packages/client/archive/libp2p/libp2pnode.ts
  packages/client/archive/libp2p/logging.ts
  packages/client/archive/libp2p/net/libp2psender.ts.old
  packages/client/archive/libp2p/net/package.json.browser.deps
  packages/client/archive/libp2p/net/peer/libp2pnode.ts
  packages/client/archive/libp2p/net/peer/libp2ppeer.ts
  packages/client/archive/libp2p/net/server/libp2pserver.ts
  packages/client/archive/libp2p/net/test/libp2pnode.spec.ts.old
  packages/client/archive/libp2p/net/test/libp2ppeer.spec.ts.old
  packages/client/archive/libp2p/net/test/libp2psender.spec.ts.old
  packages/client/archive/libp2p/net/test/libp2pserver.spec.ts.old
  packages/client/archive/libp2p/util/index.ts
  packages/client/devnets/4844-interop/INTEROP.md
  packages/client/devnets/4844-interop/config/config.yml
  packages/client/devnets/4844-interop/config/genesis.json
  packages/client/devnets/4844-interop/config/jwtsecret.txt
  packages/client/devnets/4844-interop/config/minerKey.txt
  packages/client/devnets/4844-interop/lighthouse/INTEROP.md
  packages/client/devnets/4844-interop/lighthouse/bootnode.sh
  packages/client/devnets/4844-interop/lighthouse/genesis.json
  packages/client/devnets/4844-interop/lighthouse/setup.sh
  packages/client/devnets/4844-interop/lighthouse/vars.env
  packages/client/devnets/4844-interop/prysm/config.yml
  packages/client/devnets/4844-interop/prysm/generate_genesis.sh
  packages/client/devnets/4844-interop/prysm/genesis.ssz
  packages/client/devnets/4844-interop/prysm/genesisGEN.json
  packages/client/devnets/4844-interop/prysm/prysm.json
  packages/client/devnets/4844-interop/tools/txGenerator.ts
  packages/client/package.json
  verdaccio.yml
Labels: PR state: merge ready, package: client, type: maintenance

#3890 TX package cleanup
  packages/tx/src/1559/constructors.ts
  packages/tx/src/1559/tx.ts
  packages/tx/src/2930/constructors.ts
  packages/tx/src/2930/tx.ts
  packages/tx/src/4844/constructors.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/7702/constructors.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/capabilities/eip2718.ts
  packages/tx/src/capabilities/eip2930.ts
  packages/tx/src/capabilities/eip7702.ts
  packages/tx/src/index.ts
  packages/tx/src/legacy/tx.ts
  packages/tx/src/transactionFactory.ts
  packages/tx/src/types.ts
  packages/tx/src/util.ts
  packages/tx/src/util/access.ts
  packages/tx/src/util/authorization.ts
  packages/tx/src/util/general.ts
  packages/tx/src/util/index.ts
  packages/tx/src/util/internal.ts
  packages/tx/test/base.spec.ts
  packages/tx/test/fromRpc.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, package: tx, package: vm, breaking

#3886 New RC Releases
  package-lock.json
  package.json
  packages/binarytree/CHANGELOG.md
  packages/binarytree/package.json
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/era/CHANGELOG.md
  packages/era/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/genesis/CHANGELOG.md
  packages/genesis/package.json
  packages/mpt/CHANGELOG.md
  packages/mpt/package.json
  packages/rlp/CHANGELOG.md
  packages/rlp/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/package.json
  packages/verkle/CHANGELOG.md
  packages/verkle/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
  packages/wallet/CHANGELOG.md
  packages/wallet/package.json
Labels: PR state: needs review, type: release, package: monorepo, breaking

#3935 Fix 7702 gas calculation
  packages/tx/src/capabilities/eip2930.ts
  packages/tx/src/capabilities/eip7702.ts
  packages/tx/src/capabilities/legacy.ts
Labels: PR state: needs review, package: tx

#3933 EIP 7702 authority list signing utilities
  packages/tx/examples/setEOATx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/constants.ts
  packages/tx/src/index.ts
  packages/tx/src/types.ts
  packages/tx/src/util/authorization.ts
  packages/tx/src/util/index.ts
  packages/tx/test/util/authorization.spec.ts
  packages/vm/src/runTx.ts
Labels: PR state: needs review, package: tx, package: vm

#3937 Limit Coverage to src Folders
  config/vitest.config.coverage.istanbul.mts
  config/vitest.config.coverage.mts
Labels: type: bug, PR state: merge ready, type: tests, type: enhancement, package: monorepo

#3939 Remove `totalDifficulty` from `JSONRPCBlock` type required fields
  packages/block/src/types.ts
Labels: package: block

#3938 chore: add osaka hf to utils
  packages/common/src/utils.ts
Labels: package: common

#3942 Tx: fix transaction tester
  packages/tx/src/capabilities/eip7702.ts
  packages/tx/test/transactionRunner.spec.ts
Labels: type: bug, PR state: needs review, type: tests, package: tx

#3941 util/tx: change ecsign to not add 27 to `v` value
  packages/block/src/consensus/clique.ts
  packages/client/bin/utils.ts
  packages/client/test/util/wasmCrypto.spec.ts
  packages/common/src/types.ts
  packages/common/test/customCrypto.spec.ts
  packages/tx/CHANGELOG.md
  packages/tx/src/1559/tx.ts
  packages/tx/src/2930/tx.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/legacy/tx.ts
  packages/tx/src/util/authorization.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/util/CHANGELOG.md
  packages/util/src/signature.ts
  packages/util/test/signature.spec.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: PR state: needs review, package: tx, package: util, breaking

#3945 client: fix new tsx behavior which overwrites (?) fields of subclasses
  packages/client/src/sync/fetcher/fetcher.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
Labels: PR state: needs review, package: client

#3944 Use `src/**/*.ts` when developing locally
  config/README.md
  config/vitest.config.mts
  packages/binarytree/package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/client/vitest.config.unit.ts
  packages/common/package.json
  packages/devp2p/package.json
  packages/era/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/genesis/package.json
  packages/mpt/package.json
  packages/rlp/package.json
  packages/statemanager/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/verkle/package.json
  packages/vm/package.json
  packages/vm/vitest.config.ts
  packages/wallet/package.json
Labels: type: tests, package: monorepo
