Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2025-02, with the labels that each got.

#3848 vm: adjust test runner with verkle state management
  packages/common/src/chains.ts
  packages/vm/test/tester/config.ts
  packages/vm/test/tester/index.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
  packages/vm/test/tester/runners/GeneralStateTestsRunner.ts
Labels: PR state: needs review, type: tests, package: vm

#3847 Fix some failing hive tests in the devp2p/snap sync test suite
  packages/block/test/testdata/goerliCommon.ts
  packages/blockchain/test/testdata/goerliCommon.ts
  packages/client/bin/utils.ts
  packages/client/src/rpc/modules/engine/CLConnectionManager.ts
  packages/client/src/types.ts
  packages/client/test/cli/cli.spec.ts
  packages/client/test/sim/configs/4844-devnet.ts
  packages/client/test/testdata/common/goerliCommon.ts
  packages/client/test/testdata/common/mergeTestnet.ts
  packages/client/test/testdata/geth-genesis/eip4844.ts
  packages/client/test/testdata/geth-genesis/withdrawals.ts
  packages/common/src/chains.ts
  packages/common/src/enums.ts
  packages/common/src/hardforks.ts
  packages/common/src/types.ts
  packages/common/src/utils.ts
  packages/common/test/data/goerliCommon.ts
  packages/common/test/genesis.json
  packages/common/test/hardforks.spec.ts
  packages/common/test/timestamp.spec.ts
  packages/common/test/utils.spec.ts
  packages/evm/src/evm.ts
  packages/statemanager/test/testdata/testnetVerkleKaustinen.ts
  packages/tx/test/testData/goerliCommon.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/index.spec.ts
  packages/vm/test/api/testdata/goerliCommon.ts
Labels: package: block, package: blockchain, package: tx, package: vm, package: common, package: client, package: statemanager, package: evm

#3839 EVM: Update EIP-7702: devnet-6 readiness
  packages/client/test/rpc/engine/newPayloadV4.spec.ts
  packages/evm/src/opcodes/functions.ts
  packages/vm/src/params.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/EIPs/eip-7002.spec.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
Labels: PR state: needs review, package: evm

#3745 Add tests for partial account helper functions
  packages/client/test/cli/cli.spec.ts
  packages/util/test/account.spec.ts
Labels: PR state: needs review, type: tests, package: util, AI Usage

#3853 ERA: Add ERA file support package
  config/cspell-md.json
  config/cspell-ts.json
  package-lock.json
  packages/client/src/util/index.ts
  packages/era/.c8rc.json
  packages/era/.eslintrc.cjs
  packages/era/.gitignore
  packages/era/CHANGELOG.md
  packages/era/LICENSE
  packages/era/README.md
  packages/era/package.json
  packages/era/src/blockTuple.ts
  packages/era/src/e2store.ts
  packages/era/src/era1.ts
  packages/era/src/exportHistory.ts
  packages/era/src/index.ts
  packages/era/src/snappy.ts
  packages/era/src/types.ts
  packages/era/test/era1.spec.ts
  packages/era/test/exportHistory.spec.ts
  packages/era/test/mainnet-00000-5ec1ffb8.era1
  packages/era/tsconfig.json
  packages/era/tsconfig.lint.json
  packages/era/tsconfig.prod.cjs.json
  packages/era/tsconfig.prod.esm.json
  packages/era/typedoc.cjs
Labels: type: feature, PR state: needs review, package: monorepo, dependencies, package: client, target: master

#3863 Fix the vulnerability found in issue #3861
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/test/stack.spec.ts
Labels: PR state: needs review, package: evm

#3835 common: allow specifying eip-7840 blobSchedule via geth genesis
  config/cspell-ts.json
  packages/common/src/common.ts
  packages/common/src/utils.ts
  packages/common/test/utils.spec.ts
Labels: type: feature, PR state: needs review, package: common

#3866 Update vitest to latest
  package-lock.json
  package.json
Labels: dependencies

#3870 Era package license
  packages/era/LICENSE
  packages/era/package.json
Labels: package: era

#3864 Construct verkle execution witness
  package-lock.json
  packages/evm/package.json
  packages/evm/src/params.ts
  packages/evm/src/verkleAccessWitness.ts
  packages/evm/test/verkle.spec.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/vm/src/params.ts
Labels: package: vm, package: statemanager, package: evm

#3867 Repl Tests, Refactoring, and Followup
  packages/client/README.md
  packages/client/bin/cli.ts
  packages/client/bin/utils.ts
  packages/client/src/util/rpc.ts
  packages/client/test/cli/utils.spec.ts
Labels: PR state: needs review, package: client

#3857 binarytree: create binarytree package
  .github/ISSUE_TEMPLATE/package--ethereumjs-binarytree.md
  .github/workflows/binarytree-build.yml
  README.md
  config/cspell-md.json
  config/cspell-ts.json
  package-lock.json
  packages/binarytree/.c8rc.json
  packages/binarytree/.eslintrc.cjs
  packages/binarytree/.gitignore
  packages/binarytree/.npmignore
  packages/binarytree/CHANGELOG.md
  packages/binarytree/LICENSE
  packages/binarytree/README.md
  packages/binarytree/package.json
  packages/binarytree/src/binaryTree.ts
  packages/binarytree/src/constructors.ts
  packages/binarytree/src/db/checkpoint.ts
  packages/binarytree/src/db/index.ts
  packages/binarytree/src/index.ts
  packages/binarytree/src/node/index.ts
  packages/binarytree/src/node/internalNode.ts
  packages/binarytree/src/node/stemNode.ts
  packages/binarytree/src/node/types.ts
  packages/binarytree/src/node/util.ts
  packages/binarytree/src/types.ts
  packages/binarytree/src/util.ts
  packages/binarytree/test/binarytree.spec.ts
  packages/binarytree/test/node/internalNode.spec.ts
  packages/binarytree/test/node/stemNode.spec.ts
  packages/binarytree/tsconfig.benchmarks.json
  packages/binarytree/tsconfig.json
  packages/binarytree/tsconfig.lint.json
  packages/binarytree/tsconfig.prod.cjs.json
  packages/binarytree/tsconfig.prod.esm.json
  packages/binarytree/typedoc.cjs
  packages/util/src/bytes.ts
  packages/util/test/bytes.spec.ts
Labels: type: feature, package: binarytree

#3873 Util: use hedged signatures by default
  packages/client/bin/utils.ts
  packages/client/test/rpc/engine/getPayloadV3.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/rpc/eth/getTransactionByBlockHashAndIndex.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/util/wasmCrypto.spec.ts
  packages/common/src/types.ts
  packages/common/test/customCrypto.spec.ts
  packages/tx/src/1559/tx.ts
  packages/tx/src/2930/tx.ts
  packages/tx/src/4844/tx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/capabilities/legacy.ts
  packages/tx/src/legacy/tx.ts
  packages/tx/src/types.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/eip7702.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/util/src/signature.ts
  packages/util/test/signature.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
Labels: PR state: needs review, type: security, package: tx, package: util

#3740 mpt: simplify rangeProof handling & flatten mpt file structure
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/mpt/src/db/checkpointDB.ts
  packages/mpt/src/db/index.ts
  packages/mpt/src/mpt.ts
  packages/mpt/src/proof/index.ts
  packages/mpt/src/proof/proof.ts
  packages/mpt/src/proof/range.ts
  packages/statemanager/src/index.ts
  packages/statemanager/src/proof/index.ts
  packages/statemanager/src/proof/merkle.ts
  packages/statemanager/src/proof/rpc.ts
  packages/statemanager/src/proof/verkle.ts
  packages/statemanager/test/proofStateManager.spec.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/statemanager/test/stateManager.spec.ts
Labels: PR state: needs review, type: refactor, package: mpt

#3882 Common: fix deposit address for sepolia and holesky
  packages/common/src/chains.ts
Labels: PR state: needs review, package: common

#3883 Add era file support
  config/cspell-ts.json
  packages/era/src/e2store.ts
  packages/era/src/era.ts
  packages/era/src/types.ts
  packages/era/test/era.spec.ts
Labels: package: era

#3888 binarytree: implement proof methods
  packages/binarytree/src/binaryTree.ts
  packages/binarytree/test/proof.spec.ts
Labels: PR state: needs review, target: master, package: binarytree

#3884 Add altair and bellatrix states to era
  config/cspell-ts.json
  package-lock.json
  packages/era/README.md
  packages/era/package.json
  packages/era/src/e2store.ts
  packages/era/src/era.ts
  packages/era/src/snappy.ts
  packages/era/src/types.ts
  packages/era/src/types/snappy-stream.d.ts
  packages/era/test/era.spec.ts
Labels: package: era

#3889 BinaryTree: extract proof methods
  packages/binarytree/src/binaryTree.ts
  packages/binarytree/src/index.ts
  packages/binarytree/src/proof.ts
  packages/binarytree/test/proof.spec.ts
Labels: package: binarytree
