Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2025-04, with the labels that each got.

#3955 Some Spellchecker Improvements
  .github/workflows/spellcheck.yml
  package.json
  packages/binarytree/package.json
  packages/block/package.json
  packages/blockchain/package.json
  packages/client/package.json
  packages/common/package.json
  packages/devp2p/package.json
  packages/era/package.json
  packages/ethash/package.json
  packages/evm/package.json
  packages/genesis/package.json
  packages/mpt/package.json
  packages/rlp/package.json
  packages/tx/package.json
  packages/util/package.json
  packages/verkle/package.json
  packages/wallet/package.json
Labels: PR state: merge ready, type: enhancement, type: CI, package: monorepo

#3947 monorepo: type improvements
  packages/binarytree/src/db/checkpoint.ts
  packages/blockchain/src/consensus/clique.ts
  packages/blockchain/test/index.spec.ts
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/storagefetcher.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/devp2p/test/dns.spec.ts
  packages/devp2p/test/integration/eth-simulator.spec.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/codes.ts
  packages/evm/src/precompiles/0b-bls12-g1add.ts
  packages/evm/src/precompiles/0c-bls12-g1msm.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2msm.ts
  packages/evm/src/precompiles/0f-bls12-pairing.ts
  packages/evm/src/precompiles/10-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/11-bls12-map-fp2-to-g2.ts
  packages/evm/src/types.ts
  packages/mpt/src/constructors.ts
  packages/mpt/src/db/checkpointDB.ts
  packages/mpt/src/mpt.ts
  packages/mpt/test/trie/prune.spec.ts
  packages/mpt/test/trie/trie.spec.ts
  packages/statemanager/test/rpcStateManager.spec.ts
  packages/tx/src/capabilities/legacy.ts
  packages/tx/test/inputValue.spec.ts
  packages/tx/test/legacy.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/util/test/bytes.spec.ts
  packages/util/test/provider.spec.ts
  packages/vm/src/runBlock.ts
  packages/vm/test/api/EIPs/eip-1559-FeeMarket.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/t8n/helpers.ts
Labels: PR state: needs review, type: enhancement, package: monorepo

#3952 Docs cleanup
  README.md
  packages/vm/DEVELOPER.md
Labels: PR state: needs review, type: docs

#3957 Fix Browser Tests / Switch to Playwright + Chromium Combo
  .github/workflows/browser.yml
  README.md
  config/vitest.config.browser.mts
  package-lock.json
  package.json
Labels: type: bug, PR state: needs review, type: tests, type: CI, package: monorepo

#3961 monorepo: npm audit fix
  package-lock.json
Labels: PR state: merge ready, package: monorepo, dependencies, type: maintenance

#3950 Fix Client Best Peer Selection based on TD Check
  packages/client/src/sync/fullsync.ts
  packages/client/test/integration/fullsync.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/sync/fullsync.spec.ts
Labels: type: bug, PR state: merge ready, package: client

#3960 monorepo: misc type improvements
  packages/binarytree/src/binaryTree.ts
  packages/block/test/block.spec.ts
  packages/block/test/eip1559block.spec.ts
  packages/blockchain/test/clique.spec.ts
  packages/client/bin/utils.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/test/cli/cli.spec.ts
  packages/client/test/integration/beaconsync.spec.ts
  packages/client/test/integration/client.spec.ts
  packages/client/test/integration/mocks/mockserver.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/net/peer/rlpxpeer.spec.ts
  packages/client/test/net/peerpool.spec.ts
  packages/client/test/net/protocol/snapprotocol.spec.ts
  packages/client/test/net/server/rlpxserver.spec.ts
  packages/client/test/rpc/engine/CLConnectionManager.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/preimages.spec.ts
  packages/client/test/rpc/eth/sendRawTransaction.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/rpc/txpool/content.spec.ts
  packages/client/test/service/fullethereumservice.spec.ts
  packages/client/test/sync/beaconsync.spec.ts
  packages/client/test/sync/fetcher/fetcher.spec.ts
  packages/client/test/sync/fetcher/storagefetcher.spec.ts
  packages/client/test/sync/fullsync.spec.ts
  packages/client/test/sync/snapsync.spec.ts
  packages/evm/src/evm.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/verkleAccessWitness.ts
  packages/tx/test/base.spec.ts
  packages/util/src/binaryTree.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/retesteth/transition-child.cts
  packages/vm/test/t8n/stateTracker.ts
  packages/vm/test/tester/index.ts
Labels: PR state: needs review, type: enhancement, package: monorepo

#3962 `Bigint` and `Buffer` conversion comment cleanups in READMEs
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/devp2p/README.md
  packages/ethash/README.md
  packages/evm/README.md
  packages/mpt/README.md
  packages/rlp/README.md
  packages/statemanager/README.md
  packages/tx/README.md
  packages/util/README.md
  packages/vm/README.md
Labels: type: docs, package: block, package: blockchain, package: tx, package: vm, package: common, package: ethash, package: devp2p, package: client, package: mpt, package: util, package: rlp, package: statemanager, package: evm, package: wallet

#3948 Util: remove `ecsign` method (instead directly use `secp256k1.sign` from external `ethereum-cryptography` package
  packages/block/src/consensus/clique.ts
  packages/client/bin/utils.ts
  packages/client/test/util/wasmCrypto.spec.ts
  packages/common/src/types.ts
  packages/common/test/customCrypto.spec.ts
  packages/devp2p/src/dpt/message.ts
  packages/devp2p/src/rlpx/ecies.ts
  packages/tx/src/capabilities/legacy.ts
  packages/tx/src/util/authorization.ts
  packages/tx/test/eip1559.spec.ts
  packages/tx/test/eip4844.spec.ts
  packages/tx/test/typedTxsAndEIP2930.spec.ts
  packages/util/src/signature.ts
  packages/util/test/signature.spec.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: package: block, package: tx, package: vm, package: common, package: monorepo, package: devp2p, package: client, package: util, breaking

#3971 Common: Add Mainnet Prague Timestamp & ForkHash
  packages/common/src/chains.ts
Labels: PR state: merge ready, package: common, type: spec updates

#3973 common: GethGenesis interface
  packages/blockchain/README.md
  packages/blockchain/examples/gethGenesis.ts
  packages/blockchain/src/blockchain.ts
  packages/blockchain/src/helpers.ts
  packages/blockchain/src/types.ts
  packages/blockchain/test/utils.spec.ts
  packages/client/bin/cli.ts
  packages/client/bin/repl.ts
  packages/client/bin/utils.ts
  packages/client/src/blockchain/chain.ts
  packages/client/src/client.ts
  packages/client/src/util/inclineClient.ts
  packages/client/src/util/vkt.ts
  packages/client/test/execution/vmexecution.spec.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/integration/pow.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/sim/beaconsync.spec.ts
  packages/client/test/sim/configs/eof.ts
  packages/client/test/sim/configs/mainnet.ts
  packages/client/test/sim/snapsync.spec.ts
  packages/client/test/testdata/geth-genesis/kaustinen2.ts
  packages/client/test/testdata/geth-genesis/kaustinen6.ts
  packages/common/src/constructors.ts
  packages/common/src/gethGenesis.ts
  packages/common/src/index.ts
  packages/common/src/utils.ts
  packages/common/test/data/geth-genesis/no-extra-data.ts
  packages/common/test/data/geth-genesis/poa.ts
  packages/common/test/genesis.json
  packages/common/test/gethGenesis.spec.ts
  packages/common/test/timestamp.spec.ts
  packages/genesis/src/genesisStates/holesky.ts
  packages/genesis/src/genesisStates/hoodi.ts
  packages/genesis/src/genesisStates/mainnet.ts
  packages/genesis/src/genesisStates/sepolia.ts
  packages/genesis/src/index.ts
  packages/genesis/test/goerli.ts
  packages/mpt/src/util/genesisState.ts
  packages/mpt/test/util/genesisState.spec.ts
  packages/statemanager/src/statefulBinaryTreeStateManager.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/testdata/src/gethGenesis/eip4844GethGenesis.ts
  packages/testdata/src/gethGenesis/goerliGethGenesis.ts
  packages/testdata/src/gethGenesis/index.ts
  packages/testdata/src/gethGenesis/invalidSpuriousDragonGethGenesis.ts
  packages/testdata/src/gethGenesis/kilnGethGenesis.ts
  packages/testdata/src/gethGenesis/postMergeGethGenesis.ts
  packages/testdata/src/gethGenesis/shanghaiTimeGethGenesis.ts
  packages/testdata/src/gethGenesis/verkleKaustinenGethGenesis.ts
  packages/util/src/genesis.ts
  packages/util/src/index.ts
  packages/util/test/genesis.spec.ts
  packages/vm/test/api/EIPs/eip-4895-withdrawals.spec.ts
  packages/vm/test/api/customChain.spec.ts
Labels: PR state: needs review, type: refactor, type: enhancement, package: common

#3974 Dockerfile Updates
  .github/workflows/client-build.yml
  .github/workflows/docker-image.yml
  Dockerfile
Labels: PR state: needs review, type: CI, package: client

#3980 util: remove unnecessary empty array assignment
  packages/client/src/util/vkt.ts
Labels: PR state: merge ready, type: refactor, package: util

#3967 Make logger usage optional
  packages/client/bin/cli.ts
  packages/client/bin/repl.ts
  packages/client/bin/startRPC.ts
  packages/client/bin/utils.ts
  packages/client/src/client.ts
  packages/client/src/config.ts
  packages/client/src/execution/execution.ts
  packages/client/src/execution/vmexecution.ts
  packages/client/src/logging.ts
  packages/client/src/miner/miner.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/net/peer/peer.ts
  packages/client/src/net/peerpool.ts
  packages/client/src/net/server/rlpxserver.ts
  packages/client/src/net/server/server.ts
  packages/client/src/rpc/index.ts
  packages/client/src/rpc/modules/debug.ts
  packages/client/src/rpc/modules/engine/CLConnectionManager.ts
  packages/client/src/rpc/modules/engine/engine.ts
  packages/client/src/rpc/modules/engine/util/newPayload.ts
  packages/client/src/service/fullethereumservice.ts
  packages/client/src/service/service.ts
  packages/client/src/service/skeleton.ts
  packages/client/src/service/txpool.ts
  packages/client/src/sync/beaconsync.ts
  packages/client/src/sync/fetcher/accountfetcher.ts
  packages/client/src/sync/fetcher/fetcher.ts
  packages/client/src/sync/fullsync.ts
  packages/client/src/sync/snapsync.ts
  packages/client/src/sync/sync.ts
  packages/client/src/util/debug.ts
  packages/client/test/cli/cli.spec.ts
  packages/client/test/cli/utils.spec.ts
  packages/client/test/integration/pow.spec.ts
  packages/client/test/logging.spec.ts
  packages/client/test/rpc/debug/verbosity.spec.ts
  packages/client/test/rpc/engine/CLConnectionManager.spec.ts
  packages/client/test/rpc/engine/newPayloadV1.spec.ts
  packages/client/test/rpc/engine/newPayloadV2.spec.ts
  packages/client/test/sync/beaconsync.spec.ts
Labels: PR state: needs review, type: enhancement, package: client

#3982 client: improve startClient and related types
  packages/client/test/rpc/engine/kaustinen6.spec.ts
  packages/client/test/rpc/helpers.ts
  packages/client/test/testdata/blocks/beacon.ts
Labels: PR state: needs review, type: enhancement, package: client

#3975 Clean up noCompile CI
  .github/workflows/build.yml
  .github/workflows/common-build.yml
  .github/workflows/genesis-build.yml
  .github/workflows/noCompile.yml
  .github/workflows/rlp-build.yml
  .github/workflows/static-build.yml
  .github/workflows/typecheck.yml
  .github/workflows/wallet-build.yml
  config/cspell-ts.json
  packages/client/examples/inlineClient.ts
  packages/client/scripts/inlineClient.ts
Labels: PR state: needs review, type: refactor, type: CI, package: client, type: maintenance

#3987 Update Dockerfile WORKDIR path
  Dockerfile
Labels: package: monorepo

#3985 evm: add test case for zero input bls
  package-lock.json
  packages/binarytree/package.json
  packages/evm/package.json
  packages/evm/src/precompiles/10-bls12-map-fp-to-g1.ts
  packages/evm/test/precompiles/bls/map_fp_to_G1_bls.json
  packages/statemanager/package.json
Labels: type: bug, PR state: needs review, package: evm

#3984 Preparatory Doc Updates (Common, Browser Section, Other)
  config/cspell-ts.json
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/common/examples/common.ts
  packages/devp2p/README.md
  packages/evm/README.md
  packages/evm/src/types.ts
  packages/mpt/README.md
  packages/rlp/README.md
  packages/statemanager/README.md
  packages/tx/README.md
  packages/util/README.md
  packages/verkle/README.md
  packages/vm/README.md
Labels: PR state: merge ready, type: docs, package: common, package: monorepo

#3990 More README Doc Updates (Util, Tx, Other)
  packages/block/README.md
  packages/block/examples/1559.ts
  packages/block/examples/4844.ts
  packages/blockchain/README.md
  packages/common/README.md
  packages/ethash/README.md
  packages/evm/README.md
  packages/evm/src/types.ts
  packages/genesis/README.md
  packages/statemanager/README.md
  packages/tx/README.md
  packages/util/README.md
Labels: PR state: merge ready, type: docs, package: tx, package: util, package: rlp

#3968 Make error naming in evm uniform
  packages/evm/src/eof/container.ts
  packages/evm/src/eof/errors.ts
  packages/evm/src/eof/verify.ts
  packages/evm/src/errors.ts
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/EIP2200.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/opcodes/util.ts
  packages/evm/src/precompiles/08-bn254-pairing.ts
  packages/evm/src/precompiles/09-blake2f.ts
  packages/evm/src/precompiles/0a-kzg-point-evaluation.ts
  packages/evm/src/precompiles/0b-bls12-g1add.ts
  packages/evm/src/precompiles/0c-bls12-g1msm.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2msm.ts
  packages/evm/src/precompiles/0f-bls12-pairing.ts
  packages/evm/src/precompiles/10-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/11-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/bls12_381/mcl.ts
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/evm/src/precompiles/bn254/noble.ts
  packages/evm/src/stack.ts
  packages/evm/src/types.ts
  packages/evm/test/runCall.spec.ts
  packages/evm/test/runCode.spec.ts
  packages/vm/test/api/EIPs/eip-3855.spec.ts
  packages/vm/test/api/istanbul/eip-1344.spec.ts
  packages/vm/test/api/istanbul/eip-1884.spec.ts
Labels: PR state: needs review, type: refactor, package: evm

#3992 tx: fix example types
  packages/tx/examples/accessListTx.ts
  packages/tx/examples/blobTx.ts
  packages/tx/examples/legacyTx.ts
  packages/tx/examples/londonTx.ts
  packages/tx/examples/transactions.ts
  packages/util/src/bytes.ts
Labels: PR state: merge ready, type: enhancement, package: tx

#3999 Doc Updates: Yet another round (EVM / VM / Other)
  packages/devp2p/README.md
  packages/era/README.md
  packages/evm/README.md
  packages/tx/README.md
  packages/vm/README.md
Labels: PR state: merge ready, type: docs, package: vm, package: monorepo, package: evm

#4001 monorepo: clean up more test data
  packages/block/examples/1559.ts
  packages/common/examples/customChain.ts
  packages/common/examples/fromGeth.ts
  packages/common/examples/genesisData/post-merge.json
  packages/common/examples/genesisData/testnet.json
  packages/common/examples/genesisData/testnet2.json
  packages/vm/examples/helpers/blockchain-mock-data.json
  packages/vm/examples/helpers/blockchain-mock-data.ts
  packages/vm/examples/run-blockchain.ts
  packages/vm/examples/runGoerliBlock.ts
  packages/vm/examples/testData/goerliBlock2.json
  packages/vm/examples/vmWith4844.ts
  packages/vm/examples/vmWithGenesisState.ts
Labels: PR state: merge ready, type: refactor, package: monorepo

#3995 util: prefixed hex string type improvements
  packages/binarytree/test/node/internalNode.spec.ts
  packages/binarytree/test/node/stemNode.spec.ts
  packages/block/src/block/constructors.ts
  packages/block/test/block.spec.ts
  packages/blockchain/test/index.spec.ts
  packages/client/bin/utils.ts
  packages/client/src/sync/fetcher/trienodefetcher.ts
  packages/client/src/util/vkt.ts
  packages/client/test/integration/miner.spec.ts
  packages/client/test/integration/pow.spec.ts
  packages/client/test/miner/miner.spec.ts
  packages/client/test/rpc/admin/addPeer.spec.ts
  packages/client/test/rpc/eth/getFeeHistory.spec.ts
  packages/client/test/sim/snapsync.spec.ts
  packages/client/test/sync/skeleton.spec.ts
  packages/common/src/gethGenesis.ts
  packages/common/test/hardforks.spec.ts
  packages/era/test/exportHistory.spec.ts
  packages/evm/test/eips/eip-5450.spec.ts
  packages/evm/test/eips/eip-5656.spec.ts
  packages/evm/test/stack.spec.ts
  packages/evm/test/verkle.spec.ts
  packages/mpt/test/trie/trie.spec.ts
  packages/statemanager/src/statefulBinaryTreeStateManager.ts
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/testdata/src/blocks/index.ts
  packages/testdata/src/blocks/preLondonTestDataBlocks1.ts
  packages/testdata/src/blocks/preLondonTestDataBlocks1RLP.ts
  packages/testdata/src/blocks/preLondonTestDataBlocks2.ts
  packages/testdata/src/blocks/preLondonTestDataBlocks2RLP.ts
  packages/testdata/src/gethGenesis/invalidSpuriousDragonGethGenesis.ts
  packages/testdata/src/gethGenesis/withdrawalsGethGenesis.ts
  packages/tx/src/types.ts
  packages/tx/test/t9n.spec.ts
  packages/util/src/bytes.ts
  packages/verkle/test/util.spec.ts
  packages/vm/examples/run-solidity-contract.ts
  packages/vm/test/api/EIPs/eip-2935-historical-block-hashes.spec.ts
  packages/vm/test/api/buildBlock.spec.ts
  packages/vm/test/api/customChain.spec.ts
  packages/vm/test/t8n/stateTracker.ts
  packages/vm/test/t8n/t8ntool.ts
Labels: PR state: merge ready, type: enhancement, package: util

#4003 monorepo: npm audit fix
  package-lock.json
Labels: PR state: merge ready, type: security, package: monorepo

#3994 EVM: cleanup error messages and fix styling
  packages/evm/src/eof/errors.ts
  packages/evm/src/errors.ts
  packages/evm/src/evm.ts
  packages/evm/src/index.ts
  packages/evm/src/interpreter.ts
  packages/evm/src/opcodes/EIP2200.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/opcodes/gas.ts
  packages/evm/src/opcodes/util.ts
  packages/evm/src/precompiles/06-bn254-add.ts
  packages/evm/src/precompiles/07-bn254-mul.ts
  packages/evm/src/precompiles/08-bn254-pairing.ts
  packages/evm/src/precompiles/09-blake2f.ts
  packages/evm/src/precompiles/0a-kzg-point-evaluation.ts
  packages/evm/src/precompiles/0b-bls12-g1add.ts
  packages/evm/src/precompiles/0c-bls12-g1msm.ts
  packages/evm/src/precompiles/0d-bls12-g2add.ts
  packages/evm/src/precompiles/0e-bls12-g2msm.ts
  packages/evm/src/precompiles/0f-bls12-pairing.ts
  packages/evm/src/precompiles/10-bls12-map-fp-to-g1.ts
  packages/evm/src/precompiles/11-bls12-map-fp2-to-g2.ts
  packages/evm/src/precompiles/bls12_381/mcl.ts
  packages/evm/src/precompiles/bls12_381/noble.ts
  packages/evm/src/precompiles/bn254/noble.ts
  packages/evm/src/stack.ts
  packages/evm/test/runCall.spec.ts
  packages/evm/test/runCode.spec.ts
  packages/vm/test/api/EIPs/eip-3855.spec.ts
  packages/vm/test/api/istanbul/eip-1344.spec.ts
  packages/vm/test/api/istanbul/eip-1884.spec.ts
Labels: PR state: WIP, package: evm

#4014 util: replace unnecessary toBytes usage
  packages/block/test/header.spec.ts
  packages/client/src/miner/pendingBlock.ts
  packages/client/src/rpc/modules/engine/engine.ts
  packages/client/src/rpc/modules/web3.ts
  packages/client/test/rpc/mockBlockchain.ts
  packages/mpt/src/util/encoding.ts
  packages/mpt/src/util/nibbles.ts
  packages/mpt/test/proof/range.spec.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/tx/examples/custom-chain-id-tx.ts
  packages/tx/src/legacy/tx.ts
  packages/tx/test/base.spec.ts
  packages/util/src/binaryTree.ts
  packages/util/src/bytes.ts
  packages/util/src/signature.ts
  packages/util/src/verkle.ts
  packages/util/test/account.spec.ts
  packages/util/test/address.spec.ts
  packages/util/test/bytes.spec.ts
  packages/util/test/types.spec.ts
  packages/vm/test/api/events.spec.ts
  packages/vm/test/api/runBlock.spec.ts
  packages/vm/test/tester/runners/BlockchainTestsRunner.ts
Labels: PR state: needs review, type: enhancement, package: util

#4010 Docs Cleanup / Cautious Restructuring / README ToCs
  packages/binarytree/README.md
  packages/block/README.md
  packages/blockchain/README.md
  packages/common/README.md
  packages/devp2p/README.md
  packages/era/README.md
  packages/ethash/README.md
  packages/evm/README.md
  packages/evm/examples/eips.ts
  packages/genesis/README.md
  packages/mpt/README.md
  packages/rlp/README.md
  packages/statemanager/README.md
  packages/tx/README.md
  packages/util/README.md
  packages/verkle/README.md
  packages/vm/README.md
  packages/vm/examples/vmWithEIPs.ts
  packages/wallet/README.md
Labels: PR state: merge ready, type: docs, package: monorepo

#3977 vm/eip6110: log layout check
  packages/vm/src/requests.ts
Labels: PR state: needs review, package: vm

#4021 Convert `StatelessVerkleStateManager` usage to type in `vm`
  packages/statemanager/src/statefulVerkleStateManager.ts
  packages/statemanager/src/statelessVerkleStateManager.ts
  packages/vm/src/runBlock.ts
  packages/vm/src/runTx.ts
Labels: package: vm

#4020 Add README Package Highlights
  packages/block/README.md
  packages/evm/README.md
  packages/mpt/README.md
  packages/statemanager/README.md
  packages/tx/README.md
  packages/vm/README.md
Labels: PR state: merge ready, type: docs, package: monorepo

#3953 Add tracing to `t8n`
  config/cspell-ts.json
  packages/evm/src/eof/container.ts
  packages/evm/src/interpreter.ts
  packages/evm/test/eips/eof-runner.spec.ts
  packages/evm/test/verkle.spec.ts
  packages/vm/test/api/EIPs/eip-4844-blobs.spec.ts
  packages/vm/test/api/runTx.spec.ts
  packages/vm/test/api/t8ntool/t8ntool.spec.ts
  packages/vm/test/t8n/ethereumjs-t8ntool.sh
  packages/vm/test/t8n/helpers.ts
  packages/vm/test/t8n/t8ntool.ts
  packages/vm/test/t8n/types.ts
Labels: package: vm, type: test all hardforks, package: evm

#4027 Remove `storage` from `InterpreterStep`
  packages/evm/src/eof/container.ts
  packages/evm/src/interpreter.ts
  packages/vm/test/api/t8ntool/t8ntool.spec.ts
  packages/vm/test/t8n/helpers.ts
Labels: package: vm, package: evm

#4032 util: refactor 7702 authorization lists to util package
  packages/tx/examples/setEOATx.ts
  packages/tx/src/7702/tx.ts
  packages/tx/src/constants.ts
  packages/tx/src/types.ts
  packages/tx/src/util/index.ts
  packages/tx/test/eip7702.spec.ts
  packages/util/src/authorization.ts
  packages/util/src/index.ts
  packages/util/src/types.ts
  packages/util/test/authorization.spec.ts
  packages/vm/src/runTx.ts
  packages/vm/test/api/EIPs/eip-7702.spec.ts
  packages/vm/test/api/runBlock.spec.ts
Labels: type: refactor, package: tx, package: util

#4028 v10 Breaking Releases
  package-lock.json
  packages/binarytree/CHANGELOG.md
  packages/binarytree/README.md
  packages/binarytree/package.json
  packages/block/CHANGELOG.md
  packages/block/package.json
  packages/blockchain/CHANGELOG.md
  packages/blockchain/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/common/CHANGELOG.md
  packages/common/package.json
  packages/devp2p/CHANGELOG.md
  packages/devp2p/package.json
  packages/e2store/CHANGELOG.md
  packages/e2store/package.json
  packages/ethash/CHANGELOG.md
  packages/ethash/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/genesis/CHANGELOG.md
  packages/genesis/package.json
  packages/mpt/CHANGELOG.md
  packages/mpt/package.json
  packages/rlp/CHANGELOG.md
  packages/rlp/package.json
  packages/statemanager/CHANGELOG.md
  packages/statemanager/package.json
  packages/testdata/package.json
  packages/tx/CHANGELOG.md
  packages/tx/package.json
  packages/util/CHANGELOG.md
  packages/util/README.md
  packages/util/package.json
  packages/verkle/CHANGELOG.md
  packages/verkle/README.md
  packages/verkle/package.json
  packages/vm/CHANGELOG.md
  packages/vm/package.json
  packages/wallet/CHANGELOG.md
  packages/wallet/package.json
Labels: PR state: needs review, type: release, package: monorepo, breaking

#4043 Small Housekeeping Stuff
  .github/ISSUE_TEMPLATE/package--ethereumjs-e2store.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-genesis.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-testdata.md
  .github/ISSUE_TEMPLATE/package--ethereumjs-wallet.md
  README.md
Labels: PR state: merge ready, type: docs, package: monorepo

#4042 e2store: examples directory and README update
  packages/e2store/README.md
  packages/e2store/examples/e2hs.ts
  packages/e2store/examples/era.ts
  packages/e2store/examples/era1.ts
  packages/e2store/package.json
Labels: PR state: needs review, type: docs, package: e2store
