Repository ethereumjs/ethereumjs-monorepo, pull requests merged in 2025-09, with the labels that each got.

#4119 Small VM Nightly Fix
  packages/vm/package.json
Labels: PR state: merge ready, type: tests, type: CI, package: vm, type: test no browser, type: test skip most VM

#4120 Osaka EIP "Plainification" (EOF out!)
  packages/common/src/hardforks.ts
  packages/vm/test/api/t8ntool/t8ntool.spec.ts
Labels: PR state: merge ready, type: tests, type: CI, package: common, type: maintenance, type: spec updates, type: test no browser, type: test skip most VM

#4131 AI Prompts to Streamline Releases
  DEVELOPER.md
Labels: PR state: merge ready, type: docs, package: monorepo

#4133 evm: add eip7939 - count leading zeroes opcode
  packages/common/src/eips.ts
  packages/common/src/hardforks.ts
  packages/evm/src/evm.ts
  packages/evm/src/opcodes/codes.ts
  packages/evm/src/opcodes/functions.ts
  packages/evm/src/params.ts
Labels: type: feature, PR state: needs review, package: common, package: evm

#4134 EIP-7883 Fixes
  packages/evm/src/precompiles/05-modexp.ts
Labels: type: bug, PR state: needs review, package: evm, type: spec updates

#4137 Small Nightly Test Fix
  packages/client/test/rpc/engine/getPayloadV5.spec.ts
Labels: type: bug, PR state: merge ready, type: tests, package: client, type: test client
